Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

init braintrust evals
  package-lock.json
  packages/chatbot-eval-mongodb-public/.env.example
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/braintrust/sample.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

clearer code
  packages/chatbot-eval-mongodb-public/src/braintrust/sample.eval.ts
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

e2e
  package-lock.json
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversations.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsReferenceFree.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

finish braintrust evals
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateLlmDiscoveryData.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateQuizQuestions.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateQuizQuestionsData.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsData.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRegexMatch.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/utils.ts
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

refactor serve static logic
  examples/quick-start/packages/server/src/index.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/index.ts
  packages/mongodb-chatbot-server/src/app.test.ts
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
  packages/mongodb-chatbot-server/src/routes/staticSite.test.ts
  packages/mongodb-chatbot-server/src/routes/staticSite.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/static/.gitinclude
  packages/mongodb-chatbot-ui/vite.config.static-site.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove unused code
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

run quiz evals w new prompting strategy
  packages/model-eval/src/pipelines/quizEval.ts
  packages/model-eval/src/quizEval.config.ts
  packages/model-eval/src/radiantModels.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.ts
  packages/mongodb-chatbot-evaluation/src/generate/GeneratedDataStore.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.ts
Due: test-all

update w latest
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateQuizQuestions.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateQuizQuestionsData.ts
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

init file move
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/tsconfig.json
  packages/mongodb-rag-core/src/BoostOnAtlasSearchFilter.test.ts
  packages/mongodb-rag-core/src/BoostOnAtlasSearchFilter.ts
  packages/mongodb-rag-core/src/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/DefaultFindContent.ts
  packages/mongodb-rag-core/src/DefaultFindVerifiedAnswer.ts
  packages/mongodb-rag-core/src/FindContentFunc.ts
  packages/mongodb-rag-core/src/FindVerifiedAnswerFunc.ts
  packages/mongodb-rag-core/src/SearchBooster.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix dependencies
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/routes/conversations/index.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/tsconfig.json
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update import in test
  packages/mongodb-rag-core/src/DefaultFindContent.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-464): Move find content logic to `mongodb-rag-core` (#453)
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultFindContent.test.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/routes/conversations/index.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/tsconfig.json
  packages/mongodb-rag-core/src/BoostOnAtlasSearchFilter.test.ts
  packages/mongodb-rag-core/src/BoostOnAtlasSearchFilter.ts
  packages/mongodb-rag-core/src/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/DefaultFindContent.ts
  packages/mongodb-rag-core/src/DefaultFindVerifiedAnswer.ts
  packages/mongodb-rag-core/src/FindContentFunc.ts
  packages/mongodb-rag-core/src/FindVerifiedAnswerFunc.ts
  packages/mongodb-rag-core/src/SearchBooster.ts
  packages/mongodb-rag-core/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

move stuff to core
  package-lock.json
  packages/mongodb-chatbot-server/src/processors/GenerateUserPromptFunc.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/getConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.ts
  packages/mongodb-chatbot-server/src/services/index.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/makePreprocessMongoDbUserQuery.ts
  packages/mongodb-chatbot-server/tsconfig.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/ChatLlm.ts
  packages/mongodb-rag-core/src/ConversationsService.ts
  packages/mongodb-rag-core/src/DataStreamer.test.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
  packages/mongodb-rag-core/src/LangchainChatLlm.test.ts
  packages/mongodb-rag-core/src/LangchainChatLlm.ts
  packages/mongodb-rag-core/src/MongoDbConversations.test.ts
  packages/mongodb-rag-core/src/MongoDbConversations.ts
  packages/mongodb-rag-core/src/OpenAiChatLlm.test.ts
  packages/mongodb-rag-core/src/OpenAiChatLlm.ts
  packages/mongodb-rag-core/src/OpenAiEmbedder.ts
  packages/mongodb-rag-core/src/References.ts
  packages/mongodb-rag-core/src/VerifiedAnswer.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/logger.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

working imports for mongodb-chatbot-server
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-chatbot-server/src/index.ts
  packages/mongodb-chatbot-server/src/processors/FilterPreviousMessages.ts
  packages/mongodb-chatbot-server/src/processors/GenerateUserPromptFunc.ts
  packages/mongodb-chatbot-server/src/processors/QueryPreprocessorFunc.ts
  packages/mongodb-chatbot-server/src/processors/filterOnlySystemPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeFilterNPreviousMessages.test.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/getConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/getConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
  packages/mongodb-chatbot-server/src/test/middlewareTestHelpers.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/makePreprocessMongoDbUserQuery.ts
  packages/mongodb-chatbot-server/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken test
  packages/mongodb-rag-core/src/OpenAiChatLlm.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix test
  packages/mongodb-rag-core/src/OpenAiChatLlm.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken import
  packages/mongodb-rag-core/src/MongoDbConversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add exports
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Quiz question Few shot as messages (#452)
  package-lock.json
  packages/chatbot-eval-mongodb-public/.env.example
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateLlmDiscoveryData.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateQuizQuestions.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateQuizQuestionsData.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsData.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsReferenceFree.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRegexMatch.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/sample.eval.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/utils.ts
  packages/model-eval/src/pipelines/quizEval.ts
  packages/model-eval/src/quizEval.config.ts
  packages/model-eval/src/radiantModels.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.ts
  packages/mongodb-chatbot-evaluation/src/generate/GeneratedDataStore.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-452): Experiment with Patronus API (#448)
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/patronus.eval.config.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/patronusDiscoveryCheck.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/patronusQuizCheck.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/patronusRagCheck.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/index.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluatorClient.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluatorClient.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/evaluateFuncs.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/evaluateFuncs.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/index.ts
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-457) [UI] Custom chatbot trigger helpers (#449)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/ActionButtonTrigger.tsx
  packages/mongodb-chatbot-ui/src/FloatingActionButtonTrigger.tsx
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/useTextInputTrigger.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add init autoblocks
  package-lock.json
  package.json
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/autoblocks/evaluateRagConversationsData.ts
  packages/chatbot-eval-mongodb-public/src/autoblocks/evaluateRagConversationsReferenceFree.ts
  packages/chatbot-eval-mongodb-public/src/autoblocks/sample.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsReferenceFree.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-461) University course content includes tags it shouldn't
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeUniversityPages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

update test
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeUniversityPages.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-461) University course content includes tags it shouldn't (#458)
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeUniversityPages.test.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeUniversityPages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Release mongodb-rag-ingest v0.2.1
  package-lock.json
  packages/mongodb-rag-ingest/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release ingest-mongodb-public v0.3.1
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-472) FAQ Finder script is missing search filter
  packages/scripts/src/findFaq.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-447) Add Prometheus alerts for runtime server errors
  packages/chatbot-server-mongodb-public/environments/production.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-472) FAQ Finder script is missing search filter (#459)
  packages/scripts/src/findFaq.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Release scripts v0.3.1
  package-lock.json
  packages/scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add to staging
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

checkpoint
  package-lock.json
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/autoblocks/evaluateRagConversationsData.ts
  packages/chatbot-eval-mongodb-public/src/autoblocks/evaluateRagConversationsReferenceFree.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Rename to benchmarking
  packages/benchmarks/.env.example
  packages/benchmarks/.eslintrc.cjs
  packages/benchmarks/.gitignore
  packages/benchmarks/.prettierrc.cjs
  packages/benchmarks/.release-it.json
  packages/benchmarks/README.md
  packages/benchmarks/jest.config.cjs
  packages/benchmarks/package.json
  packages/benchmarks/src/baseConfig.ts
  packages/benchmarks/src/discovery.config.ts
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeChatLlmConversationEvalCommands.ts
  packages/benchmarks/src/makeChatLlmQuizEvalCommands.ts
  packages/benchmarks/src/makeRadiantChatLlm.ts
  packages/benchmarks/src/pipelines/discoveryEval.ts
  packages/benchmarks/src/pipelines/quizEval.ts
  packages/benchmarks/src/quizEval.config.ts
  packages/benchmarks/src/radiantModels.ts
  packages/benchmarks/testCases/discovery.yml
  packages/benchmarks/tsconfig.build.json
  packages/benchmarks/tsconfig.json
Due: test-all

rename 'testCases' to 'datasets'
  packages/benchmarks/datasets/discovery.yml
  packages/benchmarks/src/discovery.config.ts
Due: test-all

Add additional models
  packages/benchmarks/src/radiantModels.ts
Due: test-all

draft more models + testing of them
  packages/benchmarks/package.json
  packages/benchmarks/src/radiantModels.test.ts
Due: test-all

test radiant models
  packages/benchmarks/package.json
  packages/benchmarks/src/radiantModels.test.ts
  packages/benchmarks/tsconfig.json
Due: test-all
