Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

(EAI-539): Run text-to-Node.js driver benchmark (#537)
  package-lock.json
  packages/benchmarks/.env.example
  packages/benchmarks/package.json
  packages/benchmarks/src/discovery.config.ts
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/pipelines/discoveryEval.ts
  packages/benchmarks/src/pipelines/discoveryEvalToBraintrust.ts
  packages/benchmarks/src/pipelines/quizEval.ts
  packages/benchmarks/src/pipelines/quizEvalToBraintrust.ts
  packages/benchmarks/src/quizEval.config.ts
  packages/benchmarks/src/radiantModels.test.ts
  packages/benchmarks/src/radiantModels.ts
  packages/benchmarks/src/textToDriver/evalTypes.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
  packages/benchmarks/src/textToDriver/extractCodeFromMarkdown.test.ts
  packages/benchmarks/src/textToDriver/extractCodeFromMarkdown.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.test.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/nodeJs.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/.gitignore
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/experiments.txt
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/extract_db_documents.ipynb
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/extract_db_metadata.ipynb
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/extract_eval_cases.ipynb
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/get_experiments.py
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

implement NL feedback
  packages/chatbot-server-mongodb-public/src/test/mockOpenAi.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix imports
  packages/benchmarks/package.json
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/textToDriver/DatabaseMetadata.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeTextToDriverPrompt.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeTextToDriverPrompt.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
  packages/benchmarks/src/textToDriver/makeDatabases/applyCollectionIndexes.ts
  packages/benchmarks/src/textToDriver/makeDatabases/index.ts
  packages/benchmarks/src/textToDriver/makeDatabases/insertCollectionDocuments.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
Due: test-all

Fix import
  packages/benchmarks/src/textToDriver/generateDriverCode/makeTextToDriverPrompt.ts
Due: test-all

fix broken ttest
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
Due: test-all

standard eval format
  packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

VA eval
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/test/cosineSimilarity.ts
  packages/chatbot-server-mongodb-public/src/test/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
  packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
  packages/chatbot-server-mongodb-public/tsconfig.build.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

separate data sources exports
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/MongoDbDotComDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/practicalAggregations.ts
  packages/ingest-mongodb-public/src/sources/prisma.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-ingest/src/Config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

latest changes
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
  packages/mongodb-rag-core/src/verifiedAnswers/MongoDbVerifiedAnswerStore.ts
  packages/mongodb-rag-core/src/verifiedAnswers/VerifiedAnswer.ts
  verified-answers.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

start scaffolding code
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/eval/getConversationEvalCasesFromYaml.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/averagePrecisionAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/f1Score.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/precisionAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/recallAtK.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/retrieval.eval.ts
  packages/chatbot-server-mongodb-public/tsconfig.build.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix test file structure
  packages/ingest-mongodb-public/testData/sampleUniversityCatalogItemCourse.json
  packages/mongodb-rag-ingest/testData/sampleUniversityCourseWithNestedContent.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

retrieval scorers
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/MatchFunc.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/Primitive.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/averagePrecisionAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/averagePrecisionAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/f1AtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/f1AtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/f1Score.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/fuzzyLinkMatch.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/fuzzyLinkMatch.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/precisionAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/precisionAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/recallAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/recallAtK.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

functional retrieval eval
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/retrieval.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update K
  packages/chatbot-server-mongodb-public/src/retrieval.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix precision bug
  packages/chatbot-server-mongodb-public/src/eval/scorers/precisionAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/precisionAtK.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove redundant K
  packages/chatbot-server-mongodb-public/src/retrieval.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update fuzzy link match to only match at end of string
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.test.ts
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/fuzzyLinkMatch.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix broken test
  packages/chatbot-server-mongodb-public/src/eval/scorers/f1AtK.test.ts
  packages/chatbot-server-mongodb-public/src/retrieval.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Remove evals from build
  packages/chatbot-server-mongodb-public/tsconfig.build.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix broken tests
  packages/mongodb-rag-ingest/src/commands/all.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add distinct retrieveRelevantContent module + braintrust tracing
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.test.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix markdown formatting
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

use const for learn dot base url
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix exports for compiling to NodeNext
  packages/mongodb-artifact-generator/src/withConfig.ts
  packages/mongodb-chatbot-evaluation/src/withConfig.ts
  packages/mongodb-rag-ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Fix logs
  packages/mongodb-rag-ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Fix broken conf
  packages/mongodb-artifact-generator/src/withConfig.ts
  packages/mongodb-rag-ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix config loader for tests .cjs files
  packages/mongodb-artifact-generator/src/withConfig.ts
  packages/mongodb-rag-ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix markdown spacing, fix tags in metadata
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Fix broken test
  packages/mongodb-chatbot-evaluation/src/withConfig.ts
Due: test-all

lint
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix exports for compiling to NodeNext (#553)
  packages/mongodb-artifact-generator/src/withConfig.ts
  packages/mongodb-chatbot-evaluation/src/withConfig.ts
  packages/mongodb-rag-ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

k must be postive int
  packages/chatbot-server-mongodb-public/src/eval/scorers/assertKIsValid.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/averagePrecisionAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/averagePrecisionAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/f1AtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/f1AtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/precisionAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/precisionAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/recallAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/recallAtK.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-599,EAI-600): Retrieval evaluation and scorers (#551)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.test.ts
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.ts
  packages/chatbot-server-mongodb-public/src/eval/getConversationEvalCasesFromYaml.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/MatchFunc.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/Primitive.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/assertKIsValid.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/averagePrecisionAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/averagePrecisionAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/f1AtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/f1AtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/precisionAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/precisionAtK.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/recallAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/recallAtK.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/retrieval.eval.ts
  packages/chatbot-server-mongodb-public/tsconfig.build.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update tests after modifying tags
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

move retrieval conf
  package-lock.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/chatbot-server-mongodb-public/src/retrieval.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update tsconfig for build
  packages/mongodb-chatbot-ui/tsconfig.build.json
  packages/mongodb-chatbot-ui/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Remove App test file
  packages/mongodb-chatbot-ui/src/App.test.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix build errors
  package-lock.json
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useConversation.test.tsx
  packages/scripts/src/findFaq.ts
  packages/scripts/src/main/upgradeFaqEntriesMain.ts
  packages/scripts/src/main/verifiedAnswersCsvToYamlMain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval
