Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    settings:
      dockerfile: chat-server.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-chat-server
      tags:
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    settings:
      dockerfile: ingest-service.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-ingest-service
      tags:
  ...

remove comments
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

remove unnec import
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

make set up HPA on staging/prod
  chat-server/environments/production.yml
  chat-server/environments/staging.yml
Due: test-all, staging-build-chat-server

adjust provisioning
  chat-server/environments/production.yml
  chat-server/environments/staging.yml
Due: test-all, staging-build-chat-server

Switch Chatbot to default export
  .drone.yml
  chat-ui/README.md
  chat-ui/src/index.tsx
Due: test-all, staging-build-chat-server

Add chat-ui release-it config
  chat-ui/package.json
Due: test-all, staging-build-chat-server

Release chat-ui-v0.0.3
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

fix registry
  .drone.yml
Due: none

(DOCSP-31438): Horizontal pod autoscaling (#110)
  chat-server/environments/production.yml
  chat-server/environments/staging.yml
Due: test-all, staging-build-chat-server

update prompts to not mention context
  chat-server/src/config.ts
  chat-server/src/llmQualitativeTests/handleEdgeCases.test.ts
Due: test-all, staging-build-chat-server

add edge cases as yaml + util func to load tests from YAML
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/edgeCasesTests.yaml
  chat-server/src/llmQualitativeTests/getTestCasesFromYaml.ts
  chat-server/src/llmQualitativeTests/handleEdgeCases.test.ts
Due: test-all, staging-build-chat-server

rechunk on chunking version change
  chat-core/src/EmbeddedContent.ts
  ingest/.env.example
  ingest/src/chunkPage.ts
  ingest/src/commands/embed.ts
  ingest/src/updateEmbeddedContent.test.ts
  ingest/src/updateEmbeddedContent.ts
  ingest/tsconfig.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

revert embedding version to 1
  ingest/src/commands/embed.ts
Due: test-all, staging-build-ingest-service

Remove random fixes
  .drone.yml
  chat-ui/package.json
  chat-ui/src/App.module.css
  chat-ui/trigger.me
Due: test-all, staging-build-chat-server

Remove commandDir runtime TS support
  ingest/src/main.ts
  ingest/tsconfig.json
Due: test-all, staging-build-ingest-service

remove dereferencing spec
  ingest/src/chunkOpenApiSpecYaml.test.ts
  ingest/src/chunkOpenApiSpecYaml.ts
Due: test-all, staging-build-ingest-service

update comment
  ingest/src/updateEmbeddedContent.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32688) Stop dereferencing spec (#115)
  ingest/src/chunkOpenApiSpecYaml.test.ts
  ingest/src/chunkOpenApiSpecYaml.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32279): Update prompts to not mention context when don't know answer (#113)
  chat-server/src/config.ts
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/edgeCasesTests.yaml
  chat-server/src/llmQualitativeTests/getTestCasesFromYaml.ts
Due: test-all, staging-build-chat-server

add versioning metadata
  ingest/src/ProjectBase.d.ts
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/SnootyProjectsInfo.test.ts
  ingest/src/SnootyProjectsInfo.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

handle broken snooty data sources w/o crashing ingestion
  ingest/src/SnootyProjectsInfo.ts
Due: test-all, staging-build-ingest-service

Use algohash instead of incrementing version number
  chat-core/src/EmbeddedContent.ts
  ingest/src/chunkPage.ts
  ingest/src/commands/embed.ts
  ingest/src/updateEmbeddedContent.test.ts
  ingest/src/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

update app with changes
  chat-server/src/config.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

remove current chunking version b/c using hash
  ingest/src/commands/embed.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32371): Allow for embedded content re-ingest after changes to chunking algorithm (#114)
  chat-core/src/EmbeddedContent.ts
  ingest/.env.example
  ingest/src/main.ts
  ingest/src/updateEmbeddedContent.test.ts
  ingest/src/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Release chat-ui-v0.0.4
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

(DOCSP-32074): Handle dev center page metadata (#96)
  ingest/src/DevCenterDataSource.test.ts
  ingest/src/DevCenterDataSource.ts
  ingest/src/test_data/sampleDevCenterDoc.ts
  ingest/src/test_data/sampleDevCenterPage.json
Due: test-all, staging-build-ingest-service

Allow DOP origins in staging
  chat-server/environments/staging.yml
Due: test-all, staging-build-chat-server

Allow DOP origins in staging (#117)
  chat-server/environments/staging.yml
Due: test-all, staging-build-chat-server

remove log
  chat-ui/src/App.tsx
Due: test-all, staging-build-chat-server

Source GIT_COMMIT env variable (#95)
  .drone.yml
  chat-server.dockerfile
  chat-ui/package.json
  chat-ui/src/vite-env.d.ts
Due: test-all, staging-build-chat-server

autoscaling fix
  .drone.yml
  chat-server/environments/staging.yml
Due: test-all, staging-build-chat-server

drone fix
  .drone.yml
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

trigger build
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

apply conf to prod
  chat-server/environments/production.yml
Due: test-all, staging-build-chat-server

revert drone file
  .drone.yml
Due: none

remove trigger file
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

Autoscaling fix (#119)
  chat-server/environments/production.yml
  chat-server/environments/staging.yml
Due: test-all, staging-build-chat-server

add prod index script
  mongodb-atlas/.env.example
  mongodb-atlas/add-content-indexes.ts
  mongodb-atlas/package.json
Due: none

fix: mongodb-atlas/package.json & mongodb-atlas/package-lock.json to reduce vulnerabilities
  mongodb-atlas/package.json
Due: none

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
