Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

Eval WIP
  packages/scripts/src/Case.ts
  packages/scripts/src/assessCases.ts
  packages/scripts/src/generatePromptsFromExpectedAnswer.ts
  packages/scripts/src/generateRating.eval.ts
  packages/scripts/src/generateRating.ts
  packages/scripts/src/main/assessCasesMain.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

WIP
  packages/scripts/src/generateRating.eval.ts
  packages/scripts/src/generateRating.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

simple ai sdk test
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add ai sdk test for generating text (expected to fail since it's not a streaming API)
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Strong typing on atlas search filters
  packages/mongodb-artifact-generator/src/vectorSearch.ts
  packages/mongodb-rag-core/src/VectorStore.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/findContent/BoostOnAtlasSearchFilter.test.ts
  packages/mongodb-rag-core/src/findContent/BoostOnAtlasSearchFilter.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/SearchBooster.ts
  packages/mongodb-rag-core/src/findContent/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Strong typing on atlas search filters (#860)
  packages/mongodb-artifact-generator/src/vectorSearch.ts
  packages/mongodb-rag-core/src/VectorStore.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/findContent/BoostOnAtlasSearchFilter.test.ts
  packages/mongodb-rag-core/src/findContent/BoostOnAtlasSearchFilter.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/SearchBooster.ts
  packages/mongodb-rag-core/src/findContent/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add other scores
  packages/scripts/src/generateRating.eval.ts
  packages/scripts/src/generateRating.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

[feature branch] Search Content API (Epic EAI-956) (#786)
  docs/docs/server/openapi.yaml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/findContentWithMongoDbMetadata.test.ts
  packages/chatbot-server-mongodb-public/src/processors/findContentWithMongoDbMetadata.ts
  packages/mongodb-artifact-generator/src/vectorSearch.ts
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-chatbot-server/src/middleware/requireRequestOrigin.ts
  packages/mongodb-chatbot-server/src/middleware/requireValidIpAddress.test.ts
  packages/mongodb-chatbot-server/src/middleware/requireValidIpAddress.ts
  packages/mongodb-chatbot-server/src/middleware/validateRequestSchema.ts
  packages/mongodb-chatbot-server/src/processors/addCustomData.ts
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.ts
  packages/mongodb-chatbot-server/src/routes/content/index.ts
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.test.ts
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.test.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createConversation.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
  packages/mongodb-chatbot-server/src/test/middlewareTestHelpers.ts
  packages/mongodb-rag-core/src/VectorStore.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.ts
  packages/mongodb-rag-core/src/contentStore/index.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/findContent/BoostOnAtlasSearchFilter.test.ts
  packages/mongodb-rag-core/src/findContent/BoostOnAtlasSearchFilter.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
  packages/mongodb-rag-core/src/findContent/SearchBooster.ts
  packages/mongodb-rag-core/src/findContent/index.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

update test for real ai sdk integration to include an assistant message
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP
  packages/scripts/src/Case.ts
  packages/scripts/src/SimpleTextGenerator.ts
  packages/scripts/src/assessRelevance.eval.ts
  packages/scripts/src/assessRelevance.ts
  packages/scripts/src/generateRating.ts
  packages/scripts/src/main/assessCasesMain.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

clearer definition of input message types
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update createResponse unit tests
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update openai tests in chat-server-public
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Add evals
  packages/scripts/src/assessRelevance.eval.ts
  packages/scripts/src/generateRating.eval.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Update docs
  packages/scripts/src/Case.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Move dependent generate to assessRelevance
  packages/scripts/src/assessRelevance.ts
  packages/scripts/src/generatePromptsFromExpectedAnswer.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

remove extra keys on assistant message
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

unused import
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

remove extra keys from tests
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

allow string messages from assistant again
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

fix tests (types lol)
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

fix tests for chat-server-public
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove unused annotation object
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

remove unneeded partial
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add comment description for HIDDEN_TOOLS
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update test text
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update ai sdk test response to be more permissive
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

cleanup schema for functionCall and outputs
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add example to openAPI and remove extra tags causing errors
  docs/docs/server/openapi.yaml
Due: none

Ensure first class support for Vercel's AI SDK (#861)
  docs/docs/server/openapi.yaml
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update trace for responses
  packages/mongodb-chatbot-server/src/processors/UpdateTraceFunc.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/index.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Add tracing to createResponse
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

verified answer metadata
  docs/docs/server/openapi.yaml
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fix broken tests
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/routes/conversations/index.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

modularize and test tracing where should not store message
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/addMessageToConversation.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/addMessageToConversation.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/commentMessage.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/index.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/rateMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix broken test
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix build errors
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/customSystemPrompt.eval.ts
  packages/chatbot-server-mongodb-public/src/tools/search.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

DRY + readability
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP
  package-lock.json
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

using prebuild script to check for errors in complete package
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/tsconfig.build.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public
