Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

consolidate eval helpers
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/test/README.md
  packages/chatbot-server-mongodb-public/src/test/evalHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove env vars
  packages/chatbot-server-mongodb-public/src/evalEnvVars.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

rename file
  packages/chatbot-server-mongodb-public/src/EvalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/test/evalHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

refactor full response generation
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update quick start guide documentation (#486)
  docs/docs/quick-start.md
Due: none

add prompt & response generators
  package-lock.json
  packages/mongodb-artifact-generator/package.json
  packages/mongodb-artifact-generator/src/ArtifactGeneratorEnvVars.ts
  packages/mongodb-artifact-generator/src/chat/makeGeneratePrompts.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateResponse.ts
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.ts
  packages/mongodb-artifact-generator/src/chat/utils.ts
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
  packages/mongodb-artifact-generator/src/jira250/generatePrompts.ts
  packages/mongodb-artifact-generator/src/jira250/generateResponse.ts
  packages/mongodb-artifact-generator/src/jira250/summarizeJiraIssue.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update packages/chatbot-server-mongodb-public/src/mongoDbMetadata.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release mongodb-rag-core v0.4.0
  package-lock.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Use wildcard import for rag-core
  package-lock.json
  packages/mongodb-artifact-generator/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

NL TS improvements
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeFewShotUserMessageExtractorFunction.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release mongodb-rag-core v0.4.1
  package-lock.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-491): Upgrade chatbot preprocessor LLMs + prompting (#487)
  .drone.yml
  package-lock.json
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/environments/dev-rel.yml
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/qa.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/EvalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeFewShotUserMessageExtractorFunction.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
  packages/chatbot-server-mongodb-public/src/test/README.md
  packages/chatbot-server-mongodb-public/src/test/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/test/mockOpenAi.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
  packages/chatbot-server-mongodb-public/tsconfig.build.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-511) Add MDBU to allowed origins on staging
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-511) Add MDBU to allowed origins on staging (#490)
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release chatbot-server-mongodb-public v0.8.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-492): Release chatbot-server-mongodb-public v0.8.0 (#491)
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

tests passing
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix bug
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix edgecase behavior
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

config eval scaffold
  package-lock.json
  packages/chatbot-server-mongodb-public/evalCases/bias_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/faq_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/included_links_conversations.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/EvalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.eval.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/test/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/test/getConversationEvalCasesFromYaml.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

braintrust traced update
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/EvalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.eval.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-rag-core/src/CoreEnvVars.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update all evals to use azure openai
  package-lock.json
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/config.eval.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/test/evalHelpers.ts
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix retrieved context metric
  packages/chatbot-server-mongodb-public/src/config.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

reduce concurrency
  packages/chatbot-server-mongodb-public/src/config.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update .env.exampe
  packages/mongodb-rag-core/.env.example
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-495) [UI] Support references on ChatWindow initial message
  packages/mongodb-chatbot-ui/README.md
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/ChatbotView.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix broken tests
  packages/mongodb-chatbot-server/.env.example
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/MongoDbUserQueryPreprocessorResponse.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/makePreprocessMongoDbUserQuery.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken tests
  package-lock.json
  packages/mongodb-chatbot-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

up max input size on FE and server
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-ui/src/App.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

up num prev msgs to include
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

more prev msgs
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Remove system prompt from preprocessors
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update evals to use preprpcessor model
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-518): Allow for more previous messages in context (#495)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

up FE default max input
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

align server default w FE
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update docs
  docs/docs/ui.md
Due: none

(EAI-495) [UI] Support references on ChatWindow initial message (#493)
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/README.md
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/ChatbotView.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-514 & EAI-516): Increase default+implementation max input size to `3000` (#494)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

allow more output
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
