Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

configurable model
  packages/datasets/.env.example
  packages/datasets/src/classifyCodeExampleDocsTeam.ts
  packages/mongodb-artifact-generator/src/commands/generateReleaseNotes.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogAudience.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogScope.ts
  packages/mongodb-rag-core/src/makeClassifier.test.ts
  packages/mongodb-rag-core/src/makeClassifier.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

working e2e
  packages/datasets/.env.example
  packages/datasets/src/classifyCodeExampleDocsTeam.eval.ts
  packages/datasets/src/classifyCodeExampleDocsTeam.ts
Due: test-all

fix staging env indent
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix staging env indent (#596)
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-625): LLM-as-a-judge evals on server messages (#593)
  .drone.yml
  package-lock.json
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/EnvVars.ts
  packages/chatbot-server-mongodb-public/src/EvalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/tracing.test.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix tests
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add user message rating eval
  packages/chatbot-server-mongodb-public/src/tracing.test.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
  packages/mongodb-chatbot-server/src/routes/conversations/UpdateTraceFunc.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove unused tests
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

trace correct route
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove console.log
  packages/chatbot-server-mongodb-public/src/tracing.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove trace
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

move mongo memory server creation from beforeEach to beforeAll
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-ingest/src/commands/all.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

working comment eval, mid refactor
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.eval.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-655) fix mongo-memory-server test flakiness (#598)
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-ingest/src/commands/all.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

move mongo memory server creation from beforeEach to beforeAll
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

consistency fix
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

move mongo memory server creation from beforeEach to beforeAll
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-616)split test case into more isolated test cases (#582)
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

comment sentiment eval
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

refactor
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

lint
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

draft ingestion guide
  packages/ingest-mongodb-public/ingestion_guide.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix beforeAll
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-653): Run LLM-as-a-judge evals on all rated messages (#594)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing.test.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
  packages/mongodb-chatbot-server/src/routes/conversations/UpdateTraceFunc.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/index.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

copy edits
  packages/ingest-mongodb-public/ingestion_guide.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-611) chatbot server 500 errs (#592)
  package-lock.json
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/utils.ts
  packages/mongodb-rag-core/src/DataStreamer.test.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Get started
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/tracing/extractSampleMessages.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

reimplement missing bit
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

working, pretty slack integration
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Apply suggestions from NL code review
  packages/ingest-mongodb-public/ingestion_guide.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Ingestion guide (#600)
  packages/ingest-mongodb-public/ingestion_guide.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

implement NL feedback
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-624): LLM-as-a-judge evals on comments (#599)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.eval.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

post to slack
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add env vars
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-614) add init action to ingest:pages and ingest:embed options (#583)
  packages/ingest-mongodb-public/package.json
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
  packages/mongodb-rag-ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

capitalization stuff
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
Due: test-all

almost fully working
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/truncateEmbeddings.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/truncateEmbeddings.ts
  packages/ingest-mongodb-public/src/sources/snooty/x.md
  packages/ingest-mongodb-public/testData/pageWithEmbeddings.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

truncate embeddings successfully
  packages/ingest-mongodb-public/src/sources/snooty/truncateEmbeddings.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/truncateEmbeddings.ts
  packages/ingest-mongodb-public/src/sources/snooty/x.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

remove demo page
  packages/ingest-mongodb-public/src/sources/snooty/x.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public
