Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

rm handleMetadata and refactor for simplicity
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.test.ts
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

descriptive type comment
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Rerun benchmarks with braintrust + more models (#465)
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/braintrust/evaluateQuizQuestions.ts
  packages/benchmarks/src/braintrust/evaluateRegexMatch.ts
  packages/benchmarks/src/braintrust/utils.ts
  packages/benchmarks/src/discovery.config.ts
  packages/benchmarks/src/makeRadiantChatLlm.ts
  packages/benchmarks/src/pipelines/discoveryEvalToBraintrust.ts
  packages/benchmarks/src/pipelines/quizEvalToBraintrust.ts
  packages/benchmarks/src/quizEval.config.ts
  packages/benchmarks/src/radiantModels.ts
  packages/mongodb-chatbot-evaluation/src/Pipeline.test.ts
  packages/mongodb-chatbot-evaluation/src/Pipeline.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.ts
  packages/mongodb-chatbot-evaluation/src/generate/GeneratedDataStore.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.ts
  packages/mongodb-rag-core/src/LangchainChatLlm.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

NL feedback
  docs/docs/server/custom-logic.md
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

EAI-410 add metadata title to page (#473)
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.test.ts
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Update packages/scripts/src/materialize/materializedViewUtils.ts
  packages/scripts/src/materialize/materializedViewUtils.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

always connect db client (fix flaky tests)
  packages/scripts/environments/staging.yml
  packages/scripts/src/materialize/materializedViewUtils.ts
  packages/scripts/src/materialize/scrubbed_messages_stats.test.ts
  packages/scripts/src/materialize/scrubbed_messages_stats.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

braintrust-driven evals
  package-lock.json
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsData.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsReferenceFree.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/utils.ts
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix materializedViewUtils tests
  packages/scripts/src/materialize/materializedViewUtils.test.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-203): Refactor serve static logic + add flexible app config (#451)
  docs/docs/server/custom-logic.md
  examples/quick-start/packages/server/src/index.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/app.test.ts
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
  packages/mongodb-chatbot-server/src/routes/staticSite.test.ts
  packages/mongodb-chatbot-server/src/routes/staticSite.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/static/.gitinclude
  packages/mongodb-chatbot-ui/vite.config.static-site.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

ISSUES-476 makeUserMessage function response type
  examples/quick-start/packages/server/src/index.ts
Due: none

Use correct cron schedule for prod materialized view
  packages/scripts/environments/production.yml
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Release ingest-mongodb-public v0.4.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-484) Fix broken langchain chat model wrapper
  package-lock.json
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.test.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/LangchainChatLlm.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update langchain packages in eval
  package-lock.json
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-489): Braintrust-driven evals for adding new model (#475)
  package-lock.json
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsData.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsReferenceFree.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/utils.ts
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update examples/quick-start/packages/server/src/index.ts
  examples/quick-start/packages/server/src/index.ts
Due: none

adding missing env var
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

ISSUES-476 makeUserMessage function response type (#477)
  examples/quick-start/packages/server/src/index.ts
Due: none

Add missing env var for GPT-3.5 model (#479)
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP preprocessor refactors for gpt-4o-mini
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/extractMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeNShotUserMessageFunction.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Remove evals from server build
  packages/chatbot-server-mongodb-public/tsconfig.build.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

evals for extractMongoDbMetadataFromUserMessage.ts + eval based improvements
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

summarizer + progress
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.ts
  packages/mongodb-artifact-generator/src/chat/utils.test.ts
  packages/mongodb-artifact-generator/src/chat/utils.ts
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
  packages/mongodb-artifact-generator/src/jira250/examples/ADMIN-10208.json
  packages/mongodb-artifact-generator/src/jira250/examples/WORKPLACE-119.json
  packages/mongodb-artifact-generator/src/runId.test.ts
  packages/mongodb-artifact-generator/src/runId.ts
  packages/mongodb-artifact-generator/src/runlogger.ts
  packages/mongodb-artifact-generator/tsconfig.json
Due: test-all

more evals
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix broken tests
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

up timeout
  packages/mongodb-rag-core/src/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

up timeout
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

removing embedding calls to reduce flake
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove qualitative tests
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-494): flaky test fix (#481)
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release chatbot-server-mongodb-public v0.6.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix secret path
  packages/chatbot-server-mongodb-public/environments/production.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release chatbot-server-mongodb-public v0.6.1
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-490): Deploy server to prod with upgraded main responder LLM (#482)
  package-lock.json
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Increase context window for LLMs
  examples/quick-start/packages/server/src/index.ts
Due: none

upgrade main responder LLM to gpt-4o
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsData.ts
  packages/chatbot-server-mongodb-public/environments/dev-rel.yml
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/qa.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-mongodb-eval, staging-deploy-mongodb-eval

integrate new preprocessors into step-back generate user msg
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public
