Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    settings:
      dockerfile: chat-server.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-chat-server
      tags:
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    settings:
      dockerfile: ingest-service.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-ingest-service
      tags:
  ...

separate config module from running server for no port collision/separation of concern
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/lib.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server

update TS entry point
  chat-server/package.json
Due: test-all, staging-build-chat-server

fix broken test
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server

[Snyk] Upgrade urllib from 3.17.1 to 3.17.2 (#144)
  mongodb-atlas/package-lock.json
  mongodb-atlas/package.json
Due: none

custom/synthetic/meta data source content (#127)
  mongodb-corp/README.md
  mongodb-corp/chatbot/overview.md
  mongodb-corp/corporate/leadership/alan-chhabra.md
  mongodb-corp/corporate/leadership/andrew-stephens.md
  mongodb-corp/corporate/leadership/cailin-nelson.md
  mongodb-corp/corporate/leadership/cedric-pech.md
  mongodb-corp/corporate/leadership/dev-ittycheria.md
  mongodb-corp/corporate/leadership/harsha-jalihal.md
  mongodb-corp/corporate/leadership/lena-smart.md
  mongodb-corp/corporate/leadership/michael-gordon.md
  mongodb-corp/corporate/leadership/mindy-lieberman.md
  mongodb-corp/corporate/leadership/peder-ulander.md
  mongodb-corp/corporate/leadership/ronnen-miller.md
  mongodb-corp/corporate/leadership/sahir-azam.md
  mongodb-corp/corporate/mission.md
  mongodb-corp/corporate/story.md
  mongodb-corp/corporate/support.md
  mongodb-corp/corporate/values.md
  mongodb-corp/dotcom/legal/acceptable-use-policy.md
  mongodb-corp/dotcom/legal/privacy-policy.md
  mongodb-corp/dotcom/legal/terms-of-use.md
  mongodb-corp/dotcom/mongodb-university.md
  mongodb-corp/dotcom/why-use-mongodb.md
Due: none

Fix headers attribute
  ingest/package.json
  ingest/src/renderSnootyTable.test.ts
  ingest/src/renderSnootyTable.ts
  ingest/src/test_data/sampleSnootyTable.json
  package-lock.json
Due: test-all, staging-build-ingest-service

stub out scquit source
  ingest/package.json
  ingest/src/AcquitRequireOnGithubDataSource.ts
  ingest/src/module.d.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32756): Implement headings in tables (#140)
  ingest/package.json
  ingest/src/GitHubDataSource.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/renderSnootyTable.test.ts
  ingest/src/renderSnootyTable.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithListTable.json
  ingest/src/test_data/samplePageWithMultiHeaderTableAst.json
  ingest/src/test_data/sampleSnootyMultiHeaderTable.json
  ingest/src/test_data/sampleSnootyTable.json
  package-lock.json
Due: test-all, staging-build-ingest-service

(DOCSP-32757) [UI] Update to Responsive LG Chat Components
  chat-ui/package.json
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

draft of mongoose ingestion
  chat-core/src/Page.ts
  ingest/package.json
  ingest/src/AcquitRequireMdOnGithubDataSource.test.ts
  ingest/src/AcquitRequireMdOnGithubDataSource.ts
  ingest/src/AcquitRequireOnGithubDataSource.ts
  ingest/src/DevCenterDataSource.ts
  ingest/src/projectSources.ts
  ingest/src/removeMarkdownImagesAndLinks.test.ts
  ingest/src/removeMarkdownImagesAndLinks.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

clean up
  ingest/src/AcquitRequireMdOnGithubDataSource.test.ts
Due: test-all, staging-build-ingest-service

add data source to CLI
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

fix langchain version
  chat-server/package.json
  ingest/package.json
  package-lock.json
  seed-content/package.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Initial Setup
  chat-ui/src/App.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/index.tsx
Due: test-all, staging-build-chat-server

fix: upgrade urllib from 3.17.2 to 3.18.0
  mongodb-atlas/package-lock.json
Due: none

fix: upgrade urllib from 3.17.2 to 3.18.0
  mongodb-atlas/package.json
Due: none

lock file updates
  package-lock.json
Due: none

Switch to lg-chat suggested prompts
  chat-ui/.env.development
  chat-ui/.env.example
  chat-ui/.env.qa
  chat-ui/.env.staging
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputMenu.tsx
  chat-ui/src/index.tsx
Due: test-all, staging-build-chat-server

[Snyk] Upgrade urllib from 3.17.2 to 3.18.0 (#147)
  mongodb-atlas/package-lock.json
  mongodb-atlas/package.json
Due: none

rebase + fix merge conflict
  ingest/src/MdOnGithbDataSource.ts
  ingest/src/MdOnGithubDataSource.test.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

fix broken lock file
  package-lock.json
Due: none

fix broken test
  ingest/src/GitHubDataSource.test.ts
Due: test-all, staging-build-ingest-service

checkpoint
  chat-core/package.json
  chat-core/src/extractFrontMatter.test.ts
  chat-core/src/extractFrontMatter.ts
  chat-core/src/index.ts
  chat-core/src/removeFrontMatter.ts
  chat-core/src/updateFrontMatter.ts
  ingest/src/AcquitRequireMdOnGithubDataSource.ts
  ingest/src/MdOnGithbDataSource.ts
  ingest/src/MdOnGithubDataSource.test.ts
  ingest/src/extractMarkdownH1.test.ts
  ingest/src/extractMarkdownH1.ts
  ingest/src/projectSources.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

make preprocessor less biased toward shell
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.d.ts
Due: test-all, staging-build-chat-server

Update chat-server/src/app.ts
  chat-server/src/app.ts
Due: test-all, staging-build-chat-server

Apply suggestions from code review
  performance-tests/README.md
Due: none

(DOCSP-32670): Basic server load testing (#136)
  package-lock.json
  package.json
  performance-tests/.gitignore
  performance-tests/README.md
  performance-tests/package-lock.json
  performance-tests/package.json
  performance-tests/src/serverLoad.ts
  performance-tests/tsconfig.json
Due: none

suggestedPrompts as a prop
  chat-ui/README.md
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

add other data sources
  ingest/src/MdOnGithbDataSource.ts
  ingest/src/MdOnGithubDataSource.test.ts
  ingest/src/projectSources.ts
  mongodb-corp/corporate/support.md
  mongodb-corp/dotcom/mongodb-university.md
Due: test-all, staging-build-ingest-service

lock file update
  package-lock.json
Due: none

(DOCSP-32757) [UI] Update to Responsive LG Chat Components (#145)
  chat-ui/.env.development
  chat-ui/.env.example
  chat-ui/.env.qa
  chat-ui/.env.staging
  chat-ui/README.md
  chat-ui/package.json
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputMenu.tsx
  chat-ui/src/index.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

Add root release:chat-ui command
  package.json
Due: none

Release chat-ui-v0.0.5
  chat-ui/package.json
  package-lock.json
  package.json
Due: test-all, staging-build-chat-server

Update chat-ui release config
  chat-ui/package.json
Due: test-all, staging-build-chat-server

more robust testing + annotations
  ingest/src/MdOnGithubDataSource.test.ts
  ingest/src/MdOnGithubDataSource.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

adjust test for pre-processor change
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
Due: test-all, staging-build-chat-server

start stubbing out data source
  ingest/package.json
  ingest/src/HtmlOnGithubDataSource.ts
  package-lock.json
Due: test-all, staging-build-ingest-service

draft GH HTML to MD
  ingest/package.json
  ingest/src/HtmlOnGithubDataSource.test.ts
  ingest/src/HtmlOnGithubDataSource.ts
  ingest/src/modules.d.ts
  ingest/src/test_data/sample.html
  package-lock.json
Due: test-all, staging-build-ingest-service

add default + remove unused style
  chat-ui/src/Chatbot.tsx
  chat-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
