Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

Show that unknown event types names are arbitrary
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Update packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-619) [UI] Make invalid stream event types a no-op (#567)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update ingest CLI call
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

update ingest CLI calls to use `ingest <command> update` syntax (#572)
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Update packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
Due: test-all

Benchmarks on more models (#571)
  package-lock.json
  packages/benchmarks/src/discovery/mongoDbDiscoveryBenchmark.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/openAiClients.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test coach gtm alertS
  .drone.yml
  packages/ingest-mongodb-public/environments/coachGtm.staging.yml
  packages/ingest-mongodb-public/environments/staging.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

update step name
  .drone.yml
  packages/ingest-mongodb-public/environments/coachGtm.staging.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

tr again
  .drone.yml
  packages/ingest-mongodb-public/environments/coachGtm.staging.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

try again after k8s resource deltion
  packages/ingest-mongodb-public/environments/coachGtm.staging.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Apply suggestions from code review
  .drone.yml
  packages/ingest-mongodb-public/environments/coachGtm.staging.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-368): Alerts on cronjob failure to sergio (#575)
  .drone.yml
  packages/ingest-mongodb-public/environments/coachGtm.staging.yml
  packages/ingest-mongodb-public/environments/staging.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

page transform and exclude
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
  packages/mongodb-rag-core/src/chunk/ChunkTransformer.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test chunk transformer
  packages/mongodb-rag-core/src/chunk/ChunkTransformer.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

WIP
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.ts
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

WIP2
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/services/conversations/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations/conversations.ts
  packages/mongodb-chatbot-ui/src/services/conversations/index.ts
  packages/mongodb-chatbot-ui/src/services/conversations/streamEvents.ts
  packages/mongodb-chatbot-ui/vite.config.component.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

skip noindex pages
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
  packages/ingest-mongodb-public/testData/noindex.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix length b/c noindex page
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

WIP3
  package-lock.json
  packages/mongodb-chatbot-server/src/routes/conversations/utils.ts
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/services/conversations/streamEvents.ts
  packages/mongodb-chatbot-ui/vite.config.component.ts
  packages/mongodb-rag-core/src/References.ts
  packages/mongodb-rag-core/src/verifiedAnswers/VerifiedAnswer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-375 lite): Include page metadata in ingest, but not chunking (#576)
  examples/quick-start/packages/ingest/src/ingest.config.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
  packages/ingest-mongodb-public/testData/samplePageWithMetadata.json
  packages/mongodb-rag-core/src/chunk/ChunkTransformer.test.ts
  packages/mongodb-rag-core/src/chunk/ChunkTransformer.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

tests
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-ingest/src/commands/all.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add braintrust to core
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/getQuizQuestionEvalCasesFromBraintrust.ts
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/braintrust.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-627): Skip snooty pages with noindex meta.robots tag (#577)
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
  packages/ingest-mongodb-public/testData/noindex.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

WIP - Add zustand store in new file
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/conversationState.ts
  packages/mongodb-chatbot-ui/src/createMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

renamed arg, typing
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-ingest/src/commands/all.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

working server logging instrumentation
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
  packages/mongodb-chatbot-server/src/utils.ts
  packages/mongodb-rag-core/src/braintrust.ts
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

default behavior is soft delete pages
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-ingest/src/commands/all.test.ts
  packages/mongodb-rag-ingest/src/commands/all.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

lint
  packages/mongodb-rag-ingest/src/commands/all.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

modify test descriptions
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

refactor tests with beforeEach
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-ingest/src/commands/all.test.ts
  packages/mongodb-rag-ingest/src/commands/all.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-483): ingest:all command deletes pages and embeddings not in data sources (#562)
  package-lock.json
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-ingest/package.json
  packages/mongodb-rag-ingest/src/commands/all.test.ts
  packages/mongodb-rag-ingest/src/commands/all.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

checkpoint
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release ingest-mongodb-public v0.10.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

check for change in chunkAlgoHash
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add pages with changed chunking to arg for next step
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Everything works but context is funky
  packages/mongodb-artifact-generator/context/release-notes/migrator-releaseInfo.yaml
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/ChatbotProvider.tsx
  packages/mongodb-chatbot-ui/src/ConversationProvider.tsx
  packages/mongodb-chatbot-ui/src/ConversationStoreProvider.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/DocsChatbot.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
  packages/mongodb-chatbot-ui/src/conversationState.ts
  packages/mongodb-chatbot-ui/src/conversationStore.ts
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useConversation.test.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/useConversationContext.tsx
  packages/mongodb-chatbot-ui/src/useConversationStoreContext.tsx
  packages/mongodb-chatbot-ui/vite.config.component.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix context, cleanup
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/ConversationStateProvider.tsx
  packages/mongodb-chatbot-ui/src/ConversationStoreProvider.tsx
  packages/mongodb-chatbot-ui/src/DocsChatbot.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
  packages/mongodb-chatbot-ui/src/conversationStore.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/useConversationStateContext.tsx
  packages/mongodb-chatbot-ui/src/useConversationStoreContext.tsx
  packages/mongodb-chatbot-ui/vite.config.component.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

pulling pages to be updated based on embedded content
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval
