Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

dont filter, just map
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

create helper for convertInputToDBMessages
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update store logic
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

save store data on conversation, check for previous message id and no store
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add case to handle mismatched conversation storage settings
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

cleanup logic for checking if conversation is stored
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

basic spy
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

implement tests
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add final spys
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

cleanup var names
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Implement saveSearchResult, create MongoDbSearchResultsStore.test.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Handle normalized URLs when making references
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.test.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

lint, format
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Check entire returned document in MongoDbSearchResultsStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Make reference links from EmbeddedContent & PersistedPage, Return references from tools
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
  packages/mongodb-chatbot-server/src/processors/MakeReferenceLinksFunc.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.ts
  packages/mongodb-chatbot-ui/src/references.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Create ResultChunk type and zod check
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Undo some partial changes
  packages/mongodb-chatbot-ui/src/references.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

cron in staging and prod
  packages/scripts/environments/production.yml
  packages/scripts/environments/staging.yml
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

safeParse > safeParseAsync bc we don't need to await any refines, etc.
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Cleanup
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

lint
  packages/scripts/src/profound/getAndProcessAnswers.ts
  packages/scripts/src/profound/profoundAPI.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Increase timeout
  packages/ingest-mongodb-public/src/sources/snootySources.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Add helper function for using normalized URLs in URL constructor
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.ts
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.test.ts
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add comment
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add userId and storeMessageContent fields to Conversation
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.test.ts
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

adjust logic for response api to use new convo fields
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

fix bug in conversation service logic
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

update userId check
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update tests
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

test name tweak
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

test naming
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add jset mock cleanup
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

abstract testMessageContent helper
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update test helper
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

test for function call and outputs message storage
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Correct usage of limit in makeDefaultFindContent
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

PR Review: Improve ensureProtocol and update URL
  mongodb-corp/chatbot/overview.md
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.test.ts
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

address copilot feedback: calling script, move client close, resuse request
  packages/scripts/environments/production.yml
  packages/scripts/environments/staging.yml
  packages/scripts/src/profound/getAndProcessAnswers.ts
  packages/scripts/src/profound/profoundAPI.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

fix to page validation script runner
  package.json
  packages/scripts/environments/production.yml
  packages/scripts/environments/staging.yml
  packages/scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service
