Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

working e2e code example upload
  package-lock.json
  packages/datasets/.env.example
  packages/datasets/package.json
  packages/datasets/src/EnvVars.ts
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/codeExampleDataset/createCodeExampleDatasetEntry.ts
  packages/datasets/src/codeExampleDataset/extractAndAnnotateCodeBlocks.ts
  packages/datasets/src/codeExampleDataset/extractPageElements.ts
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix test hook
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

mocking in tests
  .drone.yml
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.ts
  packages/ingest-mongodb-public/testData/mongodbdotcom-company-page.html
  packages/ingest-mongodb-public/testData/sitemap-pages.xml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

revert drone file
  .drone.yml
Due: test-all

rm unused npm packages;
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

cleanup
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/webSources.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

cleanup
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add optimizely
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix test
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

run npm i after merge main
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

checkpoint work
  packages/mongodb-rag-core/src/contentStore/MongoDbTransformedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbTransformedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/TransformedContent.ts
  packages/mongodb-rag-core/src/contentStore/index.ts
  packages/mongodb-rag-core/src/contentStore/updateTransformedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateTransformedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

modify drone file for testing puppeteer in cron env
  .drone.yml
Due: test-all

use URL module to add query param
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

temporary comment out all other data sources
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

rename dir, temporary drone file updates
  .drone.yml
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

gen questions
  package-lock.json
  packages/benchmarks/.gitignore
  packages/benchmarks/package.json
  packages/benchmarks/src/quizQuestions/QuizQuestionData.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/getQuizQuestionEvalCasesFromBraintrust.ts
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.test.ts
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.ts
  packages/benchmarks/src/quizQuestions/scripts/annotateBraintrustQuestions.ts
  packages/benchmarks/src/quizQuestions/scripts/loadBadgeQuizQuestions.ts
  packages/benchmarks/src/quizQuestions/scripts/makeTags.ts
  packages/chatbot-server-mongodb-public/src/lib.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

wip: puppeteer in cron
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: puppeteer in cron
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: puppeteer in cron
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

run badge and all benchmarks on requested models
  packages/benchmarks/package.json
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongodbUniversityAllQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/scripts/countQuestionsByTag.ts
  packages/benchmarks/src/quizQuestions/scripts/loadBadgeQuizQuestions.ts
Due: test-all

wip: puppeteer in cron
  .drone.yml
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: puppeteer in cron
  .drone.yml
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: puppeteer in cron
  .drone.yml
Due: test-all

wip: puppeteer in cron
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

benchmark all models
  packages/benchmarks/src/quizQuestions/mongoDbUniversityBadgeQuestionBenchmark.ts
Due: test-all

wip: puppeteer in cron
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

upload updated
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.test.ts
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.ts
Due: test-all

fix broken staging env - put sourceConstructors back
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test playwright in cron
  package-lock.json
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/mongodb-rag-ingest/src/commands/all.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

wip: test playwright in cron
  .drone.yml
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public
