Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*

(DOCSP-32465) [UI] Add link for Powered by Atlas Vector Search
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputMenu.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server

implement cb feedback + merge fixes
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkOpenApiSpecYaml.test.ts
  ingest/src/chunkOpenApiSpecYaml.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32227): Improve OpenAPI spec ingestion (#88)
  chat-core/src/Page.ts
  ingest/package.json
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkOpenApiSpecYaml.test.ts
  ingest/src/chunkOpenApiSpecYaml.ts
  ingest/src/chunkPage.ts
  ingest/src/snootyAstToOpenApiSpec.test.ts
  ingest/src/snootyAstToOpenApiSpec.ts
  ingest/src/test_data/localOpenApiSpecPage.json
  ingest/src/test_data/remoteOpenApiSpecPage.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Restore 'tags' and use 'tagsIn' only internally
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkOpenApiSpecYaml.test.ts
Due: test-all, staging-build-ingest-service

add tabs to page + handle chunking
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/sampleTabsPage.json
  ingest/src/test_data/sampleTabsPage.md
Due: test-all, staging-build-ingest-service

add more table-based delimiters
  ingest/src/chunkPage.ts
Due: test-all, staging-build-ingest-service

Add VITE_GIT_COMMIT to env type declaration
  chat-ui/src/vite-env.d.ts
Due: test-all, staging-build-chat-server

remove type cast
  chat-ui/src/App.tsx
Due: test-all, staging-build-chat-server

CB feedback + clean up
  ingest/src/chunkPage.test.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/test_data/samplePageWithTabs.json
  ingest/src/test_data/samplePageWithTabs.md
Due: test-all, staging-build-ingest-service

Restore 'tags' and use 'tagsIn' only internally (#91)
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkOpenApiSpecYaml.test.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32242): Handle tabbed Snooty content (#92)
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithTabs.json
  ingest/src/test_data/samplePageWithTabs.md
Due: test-all, staging-build-ingest-service

(DOCSP-32490) [UI] Link to current commit on GitHub (#90)
  chat-ui/package.json
  chat-ui/src/App.module.css
  chat-ui/src/App.tsx
  chat-ui/src/vite-env.d.ts
Due: test-all, staging-build-chat-server

dev center data source remove img and div tags + youtube directive
  ingest/package.json
  ingest/src/DevCenterDataSource.test.ts
  ingest/src/DevCenterDataSource.ts
  ingest/src/test_data/sampleDevCenterPageWithDivAndImg.md
  ingest/src/test_data/sampleDevCenterPageWithYouTube.md
  package-lock.json
Due: test-all, staging-build-ingest-service

Add MongoDB fonts
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/fonts.module.css
Due: test-all, staging-build-chat-server

adjust line heights & spacing
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

handle and test pages with page-level codeblock select
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithTabsDrivers.json
Due: test-all, staging-build-ingest-service

clean up comment
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

aria labels + better tabbing + suppress dispatch logs in prod
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputMenu.tsx
  chat-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server

remove message rating margin
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

add spacing around tables
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithListTable.json
  ingest/src/test_data/samplePageWithMultiHeaderTableAst.json
Due: test-all, staging-build-ingest-service

adjust aria menu boundary
  chat-ui/src/InputMenu.tsx
Due: test-all, staging-build-chat-server

refactor per CB feedback
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

source env vars in a way that linux shells can handle
  chat-ui/package.json
Due: test-all, staging-build-chat-server

test staging
  .drone.yml
Due: none

force stage
  chat-server/test.me
Due: test-all, staging-build-chat-server

install git on ci
  chat-server.dockerfile
Due: none

handle dev center page metadata
  ingest/src/DevCenterDataSource.test.ts
  ingest/src/DevCenterDataSource.ts
  ingest/src/test_data/sampleDevCenterDoc.ts
  ingest/src/test_data/sampleDevCenterPage.json
Due: test-all, staging-build-ingest-service

Refactor to remove undefined case which should never occur
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32243) Handle and test pages with page-level code block select (#94)
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithListTable.json
  ingest/src/test_data/samplePageWithMultiHeaderTableAst.json
  ingest/src/test_data/samplePageWithTabsDrivers.json
Due: test-all, staging-build-ingest-service

update drone file for testing
  .drone.yml
Due: none

add trigger
  ingest/trigger.me
Due: test-all, staging-build-ingest-service

fix and trigger
  .drone.yml
  ingest/trigger.me
Due: test-all, staging-build-ingest-service

trigger chat server build
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

cean up tmp changes
  .drone.yml
Due: none

remove triggers
  chat-server/trigger.me
  ingest/trigger.me
Due: test-all, staging-build-chat-server, staging-build-ingest-service

fix handing promise
  ingest/src/snootyAstToOpenApiSpec.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32155) [UI] UX Feedback (#81)
  chat-ui/package.json
  chat-ui/src/App.module.css
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputMenu.tsx
  chat-ui/src/SuggestedPrompts.tsx
  chat-ui/src/fonts.module.css
  chat-ui/src/index.tsx
  chat-ui/src/useConversation.tsx
  chat-ui/src/utils.ts
  package-lock.json
Due: test-all, staging-build-chat-server

(DOCSP-32363) [UI] handle cases where the LLM stops mid code example (#85)
  chat-ui/src/useConversation.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server
