Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*

(DOCSP-32867): Update QA DB name for sept 1 release (#131)
  chat-server/environments/qa.yml
Due: test-all, staging-build-chat-server

Handle snooty tombstone pages
  ingest/src/SnootyDataSource.ts
Due: test-all, staging-build-ingest-service

Handle Snooty tombstones
  ingest/src/SnootyDataSource.test.ts
  ingest/src/test_data/snootySampleData.jsonl
  ingest/src/test_data/snootySampleDataWithDeleted.jsonl
Due: test-all, staging-build-ingest-service

pre-chunk leadership
  mongodb-corp/dotcom/leadership.md
  mongodb-corp/leadership/alan-chhabra.md
  mongodb-corp/leadership/andrew-stephens.md
  mongodb-corp/leadership/cailin-nelson.md
  mongodb-corp/leadership/cedric-pech.md
  mongodb-corp/leadership/dev-ittycheria.md
  mongodb-corp/leadership/harsha-jalihal.md
  mongodb-corp/leadership/lena-smart.md
  mongodb-corp/leadership/michael-gordon.md
  mongodb-corp/leadership/mindy-lieberman.md
  mongodb-corp/leadership/peder-ulander.md
  mongodb-corp/leadership/ronnen-miller.md
  mongodb-corp/leadership/sahir-azam.md
Due: none

Rename & refactor chatbot meta
  mongodb-corp/chatbot.md
  mongodb-corp/synthetic/chatbot-meta.md
Due: none

update internal docs
  CONTRIBUTING.md
  README.md
  design-docs/db/atlas_search_index.jsonc
  design-docs/db/schema/content.yml
  design-docs/db/schema/conversations.yml
  design-docs/db/schema/pages.yml
  design-docs/openapi.yml
Due: none

remove mention of <CONTEXT> to reduce negative prompt leakage
  chat-server/src/config.ts
  chat-server/src/llmQualitativeTests/edgeCasesTests.yaml
Due: test-all, staging-build-chat-server

Handle Snooty Data API tombstones (#133)
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/test_data/snootySampleData.jsonl
  ingest/src/test_data/snootySampleDataWithDeleted.jsonl
Due: test-all, staging-build-ingest-service

Update drone + last comment touches
  .drone.yml
  ingest/src/GitHubDataSource.ts
  ingest/src/rstToSnootyAst.test.ts
Due: test-all, staging-build-ingest-service

Fix tests
  ingest/src/GitHubDataSource.test.ts
  ingest/src/SnootyDataSource.test.ts
  ingest/src/rstToSnootyAst.test.ts
  ingest/src/updateEmbeddedContent.test.ts
Due: test-all, staging-build-ingest-service

Add docdoctor for rst parsing 😵
  ingest/package.json
  ingest/src/SnootyDataSource.ts
  ingest/src/rstToSnootyAst.ts
  package-lock.json
Due: test-all, staging-build-ingest-service

Implement rst -> snooty ast
  ingest/src/rstToSnootyAst.test.ts
  ingest/src/rstToSnootyAst.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithCodeExamples.rst
Due: test-all, staging-build-ingest-service

Restore some commentary
  ingest/src/GitHubDataSource.test.ts
  ingest/src/GitHubDataSource.ts
  ingest/src/rstToSnootyAst.test.ts
Due: test-all, staging-build-ingest-service

Add secrets to k8s
  ingest/environments/production.yml
  ingest/environments/staging.yml
Due: test-all, staging-build-ingest-service

Update env example
  ingest/.env.example
Due: test-all, staging-build-ingest-service

Stripindent on code blocks
  ingest/src/rstToSnootyAst.test.ts
  ingest/src/rstToSnootyAst.ts
Due: test-all, staging-build-ingest-service

Refactor rST and chunking
  chat-core/src/Page.ts
  ingest/src/ChunkTransformer.ts
  ingest/src/GitHubDataSource.ts
  ingest/src/chunkMd.ts
  ingest/src/chunkOpenApiSpecYaml.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/commands/embed.ts
  ingest/src/rstToSnootyAst.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Increase yaml test timeout
  ingest/src/chunkOpenApiSpecYaml.test.ts
Due: test-all, staging-build-ingest-service

Add test just for GitHub, move RstOnGitHub to its own file
  ingest/src/GitHubDataSource.test.ts
  ingest/src/GitHubDataSource.ts
  ingest/src/RstOnGitHubDataSource.test.ts
  ingest/src/RstOnGitHubDataSource.ts
  ingest/src/commands/pages.ts
Due: test-all, staging-build-ingest-service

(DOCSP-31285): Ingest PyMongo docs
  chat-core/src/Page.ts
  ingest/src/GitHubDataSource.test.ts
  ingest/src/GitHubDataSource.ts
  ingest/src/chunkPage.ts
  ingest/src/commands/pages.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

draft basic load test w localhost..code working
  package.json
  performance-tests/.gitignore
  performance-tests/README.md
  performance-tests/package-lock.json
  performance-tests/package.json
  performance-tests/src/serverLoad.ts
  performance-tests/tsconfig.json
Due: none

add env base URL + second msg
  performance-tests/package.json
  performance-tests/src/serverLoad.ts
Due: none

ES5 for goja runtime
  performance-tests/tsconfig.json
Due: none

(DOCSP-32694) [UI] Add darkMode toggle and update based on comments
  chat-ui/src/App.module.css
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-32694) [UI] Remove logging
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

Pre-chunk
  mongodb-corp/chatbot.md
  mongodb-corp/corporate/mission.md
  mongodb-corp/corporate/story.md
  mongodb-corp/corporate/values.md
  mongodb-corp/mongodb-university.md
Due: none

Add source constructors instead of project info
  ingest/src/commands/pages.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

Update internal docs (#134)
  CONTRIBUTING.md
  README.md
  design-docs/db/atlas_search_index.jsonc
  design-docs/db/schema/content.yml
  design-docs/db/schema/conversations.yml
  design-docs/db/schema/pages.yml
  design-docs/openapi.yml
Due: none

(DOCSP-32896) Remove mention of <CONTEXT> to reduce damage of prompt leakage (#135)
  chat-server/src/config.ts
  chat-server/src/llmQualitativeTests/edgeCasesTests.yaml
Due: test-all, staging-build-chat-server

more chunks + shuffle
  mongodb-corp/README.md
  mongodb-corp/chatbot/overview.md
  mongodb-corp/corporate/leadership/alan-chhabra.md
  mongodb-corp/corporate/leadership/andrew-stephens.md
  mongodb-corp/corporate/leadership/cailin-nelson.md
  mongodb-corp/corporate/leadership/cedric-pech.md
  mongodb-corp/corporate/leadership/dev-ittycheria.md
  mongodb-corp/corporate/leadership/harsha-jalihal.md
  mongodb-corp/corporate/leadership/lena-smart.md
  mongodb-corp/corporate/leadership/michael-gordon.md
  mongodb-corp/corporate/leadership/mindy-lieberman.md
  mongodb-corp/corporate/leadership/peder-ulander.md
  mongodb-corp/corporate/leadership/ronnen-miller.md
  mongodb-corp/corporate/leadership/sahir-azam.md
  mongodb-corp/corporate/mission.md
  mongodb-corp/corporate/story.md
  mongodb-corp/corporate/support.md
  mongodb-corp/corporate/values.md
  mongodb-corp/dotcom/legal/acceptable-use-policy.md
  mongodb-corp/dotcom/legal/privacy-policy.md
  mongodb-corp/dotcom/legal/terms-of-use.md
  mongodb-corp/dotcom/legal/trademark-usage-guidelines.md
  mongodb-corp/dotcom/mongodb-university.md
  mongodb-corp/dotcom/why-use-mongodb.md
  mongodb-corp/leadership/michael-gordon.md
Due: none

remove cta links
  mongodb-corp/chatbot/overview.md
  mongodb-corp/corporate/story.md
  mongodb-corp/dotcom/why-use-mongodb.md
Due: none

Handle source constructor failures
  ingest/src/commands/pages.ts
Due: test-all, staging-build-ingest-service

separate URL per exec
  mongodb-corp/corporate/leadership/alan-chhabra.md
  mongodb-corp/corporate/leadership/andrew-stephens.md
  mongodb-corp/corporate/leadership/cailin-nelson.md
  mongodb-corp/corporate/leadership/cedric-pech.md
  mongodb-corp/corporate/leadership/dev-ittycheria.md
  mongodb-corp/corporate/leadership/harsha-jalihal.md
  mongodb-corp/corporate/leadership/lena-smart.md
  mongodb-corp/corporate/leadership/michael-gordon.md
  mongodb-corp/corporate/leadership/mindy-lieberman.md
  mongodb-corp/corporate/leadership/peder-ulander.md
  mongodb-corp/corporate/leadership/ronnen-miller.md
  mongodb-corp/corporate/leadership/sahir-azam.md
  mongodb-corp/corporate/support.md
Due: none

increase load + remove sleep
  performance-tests/src/serverLoad.ts
Due: none

Different truncation
  mongodb-corp/dotcom/legal/acceptable-use-policy.md
  mongodb-corp/dotcom/legal/privacy-policy.md
  mongodb-corp/dotcom/legal/terms-of-use.md
Due: none

thin out values
  mongodb-corp/corporate/values.md
Due: none

remove links
  mongodb-corp/dotcom/why-use-mongodb.md
Due: none

clean up
  performance-tests/src/serverLoad.ts
Due: none

(DOCSP-32694) [UI] Add darkMode prop (#129)
  chat-ui/src/App.module.css
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-32694) Dark mode: use LG palette & provider + cleanup
  chat-ui/src/App.module.css
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputMenu.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server
