Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

Split driver and product names, linting
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-992): Remove `ChatLlm` (#751)
  packages/mongodb-rag-core/src/DataStreamer.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/llm/ChatLlm.ts
  packages/mongodb-rag-core/src/llm/LangchainChatLlm.test.ts
  packages/mongodb-rag-core/src/llm/LangchainChatLlm.ts
  packages/mongodb-rag-core/src/llm/OpenAiChatLlm.test.ts
  packages/mongodb-rag-core/src/llm/OpenAiChatLlm.ts
  packages/mongodb-rag-core/src/llm/index.ts
  packages/scripts/src/findFaq.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

template, not yet working
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix merge funk
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

docs updates
  README.md
  docs/docs/contact.md
  docs/docs/framework.md
  docs/docs/server/openapi.yaml
Due: none

Working evals
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Revert 2 recent commits (making product names generic)
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/mongodb-rag-core/src/dataSources/ProjectBase.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

simpler way to enforce product/driver names
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.test.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add client handler for suggested prompt click
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useTextInputTrigger.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update to fix broken test
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToOpenApiSpec.ts
  packages/ingest-mongodb-public/testData/remoteOpenApiSpecPage.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

(EAI-975) Better list of products, programming langs, topics (#760)
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.test.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/programmingLanguages.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Update packages/ingest-mongodb-public/src/sources/snooty/snootyAstToOpenApiSpec.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToOpenApiSpec.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

(EAI-1071): Fix broken Atlas OpenAPI ingest (#765)
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToOpenApiSpec.ts
  packages/ingest-mongodb-public/testData/remoteOpenApiSpecPage.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

EAI-1053 Verify nonzero amount of pages
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/prisma.test.ts
  packages/ingest-mongodb-public/src/sources/snootySources.test.ts
  packages/ingest-mongodb-public/src/sources/terraformProvider.test.ts
  packages/ingest-mongodb-public/src/sources/terraformProvider.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Yoink evals from extractMongoDbMetadataFromUserMessage.eval.ts & linting
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Evals on recent changes, esp. k8s products
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1081) Add link to FAQ doc in Chatbot message feed
  packages/mongodb-chatbot-ui/src/MongoDbLegal.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1083) [UI] Update "experimental" language and pill on chatbot
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useTextInputTrigger.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix unnec changes
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Add client handler for suggested prompt click (#764)
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useTextInputTrigger.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Revise expected values now that we have more products/topics
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Improve descriptions
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

NL feedback
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Add topic names/descriptions to classifier prompt
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-995): add guardrail (#755)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/processors/makeFewShotUserMessageExtractorFunction.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
  packages/mongodb-chatbot-server/src/processors/GenerateResponse.ts
  packages/mongodb-chatbot-server/src/processors/InputGuardrail.test.ts
  packages/mongodb-chatbot-server/src/processors/InputGuardrail.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.test.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

undo git funk
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1081) Add link to FAQ doc in Chatbot message feed (#766)
  packages/mongodb-chatbot-ui/src/MongoDbLegal.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1083) update verify information text
  packages/mongodb-chatbot-ui/src/ui-text.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Minor description edits & more evals
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1083) [UI] Update "experimental" language and pill on chatbot (#767)
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
  packages/mongodb-chatbot-ui/src/ui-text.ts
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useTextInputTrigger.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add tags, some topics should be null
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Remove unnecessary eval cases
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

vertex models thru braintrust
  packages/benchmarks/.env.example
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/nlPromptResponse/bin/globalConfig.ts
  packages/benchmarks/src/openAiClients.ts
  packages/mongodb-rag-core/.env.example
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/models/getOpenAiEndpointAndApiKey.test.ts
  packages/mongodb-rag-core/src/models/getOpenAiEndpointAndApiKey.ts
  packages/mongodb-rag-core/src/models/makeOpenAiClientFactory.ts
  packages/mongodb-rag-core/src/models/models.test.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

clean up unused import
  packages/mongodb-rag-core/src/models/models.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Vertex in braintrust (#769)
  packages/benchmarks/.env.example
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/nlPromptResponse/bin/globalConfig.ts
  packages/benchmarks/src/openAiClients.ts
  packages/mongodb-rag-core/.env.example
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/models/getOpenAiEndpointAndApiKey.test.ts
  packages/mongodb-rag-core/src/models/getOpenAiEndpointAndApiKey.ts
  packages/mongodb-rag-core/src/models/makeOpenAiClientFactory.ts
  packages/mongodb-rag-core/src/models/models.test.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

PR review, Make individual eval params optional
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Remove eval values we don't need to validate against
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Tentative answer change
  verified-answers.yaml
Due: none
