Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

Add get started prompt (#725)
  packages/mcp/static/prompts/get-started.md
Due: test-all

add missing resource in mapping
  packages/mcp/src/handlers/resources.ts
Due: test-all

works!
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mcp/src/handlers/tools.ts
  packages/mcp/src/index.ts
  packages/mcp/src/logPath.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Dh skunk (#726)
  packages/mcp/src/handlers/resources.ts
Due: test-all

fix search endpoint.
  packages/mcp/src/handlers/tools.ts
  packages/mcp/src/index.ts
Due: test-all

Fix search (#727)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mcp/src/handlers/tools.ts
  packages/mcp/src/index.ts
  packages/mcp/src/logPath.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP - promptmaxx eval for atlas vector search
  package-lock.json
  packages/datasets/package.json
  packages/datasets/src/bin/summarizeAtlasVectorSearchDocs.ts
  packages/datasets/src/synthesizeEvals.ts
  packages/datasets/synthesizedEvals/atlas-vector-search.eval.ts
  packages/datasets/synthesizedEvals/atlas-vector-search.json
  packages/datasets/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

ingest stuff for growth team
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/clusterManager.config.ts
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

WIP - promptmaxx eval for atlas vector search evals
  packages/datasets/synthesizedEvals/atlas-vector-search.eval.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

WIP - update avs eval and cases
  packages/datasets/synthesizedEvals/atlas-vector-search.eval.ts
  packages/datasets/synthesizedEvals/atlas-vector-search.json
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

WIP - run on multiple models
  packages/datasets/synthesizedEvals/atlas-vector-search.eval.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

WIP - actually use the models
  packages/datasets/synthesizedEvals/atlas-vector-search.eval.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

rebuild
  packages/mcp/static/resources/vector-search.md
Due: test-all

Pre demo (#731)
  packages/mcp/static/resources/vector-search.md
Due: test-all

AVS evals working
  packages/datasets/synthesizedEvals/atlas-vector-search.eval.ts
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/models/models.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Prompt maxxing avs eval (#729)
  package-lock.json
  packages/datasets/package.json
  packages/datasets/src/bin/summarizeAtlasVectorSearchDocs.ts
  packages/datasets/src/synthesizeEvals.ts
  packages/datasets/synthesizedEvals/atlas-vector-search.eval.ts
  packages/datasets/synthesizedEvals/atlas-vector-search.json
  packages/datasets/tsconfig.json
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/models/models.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add clean origin names to customData
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

include TOC index
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Update README.md
  packages/scripts/README.md
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Update scripts README.md (#735)
  packages/scripts/README.md
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Release chatbot-server-mongodb-public v0.18.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix script deployment problem
  .drone.yml
  scripts-service.dockerfile
Due: test-all

fix script deployment problem (#736)
  .drone.yml
  scripts-service.dockerfile
Due: test-all

(EAI-428) versioned docs (#699)
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/mongoDbDatasetConstants.ts
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/mongodb-artifact-generator/src/test/MockPageStore.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
  packages/mongodb-rag-core/src/dataSources/handleHtmlDocument.test.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
  packages/mongodb-rag-core/src/test/MockPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Release scripts v0.4.0
  package-lock.json
  packages/scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Revert "(EAI-428) versioned docs (#699)"
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/mongoDbDatasetConstants.ts
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/mongodb-artifact-generator/src/test/MockPageStore.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
  packages/mongodb-rag-core/src/dataSources/handleHtmlDocument.test.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
  packages/mongodb-rag-core/src/test/MockPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Revert "(EAI-428) versioned docs" (#737)
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/mongoDbDatasetConstants.ts
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/mongodb-artifact-generator/src/test/MockPageStore.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
  packages/mongodb-rag-core/src/dataSources/handleHtmlDocument.test.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
  packages/mongodb-rag-core/src/test/MockPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Release scripts v0.4.1
  package-lock.json
  packages/scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

azure foundry models
  packages/mongodb-rag-core/src/models/models.test.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add thumbsup/down & commented data to scrubbed user message
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-428) feature versioned docs (#739)
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/mongoDbDatasetConstants.ts
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/mongodb-artifact-generator/src/test/MockPageStore.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
  packages/mongodb-rag-core/src/dataSources/handleHtmlDocument.test.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
  packages/mongodb-rag-core/src/test/MockPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add product knowledge and docs100 benchmarks
  packages/benchmarks/src/nlPromptResponse/bin/docs100/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/docs100/docs100PromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/docs100/uploadDocs100PromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/globalConfig.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/productKnowledgePromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/uploadProductKnowledgeDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
  packages/benchmarks/src/nlPromptResponse/loadDocs100Dataset.ts
  packages/benchmarks/src/nlPromptResponse/loadProductKnowledgeDataset.ts
  packages/benchmarks/src/nlPromptResponse/metrics.ts
Due: test-all

DRY code
  packages/benchmarks/src/nlPromptResponse/bin/docs100/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/docs100/docs100PromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/docs100/uploadDocs100PromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/globalConfig.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/productKnowledgePromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/uploadProductKnowledgeDataset.ts
Due: test-all

Clean configs
  packages/benchmarks/src/nlPromptResponse/bin/docs100/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/docs100/uploadDocs100PromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/globalConfig.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/productKnowledgePromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/uploadProductKnowledgeDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/techSupportPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/uploadTechSupportPromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/topQuestionPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/loadTechSupportDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadWebMarketingDataset.ts
  packages/benchmarks/src/nlPromptResponse/runNlPromptResponseBenchmark.ts
Due: test-all

clarify fields that are request data for assistant msgs, response data for user msgs.
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/ScrubbedMessage.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Add vscode origin code
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service
