Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

Release scripts v0.3.2
  package-lock.json
  packages/scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

create comparisons web source with list of urls
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Update stats materialized view script
  package-lock.json
  packages/scripts/package.json
  packages/scripts/src/main/materializeScrubbedMessagesStats.ts
  packages/scripts/src/materialize/materializedViewUtils.test.ts
  packages/scripts/src/materialize/materializedViewUtils.ts
  packages/scripts/src/materialize/scrubbed_messages_stats.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

changes to copy
  packages/scripts/src/checkUrlsAgainstDB.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Apply copy suggestions to reference answers
  packages/chatbot-server-mongodb-public/evalCases/uni_skills_evaluation_questions.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Prompt tweaks
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
Due: test-all

(EAI-904) Store the embedding model alongside the vector
  packages/mongodb-artifact-generator/src/vectorSearch.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.ts
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
  packages/mongodb-rag-core/src/embed/Embedder.ts
  packages/mongodb-rag-core/src/embed/OpenAiEmbedder.test.ts
  packages/mongodb-rag-core/src/embed/OpenAiEmbedder.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

update scrubbed messages
  packages/scripts/src/ScrubbedMessage.ts
  packages/scripts/src/scrubMessages.test.ts
  packages/scripts/src/scrubMessages.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

clustering and filtering logic
  packages/datasets/src/bin/countDatasetExamples.ts
  packages/datasets/src/bin/generateDbSchemas.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/treeGeneration/MongoDbNodeStore.test.ts
  packages/datasets/src/treeGeneration/MongoDbNodeStore.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateAnnotatedCollectionSchema.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateHighLevelDbDescriptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getOpenAiFunctionResponse.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/LlmOptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAnnotatedDatabaseInfo.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseExecutionResult.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseExecutionResult.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseUsers.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseUsers.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCode.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateUseCases.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateUseCases.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/makePromptComponents.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/nodeTypes.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/sampleData.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/findMostFrequentAndPerformantDatabaseExecutionResult.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/findMostFrequentAndPerformantDatabaseExecutionResult.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/fuzzyClusterDatabaseExecutionResults.ts
  packages/datasets/src/treeGeneration/fuzzyClusterItems.test.ts
  packages/datasets/src/treeGeneration/fuzzyClusterItems.ts
  packages/datasets/src/treeGeneration/generateChildren.test.ts
  packages/datasets/src/treeGeneration/generateChildren.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

standardize dataset entry
  packages/datasets/src/bin/countDatasetExamples.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/treeGeneration/DatabaseNlQueryDatasetEntry.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

basic poc
  packages/mongodb-chatbot-server/src/routes/chat/completions.ts
  packages/mongodb-chatbot-server/src/routes/conversations/chat/completion.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/chat/completion.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

cleanup
  packages/mongodb-chatbot-server/src/routes/chat/completions.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

truncated arrays include values at end
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/truncateDocument.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/truncateDocument.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

better handling db output for LLM
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/truncateDocument.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/truncateDocument.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Apply suggestions from code review: changes to comment copy
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

truncate + agent mode
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getDatabaseMetadata.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/truncateDbOperationOutputForLlm.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/truncateDbOperationOutputForLlm.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCodeAgentic.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCodeAgentic.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

address feedback
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

test case descriptions
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-643) evals for skills (#646)
  packages/chatbot-server-mongodb-public/evalCases/uni_skills_evaluation_questions.yml
  packages/chatbot-server-mongodb-public/src/eval/experiments/skillsQuestionsTest.eval.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/products.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

working better
  packages/datasets/src/bin/countDatasetExamples.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getDatabaseMetadata.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/queryOperators.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

table res
  packages/datasets/src/bin/countDatasetExamples.ts
  packages/datasets/src/treeGeneration/queryOperators.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

allow tag list in generate eval cases
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Prompt tweaks for meta descriptions (#664)
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
Due: test-all

use MongoDbTag to determine allowed tags
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/tags.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

upload to BT & prompt refinements
  package-lock.json
  packages/datasets/src/bin/countDatasetExamples.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/bin/uploadNlToMongoshDatasetToBraintrust.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/DatabaseNlQueryDatasetEntry.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateUseCases.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/datasetDatabases.ts
  packages/datasets/src/uploadDatasetToBraintrust.ts
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fix ts err
  packages/datasets/src/bin/generateDbSchemas.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

aggregate the good ones from the jump
  packages/datasets/src/bin/generateMongoshDatasets.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

var name update
  packages/datasets/src/bin/generateMongoshDatasets.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Update packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getDatabaseMetadata.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getDatabaseMetadata.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

dataset analysis
  packages/datasets/src/bin/countDatasetExamples.ts
  packages/datasets/src/bin/generateFullDataset.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/bin/uploadNlToMongoshDatasetToBraintrust.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/DatabaseNlQueryDatasetEntry.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/analyzeDataset.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/analyzeDataset.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/isNonMutativeOperation.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/isNonMutativeOperation.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/queryOperators.ts
  packages/datasets/src/treeGeneration/filterDataset.test.ts
  packages/datasets/src/treeGeneration/filterDataset.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

blog urls added
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

(EAI-928) add blog and comparison pages to web scrape (#665)
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

(EAI-645) deprecate coachGTM (#657)
  .drone.yml
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/ingest-mongodb-public/.env.example
  packages/ingest-mongodb-public/environments/coachGtm.staging.yml
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/PublicIngestEnvVars.ts
  packages/ingest-mongodb-public/src/coachGtm.config.ts
  packages/ingest-mongodb-public/src/sources/MongoDbDotComDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/MongoDbDotComDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/index.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/scripts/package.json
  packages/scripts/src/checkUrlsAgainstDB.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-926) UI supports clientContext
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Add test
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix test
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

implement nl feedback
  packages/benchmarks/tsconfig.json
  packages/datasets/src/bin/analyzeNlToMongoShDatasetBraintrust.ts
  packages/datasets/src/bin/generateFullDataset.ts
  packages/datasets/src/bin/uploadNlToMongoshDatasetToBraintrust.ts
  packages/datasets/src/treeGeneration/MongoDbNodeStore.test.ts
  packages/datasets/src/treeGeneration/MongoDbNodeStore.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/DatabaseNlQueryDatasetEntry.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/analyzeDataset.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/analyzeDataset.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateUseCases.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

fix build err
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCodeAgentic.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCodeAgentic.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

remove unused file
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCodeAgentic.test.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

fix build errs
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/bin/reportMongoDbUniversityAllQuizQuestions.ts
  packages/benchmarks/src/quizQuestions/bin/reportMongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentResults.test.ts
Due: test-all
