Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    settings:
      dockerfile: chat-server.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-chat-server
      tags:
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    settings:
      dockerfile: ingest-service.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-ingest-service
      tags:
  ...

skip flaky tests
  chat-core/src/integrations/openai.test.ts
  chat-server/src/services/llm.test.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

add skips
  chat-core/src/integrations/openai.test.ts
  chat-server/src/services/llm.test.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

handle lang is undefined
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

add tests for changes + additional test tweaks
  ingest/src/snootyAstToMd.test.ts
  ingest/src/test_data/samplePageWithCodeExamples.json
Due: test-all, staging-build-ingest-service

Fix code block lang (#62)
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithCodeExamples.json
Due: test-all, staging-build-ingest-service

fix test fail
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server

trigger test rerun
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

remove trigger
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

add conversation ID for QA + style tweaks
  chat-ui/src/Chatbot.module.css
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

working abstracted boost
  chat-server/src/AppConfig.ts
  chat-server/src/aiConstants.ts
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.test.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/index.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/services/llm.test.ts
  chat-server/src/services/llm.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server

make app configurable from config.ts file + use throughout
  chat-server/src/AppConfig.ts
  chat-server/src/app.test.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/services/llm.test.ts
  chat-server/src/services/llm.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server

Apply suggestions from code review [CI SKIP]
  .drone.yml
Due: none

Delete trigger file [CI SKIP]
  ingest/trigger.me
Due: test-all, staging-build-ingest-service

Fix ingest drone + err handling (#59)
  .drone.yml
  chat-core/src/OpenAiEmbedFunc.test.ts
  chat-core/src/OpenAiEmbedFunc.ts
  chat-core/src/integrations/openai.test.ts
  chat-server/src/services/llm.test.ts
  ingest/src/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

implement CB feedback
  chat-core/src/DatabaseConnection.ts
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/processors/SearchBooster.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/index.ts
  chat-server/src/services/llm.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-31523) [UI] Replace custom components with LG Chat (#61)
  .drone.yml
  .npmrc
  chat-server.dockerfile
  chat-ui/package.json
  chat-ui/src/*.d.ts
  chat-ui/src/App.tsx
  chat-ui/src/ChatInput.module.css
  chat-ui/src/ChatInput.tsx
  chat-ui/src/Chatbot.module.css
  chat-ui/src/Chatbot.tsx
  chat-ui/src/CustomIcon.tsx
  chat-ui/src/IconInput.module.css
  chat-ui/src/IconInput.tsx
  chat-ui/src/LGMarkdown.tsx
  chat-ui/src/Message.module.css
  chat-ui/src/Message.tsx
  chat-ui/src/MessageList.module.css
  chat-ui/src/MessageList.tsx
  chat-ui/src/MongoDBLogo.tsx
  chat-ui/src/SuggestedPrompts.module.css
  chat-ui/src/SuggestedPrompts.tsx
  chat-ui/src/stories/Avatar.stories.ts
  chat-ui/src/stories/CallToActionInput.stories.ts
  chat-ui/src/stories/IconInput.stories.ts
  chat-ui/src/stories/LGMarkdown.stories.ts
  chat-ui/src/stories/Message.stories.ts
  chat-ui/src/stories/MessageRating.stories.ts
  chat-ui/src/stories/SuggestedPrompts.stories.ts
  ingest-service.dockerfile
  package-lock.json
Due: test-all, staging-build-chat-server

(DOCSP-31154) [UI] Handle timeout & "conversation too long" errors
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-ui/src/Chatbot.module.css
  chat-ui/src/Chatbot.tsx
  chat-ui/src/createMessage.ts
  chat-ui/src/services/conversations.ts
  chat-ui/src/useConversation.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server

fix silly lint error + qa conversation id
  chat-ui/src/Chatbot.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server

update test with new error message
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server

(DOCSP-31791): Boost manual in the results for short queries + make app config file (#63)
  chat-core/src/DatabaseConnection.test.ts
  chat-core/src/DatabaseConnection.ts
  chat-core/src/EmbeddedContent.ts
  chat-server/src/AppConfig.ts
  chat-server/src/aiConstants.ts
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/processors/SearchBooster.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.test.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/index.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/services/llm.test.ts
  chat-server/src/services/llm.ts
  chat-server/src/testHelpers.ts
  mongodb-atlas/README.md
  mongodb-atlas/add-search-index.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-31154) [UI] Handle timeout & "conversation too long" errors (#65)
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-ui/src/Chatbot.module.css
  chat-ui/src/Chatbot.tsx
  chat-ui/src/createMessage.ts
  chat-ui/src/services/conversations.ts
  chat-ui/src/useConversation.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server

Modify ui config for pre-release
  chat-ui/.release-it.json
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

bundle LG Chat with component lib
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

Implement page titles and prepending frontmatter to chunks
  chat-core/src/Page.ts
  ingest/package.json
  ingest/src/DevCenterDataSource.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/commands/embed.ts
  ingest/src/getChangedPages.test.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/updateEmbeddedContent.test.ts
  ingest/src/updatePages.test.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Implement updating front matter + tests
  chat-core/src/Page.ts
  ingest/package.json
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/commands/embed.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Leave title undefined if not specified by snooty data
  ingest/src/SnootyDataSource.ts
Due: test-all, staging-build-ingest-service

Fix JS error surfaced in the UI
  chat-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server

Fix JS error surfaced in the UI (#66)
  chat-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server

handle tables as HTML tables
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

start tests
  ingest/src/snootyAstToMd.test.ts
Due: test-all, staging-build-ingest-service

nested tables
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

cleanup
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

reduce amount of backoff on embedding
  chat-server/src/config.ts
Due: test-all, staging-build-chat-server

reduce flakiness + faster timeout when flaky
  chat-core/package.json
  chat-core/src/integrations/openai.ts
  chat-server/package.json
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/services/llm.test.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Implement page titles and prepending frontmatter to chunks (#64)
  chat-core/src/Page.ts
  ingest/package.json
  ingest/src/DevCenterDataSource.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/commands/embed.ts
  ingest/src/getChangedPages.test.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/updateEmbeddedContent.test.ts
  ingest/src/updatePages.test.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

fix test err
  chat-server/src/app.test.ts
Due: test-all, staging-build-chat-server

(DOCSP-31639): fix timeout err in tests (#70)
  chat-server/src/app.test.ts
Due: test-all, staging-build-chat-server

implement CB feedback
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
Due: test-all, staging-build-chat-server

(DOCSP-32066): Q&A server reduce amount of backoff on embedding (#68)
  chat-server/src/config.ts
Due: test-all, staging-build-chat-server

Fix list parsing within tables
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/sampleListTable.json
Due: test-all, staging-build-ingest-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
