Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

change sourceRegex filter to sourceType filter
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/mongoDbDatasetConstants.ts
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

functional if not pretty
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tools.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
  packages/mongodb-chatbot-server/src/processors/GenerateResponse.ts
  packages/mongodb-chatbot-server/src/processors/InputGuardrail.ts
  packages/mongodb-chatbot-server/src/processors/MakeReferenceLinksFunc.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/legacyGenerateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

lint
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add processing
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

mcp dir to init
  packages/mcp/.gitinclude
Due: test-all

[Demo] summarizing docset (#604)
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/generateDriverCode/practicalAggregationsSummary.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmarkScratchpad.ts
  packages/datasets/atlasVectorSearchSummary.md
  packages/datasets/kotlinDriverSummary.md
  packages/datasets/package.json
  packages/datasets/practicalAggregationsSummary_gpt-4o-mini.md
  packages/datasets/practicalAggregationsSummary_o3-mini.md
  packages/datasets/src/bin/summarizeAtlasVectorSearchDocs.ts
  packages/datasets/src/bin/summarizeKotlinDriverDocs.ts
  packages/datasets/src/bin/summarizePracticalAggregationsBook.ts
  packages/datasets/src/synthesizePages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

snooty toc 2 toc
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/sources/lib.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

create base MCP server w/ static resource example
  package-lock.json
  packages/mcp/dist/package.json
  packages/mcp/dist/src/helpers/EJsonTransport.js
  packages/mcp/dist/src/helpers/EJsonTransport.js.map
  packages/mcp/dist/src/helpers/packageInfo.js
  packages/mcp/dist/src/helpers/packageInfo.js.map
  packages/mcp/dist/src/helpers/resources.js
  packages/mcp/dist/src/helpers/resources.js.map
  packages/mcp/dist/src/index.js
  packages/mcp/dist/src/index.js.map
  packages/mcp/package.json
  packages/mcp/src/helpers/EJsonTransport.ts
  packages/mcp/src/helpers/resources.ts
  packages/mcp/src/index.ts
  packages/mcp/tsconfig.json
  packages/mcp/vector_search.md
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

max the prompts
  package-lock.json
  packages/ingest-mongodb-public/.gitignore
  packages/ingest-mongodb-public/maxxPrompts/atlasCli.md
  packages/ingest-mongodb-public/maxxPrompts/atlasVectorSearch.md
  packages/ingest-mongodb-public/maxxPrompts/kotlinCoroutineDriver.md
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/bin/makeAtlasCliMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeAtlasVectorSearchMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeKotlinDriverMaxxPrompt.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/LlmOptions.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/generatePageSummary.eval.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/generatePageSummary.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/generateSnootySiteMaxxPrompt.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/makeBulletPrompt.ts
  packages/ingest-mongodb-public/src/sources/snooty/getSnootyTableOfContents.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/getSnootyTableOfContents.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add additional resources
  packages/mcp/package.json
  packages/mcp/src/helpers/resourceHandler.ts
  packages/mcp/src/helpers/toolHandler.ts
  packages/mcp/src/index.ts
  packages/mcp/src/resources/atlas-cli.md
  packages/mcp/src/resources/kotlin-coroutine-driver.md
  packages/mcp/src/resources/vector-search.md
Due: test-all

prompt updates
  packages/ingest-mongodb-public/maxxPrompts/atlasSearch.md
  packages/ingest-mongodb-public/src/bin/makeAtlasSearchMaxxPrompt.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/generatePageSummary.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

site2summary (#714)
  package-lock.json
  packages/ingest-mongodb-public/.gitignore
  packages/ingest-mongodb-public/maxxPrompts/atlasCli.md
  packages/ingest-mongodb-public/maxxPrompts/atlasSearch.md
  packages/ingest-mongodb-public/maxxPrompts/atlasVectorSearch.md
  packages/ingest-mongodb-public/maxxPrompts/kotlinCoroutineDriver.md
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/bin/makeAtlasCliMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeAtlasSearchMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeAtlasVectorSearchMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeKotlinDriverMaxxPrompt.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/LlmOptions.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/generatePageSummary.eval.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/generatePageSummary.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/generateSnootySiteMaxxPrompt.ts
  packages/ingest-mongodb-public/src/prompt-maxxing/makeBulletPrompt.ts
  packages/ingest-mongodb-public/src/sources/lib.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/getSnootyTableOfContents.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/getSnootyTableOfContents.ts
  packages/ingest-mongodb-public/src/sources/snooty/index.ts
  packages/ingest-mongodb-public/src/sources/snooty/makeLlmsDotTxt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix resource path
  packages/mcp/.gitignore
  packages/mcp/dist/package.json
  packages/mcp/dist/src/helpers/EJsonTransport.js
  packages/mcp/dist/src/helpers/EJsonTransport.js.map
  packages/mcp/dist/src/helpers/packageInfo.js
  packages/mcp/dist/src/helpers/packageInfo.js.map
  packages/mcp/dist/src/helpers/resources.js
  packages/mcp/dist/src/helpers/resources.js.map
  packages/mcp/dist/src/index.js
  packages/mcp/dist/src/index.js.map
  packages/mcp/package.json
  packages/mcp/src/helpers/resourceHandler.ts
Due: test-all

Create base MCP server (#713)
  package-lock.json
  packages/mcp/.gitignore
  packages/mcp/package.json
  packages/mcp/src/helpers/EJsonTransport.ts
  packages/mcp/src/helpers/resourceHandler.ts
  packages/mcp/src/helpers/toolHandler.ts
  packages/mcp/src/index.ts
  packages/mcp/src/resources/atlas-cli.md
  packages/mcp/src/resources/kotlin-coroutine-driver.md
  packages/mcp/src/resources/vector-search.md
  packages/mcp/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

stream processing
  packages/ingest-mongodb-public/maxxPrompts/atlasStreamProcessing.md
  packages/ingest-mongodb-public/src/bin/makeAtlasCliMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeAtlasStreamProcessingPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeAtlasVectorSearchMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeKotlinDriverMaxxPrompt.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

stream processing (#718)
  packages/ingest-mongodb-public/maxxPrompts/atlasStreamProcessing.md
  packages/ingest-mongodb-public/src/bin/makeAtlasCliMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeAtlasStreamProcessingPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeAtlasVectorSearchMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeKotlinDriverMaxxPrompt.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

add tools - view guides, and use guides
  packages/mcp/src/helpers/resourceHandler.ts
  packages/mcp/src/helpers/toolHandler.ts
  packages/mcp/src/index.ts
Due: test-all

Create basic MCP tools (list docs guides, view docs guides) (#719)
  packages/mcp/src/helpers/resourceHandler.ts
  packages/mcp/src/helpers/toolHandler.ts
  packages/mcp/src/index.ts
Due: test-all

data modeling guide + code refactors
  packages/ingest-mongodb-public/maxxPrompts/dataModeling.md
  packages/ingest-mongodb-public/src/bin/makeDataModelingMaxxPrompt.ts
  packages/mcp/src/helpers/resourceHandler.ts
  packages/mcp/src/helpers/toolHandler.ts
  packages/mcp/src/resources/data-modeling.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Add cloud-dev origin for staging
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

wip
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/useConversationStateContext.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

mo stuff + refactors
  packages/ingest-mongodb-public/maxxPrompts/atlasSearch.md
  packages/ingest-mongodb-public/maxxPrompts/atlasSecurity.md
  packages/ingest-mongodb-public/src/bin/makeAtlasSecurityMaxxPrompt.ts
  packages/mcp/package.json
  packages/mcp/src/handlers/prompts.ts
  packages/mcp/src/handlers/resources.ts
  packages/mcp/src/handlers/staticDirPath.ts
  packages/mcp/src/handlers/tools.ts
  packages/mcp/src/helpers/EJsonTransport.ts
  packages/mcp/src/helpers/toolHandler.ts
  packages/mcp/src/index.ts
  packages/mcp/static/prompts/data-modeling.md
  packages/mcp/static/prompts/indexing.md
  packages/mcp/static/prompts/querying.md
  packages/mcp/static/prompts/security.md
  packages/mcp/static/resources/atlas-cli.md
  packages/mcp/static/resources/atlas-security.md
  packages/mcp/static/resources/atlas-stream-processing.md
  packages/mcp/static/resources/data-modeling.md
  packages/mcp/static/resources/kotlin-coroutine-driver.md
  packages/mcp/static/resources/vector-search.md
  packages/mcp/tsconfig.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

add content tools
  package-lock.json
  packages/mcp/.env.example
  packages/mcp/package.json
  packages/mcp/src/handlers/tools.ts
  packages/mcp/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fix env vars
  packages/mcp/src/index.ts
Due: test-all

Create 2 guides + improve tool descriptions
  packages/ingest-mongodb-public/maxxPrompts/aiIntegrations.md
  packages/ingest-mongodb-public/maxxPrompts/atlasClusters.md
  packages/ingest-mongodb-public/maxxPrompts/atlasVectorSearchPythonAndNode.md
  packages/ingest-mongodb-public/src/bin/makeAIIntegrationsMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeAtlasGetStartedMaxxPrompt.ts
  packages/mcp/src/handlers/tools.ts
  packages/mcp/static/resources/ai-integrations.md
  packages/mcp/static/resources/atlas-clusters.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

add vector search resource (python + node)
  packages/mcp/static/resources/vector-search-node-only.md
  packages/mcp/static/resources/vector-search.md
Due: test-all

fixes
  package-lock.json
  packages/ingest-mongodb-public/package.json
  packages/mcp/src/handlers/resources.ts
  packages/mcp/src/handlers/tools.ts
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

merge conflicts
  packages/mcp/src/handlers/resources.ts
  packages/mcp/src/handlers/tools.ts
Due: test-all

revert package changes
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

revert package changes 2
  packages/ingest-mongodb-public/package.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

more reconciling
  packages/mcp/src/handlers/tools.ts
Due: test-all

typo
  packages/mcp/src/handlers/resources.ts
  packages/mcp/src/handlers/tools.ts
Due: test-all

Add new guides (integrations, Atlas clusters) + improve tool descriptions (#720)
  package-lock.json
  packages/ingest-mongodb-public/maxxPrompts/aiIntegrations.md
  packages/ingest-mongodb-public/maxxPrompts/atlasClusters.md
  packages/ingest-mongodb-public/maxxPrompts/atlasVectorSearchPythonAndNode.md
  packages/ingest-mongodb-public/src/bin/makeAIIntegrationsMaxxPrompt.ts
  packages/ingest-mongodb-public/src/bin/makeAtlasGetStartedMaxxPrompt.ts
  packages/mcp/src/handlers/resources.ts
  packages/mcp/src/handlers/tools.ts
  packages/mcp/static/resources/ai-integrations.md
  packages/mcp/static/resources/atlas-clusters.md
  packages/mcp/static/resources/vector-search-node-only.md
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

pass config vars w/ args
  package-lock.json
  packages/mcp/package.json
  packages/mcp/src/handlers/resources.ts
  packages/mcp/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Env as args (#722)
  package-lock.json
  packages/mcp/package.json
  packages/mcp/src/handlers/resources.ts
  packages/mcp/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

get page bug fix
  packages/mcp/src/handlers/tools.ts
Due: test-all

fix stdio logging err
  packages/mcp/src/handlers/tools.ts
  packages/mcp/src/index.ts
Due: test-all

refine atlas get started guide + add prompt
  packages/ingest-mongodb-public/maxxPrompts/atlasClusters.md
  packages/ingest-mongodb-public/maxxPrompts/atlasGetStarted.md
  packages/ingest-mongodb-public/src/bin/makeAtlasGetStartedMaxxPrompt.ts
  packages/mcp/src/handlers/prompts.ts
  packages/mcp/src/handlers/resources.ts
  packages/mcp/src/handlers/tools.ts
  packages/mcp/static/resources/atlas-clusters.md
  packages/mcp/static/resources/atlas-get-started.md
  packages/mcp/static/resources/vector-search-node-only.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

refine atlas get started guide + add prompt (#724)
  packages/ingest-mongodb-public/maxxPrompts/atlasClusters.md
  packages/ingest-mongodb-public/maxxPrompts/atlasGetStarted.md
  packages/ingest-mongodb-public/src/bin/makeAtlasGetStartedMaxxPrompt.ts
  packages/mcp/src/handlers/prompts.ts
  packages/mcp/src/handlers/resources.ts
  packages/mcp/src/handlers/tools.ts
  packages/mcp/static/resources/atlas-clusters.md
  packages/mcp/static/resources/atlas-get-started.md
  packages/mcp/static/resources/vector-search-node-only.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

create the prompt that was missing
  packages/mcp/static/prompts/get-started.md
Due: test-all
