Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

lock fix
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Unit test change
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1233): NL2AS Generate text agent (#885)
  package-lock.json
  packages/benchmarks/src/cli/benchmarkCli.test.ts
  packages/benchmarks/src/cli/benchmarkCli.ts
  packages/benchmarks/src/textToDriver/TextToDriverEnvVars.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateAtlasSearchCodeAgentic.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/atlasSearch.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/mongoDbMcpAgent.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/tools/getAtlasSearchIndexes.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/tools/submitFinalSolution.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/tools/think.ts
  packages/benchmarks/src/textToDriver/nltoAtlasSearchBenchmarkConfig.ts
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.test.ts
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/aiSdk.ts
  packages/mongodb-rag-core/src/braintrust.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

update lock
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

config
  packages/datasets/src/treeGeneration/TreeGenerationConfig.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Lint + reduce test time
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1268) Fix guardrail race condition (x2!) (#888)
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Mercury analysis 2
  packages/mercury-case-analysis/src/analyzeCases.ts
  packages/scripts/src/mercuryAnalysis.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

update package-lock.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add models
  packages/benchmarks/src/benchmarkModels.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Install jsdom dependency for handleHtmlDocument
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Propagate last commit up
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Also add jsdom to ui pacakge
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

checkpoint
  packages/datasets/src/treeGeneration/TreeGenerationConfig.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.atlasSearch.eval.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Update package-lock.json (#890)
  package-lock.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Reorder CSV columns
  packages/scripts/src/mercuryAnalysis.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Add labels to origin rules & use those for formatting user msg frontmatter
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.ts
  packages/mongodb-chatbot-server/src/processors/addCustomData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Release chatbot-server-mongodb-public v0.24.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

PR review - update name
  packages/mongodb-chatbot-server/src/processors/addCustomData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

PR review changes
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.test.ts
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

reduce in oneline
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1149, EAI-1259) Updates to user message front matter (#892)
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.test.ts
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.ts
  packages/mongodb-chatbot-server/src/processors/addCustomData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Update eval cases based on front matter changes
  packages/chatbot-server-mongodb-public/evalCases/internal_tools_conversations.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

context engineering guide
  docs/docs/server/context-engineering.md
  docs/docs/server/evaluation.md
  docs/sidebars.ts
Due: none

add classifyCategories function for llm scorecard
  packages/scripts/src/llm-scorecard/classifyCategories.ts
  packages/scripts/src/llm-scorecard/examples/categories.csv
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1119) profound answers script (#805)
  packages/scripts/package.json
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(New package) Mercury case analysis (#876)
  package-lock.json
  packages/scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add tags to CSV
  package-lock.json
  packages/scripts/src/mercuryAnalysis.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Mercury QA script
  packages/scripts/package.json
  packages/scripts/src/mercuryData.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

new rate and comment endpoints based only on message id
  docs/docs/server/openapi.yaml
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

more docs update
  docs/docs/server/responses-api.md
Due: none

new verified answers for deprecated AAS services
  verified-answers.yaml
Due: none

evaluation guide
  docs/docs/server/evaluation.md
Due: none

Mercury Evaluate LLMs
  package-lock.json
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/index.ts
  packages/benchmarks/src/nlPromptResponse/metrics.ts
  packages/scripts/package.json
  packages/scripts/src/mercury/database.ts
  packages/scripts/src/mercury/errors.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/models.ts
  packages/scripts/src/mercury/utils.ts
  packages/scripts/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fetch_page fallback disclaimer instruction
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Remove unused str & tweaks to make prompt encapsulate successful fetch_page calls
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release ingest-mongodb-public v0.17.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Evaluate LLMs
  packages/scripts/package.json
  packages/scripts/src/mercury/database.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/models.ts
  packages/scripts/src/mercury/utils.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

hardcode platforms for now
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

update eval scripts
  packages/scripts/src/mercury/database.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service
