Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

(EAI-571) [UI] Support creating conversation on first message
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/conversationStore.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

lint fix
  packages/ingest-mongodb-public/src/sources/snooty/truncateEmbeddings.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

comment explaining regex
  packages/ingest-mongodb-public/src/sources/snooty/truncateEmbeddings.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-626): Send slack message on user comment to feedback channel (#601)
  package-lock.json
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractSampleMessages.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix build err
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelog.ts
Due: test-all

(EAI-649): Draft code example classifier type (#595)
  packages/datasets/.env.example
  packages/datasets/src/classifyCodeExampleDocsTeam.eval.ts
  packages/datasets/src/classifyCodeExampleDocsTeam.ts
  packages/mongodb-artifact-generator/src/chat/makeClassifierWithLogger.ts
  packages/mongodb-artifact-generator/src/commands/generateReleaseNotes.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogAudience.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogScope.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/makeClassifier.test.ts
  packages/mongodb-rag-core/src/makeClassifier.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add nonProd util & update call sites
  packages/mongodb-chatbot-ui/src/conversationStore.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/utils.test.ts
  packages/mongodb-chatbot-ui/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add tests for null conversationId in addMessage methods
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-571) [UI] Support creating conversation on first message (#603)
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/conversationStore.ts
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/utils.test.ts
  packages/mongodb-chatbot-ui/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release mongodb-chatbot-server v0.10.0
  package-lock.json
  packages/mongodb-chatbot-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release mongodb-chatbot-ui v0.11.0
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release mongodb-rag-core v0.5.0
  package-lock.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release mongodb-rag-ingest v0.3.0
  package-lock.json
  packages/mongodb-rag-ingest/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

demo
  package-lock.json
  packages/datasets/atlasVectorSearchSummary.md
  packages/datasets/package.json
  packages/datasets/src/bin/summarizeAtlasVectorSearchDocs.ts
  packages/datasets/src/synthesizePages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

set up mongo-memory-server connection globally for tests
  packages/mongodb-rag-core/jest.config.cjs
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/test/constants.ts
  packages/mongodb-rag-core/src/test/globalSetup.ts
  packages/mongodb-rag-core/src/test/globalTeardown.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

lint
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/test/constants.ts
  packages/mongodb-rag-core/src/test/globalSetup.ts
  packages/mongodb-rag-core/src/test/globalTeardown.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

typing and cleanup
  packages/mongodb-rag-core/src/test/globalSetup.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

typing
  packages/mongodb-rag-core/src/test/globalSetup.ts
  packages/mongodb-rag-core/src/test/globalTeardown.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

re-org test hooks
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

cleanup
  packages/mongodb-rag-core/src/test/globalSetup.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-393) [UI] Chat window scrolls to bottom on copy button hover
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

mdb server creation in globalSetup for tests applied to other packages
  packages/benchmarks/jest.config.cjs
  packages/benchmarks/src/test/constants.ts
  packages/benchmarks/src/test/globalSetup.ts
  packages/benchmarks/src/test/globalTeardown.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
  packages/mongodb-rag-ingest/jest.config.cjs
  packages/mongodb-rag-ingest/src/commands/all.test.ts
  packages/mongodb-rag-ingest/src/test/constants.ts
  packages/mongodb-rag-ingest/src/test/globalSetup.ts
  packages/mongodb-rag-ingest/src/test/globalTeardown.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Apply suggestions from code review
  packages/ingest-mongodb-public/src/sources/snooty/truncateEmbeddings.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Truncate embeddings (#602)
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/truncateEmbeddings.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/truncateEmbeddings.ts
  packages/ingest-mongodb-public/testData/pageWithEmbeddings.md
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-393) [UI] Chat window scrolls to bottom on copy button hover (#606)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

mdb server creation in globalSetup for tests applied to mongodb-chatbot-server
  packages/mongodb-chatbot-server/jest.config.json
  packages/mongodb-chatbot-server/src/test/constants.ts
  packages/mongodb-chatbot-server/src/test/globalSetup.ts
  packages/mongodb-chatbot-server/src/test/globalTeardown.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-655) fix mongo-memory-server test flakiness (#605)
  packages/benchmarks/jest.config.cjs
  packages/benchmarks/src/test/constants.ts
  packages/benchmarks/src/test/globalSetup.ts
  packages/benchmarks/src/test/globalTeardown.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
  packages/mongodb-chatbot-server/jest.config.json
  packages/mongodb-chatbot-server/src/test/constants.ts
  packages/mongodb-chatbot-server/src/test/globalSetup.ts
  packages/mongodb-chatbot-server/src/test/globalTeardown.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-rag-core/jest.config.cjs
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/test/constants.ts
  packages/mongodb-rag-core/src/test/globalSetup.ts
  packages/mongodb-rag-core/src/test/globalTeardown.ts
  packages/mongodb-rag-ingest/jest.config.cjs
  packages/mongodb-rag-ingest/src/commands/all.test.ts
  packages/mongodb-rag-ingest/src/test/constants.ts
  packages/mongodb-rag-ingest/src/test/globalSetup.ts
  packages/mongodb-rag-ingest/src/test/globalTeardown.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update
  packages/datasets/kotlinDriverSummary.md
  packages/datasets/package.json
  packages/datasets/src/bin/summarizeAtlasVectorSearchDocs.ts
  packages/datasets/src/bin/summarizeKotlinDriverDocs.ts
Due: test-all

update prod env
  packages/chatbot-server-mongodb-public/environments/production.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

processing sitemap for full directory urls, processing some additional urls
  package-lock.json
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/sources/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Re-add regular jira fetch
  packages/mongodb-artifact-generator/src/release-notes/getReleaseArtifacts.ts
Due: test-all

Migrator release notes generator (#608)
  packages/mongodb-artifact-generator/context/release-notes/migrator-releaseInfo.yaml
  packages/mongodb-artifact-generator/src/release-notes/getReleaseArtifacts.ts
  packages/mongodb-artifact-generator/src/release-notes/github.ts
  packages/mongodb-artifact-generator/src/release-notes/jira.ts
Due: test-all

Add mongosh config
  packages/mongodb-artifact-generator/context/release-notes/mongosh-releaseInfo.yaml
Due: test-all

(EAI-651) Source mongosh Release Artifacts (#609)
  packages/mongodb-artifact-generator/context/release-notes/mongosh-releaseInfo.yaml
Due: test-all

update prod env (#607)
  packages/chatbot-server-mongodb-public/environments/production.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release chatbot-server-mongodb-public v0.15.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix potential race condition
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
Due: test-all

Fix race condition in CI (#610)
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
Due: test-all

Release chatbot-server-mongodb-public v0.15.1
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

all urls
  packages/ingest-mongodb-public/src/sources/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public
