Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

Release mongodb-chatbot-ui v0.10.1
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

implementing suggestions for parameter naming and typing
  packages/mongodb-rag-ingest/src/Config.ts
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.test.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

tweak evals
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

tweak evals 2
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fuzzy agg
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.test.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.ts
Due: test-all

(EAI-564): Widen guardrail prompt for general programming questions (#535)
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Update packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
Due: test-all

implement NL feedback
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.test.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
Due: test-all

Update packages/benchmarks/src/textToDriver/evalTypes.ts
  packages/benchmarks/src/textToDriver/evalTypes.ts
Due: test-all

addressed PR feedback for tests
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add pre and post processing on find content func
  packages/mongodb-rag-core/src/FindContentFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-538): Braintrust eval orchestration for text to node driver (#511)
  package-lock.json
  packages/benchmarks/.env.example
  packages/benchmarks/package.json
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/radiantModels.ts
  packages/benchmarks/src/textToDriver/evalTypes.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/index.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/nodeJs.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.test.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
  packages/benchmarks/src/textToDriver/makeDatabases/index.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/notebooks/extract_eval_cases.ipynb
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-473) Ingest OM/CM Docs (#492)
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/ingest-mongodb-public/src/sources/snooty.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Use full ingest and eval config instead of om/cm
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/ingest-mongodb-public/src/sources/snooty.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-575) [UI] Message Metadata Merging
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update metadata
  packages/mongodb-rag-core/src/FindContentFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

split retriever to separate file
  packages/mongodb-rag-core/src/Retriever.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Reconcile merge funk
  package-lock.json
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

linting
  packages/mongodb-rag-ingest/src/Config.ts
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.test.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

only few models activated
  packages/benchmarks/src/radiantModels.ts
Due: test-all

Fix conversation context provider
  packages/mongodb-chatbot-ui/src/ConversationProvider.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

execute code w/ comments
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
Due: test-all

handle parallel execution issues better
  packages/benchmarks/src/radiantModels.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
Due: test-all

(EAI-575) [UI] Message Metadata Merging (#536)
  packages/mongodb-chatbot-ui/src/ConversationProvider.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

refactor tests to use beforeEach and reuse mocks between tests
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Release ingest-mongodb-public v0.6.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

refactoring
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

changed import to avoid eslint no-var-requires err
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

more model provider support
  packages/benchmarks/.env.example
  packages/benchmarks/src/discovery.config.ts
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/pipelines/discoveryEval.ts
  packages/benchmarks/src/pipelines/discoveryEvalToBraintrust.ts
  packages/benchmarks/src/pipelines/quizEval.ts
  packages/benchmarks/src/pipelines/quizEvalToBraintrust.ts
  packages/benchmarks/src/quizEval.config.ts
  packages/benchmarks/src/radiantModels.test.ts
  packages/benchmarks/src/radiantModels.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
Due: test-all

add authorized models
  packages/benchmarks/src/models.ts
Due: test-all

azure openai at top like before
  packages/benchmarks/src/models.ts
Due: test-all

refine fuzzy match logic
  packages/benchmarks/src/textToDriver/fuzzyMatch.test.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.ts
Due: test-all

extract cdoe from md
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/textToDriver/evalTypes.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
  packages/benchmarks/src/textToDriver/extractCodeFromMarkdown.test.ts
  packages/benchmarks/src/textToDriver/extractCodeFromMarkdown.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.test.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
Due: test-all

clean up
  packages/benchmarks/src/textToDriver/extractCodeFromMarkdown.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/nodeJs.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
Due: test-all

setup for official run
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
Due: test-all

(EAI-536): Text-to-driver evaluation metrics (#514)
  package-lock.json
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.test.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-418): use concurrency when ingesting and embedding (#509)
  package-lock.json
  packages/mongodb-rag-ingest/package.json
  packages/mongodb-rag-ingest/src/Config.ts
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.test.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Combine redundant messageLinks tests
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
  packages/mongodb-chatbot-ui/src/messageLinks.test.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add missing import
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-383) Fetch & Refine Top 250 Jira Tickets
  package-lock.json
  packages/mongodb-artifact-generator/package.json
  packages/mongodb-artifact-generator/src/ArtifactGeneratorEnvVars.ts
  packages/mongodb-artifact-generator/src/chat/makeGeneratePrompts.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateResponse.ts
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.test.ts
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.ts
  packages/mongodb-artifact-generator/src/chat/utils.test.ts
  packages/mongodb-artifact-generator/src/chat/utils.ts
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
  packages/mongodb-artifact-generator/src/jiraPromptResponse/examples/ADMIN-10208.json
  packages/mongodb-artifact-generator/src/jiraPromptResponse/examples/WORKPLACE-119.json
  packages/mongodb-artifact-generator/src/jiraPromptResponse/topIssues.json
  packages/mongodb-artifact-generator/src/runId.test.ts
  packages/mongodb-artifact-generator/src/runId.ts
  packages/mongodb-artifact-generator/src/runlogger.ts
  packages/mongodb-artifact-generator/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval
