Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*

trigger ingest build
  ingest/trigger.me
Due: test-all, staging-build-ingest-service

[DOCSP-32954] feat(devcenter-chatbot): Connect to backend to create a conversation and add messages
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Fix merge issues
  chat-ui/src/App.tsx
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Fix PR Test issues
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server

new commit for build
  ingest/trigger.me
Due: test-all, staging-build-ingest-service

Release 0.1.0
  chat-server/package-lock.json
  chat-server/package.json
Due: test-all, staging-build-chat-server

add lock file
  package-lock.json
Due: none

chat server v0.1.0 (#170)
  chat-server/package-lock.json
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Add margin-left to message_prompts
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Add margin-top to ratings
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-33059) [UI] Fix suggested prompts & other LG Chat tweaks
  chat-ui/package.json
  chat-ui/src/App.module.css
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputBar.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

add OSS_TODOs
  chat-core/src/DatabaseConnection.ts
  chat-core/src/EmbedFunc.ts
  chat-core/src/EmbeddedContent.ts
  chat-core/src/OpenAiEmbedFunc.ts
  chat-core/src/Page.ts
  chat-core/src/integrations/mongodb.ts
  chat-server/src/app.ts
  chat-server/src/processors/QueryPreprocessorFunc.ts
  chat-server/src/processors/SearchBooster.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/conversations.ts
  chat-server/src/services/dataStreamer.ts
  chat-server/src/services/openAiChatLlm.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

remove unused dep
  chat-ui/package.json
  chat-ui/src/App.module.css
  package-lock.json
Due: test-all, staging-build-chat-server

(DOCSP-33059) [UI] Fix suggested prompts & other LG Chat tweaks (#171)
  chat-ui/package.json
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputBar.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

Release chat-ui-v0.0.6
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

Ingest release 0.1.0
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service

Ingest release 0.1.0 (#174)
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service

Save conversation embeddings
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server

Add test
  chat-server/src/services/conversations.test.ts
Due: test-all, staging-build-chat-server

(DOCSP-33094): Save conversation embeddings (#175)
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server

Remove extra padding around initial input
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

Provide data provider interface
  dashboard/.eslintrc.cjs
  dashboard/src/ChatbotDataProvider.ts
  dashboard/src/DataProvider.ts
Due: none

[DOCSP-32954] feat(devcenter-chatbot): Enable Rating and Add Disclaimer
  chat-ui/package.json
  chat-ui/src/DevCenterChatbot.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Fix Test Issue
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/UserContext.tsx
  chat-ui/src/types.ts
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Pass user as prop
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/UserContext.tsx
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Remove unnecessary files
  chat-ui/src/types.ts
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Add Character Count
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Fix Test Issue
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/UserContext.tsx
  chat-ui/src/UserProvider.tsx
  chat-ui/src/useUser.ts
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Remove comment
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Fix Test Issue
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server

Resolve merge issue
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

Fix bad typing of GetListResult
  dashboard/src/App.tsx
  dashboard/src/DataProvider.ts
Due: none

Add scrub message script
  package-lock.json
  scripts/.env.example
  scripts/.eslintrc.cjs
  scripts/package.json
  scripts/src/createQualityTestsYaml.ts
  scripts/src/scrubMessages.ts
  scripts/tsconfig.json
Due: none

Re-implement as aggregation (courtesy of Nick Larew)
  scripts/src/scrubMessages.ts
Due: none

Add scrub message script (#177)
  package-lock.json
  scripts/.env.example
  scripts/.eslintrc.cjs
  scripts/package.json
  scripts/src/createQualityTestsYaml.ts
  scripts/src/scrubMessages.ts
  scripts/tsconfig.json
Due: none

remove seed-content
  chat-server/.gitignore
  lerna.json
  package-lock.json
  package.json
  seed-content/.gitignore
  seed-content/babel.config.js
  seed-content/package.json
  seed-content/src/index.ts
  seed-content/src/transformSample.ts
  seed-content/tsconfig.json
Due: test-all, staging-build-chat-server

Remove `seed-content` package (#157)
  chat-server/.gitignore
  lerna.json
  package-lock.json
  package.json
  seed-content/.gitignore
  seed-content/babel.config.js
  seed-content/package.json
  seed-content/src/index.ts
  seed-content/src/transformSample.ts
  seed-content/tsconfig.json
Due: test-all, staging-build-chat-server
