Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npx playwright install chromium --with-deps
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chatbot-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-ingest-coach-gtm:
  steps:
  - name: publish-staging-ingest-coach-gtm
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-coach-gtm:
  steps:
  - name: deploy-staging-ingest-coach-gtm
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-coach-gtm-staging
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

(EAI-1190) fix eval experiments (#845)
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/allScorersTest.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/architectureCenter.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/customSystemPrompt.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/dotcomQuestionsTest.eval.ts
  packages/chatbot-server-mongodb-public/src/tools/search.eval.ts
  packages/mongodb-rag-core/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

orchestrate conversation evals from one file & custom system prompt eval
  packages/chatbot-server-mongodb-public/evalCases/system_prompt_conversations.yml
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/architectureCenter.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/customSystemPrompt.eval.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Update packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1210): Update tracing on Responses API (#862)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/addMessageToConversation.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/addMessageToConversation.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/commentMessage.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/index.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/rateMessage.ts
  packages/mongodb-chatbot-server/src/processors/UpdateTraceFunc.ts
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/index.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

tool evals + metric
  packages/chatbot-server-mongodb-public/evalCases/custom_tool_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/generate_response_with_tools.yml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

dataset python script
  packages/datasets/.env.example
  packages/datasets/.gitignore
  packages/datasets/.python-version
  packages/datasets/mongodb_datasets/__init__.py
  packages/datasets/mongodb_datasets/config.py
  packages/datasets/mongodb_datasets/import_wikipedia.py
  packages/datasets/pyproject.toml
  packages/datasets/uv.lock
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

fix
  packages/datasets/mongodb_datasets/atlas_search_dataset_index.jsonc
  packages/datasets/mongodb_datasets/import_wikipedia.py
  packages/datasets/pyproject.toml
  packages/datasets/uv.lock
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1247) Prometheus alerts for 429 rate limit errors
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

consistent windows
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix dataset upload
  packages/datasets/README.md
  packages/datasets/mongodb_datasets/atlas_search_dataset_index.jsonc
  packages/datasets/mongodb_datasets/import_wikipedia.py
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

updated list of blog urls
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Strengthen eval cases + remove duplicate file
  packages/chatbot-server-mongodb-public/evalCases/custom_tool_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/generate_response_with_tools.yml
  packages/chatbot-server-mongodb-public/evalCases/system_prompt_conversations.yml
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Couple more tool cases & System prompt improvement
  packages/chatbot-server-mongodb-public/evalCases/generate_response_with_tools.yml
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

return metadata.conversation_id
  docs/docs/server/openapi.yaml
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1189): Stream Responses API verified answer metadata (#863)
  docs/docs/server/openapi.yaml
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

docker fix
  chat-server.dockerfile
Due: none

build on dockerfiles
  .drone.yml
Due: test-all

publish on dockerfile updates
  .drone.yml
Due: test-all

build all packages for scripts
  scripts-service.dockerfile
Due: none

fix broken tests
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

trigger server build
  packages/chatbot-server-mongodb-public/README.md
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

checkpoint
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/mcp.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

checkpoint
  package-lock.json
  packages/benchmarks/src/bin/mongoDbBenchmarkCli.ts
  packages/benchmarks/src/nlToMql/generateDriverCode/atlasSearchAgent.ts
  packages/benchmarks/src/nlToMql/generateDriverCode/languagePrompts/atlasSearch.ts
  packages/benchmarks/src/nlToMql/generateDriverCode/mongoDbMcpAgent.ts
  packages/benchmarks/src/nlToMql/nlToMongoshBenchmarkConfig.ts
  packages/benchmarks/src/nlToMql/nltoAtlasSearchBenchmarkConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix broken test
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Support tool calls in input messages. Multiturn conversation cases
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/custom_tool_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/system_prompt_conversations.yml
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Remove dupe code
  packages/chatbot-server-mongodb-public/src/eval/experiments/customSystemPrompt.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1250): Return `metadata.conversation_id` (#867)
  docs/docs/server/openapi.yaml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

checkpoint
  packages/benchmarks/src/nlToMql/generateDriverCode/mongoDbMcpAgent.ts
  packages/mongodb-rag-core/src/mcp.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

support 50 user messages in convo:wq
  docs/docs/server/openapi.yaml
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

revert docs change
  docs/docs/server/openapi.yaml
Due: none

Update docs/docs/server/openapi.yaml
  docs/docs/server/openapi.yaml
Due: none

Support 50 user messages in Responses API convo (#869)
  docs/docs/server/openapi.yaml
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

generate with vercel sdk w/ braintrust proxy
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release chatbot-server-mongodb-public v0.23.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

PR review: metadata & tool param order
  packages/chatbot-server-mongodb-public/evalCases/custom_tool_conversations.yml
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Deploy website - based on 8abc4f130291e2ef4a90a3a82713edd8d7f480ce
  404.html
  assets/js/426b650c.105a3ec3.js
  assets/js/426b650c.2cb3ea15.js
  assets/js/47986684.d1942053.js
  assets/js/47986684.d6adf645.js
  assets/js/8e875b0a.3920a6a8.js
  assets/js/8e875b0a.d0917852.js
  assets/js/99441d91.d0523f54.js
  assets/js/99441d91.d16b8466.js
  assets/js/ae9173d0.26d7df20.js
  assets/js/ae9173d0.b36dce73.js
  assets/js/main.feb0c02d.js
  assets/js/main.feecdc9b.js
  assets/js/main.feecdc9b.js.LICENSE.txt
  assets/js/runtime~main.3796a6a1.js
  assets/js/runtime~main.e1f59d8b.js
  contact/index.html
  data-sources/index.html
  datasets/index.html
  framework/index.html
  index.html
  redocusaurus/plugin-redoc-0.yaml
  reference/index.html
  reference/ui/classes/ConversationService/index.html
  reference/ui/classes/RetriableError/index.html
  reference/ui/classes/TimeoutError/index.html
  reference/ui/index.html
  reference/ui/modules/index.html
  server/openapi/index.html
  ui/index.html
Due: none

fix spec name
  docs/docs/server/openapi.yaml
Due: none

Deploy website - based on cbdb1efb5f620c2acd19e9d3b5df25b89617cd6e
  404.html
  assets/js/426b650c.2cb3ea15.js
  assets/js/426b650c.d3f16358.js
  assets/js/47986684.d6adf645.js
  assets/js/47986684.d6b201df.js
  assets/js/8e875b0a.3920a6a8.js
  assets/js/8e875b0a.9f5fa315.js
  assets/js/99441d91.2742b0d8.js
  assets/js/99441d91.d0523f54.js
  assets/js/ae9173d0.26d7df20.js
  assets/js/ae9173d0.76662fdc.js
  assets/js/main.225f6ed2.js
  assets/js/main.225f6ed2.js.LICENSE.txt
  assets/js/main.feecdc9b.js
  assets/js/runtime~main.3796a6a1.js
  assets/js/runtime~main.7258aff7.js
  contact/index.html
  data-sources/index.html
  datasets/index.html
  framework/index.html
  index.html
  redocusaurus/plugin-redoc-0.yaml
  reference/index.html
  reference/ui/classes/ConversationService/index.html
  reference/ui/classes/RetriableError/index.html
  reference/ui/classes/TimeoutError/index.html
  reference/ui/index.html
  reference/ui/modules/index.html
  server/openapi/index.html
  ui/index.html
Due: none

Fix build issue, rename to "internal" tools, linting
  packages/chatbot-server-mongodb-public/evalCases/custom_tool_conversations.yml
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/allScorersTest.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/architectureCenter.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/dotcomQuestionsTest.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/skillsQuestionsTest.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
