Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npx playwright install chromium --with-deps
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chatbot-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-ingest-coach-gtm:
  steps:
  - name: publish-staging-ingest-coach-gtm
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-coach-gtm:
  steps:
  - name: deploy-staging-ingest-coach-gtm
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-coach-gtm-staging
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

Pass internal tools as a list instead of individually
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

lint from ci hopefully
  package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

newer node
  .drone.yml
Due: test-all

core import ix
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.test.ts
  packages/mongodb-rag-core/src/executeCode/profileMongoshQuery.test.ts
  packages/mongodb-rag-core/src/models/models.test.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix broken test
  package.json
  packages/mongodb-rag-core/src/executeCode/prettyPrintMongoDbDocument.test.ts
  tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix broken test
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
  tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

fix build err
  packages/mercury-case-analysis/src/index.ts
Due: test-all

build fix
  packages/chatbot-server-mongodb-public/src/lib.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Make internalTools more type safe, remove redundant var, fix tests
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Clarify some wording
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

all builds
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/middleware/redactConnectionUri.test.ts
  packages/chatbot-server-mongodb-public/src/middleware/useSegmentIds.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.ts
  packages/datasets/package.json
  packages/datasets/src/treeGeneration/generateChildren.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/mercury-case-analysis/src/rating.ts
  packages/mercury-case-analysis/src/suggestRewrite.ts
  packages/mongodb-artifact-generator/src/withConfig.ts
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/dataSources/AcquitRequireMdOnGithubDataSource.test.ts
  packages/mongodb-rag-core/src/dataSources/AcquitRequireMdOnGithubDataSource.ts
  packages/mongodb-rag-core/src/dataSources/GitDataSource.ts
  packages/mongodb-rag-core/src/dataSources/GitHubDataSource.ts
  packages/mongodb-rag-core/src/embed/LangChainEmbedder.test.ts
  packages/mongodb-rag-core/src/embed/LangChainEmbedder.ts
  packages/mongodb-rag-core/src/embed/index.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/getOpenAiFunctionResponse.ts
  packages/mongodb-rag-core/src/langchain.ts
  packages/mongodb-rag-core/src/makeClassifier.ts
  packages/mongodb-rag-ingest/src/withConfig.ts
  packages/scripts/package.json
  packages/scripts/src/main/verifiedAnswersCsvToYamlMain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add package fixes
  package-lock.json
  package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

no lint on CI
  .drone.yml
Due: test-all

core fixes
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.test.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.test.ts
  packages/mongodb-rag-core/src/executeCode/prettyPrintMongoDbDocument.test.ts
  packages/mongodb-rag-core/src/executeCode/profileMongoshQuery.test.ts
  packages/mongodb-rag-core/src/models/models.test.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix test errs
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToOpenApiSpec.test.ts
  packages/mongodb-chatbot-server/src/middleware/requireValidIpAddress.test.ts
  packages/mongodb-chatbot-server/src/middleware/validateRequestSchema.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service

fix mocks
  packages/datasets/src/treeGeneration/generateChildren.test.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

fix broken tests
  packages/ingest-mongodb-public/src/test/jestSetUp.ts
  packages/mongodb-chatbot-server/src/middleware/requireRequestOrigin.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service

fix test errs
  packages/chatbot-server-mongodb-public/src/test/jestSetUp.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Store both fetch_page and search_content metadata
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Define interface for tool call customData
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Mercury Evaluate LLMs
  package-lock.json
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/index.ts
  packages/benchmarks/src/nlPromptResponse/metrics.ts
  packages/scripts/package.json
  packages/scripts/src/mercury/database.ts
  packages/scripts/src/mercury/errors.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/models.ts
  packages/scripts/src/mercury/utils.ts
  packages/scripts/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

hardcode platforms for now
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Evaluate LLMs
  packages/scripts/package.json
  packages/scripts/src/mercury/database.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/models.ts
  packages/scripts/src/mercury/utils.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

update eval scripts
  packages/scripts/src/mercury/database.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Mercury pipeline updates
  package-lock.json
  packages/scripts/package.json
  packages/scripts/src/mercury/database.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/utils.ts
  packages/scripts/src/profound/getAndProcessAnswers.ts
  packages/scripts/src/profound/profoundAPI.ts
  packages/scripts/src/profound/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Models to shared folder
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/models.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Split evaluateLlm core
  packages/scripts/src/mercury/README.md
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/evaluationCore.integration.test.ts
  packages/scripts/src/mercury/evaluationCore.test.ts
  packages/scripts/src/mercury/evaluationCore.ts
  packages/scripts/src/mercury/examples/customEvaluation.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

map profound prompt IDs
  packages/scripts/package.json
  packages/scripts/src/profound/mapProfoundPromptIds.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

split mercury eval core, add tests, make fuzzy prompt
  packages/scripts/package.json
  packages/scripts/src/mercury/createFuzzyPrompts.ts
  packages/scripts/src/mercury/evaluationCore.integration.test.ts
  packages/scripts/src/mercury/evaluationCore.ts
  packages/scripts/src/mercury/examples/customEvaluation.ts
  packages/scripts/src/mercury/models.ts
  packages/scripts/src/profound/getAndProcessAnswers.ts
  packages/scripts/src/test/README.md
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

wip
  packages/scripts/package.json
  packages/scripts/src/profound/mapProfoundPromptIds.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Update package-lock
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add date range + other tweaks
  packages/scripts/src/mercury/errors.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/utils.ts
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

fix date tz + better errors & skipping
  packages/scripts/src/mercury/database.ts
  packages/scripts/src/mercury/errors.ts
  packages/scripts/src/profound/getAndProcessAnswers.ts
  packages/scripts/src/profound/profoundAPI.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

still wip - date nonsense
  packages/scripts/src/profound/getAndProcessAnswers.ts
  packages/scripts/src/profound/utils.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

date stuff
  packages/scripts/src/profound/getAndProcessAnswers.ts
  packages/scripts/src/profound/utils.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Compass PDP verified answers
  verified-answers.yaml
Due: none

Fix LB text in verified answers
  verified-answers.yaml
Due: none

Map youtube reference links to video sourceType
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
