Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    settings:
      dockerfile: chat-server.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-chat-server
      tags:
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    settings:
      dockerfile: ingest-service.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-ingest-service
      tags:
  ...

Switch css to Emotion
  chat-ui/package.json
  chat-ui/src/Chatbot.module.css
  chat-ui/src/Chatbot.tsx
  chat-ui/src/SuggestedPrompts.module.css
  chat-ui/src/SuggestedPrompts.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

Update Chat UI packaging
  chat-ui/package.json
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/ConversationProvider.tsx
  chat-ui/src/SuggestedPrompts.tsx
  chat-ui/src/index.tsx
  chat-ui/src/useConversation.tsx
  chat-ui/tsconfig.declarations.json
  package-lock.json
Due: test-all, staging-build-chat-server

Ignore irrelevant lint error in index file
  chat-ui/src/index.tsx
Due: test-all, staging-build-chat-server

Update ingest/src/snootyAstToMd.ts
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

Implement multiple header rows (??)
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

Update Chat UI Packaging (#71)
  chat-ui/package.json
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.module.css
  chat-ui/src/Chatbot.tsx
  chat-ui/src/ConversationProvider.tsx
  chat-ui/src/SuggestedPrompts.module.css
  chat-ui/src/SuggestedPrompts.tsx
  chat-ui/src/index.tsx
  chat-ui/src/useConversation.tsx
  chat-ui/tsconfig.declarations.json
  package-lock.json
Due: test-all, staging-build-chat-server

add frontmatterUpdater() to chat-core
  chat-core/package.json
  chat-core/src/index.ts
  chat-core/src/updateFrontmatter.test.ts
  chat-core/src/updateFrontmatter.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

add 1 word expansion
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
Due: test-all, staging-build-chat-server

make llm preprocessor
  chat-server/package.json
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.ts
  chat-server/src/processors/QueryPreprocessorFunc.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/src/utils.ts
  package-lock.json
Due: test-all, staging-build-chat-server

Add todo
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
Due: test-all, staging-build-chat-server

append metadata to vector search query
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
Due: test-all, staging-build-chat-server

hook up preprocessor to chat
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/processors/QueryPreprocessorFunc.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/index.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server

test non-processing negative response
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server

trigger rebuild
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server

Reduce ChatGPT API flakiness + faster timeout when flaky (#69)
  chat-core/package.json
  chat-core/src/integrations/openai.ts
  chat-server/package.json
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/services/llm.test.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-31925): Support tables in parsed snooty MD (#67)
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/sampleListTable.json
Due: test-all, staging-build-ingest-service

clean up
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  ingest/src/commands/embed.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

frontmatter -> frontMatter
  chat-core/src/index.ts
  chat-core/src/updateFrontmatter.test.ts
  chat-core/src/updateFrontmatter.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  ingest/src/chunkPage.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-31111) [UI] publish react component to npm
  .drone.yml
  README.md
Due: none

start stubbing
  chat-server/jest.config.json
  chat-server/qualitative-tests/misc.test.ts
  chat-server/src/jestSetUp.ts
Due: test-all, staging-build-chat-server

add check response quality func
  chat-server/package.json
  chat-server/src/jestSetUp.ts
  chat-server/src/llmQualitativeTesting/CheckQualityCheckResult.ts
  chat-server/src/llmQualitativeTesting/checkResponseQuality.test.ts
  chat-server/src/llmQualitativeTesting/checkResponseQuality.ts
  chat-server/src/llmQualitativeTesting/meetsChatQualityStandardsJestExtension.ts
  chat-server/src/llmQualitativeTesting/stringifyConversation.ts
  package-lock.json
  package.json
Due: test-all, staging-build-chat-server

works in editor, but doesn't compile
  chat-server/jest.config.json
  chat-server/package.json
  chat-server/src/jestEnvSetUp.ts
  chat-server/src/jestSetUp.d.ts
  chat-server/src/jestSetUp.ts
  chat-server/src/llmQualitativeTesting/meetsChatQualityStandardsJestExtension.test.ts
  chat-server/src/llmQualitativeTesting/meetsChatQualityStandardsJestExtension.ts
  chat-server/tsconfig.json
Due: test-all, staging-build-chat-server

runs but doesn't look correct in editor
  chat-server/globals.d.ts
  chat-server/src/llmQualitativeTesting/meetsChatQualityStandardsJestExtension.ts
  chat-server/tsconfig.json
  package-lock.json
Due: test-all, staging-build-chat-server

working in VSCode and compiling
  chat-server/global.d.ts
  chat-server/src/jestSetUp.ts
  chat-server/src/llmQualitativeTesting/meetsChatQualityStandardsJestExtension.test.ts
  chat-server/src/llmQualitativeTesting/meetsChatQualityStandardsJestExtension.ts
  chat-server/tsconfig.json
Due: test-all, staging-build-chat-server

all working
  chat-server/jest.config.json
  chat-server/jest.config.llmQualitative.js
  chat-server/package.json
  chat-server/qualitative-tests/misc.test.ts
  chat-server/src/global.ts
  chat-server/src/jestSetUp.ts
  chat-server/src/llmQualitativeTests/CheckQualityCheckResult.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.test.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.ts
  chat-server/src/llmQualitativeTests/meetsChatQualityStandardsJestExtension.test.ts
  chat-server/src/llmQualitativeTests/meetsChatQualityStandardsJestExtension.ts
  chat-server/src/llmQualitativeTests/stringifyConversation.ts
  chat-server/tsconfig.json
Due: test-all, staging-build-chat-server

working again with separate jest suite
  chat-server/global.d.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.test.ts
Due: test-all, staging-build-chat-server

remove console log
  chat-server/src/jestSetUp.ts
Due: test-all, staging-build-chat-server

remove typechat from top lvl
  package-lock.json
  package.json
Due: none

Add back to tsconfig
  chat-server/tsconfig.json
Due: test-all, staging-build-chat-server

remove await
  chat-server/src/llmQualitativeTests/meetsChatQualityStandardsJestExtension.test.ts
Due: test-all, staging-build-chat-server

Fixes
  chat-server/src/llmQualitativeTests/meetsChatQualityStandardsJestExtension.test.ts
Due: test-all, staging-build-chat-server

rename
  chat-core/src/updateFrontmatterr.test.ts
  chat-core/src/updateFrontmatterr.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

rename
  chat-core/src/updateFrontMatter.test.ts
  chat-core/src/updateFrontMatter.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-31106) [DEL] Set up TTL on user conversations
  mongodb-atlas/.env.example
  mongodb-atlas/add-conversations-ttl-index.ts
  mongodb-atlas/add-search-index.ts
  mongodb-atlas/package-lock.json
  mongodb-atlas/package.json
  mongodb-atlas/utils.ts
Due: none

(DOCSP-31622) [INGEST] Indexes for embedded_content and pages collections
  mongodb-atlas/add-content-indexes.ts
Due: none

implement DB feedback
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.ts
  chat-server/src/processors/QueryPreprocessorFunc.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

edits
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.ts
  chat-server/src/processors/QueryPreprocessorFunc.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

Add more context
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.ts
Due: test-all, staging-build-chat-server

cleanup
  mongodb-atlas/add-content-indexes.ts
  mongodb-atlas/add-conversations-ttl-index.ts
  mongodb-atlas/add-search-index.ts
  mongodb-atlas/utils.ts
Due: none

small fixes
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
Due: test-all, staging-build-chat-server

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
