Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

Update IPs in tests
  packages/mongodb-chatbot-server/src/middleware/requireRequestOrigin.test.ts
  packages/mongodb-chatbot-server/src/middleware/requireValidIpAddress.test.ts
  packages/mongodb-chatbot-server/src/middleware/validateRequestSchema.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove learning-path markdown pages
  mongodb-uni/learning-paths/atlas-search.md
  mongodb-uni/learning-paths/atlas-vector-search.md
  mongodb-uni/learning-paths/building-gen-ai-apps.md
  mongodb-uni/learning-paths/csharp.md
  mongodb-uni/learning-paths/data-modeling.md
  mongodb-uni/learning-paths/dba.md
  mongodb-uni/learning-paths/deploying-and-evaluating-gen-ai-apps.md
  mongodb-uni/learning-paths/java.md
  mongodb-uni/learning-paths/nodejs.md
  mongodb-uni/learning-paths/php.md
  mongodb-uni/learning-paths/python.md
Due: none

Update packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
  packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Update packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-581): Chatbot verified answers eval/improvments + export `mongodb-rag-core/dataSources` (#550)
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/topics.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/test/cosineSimilarity.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
  packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/MongoDbDotComDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/practicalAggregations.ts
  packages/ingest-mongodb-public/src/sources/prisma.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.ts
  packages/mongodb-chatbot-verified-answers/src/index.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/verifiedAnswers/MongoDbVerifiedAnswerStore.ts
  packages/mongodb-rag-core/src/verifiedAnswers/VerifiedAnswer.ts
  packages/mongodb-rag-ingest/src/Config.ts
  packages/mongodb-rag-ingest/src/commands/all.test.ts
  verified-answers.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

retrieval eval working in correct location
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Update package-lock
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update OpenAI core usage again
  package-lock.json
  packages/mongodb-artifact-generator/package.json
  packages/mongodb-artifact-generator/src/chat/index.ts
  packages/mongodb-artifact-generator/src/chat/makeGeneratePrompts.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateResponse.ts
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.ts
  packages/mongodb-artifact-generator/src/chat/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update OpenAI core usage again
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetadata.ts
Due: test-all

Fix test
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.test.ts
Due: test-all

Fix import
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.test.ts
Due: test-all

(EAI-383) Fetch & Refine Top Jira Tickets (#539)
  package-lock.json
  packages/mongodb-artifact-generator/package.json
  packages/mongodb-artifact-generator/src/Config.ts
  packages/mongodb-artifact-generator/src/chat/index.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateChatCompletion.ts
  packages/mongodb-artifact-generator/src/chat/makeGeneratePrompts.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateResponse.ts
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.test.ts
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.ts
  packages/mongodb-artifact-generator/src/chat/utils.test.ts
  packages/mongodb-artifact-generator/src/chat/utils.ts
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
  packages/mongodb-artifact-generator/src/jiraPromptResponse/examples/ADMIN-10208.json
  packages/mongodb-artifact-generator/src/jiraPromptResponse/examples/WORKPLACE-119.json
  packages/mongodb-artifact-generator/src/jiraPromptResponse/topIssues.json
  packages/mongodb-artifact-generator/src/operations.ts
  packages/mongodb-artifact-generator/src/release-notes/createChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/summarizeReleaseArtifacts.ts
  packages/mongodb-artifact-generator/src/runId.test.ts
  packages/mongodb-artifact-generator/src/runId.ts
  packages/mongodb-artifact-generator/src/runlogger.ts
  packages/mongodb-artifact-generator/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

log for testing purpose in CI
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.test.ts
Due: test-all

Add avg score
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

log for testing purpose in CI 2
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.test.ts
Due: test-all

fts demo
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/mongodb-rag-core/src/VectorStore.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/findContent/ftsFindContent.ts
  packages/mongodb-rag-core/src/findContent/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

601 start: load VAs as yaml
  packages/chatbot-server-mongodb-public/src/eval/loadVerifiedAnswersAsConversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

load from verified answers
  packages/chatbot-server-mongodb-public/src/eval/loadVerifiedAnswersAsConversations.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Remove logging
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.test.ts
Due: test-all

Hardcode gpt-4o for testing purposes
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
Due: test-all

Use mock OpenAI response
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.test.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
Due: test-all

Add new env variable functions
  packages/mongodb-rag-core/src/environment/environment.test.ts
  packages/mongodb-rag-core/src/environment/environment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Start migrating
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/environment/environment.ts
  packages/mongodb-rag-core/src/environment/index.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

manual only evals
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

revert to all docs
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

default values
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

lint
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

remove unused imports
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-602): Refactor preprocessing to support retrieval evals (#552)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.test.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

clean up merge conflict
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Add codemods w/ initial assertEnvVars codemod
  codemods/package-lock.json
  codemods/package.json
  codemods/src/replace-assertEnvVars.ts
  codemods/src/rr.ts
  codemods/tsconfig.json
  package-lock.json
  package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add tests
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/eval/loadVerifiedAnswersAsConversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix NDCG metric
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

more precise test
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

more descriptive tests
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove console.log
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

rename property
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-554): process higher level courses (#543)
  mongodb-uni/learning-paths/atlas-search.md
  mongodb-uni/learning-paths/atlas-vector-search.md
  mongodb-uni/learning-paths/building-gen-ai-apps.md
  mongodb-uni/learning-paths/csharp.md
  mongodb-uni/learning-paths/data-modeling.md
  mongodb-uni/learning-paths/dba.md
  mongodb-uni/learning-paths/deploying-and-evaluating-gen-ai-apps.md
  mongodb-uni/learning-paths/java.md
  mongodb-uni/learning-paths/nodejs.md
  mongodb-uni/learning-paths/php.md
  mongodb-uni/learning-paths/python.md
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataApiClient.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
  packages/ingest-mongodb-public/testData/sampleUniversityCatalogItemCourse.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public
