Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

comments
  packages/ingest-mongodb-public/src/sources/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Release mongodb-rag-core v0.5.1
  package-lock.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

wip test issues
  packages/ingest-mongodb-public/src/sources/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip test issues
  packages/ingest-mongodb-public/src/sources/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Checkpoint link updates
  docs/docs/ingest/configuration-reference.md
  docs/docs/ingest/configure.md
  docs/docs/ingest/data-sources.md
  docs/docs/mongodb.md
  docs/docs/server/custom-logic.md
  docs/docs/server/llm.md
  docs/docusaurus.config.ts
  docs/package.json
Due: none

Release mongodb-rag-ingest v0.3.1
  package-lock.json
  packages/mongodb-rag-ingest/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

docs updates
  docs/docs/ingest/command-reference.md
  docs/docs/ingest/configuration-reference.md
  docs/docs/ingest/configure.md
  docs/docs/server/persist.md
  docs/docs/server/rag/retrieve.md
  docs/docs/server/tools.md
  docs/docs/server/verified-answers.md
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Release mongodb-chatbot-server v0.10.1
  package-lock.json
  packages/mongodb-chatbot-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update docs + quick start
  docs/docs/ingest/configuration-reference.md
  docs/docs/ingest/configure.md
  docs/docs/ingest/data-sources.md
  docs/docs/server/configure.md
  docs/docs/server/llm.md
  docs/docs/server/persist.md
  docs/docs/server/rag/index.md
  docs/docs/server/rag/preprocess.md
  docs/docs/server/rag/references.md
  docs/docs/server/rag/retrieve.md
  docs/docs/server/tools.md
  examples/quick-start/package-lock.json
  examples/quick-start/packages/ingest/src/ingest.config.ts
  examples/quick-start/packages/ingest/src/mongodbChatbotFrameworkDataSource.ts
  examples/quick-start/packages/ingest/tsconfig.json
  examples/quick-start/packages/server/src/index.ts
  examples/quick-start/packages/server/tsconfig.json
  packages/mongodb-chatbot-server/README.md
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Remove testing command
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Release mongodb-chatbot-ui v0.12.0
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release mongodb-chatbot-ui v0.12.1
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

wip test issues
  .drone.yml
Due: test-all

Apply suggestions from code review
  docs/package.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-586): Update docs+quickstart for core consolidation (#612)
  docs/docs/ingest/command-reference.md
  docs/docs/ingest/configuration-reference.md
  docs/docs/ingest/configure.md
  docs/docs/ingest/data-sources.md
  docs/docs/mongodb.md
  docs/docs/server/configure.md
  docs/docs/server/custom-logic.md
  docs/docs/server/llm.md
  docs/docs/server/persist.md
  docs/docs/server/rag/index.md
  docs/docs/server/rag/preprocess.md
  docs/docs/server/rag/references.md
  docs/docs/server/rag/retrieve.md
  docs/docs/server/tools.md
  docs/docs/server/verified-answers.md
  docs/docusaurus.config.ts
  docs/package.json
  examples/quick-start/package-lock.json
  examples/quick-start/packages/ingest/src/ingest.config.ts
  examples/quick-start/packages/ingest/src/mongodbChatbotFrameworkDataSource.ts
  examples/quick-start/packages/ingest/tsconfig.json
  examples/quick-start/packages/server/src/index.ts
  examples/quick-start/packages/server/tsconfig.json
  packages/mongodb-chatbot-server/README.md
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

slim the tracing data
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Tweak metadata generator style guide (#614)
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
Due: test-all

setup config
  packages/ingest-mongodb-public/src/sources/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Reduce tracing data set to Braintrust (#613)
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

handle 404
  packages/ingest-mongodb-public/src/sources/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

additional test for handling 404
  packages/ingest-mongodb-public/src/sources/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

practical aggs experiment
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/generateDriverCode/practicalAggregationsSummary.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmarkScratchpad.ts
  packages/datasets/package.json
  packages/datasets/practicalAggregationsSummary_gpt-4o-mini.md
  packages/datasets/practicalAggregationsSummary_o3-mini.md
  packages/datasets/src/bin/summarizeKotlinDriverDocs.ts
  packages/datasets/src/bin/summarizePracticalAggregationsBook.ts
  packages/datasets/src/synthesizePages.ts
Due: test-all

post negative comments
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

bug fix: Post negative comments to slack (#615)
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

refactor
  packages/ingest-mongodb-public/src/sources/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/webSources.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

static metadata
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

pageDataset
  packages/datasets/src/PersistedPage.ts
  packages/datasets/src/appendLlmMetadata.ts
  packages/datasets/src/bin/extractCodeExamples.ts
  packages/datasets/src/bin/filterCodeExamplesForExport.ts
  packages/datasets/src/bin/filterCodeExamplesForSmallExport.ts
  packages/datasets/src/bin/genAdditionalCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAllCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAtlasSearchCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genDriversCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genManualCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genRustDriverCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genSampleOfCodeExamplesWithPrompts.ts
  packages/datasets/src/contextualizeCodeBlock.ts
  packages/datasets/src/extractPageElements.ts
  packages/datasets/src/forbiddenUrls.ts
  packages/datasets/src/loadPageDataset.ts
Due: test-all

stub test file
  packages/datasets/src/loadPageDataset.test.ts
Due: test-all

aggregates + fix ts issue
  package-lock.json
  packages/datasets/package.json
  packages/datasets/src/EnvVars.ts
  packages/datasets/src/appendLlmMetadata.ts
  packages/datasets/src/bin/extractCodeExamples.ts
  packages/datasets/src/classifyCodeExample.ts
  packages/datasets/src/classifyIsUsefulCodeBlockForTraining.ts
  packages/datasets/src/createPromptsFromText.ts
  packages/datasets/src/extractPageElements.ts
  packages/datasets/src/loadPageDataset.test.ts
  packages/datasets/src/loadPageDataset.ts
  packages/datasets/tsconfig.json
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test clean up
  packages/datasets/jest.config.cjs
  packages/datasets/src/classifyCodeExample.ts
  packages/datasets/src/loadPageDataset.test.ts
  packages/datasets/src/loadPageDataset.ts
  packages/datasets/src/test/constants.ts
  packages/datasets/src/test/globalSetup.ts
  packages/datasets/src/test/globalTeardown.ts
Due: test-all

script to upload docs dataset
  package-lock.json
  packages/datasets/.env.example
  packages/datasets/package.json
  packages/datasets/src/EnvVars.ts
  packages/datasets/src/bin/filterCodeExamplesForExport.ts
  packages/datasets/src/bin/filterCodeExamplesForSmallExport.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/classifyCodeExample.ts
  packages/datasets/src/mongoDbDatasetConstants.ts
  packages/datasets/src/uploadDatasetToHuggingFace.test.ts
  packages/datasets/src/uploadDatasetToHuggingFace.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken test
  packages/datasets/src/uploadDatasetToHuggingFace.test.ts
Due: test-all

refactor to fix issue with browser closing
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

stubbin
  packages/datasets/package.json
  packages/datasets/src/bin/classifyCodeExamplesForUsefulness.ts
  packages/datasets/src/bin/convertCodeExamplePromptYamlToCsvUsefulOnly.ts
  packages/datasets/src/bin/convertcodeExamplePromptYamlToCsv.ts
  packages/datasets/src/bin/countExamplesByLength.ts
  packages/datasets/src/bin/countUsableExamples.ts
  packages/datasets/src/bin/extractCodeExamples.ts
  packages/datasets/src/bin/filterCodeExamplesForExport.ts
  packages/datasets/src/bin/filterCodeExamplesForSmallExport.ts
  packages/datasets/src/bin/genAdditionalCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAllCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAtlasSearchCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genDriversCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genManualCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genRustDriverCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genSampleOfCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/bin/updateCodeExampleHeadings.ts
  packages/datasets/src/codeExampleDataset/AstExtractedCodeBlock.ts
  packages/datasets/src/codeExampleDataset/appendLlmMetadata.ts
  packages/datasets/src/codeExampleDataset/classifyCodeExample.ts
  packages/datasets/src/codeExampleDataset/classifyCodeExampleDocsTeam.eval.ts
  packages/datasets/src/codeExampleDataset/classifyCodeExampleDocsTeam.ts
  packages/datasets/src/codeExampleDataset/classifyIsUsefulCodeBlockForTraining.ts
  packages/datasets/src/codeExampleDataset/contextualizeCodeBlock.ts
  packages/datasets/src/codeExampleDataset/createCodeExampleDatasetEntry.ts
  packages/datasets/src/codeExampleDataset/createPromptsFromText.ts
  packages/datasets/src/codeExampleDataset/extractPageElements.ts
  packages/datasets/src/modules.d.ts
  packages/datasets/src/openAi.ts
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
Due: test-all

nest directoryUrls
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

misc urls
  packages/ingest-mongodb-public/src/sources/mongodb-dot-com/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public
