Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*

Drone fix (#97)
  .drone.yml
  ingest/src/snootyAstToOpenApiSpec.ts
Due: test-all, staging-build-ingest-service

fix handling of openapi specs
  chat-core/src/DatabaseConnection.ts
  ingest/src/chunkOpenApiSpecYaml.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

fix handling of openapi specs (#99)
  chat-core/src/DatabaseConnection.ts
  ingest/src/chunkOpenApiSpecYaml.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

pass commit from drone
  .drone.yml
  chat-server.dockerfile
  chat-ui/package.json
Due: test-all, staging-build-chat-server

debugging echo
  .drone.yml
  chat-server.dockerfile
Due: none

trigger
  chat-server/test.me
Due: test-all, staging-build-chat-server

trigger2
  .drone.yml
Due: none

trigger2
  chat-ui/trigger.me
Due: test-all, staging-build-chat-server

fix preprocessed content not added to DB
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server

log in npm script
  chat-ui/package.json
Due: test-all, staging-build-chat-server

update scripts
  chat-ui/package.json
Due: test-all, staging-build-chat-server

only serve staging site if env not prod
  chat-core/src/CoreEnvVars.ts
  chat-server.dockerfile
  chat-server/.env.example
  chat-server/environments/production.yml
  chat-server/environments/qa.yml
  chat-server/environments/staging.yml
  chat-server/src/app.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

update scripts 2
  chat-server.dockerfile
  chat-ui/package.json
Due: test-all, staging-build-chat-server

logs
  .drone.yml
  chat-ui/src/App.module.css
  chat-ui/src/App.tsx
Due: test-all, staging-build-chat-server

draft CORS setup
  chat-server/environments/production.yml
  chat-server/environments/staging.yml
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
Due: test-all, staging-build-chat-server

(DOCSP-32247): Fix preprocessed content not added to DB (#100)
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
Due: test-all, staging-build-chat-server

add tests
  chat-server/src/app.test.ts
  chat-server/src/app.ts
Due: test-all, staging-build-chat-server

(DOCSP-32104): Do not serve demo site in prod environment (#101)
  chat-core/src/CoreEnvVars.ts
  chat-server.dockerfile
  chat-server/.env.example
  chat-server/environments/production.yml
  chat-server/environments/qa.yml
  chat-server/environments/staging.yml
  chat-server/src/app.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

fix log
  chat-ui/src/App.tsx
  chat-ui/src/vite-env.d.ts
Due: test-all, staging-build-chat-server

(DOCSP-32596): Set up CORS on the server (#103)
  chat-server/environments/production.yml
  chat-server/environments/staging.yml
  chat-server/src/AppConfig.ts
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
Due: test-all, staging-build-chat-server

(DOCSP-32452): Dev Center data source remove `<img>` and `<div>` tags + youtube directive (#93)
  ingest/package.json
  ingest/src/DevCenterDataSource.test.ts
  ingest/src/DevCenterDataSource.ts
  ingest/src/test_data/sampleDevCenterPageWithDivAndImg.md
  ingest/src/test_data/sampleDevCenterPageWithYouTube.md
  package-lock.json
Due: test-all, staging-build-ingest-service

update env files
  chat-server/environments/production.yml
  ingest/environments/production.yml
Due: test-all, staging-build-chat-server, staging-build-ingest-service

update QA server DB
  chat-server/environments/qa.yml
Due: test-all, staging-build-chat-server

Update QA server DB (#105)
  chat-server/environments/qa.yml
Due: test-all, staging-build-chat-server

prod drone filters
  .drone.yml
Due: none

remove old comment
  .drone.yml
Due: none

Prod drone fixes (#107)
  .drone.yml
Due: none

(DOCSP-32547): Update prod env to use dedicated Azure deployment (#104)
  chat-server/environments/production.yml
  ingest/environments/production.yml
Due: test-all, staging-build-chat-server, staging-build-ingest-service

override server URL via props
  chat-ui/src/Chatbot.tsx
  chat-ui/src/services/conversations.ts
  chat-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server

draft autoscaling
  chat-server/environments/production.yml
Due: test-all, staging-build-chat-server

make server call it's own base url if given a full URL path
  chat-ui/.env.qa
  chat-ui/.env.staging
  chat-ui/src/services/conversations.ts
  chat-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server

Allow users to override server URL via props (#108)
  chat-ui/src/Chatbot.tsx
  chat-ui/src/services/conversations.ts
  chat-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server

Release 0.0.2
  chat-ui/README.md
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

revert remove of log
  chat-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server

tweak readme
  chat-ui/README.md
Due: test-all, staging-build-chat-server

(DOCSP-32659): Make server call its own base url if not given a full URL path (#109)
  chat-ui/.env.qa
  chat-ui/.env.staging
  chat-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server

Chat UI v0.0.2 (#111)
  chat-ui/README.md
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

remove same IP address validation on follow up requests
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server
