Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

clean up evals
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/environments/dev-rel.yml
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/qa.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/evalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

debug
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add missing exports
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

step back eval
  packages/chatbot-server-mongodb-public/environments/dev-rel.yml
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/qa.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
  packages/mongodb-rag-core/src/TypeChatJsonTranslateFunc.ts
  packages/mongodb-rag-core/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Step back evals + azure openai conf
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add missing exports (#485)
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Update curl requests in quick start guide
  docs/docs/quick-start.md
Due: none

NL fix
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsData.ts
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-498): Upgrade main responder LLM + system prompt to reduce AI non answers (#484)
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsData.ts
  packages/chatbot-server-mongodb-public/environments/dev-rel.yml
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/qa.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-mongodb-eval, staging-deploy-mongodb-eval

readd typechat translator
  package-lock.json
  packages/mongodb-rag-core/src/TypeChatJsonTranslateFunc.ts
  packages/mongodb-rag-core/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release chatbot-server-mongodb-public v0.7.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-500): Release chatbot-server-mongodb-public v0.7.0 (#488)
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

mock troubles
  package-lock.json
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeNShotUserMessageFunction.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/test/mockOpenAi.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

tests passing
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeNShotUserMessageFunction.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

undo operation on wrong branch
  .drone.yml
Due: test-all

Add missing drone env vars
  .drone.yml
Due: test-all

move main ingest logic to core lib + mdb specific stuff to our implementation
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/RstOnGitHubDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/RstOnGitHubDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataApiClient.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.ts
  packages/ingest-mongodb-public/src/sources/snooty/index.ts
  packages/ingest-mongodb-public/src/sources/snooty/renderSnootyTable.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/renderSnootyTable.ts
  packages/ingest-mongodb-public/src/sources/snooty/rstToSnootyAst.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/rstToSnootyAst.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToOpenApiSpec.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToOpenApiSpec.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/ingest/embed/chunkOpenApiSpecYaml.ts
  packages/mongodb-rag-core/src/ingest/embed/updateEmbeddedContent.ts
  packages/mongodb-rag-core/src/ingest/pages/getChangedPages.ts
  packages/mongodb-rag-core/src/ingest/pages/updatePages.ts
  packages/mongodb-rag-core/src/ingest/sources/AcquitRequireMdOnGithubDataSource.ts
  packages/mongodb-rag-core/src/ingest/sources/GitDataSource.ts
  packages/mongodb-rag-core/src/ingest/sources/handleHtmlDocument.ts
  packages/mongodb-rag-core/src/ingest/sources/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update lock
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

line breaks between chunks
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update test w preprocessor model
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

only for debug
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove only
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

BP review
  packages/ingest-mongodb-public/.env.example
  packages/ingest-mongodb-public/src/PublicIngestEnvVars.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix bugs
  packages/ingest-mongodb-public/src/sources/snooty.ts
  packages/mongodb-rag-ingest/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-484) Fix broken langchain chat model wrapper (#478)
  package-lock.json
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.test.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/LangchainChatLlm.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-447) Add Prometheus alerts for runtime server errors (#460)
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

standardize based on package.json[main]
  docs/docs/ingest/configure.md
  docs/docs/ingest/data-sources.md
  docs/docs/ingest/optimize.md
  examples/quick-start/packages/ingest/src/ingest.config.ts
  examples/quick-start/packages/ingest/src/mongodbChatbotFrameworkDataSource.ts
  packages/chatbot-server-mongodb-public/package.json
  packages/ingest-mongodb-public/src/coachGtm.config.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/MongoDbDotComDataSource.ts
  packages/ingest-mongodb-public/src/sources/RstOnGitHubDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/practicalAggregations.ts
  packages/ingest-mongodb-public/src/sources/prisma.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-ingest/package.json
  packages/mongodb-rag-ingest/src/core.ts
  packages/mongodb-rag-ingest/src/embed.ts
  packages/mongodb-rag-ingest/src/index.ts
  packages/mongodb-rag-ingest/src/pages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

n shot --> few shot
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeFewShotUserMessageFunction.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix export
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update filename
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeFewShotUserMessageExtractorFunction.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix build issue
  packages/mongodb-rag-core/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken yaml test
  package-lock.json
  packages/ingest-mongodb-public/package.json
  packages/mongodb-rag-core/src/ingest/embed/chunkOpenApiSpecYaml.test.ts
  packages/mongodb-rag-core/src/ingest/embed/chunkOpenApiSpecYaml.ts
  packages/mongodb-rag-core/src/ingest/embed/index.ts
  testData/openApiSpec.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-481) Clean up env vars (#472)
  packages/chatbot-server-mongodb-public/environments/dev-rel.yml
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/qa.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/index.ts
  packages/ingest-mongodb-public/.env.example
  packages/ingest-mongodb-public/environments/production.yml
  packages/ingest-mongodb-public/environments/staging.yml
  packages/ingest-mongodb-public/src/PublicIngestEnvVars.ts
  packages/ingest-mongodb-public/src/coachGtm.config.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/mongodb-artifact-generator/src/ReleaseNotesEnvVars.ts
  packages/mongodb-artifact-generator/src/chat/makeClassifier.test.ts
  packages/mongodb-artifact-generator/src/chat/makeClassifier.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateChatCompletion.ts
  packages/mongodb-artifact-generator/src/standardConfig.ts
  packages/mongodb-chatbot-server/README.md
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-verified-answers/.env.example
  packages/mongodb-chatbot-verified-answers/src/commands/import.ts
  packages/mongodb-chatbot-verified-answers/src/importVerifiedAnswers.test.ts
  packages/mongodb-chatbot-verified-answers/src/importVerifiedAnswers.ts
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/LangchainChatLlm.test.ts
  packages/mongodb-rag-ingest/.env.example
  packages/mongodb-rag-ingest/src/IngestEnvVars.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

formatFewShotExamples wip
  packages/mongodb-artifact-generator/src/chat/utils.ts
Due: test-all

Apply suggestions from code review
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/src/evalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

formatFewShotExamples
  package-lock.json
  packages/mongodb-artifact-generator/package.json
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.test.ts
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.ts
  packages/mongodb-artifact-generator/src/chat/utils.test.ts
  packages/mongodb-artifact-generator/src/chat/utils.ts
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

implement NL feedback
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeFewShotUserMessageExtractorFunction.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
