Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    settings:
      dockerfile: chat-server.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-chat-server
      tags:
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    settings:
      dockerfile: ingest-service.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-ingest-service
      tags:
  ...

Update chat-server/src/app.ts
  chat-server/src/app.ts
Due: test-all, staging-build-chat-server

(DOCSP-32616): Refactor config, add library, and log config (#143)
  chat-core/src/DatabaseConnection.ts
  chat-server/package.json
  chat-server/src/AppConfig.ts
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/lib.ts
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.test.ts
  chat-server/src/processors/index.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/index.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/services/index.ts
  chat-server/src/services/openAiChatLlm.test.ts
  chat-server/src/services/openAiChatLlm.ts
  chat-server/src/testHelpers.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

make preprocessor less biased toward shell (#149)
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.d.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
Due: test-all, staging-build-chat-server

working handler w git data source
  chat-server/package-lock.json
  chat-server/package.json
  ingest/package.json
  ingest/src/GitDataSource.test.ts
  ingest/src/GitDataSource.ts
  ingest/src/HtmlOnGithubDataSource.ts
  ingest/src/handleHtmlDocument.test.ts
  ingest/src/handleHtmlDocument.ts
  ingest/src/test_data/sampleJava.html
  ingest/test.md
  package-lock.json
  seed-content/package.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

change recommended prompt
  chat-ui/src/App.tsx
Due: test-all, staging-build-chat-server

fix: upgrade mongodb from 5.8.0 to 5.8.1
  mongodb-atlas/package.json
Due: none

fix: upgrade mongodb from 5.8.0 to 5.8.1
  mongodb-atlas/package-lock.json
Due: none

add scala/java reactive streams data sources
  ingest/src/GitDataSource.test.ts
  ingest/src/GitDataSource.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

Add C driver
  ingest/src/projectSources.ts
  package-lock.json
Due: test-all, staging-build-ingest-service

ingest C docs
  ingest/package.json
  ingest/src/handleHtmlDocument.ts
  ingest/src/projectSources.ts
  package-lock.json
Due: test-all, staging-build-ingest-service

[Snyk] Upgrade mongodb from 5.8.0 to 5.8.1 (#151)
  mongodb-atlas/package-lock.json
  mongodb-atlas/package.json
Due: none

Apply suggestions from code review
  ingest/src/MdOnGithubDataSource.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

fix page path func
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

implement CB feedback
  ingest/src/AcquitRequireMdOnGithubDataSource.ts
  ingest/src/MdOnGithubDataSource.ts
  ingest/src/extractMarkdownH1.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

fix broken test
  ingest/src/extractMarkdownH1.test.ts
Due: test-all, staging-build-ingest-service

implement addtional CB feedback
  ingest/src/AcquitRequireMdOnGithubDataSource.ts
  ingest/src/MdOnGithubDataSource.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

add missing env example
  chat-server/.env.example
Due: test-all, staging-build-chat-server

add missing env example (#153)
  chat-server/.env.example
Due: test-all, staging-build-chat-server

change recommended prompt (#150)
  chat-ui/src/App.tsx
Due: test-all, staging-build-chat-server

[DOCSP-32953] feat(devcenter-chatbot): Create a DevCenter modal for mocked design
  chat-ui/package.json
  chat-ui/src/DevCenterChatbot.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

(DOCSP-32993, DOCSP-32906, DOCSP-32993, DOCSP-32990): Data sources for MD on Github + data ingestion of related content (#148)
  chat-core/package.json
  chat-core/src/Page.ts
  chat-core/src/extractFrontMatter.test.ts
  chat-core/src/extractFrontMatter.ts
  chat-core/src/index.ts
  chat-core/src/removeFrontMatter.ts
  chat-core/src/updateFrontMatter.ts
  chat-server/package.json
  ingest/package.json
  ingest/src/AcquitRequireMdOnGithubDataSource.test.ts
  ingest/src/AcquitRequireMdOnGithubDataSource.ts
  ingest/src/DevCenterDataSource.ts
  ingest/src/GitHubDataSource.test.ts
  ingest/src/MdOnGithubDataSource.test.ts
  ingest/src/MdOnGithubDataSource.ts
  ingest/src/extractMarkdownH1.test.ts
  ingest/src/extractMarkdownH1.ts
  ingest/src/module.d.ts
  ingest/src/projectSources.ts
  ingest/src/removeMarkdownImagesAndLinks.test.ts
  ingest/src/removeMarkdownImagesAndLinks.ts
  mongodb-corp/corporate/support.md
  mongodb-corp/dotcom/mongodb-university.md
  package-lock.json
  seed-content/package.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-33090) [UI] Remove experimental badge from input on focus
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-32915) [UI] Streamer bugs out when switching tabs
  chat-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server

WIP - (DOCSP-33092) [UI] Add powered by Atlas Vector Search footer
  chat-ui/src/Chatbot.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server

add TODOs from other PR
  ingest/src/GitDataSource.ts
  ingest/src/handleHtmlDocument.ts
Due: test-all, staging-build-ingest-service

[DOCSP-32953] feat(devcenter-chatbot): Comment unused components
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server

strip HTML links + imgs
  ingest/src/handleHtmlDocument.test.ts
  ingest/src/handleHtmlDocument.ts
  ingest/src/removeMarkdownImagesAndLinks.test.ts
  ingest/src/removeMarkdownImagesAndLinks.ts
  ingest/test.md
Due: test-all, staging-build-ingest-service

(DOCSP-33090) [UI] Remove experimental badge from input on focus (#155)
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-32915) [UI] Streamer bugs out when switching tabs (#156)
  chat-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server

inc test timeout
  ingest/src/snootyAstToOpenApiSpec.test.ts
Due: test-all, staging-build-ingest-service

WIP - (DOCSP-33091) [UI] Add character count indicator
  chat-ui/src/App.module.css
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

Separate InputBar with error state
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputBar.tsx
Due: test-all, staging-build-chat-server

center align modal X button
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

baseFontSize is 13
  chat-ui/src/InputBar.tsx
Due: test-all, staging-build-chat-server

(DOCSP-33113) [UI] Remove external link icons
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

rimraf in finally block
  ingest/src/GitDataSource.ts
Due: test-all, staging-build-ingest-service

add missing import
  chat-ui/src/InputBar.tsx
Due: test-all, staging-build-chat-server

add git to dockerfile
  ingest-service.dockerfile
Due: none

(DOCSP-32991, DOCSP-32992): `GitDataSource`, functionality for converting HTML to Markdown, ingest Scala, Java Reactive Streams, and C docs (#152)
  chat-server/package-lock.json
  chat-server/package.json
  ingest-service.dockerfile
  ingest/package.json
  ingest/src/GitDataSource.test.ts
  ingest/src/GitDataSource.ts
  ingest/src/handleHtmlDocument.test.ts
  ingest/src/handleHtmlDocument.ts
  ingest/src/modules.d.ts
  ingest/src/projectSources.ts
  ingest/src/removeMarkdownImagesAndLinks.test.ts
  ingest/src/removeMarkdownImagesAndLinks.ts
  ingest/src/snootyAstToOpenApiSpec.test.ts
  ingest/src/test_data/sampleJava.html
  package-lock.json
  seed-content/package.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

move git install to correct docker stage
  ingest-service.dockerfile
Due: none

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
