Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

(EAI-998): Low-hanging improvements to existing tracing metrics (#691)
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Release chatbot-server-mongodb-public v0.17.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

rejectionReason is on userMessage not assistantMessage
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

rejectionReason is on userMessage not assistantMessage (#692)
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release chatbot-server-mongodb-public v0.17.1
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

start on snooty links, no tests
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

support ingesting docs links
  packages/ingest-mongodb-public/environments/staging.yml
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/docsWithLinks.config.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.ts
  packages/ingest-mongodb-public/src/sources/snooty/renderSnootyTable.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/ingest-mongodb-public/testData/samplePageWithExternalLinks.json
  packages/ingest-mongodb-public/testData/samplePageWithInternalLinks.json
  packages/ingest-mongodb-public/testData/samplePageWithInternalLinksNoFragment.json
  packages/ingest-mongodb-public/testData/samplePageWithIntersphinx.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

(EAI-1000): Ingest docs content with links (#694)
  packages/ingest-mongodb-public/environments/staging.yml
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/docsWithLinks.config.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.ts
  packages/ingest-mongodb-public/src/sources/snooty/renderSnootyTable.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/ingest-mongodb-public/testData/samplePageWithExternalLinks.json
  packages/ingest-mongodb-public/testData/samplePageWithInternalLinks.json
  packages/ingest-mongodb-public/testData/samplePageWithInternalLinksNoFragment.json
  packages/ingest-mongodb-public/testData/samplePageWithIntersphinx.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

address PR feedback, parse filters to mdb query
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.ts
  packages/mongodb-rag-core/src/VectorStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

report draft
  packages/benchmarks/src/textToDriver/natural-language-to-mongosh-report.huggingFace.md
Due: test-all

remove snooty prefix from a few test cases
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

get versions of a data source
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

apply changes to prod
  packages/ingest-mongodb-public/environments/production.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

spacing, linting, naming
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-969) query multiple versions (#693)
  packages/mongodb-rag-core/src/VectorStore.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

cleanup
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

more hack
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Fix formatting
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

conf updates
  package-lock.json
  packages/ingest-mongodb-docs/.eslintrc.cjs
  packages/ingest-mongodb-docs/.prettierrc.cjs
  packages/ingest-mongodb-docs/package.json
  packages/ingest-mongodb-docs/src/bin/ingestDocs.config.ts
  packages/ingest-mongodb-docs/src/cli/Config.ts
  packages/ingest-mongodb-docs/src/cli/IngestMetaStore.ts
  packages/ingest-mongodb-docs/src/cli/commands/all.ts
  packages/ingest-mongodb-docs/src/cli/commands/pages.ts
  packages/ingest-mongodb-docs/src/cli/withConfig.ts
  packages/ingest-mongodb-docs/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix build out dir
  packages/ingest-mongodb-docs/tsconfig.json
Due: test-all

(EAI-1000): pages with links ingest to prod (#697)
  packages/ingest-mongodb-public/environments/production.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

tools
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

get versions for multiple data sources
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/test/MockPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

cleanup
  packages/mongodb-artifact-generator/src/test/MockPageStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix typing
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

fix typing
  packages/mongodb-rag-core/src/dataSources/handleHtmlDocument.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix test
  packages/mongodb-rag-core/src/dataSources/handleHtmlDocument.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix typing syntax
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1003) get available versions for data source (#696)
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.test.ts
  packages/mongodb-artifact-generator/src/test/MockPageStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/dataSources/handleHtmlDocument.test.ts
  packages/mongodb-rag-core/src/test/MockPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

exclude old versions from dataset
  packages/datasets/src/pageDataset/loadPageDataset.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

add test case
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

fix other tests
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

comment
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

using named export for mongoDbMetadata
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
  packages/mongodb-rag-core/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix import
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix import
  packages/benchmarks/src/quizQuestions/bin/makeTags.ts
Due: test-all

(EAI-922) ensure only current version on hugging face dataset (#698)
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service
