Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

fix build issues
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
Due: test-all

moved up logger, changed to debug
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Fix broken test
  packages/datasets/src/pageDataset/loadPageDataset.ts
Due: test-all

fix merge issues
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/loadPageDataset.test.ts
  packages/datasets/src/loadPageDataset.ts
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
Due: test-all

have scrapePage wait until networkidle
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

changed logger to info
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-639) setup WebDataSource (#611)
  .drone.yml
  ingest-service.dockerfile
  package-lock.json
  packages/ingest-mongodb-public/.gitignore
  packages/ingest-mongodb-public/environments/staging.yml
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/modules.d.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
  packages/ingest-mongodb-public/testData/mongodbdotcom-company-page.html
  packages/ingest-mongodb-public/testData/sitemap-pages.xml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

delete no longer needed md files in mongodb-corp
  mongodb-corp/README.md
  mongodb-corp/corporate/leadership/alan-chhabra.md
  mongodb-corp/corporate/leadership/andrew-stephens.md
  mongodb-corp/corporate/leadership/cailin-nelson.md
  mongodb-corp/corporate/leadership/cedric-pech.md
  mongodb-corp/corporate/leadership/dev-ittycheria.md
  mongodb-corp/corporate/leadership/harsha-jalihal.md
  mongodb-corp/corporate/leadership/lena-smart.md
  mongodb-corp/corporate/leadership/michael-gordon.md
  mongodb-corp/corporate/leadership/mindy-lieberman.md
  mongodb-corp/corporate/leadership/peder-ulander.md
  mongodb-corp/corporate/leadership/ronnen-miller.md
  mongodb-corp/corporate/leadership/sahir-azam.md
  mongodb-corp/corporate/mission.md
  mongodb-corp/corporate/story.md
  mongodb-corp/corporate/support.md
  mongodb-corp/corporate/values.md
  mongodb-corp/dotcom/legal/acceptable-use-policy.md
  mongodb-corp/dotcom/legal/privacy-policy.md
  mongodb-corp/dotcom/legal/terms-of-use.md
  mongodb-corp/dotcom/mongodb-university.md
  mongodb-corp/dotcom/why-use-mongodb.md
Due: none

add urls from mongdb-corp that are not otherwise captured
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-642) replace static markdown files with web scraping (#625)
  mongodb-corp/README.md
  mongodb-corp/corporate/leadership/alan-chhabra.md
  mongodb-corp/corporate/leadership/andrew-stephens.md
  mongodb-corp/corporate/leadership/cailin-nelson.md
  mongodb-corp/corporate/leadership/cedric-pech.md
  mongodb-corp/corporate/leadership/dev-ittycheria.md
  mongodb-corp/corporate/leadership/harsha-jalihal.md
  mongodb-corp/corporate/leadership/lena-smart.md
  mongodb-corp/corporate/leadership/michael-gordon.md
  mongodb-corp/corporate/leadership/mindy-lieberman.md
  mongodb-corp/corporate/leadership/peder-ulander.md
  mongodb-corp/corporate/leadership/ronnen-miller.md
  mongodb-corp/corporate/leadership/sahir-azam.md
  mongodb-corp/corporate/mission.md
  mongodb-corp/corporate/story.md
  mongodb-corp/corporate/support.md
  mongodb-corp/corporate/values.md
  mongodb-corp/dotcom/legal/acceptable-use-policy.md
  mongodb-corp/dotcom/legal/privacy-policy.md
  mongodb-corp/dotcom/legal/terms-of-use.md
  mongodb-corp/dotcom/mongodb-university.md
  mongodb-corp/dotcom/why-use-mongodb.md
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add datasets drone
  .drone.yml
  datasets.dockerfile
  packages/datasets/environments/production.yml
  packages/datasets/environments/staging.yml
  packages/datasets/src/EnvVars.ts
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
Due: test-all

factuality working w azure openai
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-880): Conversations evals refactor and configurability (#628)
  package-lock.json
  packages/chatbot-server-mongodb-public/evalCases/all_scorers.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/allScorersTest.eval.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

NL generation hack
  packages/datasets/src/treeGeneration/databaseNlQueries/e2e.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseUsers.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseUsers.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNlQueries.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNlQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateUseCases.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateUseCases.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/nl_queries.jsonl
  packages/datasets/src/treeGeneration/databaseNlQueries/nodeTypes.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/sampleData.ts
  packages/datasets/src/treeGeneration/generateTree.ts
Due: test-all

modularize prompt components
  packages/datasets/src/treeGeneration/databaseNlQueries/e2e.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNaturalLanguageQueries.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateUseCases.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/makePromptComponents.ts
Due: test-all

datasets scripts to staging
  .drone.yml
  packages/datasets/src/README.md
Due: test-all

fix docker dir
  .drone.yml
  datasets.dockerfile
  packages/datasets/src/README.md
Due: test-all

fix code example dataset script
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
Due: test-all

fix filter?
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
Due: test-all

ingest arch center
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/sources/snootySources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Use core logger
  packages/scripts/src/upsertMetaDirective.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-857) Create rST meta description import tool (#629)
  packages/scripts/package.json
  packages/scripts/src/meta2rst.test.ts
  packages/scripts/src/meta2rst.ts
  packages/scripts/src/upsertMetaDirective.ts
  packages/scripts/testData/meta2rst/no-meta-no-description.rst
  packages/scripts/testData/meta2rst/yes-meta-no-description.rst
  packages/scripts/testData/meta2rst/yes-meta-yes-description.rst
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

add arch center experiment w/ eval cases
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/src/eval/experiments/architectureCenter.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

BP review
  packages/release-notes-generator/src/configs/atlasCli.config.ts
  packages/release-notes-generator/src/configs/helpers.ts
  packages/release-notes-generator/src/configs/mongosh.config.ts
  packages/release-notes-generator/src/configs/relationalMigrator.config.ts
  packages/release-notes-generator/src/generate.test.ts
Due: test-all

fix lint
  packages/release-notes-generator/src/generate.ts
Due: test-all

run benchmark models thru braintrust proxy
  package-lock.json
  packages/benchmarks/.env.example
  packages/benchmarks/package.json
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/openAiClients.ts
  packages/benchmarks/src/textToDriver/TextToDriverEnvVars.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/datasets/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove logic that's no longer needed
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/openAiClients.ts
Due: test-all

Revert change that shouldn't be in PR
  packages/datasets/package.json
Due: test-all

remove comments
  packages/benchmarks/src/models.ts
Due: test-all

run quiz eval on other models
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
Due: test-all

add comments, use path.join over path.resolve
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.test.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

skip model connection tests again
  packages/benchmarks/src/models.test.ts
Due: test-all

update server readme
  packages/chatbot-server-mongodb-public/README.md
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

support playwright in dockerfiles
  chat-server.dockerfile
  packages/chatbot-server-mongodb-public/README.md
  scripts-service.dockerfile
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

scripts readme to trigger build
  packages/scripts/README.md
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

fix version mismatch
  examples/quick-start/package-lock.json
  examples/quick-start/packages/ingest/package.json
  examples/quick-start/packages/ingest/src/ingest.config.ts
Due: none

[quick start] Fix ingest import issue (#637)
  examples/quick-start/package-lock.json
  examples/quick-start/packages/ingest/package.json
  examples/quick-start/packages/ingest/src/ingest.config.ts
Due: none

Update server config link
  docs/docs/server/configure.md
Due: none

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
