Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

Update packages/chatbot-server-mongodb-public/src/config.eval.ts
  packages/chatbot-server-mongodb-public/src/config.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

NL feedback
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-506): Refactor full response generation as stateless function (#489)
  package-lock.json
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/evalCases/bias_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/faq_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/included_links_conversations.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/EvalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/test/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/test/getConversationEvalCasesFromYaml.ts
  packages/mongodb-chatbot-server/.env.example
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/MongoDbUserQueryPreprocessorResponse.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/makePreprocessMongoDbUserQuery.ts
  packages/mongodb-rag-core/.env.example
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/CoreEnvVars.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-525): Increase server LLM max output to `1000` tokens (#496)
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Revert "(EAI-506): Refactor full response generation as stateless function (#…"
  package-lock.json
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/evalCases/bias_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/faq_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/included_links_conversations.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/EvalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/test/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/test/getConversationEvalCasesFromYaml.ts
  packages/mongodb-chatbot-server/.env.example
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/MongoDbUserQueryPreprocessorResponse.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/makePreprocessMongoDbUserQuery.ts
  packages/mongodb-rag-core/.env.example
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/CoreEnvVars.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Revert "(EAI-506): Refactor full response generation as stateless function" (#497)
  package-lock.json
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/evalCases/bias_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/faq_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/included_links_conversations.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/EvalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/test/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/test/getConversationEvalCasesFromYaml.ts
  packages/mongodb-chatbot-server/.env.example
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/MongoDbUserQueryPreprocessorResponse.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/makePreprocessMongoDbUserQuery.ts
  packages/mongodb-rag-core/.env.example
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/CoreEnvVars.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

up timeout limit
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add metadata + make more structured
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/index.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/products.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/programmingLanguages.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/tags.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/topics.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove Datalake, Device SDK, app-services
  packages/ingest-mongodb-public/src/sources/snooty.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

remove Datalake, Device SDK, app-services (#501)
  packages/ingest-mongodb-public/src/sources/snooty.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Release ingest-mongodb-public v0.4.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release ingest-mongodb-public v0.4.1
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release chatbot-server-mongodb-public v0.9.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-515): Release chatbot-server-mongodb-public v0.9.0 (#502)
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove deprecated products
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release mongodb-chatbot-ui v0.9.0
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

notebooks to create json files
  .gitignore
  packages/benchmarks/src/textToDriver/notebooks/.gitignore
  packages/benchmarks/src/textToDriver/notebooks/extract_db_documents.ipynb
  packages/benchmarks/src/textToDriver/notebooks/extract_db_metadata.ipynb
  packages/benchmarks/src/textToDriver/notebooks/extract_eval_cases.ipynb
Due: test-all

add readme
  packages/benchmarks/src/textToDriver/README.md
Due: test-all

Add Hotkey Functionality
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/ChatbotView.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add data + indexes script
  package-lock.json
  packages/benchmarks/.env.example
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/TextToDriverEnvVars.ts
  packages/benchmarks/src/textToDriver/makeDatabases/applyCollectionIndexes.ts
  packages/benchmarks/src/textToDriver/makeDatabases/index.ts
  packages/benchmarks/src/textToDriver/makeDatabases/insertCollectionDocuments.ts
  packages/benchmarks/src/textToDriver/makeDatabases/loadBraintrustDatasets.test.ts
  packages/benchmarks/src/textToDriver/makeDatabases/loadBraintrustDatasets.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

skip tests
  packages/benchmarks/src/textToDriver/makeDatabases/loadBraintrustDatasets.test.ts
Due: test-all

Hotkey in Chatbot Context
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/ChatbotView.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useTextInputTrigger.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Update prop name and docs
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/ChatbotView.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Add docs for hotkey
  docs/docs/ui.md
Due: none

fix broken tests
  .drone.yml
  packages/benchmarks/src/textToDriver/makeDatabases/loadBraintrustDatasets.test.ts
Due: test-all

add git ignores
  .gitignore
  packages/benchmarks/src/textToDriver/.gitignore
Due: test-all

Rename prop to shouldUseSlashHotkey
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/ChatbotView.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

good start
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/generateDriverCode/index.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeTextToDriverPrompt.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/node.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release mongodb-chatbot-ui v0.9.1-hotkey-0
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

tests passing + code complete
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/DatabaseMetadata.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/index.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/FewShotExample.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/index.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/nodeJs.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeTextToDriverPrompt.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeTextToDriverPrompt.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/node.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

execute generated driver code from string on a db
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
Due: test-all

Add mongo memory server dep
  package-lock.json
  packages/benchmarks/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix test flake
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
Due: test-all

Fix env vars
  packages/benchmarks/src/textToDriver/TextToDriverEnvVars.ts
  packages/benchmarks/src/textToDriver/makeDatabases/loadBraintrustDatasets.test.ts
Due: test-all

wip: adding concurrency to loading pages and embedding
  packages/mongodb-rag-ingest/package.json
  packages/mongodb-rag-ingest/src/Config.ts
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add comments, make ConcurrencyOptions fields optional
  package-lock.json
  packages/mongodb-rag-ingest/src/Config.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Add fuzzy matchers
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/evalTypes.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.test.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

modify and add comments for ConcurrencyOptions
  packages/mongodb-rag-ingest/src/Config.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

passing only relevant parts of ConcurrencyObject
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

more tests
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
Due: test-all

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
