Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

update model version
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-988): Refactor `GenerateResponse` for tool call support (#687)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/processors/GenerateResponse.ts
  packages/mongodb-chatbot-server/src/processors/GenerateUserPromptFunc.ts
  packages/mongodb-chatbot-server/src/processors/includeChunksForMaxTokensPossible.test.ts
  packages/mongodb-chatbot-server/src/processors/includeChunksForMaxTokensPossible.ts
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/processors/makeFilterNPreviousMessages.test.ts
  packages/mongodb-chatbot-server/src/processors/makeFilterNPreviousMessages.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createConversation.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
  packages/mongodb-chatbot-server/src/routes/legacyGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/legacyGenerateResponse.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Minor edits to CONTRIBUTING.md (#750)
  CONTRIBUTING.md
Due: none

Remove no longer used stuff
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.test.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.ts
  packages/chatbot-server-mongodb-public/src/tools/search.eval.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

decouple search results for references and whats shown to model
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
  packages/mongodb-chatbot-server/src/processors/MakeReferenceLinksFunc.ts
  packages/mongodb-chatbot-server/src/processors/SearchResult.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.ts
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

fix scripts build errs
  packages/scripts/src/findFaq.ts
  packages/scripts/src/scrubMessages.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Release chatbot-server-mongodb-public v0.19.1
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

remove ChatLlm
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/llm/ChatLlm.ts
  packages/mongodb-rag-core/src/llm/LangchainChatLlm.test.ts
  packages/mongodb-rag-core/src/llm/LangchainChatLlm.ts
  packages/mongodb-rag-core/src/llm/OpenAiChatLlm.test.ts
  packages/mongodb-rag-core/src/llm/OpenAiChatLlm.ts
  packages/mongodb-rag-core/src/llm/index.ts
  packages/scripts/src/findFaq.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix broken tests
  packages/mongodb-chatbot-server/src/processors/InputGuardrail.test.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.test.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/getConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update default ref links
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.test.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

fix broken tests
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Accept null request topics
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/ScrubbedMessage.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Add originCode to test
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

find uningested docs sites
  package-lock.json
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/index.ts
  packages/ingest-mongodb-public/src/modules.d.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/ingest-mongodb-public/src/turndown-plugin-gfm.d.ts
  packages/ingest-mongodb-public/tsconfig.json
  packages/scripts/package.json
  packages/scripts/src/findUningestedDocsSites.ts
  packages/scripts/src/turndown-plugin-gfm.d.ts
  packages/scripts/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add marketing dataset
  packages/benchmarks/src/nlPromptResponse/bin/marketing/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/marketing/marketingPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/marketing/uploadMarketingDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/uploadTopQuestionDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadMarketingDataset.ts
Due: test-all

Add sourceType to web sources
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Define source types
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Github data sources & minor cleanups
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/practicalAggregations.ts
  packages/ingest-mongodb-public/src/sources/prisma.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/dataSources/AcquitRequireMdOnGithubDataSource.ts
  packages/mongodb-rag-core/src/dataSources/GitDataSource.ts
  packages/mongodb-rag-core/src/dataSources/MdOnGithubDataSource.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add readme
  packages/mcp/README.md
Due: test-all

Add README (#754)
  packages/mcp/README.md
Due: test-all

Fix failing test
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Add missing sourceType
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

input guardrail refactor
  packages/mongodb-chatbot-server/src/processors/InputGuardrail.test.ts
  packages/mongodb-chatbot-server/src/processors/InputGuardrail.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.test.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Use SourceTypeName elsewhere too
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/mongoDbDatasetConstants.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

guardrail works well
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/processors/makeFewShotUserMessageExtractorFunction.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
  packages/mongodb-chatbot-server/src/processors/InputGuardrail.test.ts
  packages/mongodb-chatbot-server/src/processors/InputGuardrail.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

simpler validity metric
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Add sourceType to code Github source
  packages/mongodb-rag-core/src/dataSources/CodeOnGithubTextDataSource.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fix undefined overwrite issue
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/mongodb-rag-core/src/dataSources/GitDataSource.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

make optional
  packages/mongodb-rag-core/src/dataSources/CodeOnGithubTextDataSource.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add guardrail to server
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add next step todo
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Update DB if sourceType changes
  packages/mongodb-rag-core/src/contentStore/getChangedPages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

llm refusal msg
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/processors/GenerateResponse.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.test.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

remove TODO comment
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

EAI-1027 Add more scrubbed message data for analytics (#749)
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/ScrubbedMessage.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Ingest from the correct path
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Capture correct title and URL
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

(EAI-1012) update blog url list for scrape (#748)
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

sourceType as string
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/mongoDbDatasetConstants.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/dataSources/AcquitRequireMdOnGithubDataSource.ts
  packages/mongodb-rag-core/src/dataSources/CodeOnGithubTextDataSource.ts
  packages/mongodb-rag-core/src/dataSources/GitDataSource.ts
  packages/mongodb-rag-core/src/dataSources/MdOnGithubDataSource.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service
