Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npx playwright install chromium --with-deps
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chatbot-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-ingest-coach-gtm:
  steps:
  - name: publish-staging-ingest-coach-gtm
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-coach-gtm:
  steps:
  - name: deploy-staging-ingest-coach-gtm
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-coach-gtm-staging
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

evals on new architecture
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/index.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Get urls in a way that supports verified answers
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

dont eval on retrieved elems if no context
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Make sourceType name generic
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/practicalAggregations.ts
  packages/ingest-mongodb-public/src/sources/prisma.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/dataSources/AcquitRequireMdOnGithubDataSource.ts
  packages/mongodb-rag-core/src/dataSources/GitDataSource.ts
  packages/mongodb-rag-core/src/dataSources/GitHubDataSource.ts
  packages/mongodb-rag-core/src/dataSources/MdOnGithubDataSource.ts
  packages/mongodb-rag-core/src/dataSources/handleHtmlDocument.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

update skills pages ingest, add questions
  packages/chatbot-server-mongodb-public/evalCases/uni_skills_evaluation_questions.yml
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Improve grouping of web sources
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Cleaner handling
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tools/search.eval.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.test.ts
  packages/mongodb-chatbot-server/src/processors/MakeReferenceLinksFunc.ts
  packages/mongodb-chatbot-server/src/processors/SearchResult.ts
  packages/mongodb-chatbot-server/src/processors/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1033): include TOC index for snooty ingest (#734)
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

(EAI-1015): Parse Braintrust results to benchmark reporting service format (#700)
  packages/benchmarks/src/nlPromptResponse/NlQuestionAnswerEval.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/techSupportPromptCompletionBenchmark.ts
  packages/benchmarks/src/reporting/EvalCases.ts
  packages/benchmarks/src/reporting/bin/reportMultipleChoiceBenchmarkResults.ts
  packages/benchmarks/src/reporting/bin/reportTechSupportBenchmarkResults.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentSummary.ts
  packages/benchmarks/src/reporting/listBraintrustExperiments.ts
  packages/benchmarks/src/reporting/materializeExperimentResultsByCase.test.ts
  packages/benchmarks/src/reporting/materializeExperimentResultsByCase.ts
  packages/benchmarks/src/reporting/reportBenchmarkResults.ts
Due: test-all

update trace handling
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update trace handling
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add verified_response tag
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/uploadTopQuestionDataset.ts
Due: test-all

claude 4
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix build err
  packages/benchmarks/src/nlPromptResponse/NlQuestionAnswerEval.ts
Due: test-all

(EAI-1038, EAI-1039, EAI-1040, EAI-1041): benchmark on product, docs and TS datasets (#743)
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/nlPromptResponse/bin/docs100/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/docs100/docs100PromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/docs100/uploadDocs100PromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/globalConfig.ts
  packages/benchmarks/src/nlPromptResponse/bin/marketing/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/marketing/marketingPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/marketing/uploadMarketingDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/productKnowledgePromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/uploadProductKnowledgeDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/topQuestionPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/uploadTopQuestionDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadDocs100Dataset.ts
  packages/benchmarks/src/nlPromptResponse/loadMarketingDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadProductKnowledgeDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadTechSupportDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadWebMarketingDataset.ts
  packages/benchmarks/src/nlPromptResponse/metrics.ts
  packages/benchmarks/src/nlPromptResponse/runNlPromptResponseBenchmark.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add missing products/subproducts and reorganize a bit
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Claude 4 support (#758)
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Reorganize & add programming languages
  packages/mongodb-rag-core/src/mongoDbMetadata/programmingLanguages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add more topics
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

build out docs following last week convo
  docs/docs/data-sources.md
  docs/docs/datasets.md
  docs/docs/index.md
  docs/docs/server/openapi.yaml
  docs/sidebars.ts
Due: none

clean up spec + contact
  docs/docs/contact.md
  docs/docs/index.md
  docs/docs/server/openapi.yaml
  docs/sidebars.ts
Due: none

dash->underscore, move some products to topics
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

rename value
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add performance advisor
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1044) Add sourceType to all sources (#756)
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/practicalAggregations.ts
  packages/ingest-mongodb-public/src/sources/prisma.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/contentStore/getChangedPages.ts
  packages/mongodb-rag-core/src/dataSources/AcquitRequireMdOnGithubDataSource.ts
  packages/mongodb-rag-core/src/dataSources/CodeOnGithubTextDataSource.ts
  packages/mongodb-rag-core/src/dataSources/GitDataSource.ts
  packages/mongodb-rag-core/src/dataSources/GitHubDataSource.ts
  packages/mongodb-rag-core/src/dataSources/MdOnGithubDataSource.ts
  packages/mongodb-rag-core/src/dataSources/handleHtmlDocument.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add back product that was accidentally removed
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add name/description to topics
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Linting
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Better error handling & logging for segment events
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/tracing/segment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/segment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1061) Better error handling & logging for segment events (#762)
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/tracing/segment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/segment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

EAI-1054 Fix ingestion of atlas-terraform-provider (#761)
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Apply suggestions from code review
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

revert default reference links
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

adding missing test
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

lite fixes
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/mongodb-chatbot-server/src/processors/generateResponseWithSearchTool.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Remove stub
  packages/mongodb-chatbot-server/src/processors/InputGuardrail.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Product name consistency across ingest too
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

merge fix
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Strongly typed product names in snooty sources
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snootySources.ts
  packages/mongodb-rag-core/src/dataSources/ProjectBase.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
