Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*

(DOCSP-31285): Ingest PyMongo docs (#118)
  .drone.yml
  ingest/.env.example
  ingest/environments/production.yml
  ingest/environments/staging.yml
  ingest/package.json
  ingest/src/ChunkTransformer.ts
  ingest/src/GitHubDataSource.test.ts
  ingest/src/GitHubDataSource.ts
  ingest/src/RstOnGitHubDataSource.test.ts
  ingest/src/RstOnGitHubDataSource.ts
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkMd.ts
  ingest/src/chunkOpenApiSpecYaml.test.ts
  ingest/src/chunkOpenApiSpecYaml.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/commands/embed.ts
  ingest/src/commands/pages.ts
  ingest/src/projectSources.ts
  ingest/src/rstToSnootyAst.test.ts
  ingest/src/rstToSnootyAst.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithCodeExamples.rst
  ingest/src/updateEmbeddedContent.test.ts
  package-lock.json
Due: test-all, staging-build-ingest-service

add bypass WAF headers
  performance-tests/src/serverLoad.ts
Due: none

stop unindenting context
  chat-server/src/config.ts
Due: test-all, staging-build-chat-server

(DOCSP-32914): Stop unindenting context (#137)
  chat-server/src/config.ts
Due: test-all, staging-build-chat-server

start rate limit conf w/ TODOs
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/modules.d.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/testHelpers.ts
  package-lock.json
  package.json
Due: test-all, staging-build-chat-server

package clean up
  chat-server/package.json
  package-lock.json
  package.json
Due: test-all, staging-build-chat-server

continue adding conf to pass to app
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  performance-tests/build/serverLoad.d.ts
  performance-tests/build/serverLoad.js
Due: test-all, staging-build-chat-server

rate limit + slow down conversations
  chat-server/package.json
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.test.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/testHelpers.ts
  package-lock.json
Due: test-all, staging-build-chat-server

remove files that should not have been included
  performance-tests/build/serverLoad.d.ts
  performance-tests/build/serverLoad.js
Due: none

(DOCSP-32673) [modal bug] Code testing to supress re-focus
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-32673) [modal bug] Switch from onFocus to onClick to prevent modal reopen
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-32916): Conversation service rate limiting + slow down (#138)
  chat-server/package.json
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.test.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/modules.d.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/routes/conversations/createConversation.test.ts
  chat-server/src/routes/conversations/index.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/testHelpers.ts
  package-lock.json
Due: test-all, staging-build-chat-server

reduce # users
  performance-tests/src/serverLoad.ts
Due: none

(DOCSP-32673) [UI] Fix lint warning
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

update staging test instructions
  package-lock.json
  performance-tests/README.md
  performance-tests/package.json
  performance-tests/src/serverLoad.ts
Due: none

increase single IP rate limits to be more line w firewall rate limits
  chat-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server

Refactor core llm service + server implementation
  chat-core/src/DatabaseConnection.test.ts
  chat-core/src/integrations/openai.test.ts
  chat-core/src/integrations/openai.ts
  chat-server/src/AppConfig.ts
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/dataStreamer.ts
  chat-server/src/services/openAiChatLlm.test.ts
  chat-server/src/services/openAiChatLlm.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

fix build issue
  chat-core/src/index.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Fix more build errs
  chat-server/src/AppConfig.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/conversations.ts
  chat-server/src/services/openAiChatLlm.ts
Due: test-all, staging-build-chat-server

fix test TS build issues
  chat-server/src/app.test.ts
  chat-server/src/services/openAiChatLlm.test.ts
Due: test-all, staging-build-chat-server

another build fix
  chat-server/src/services/dataStreamer.test.ts
Due: test-all, staging-build-chat-server

(DOCSP-31863): Fix flaky test, refactor core llm service + server implementation (#142)
  chat-core/src/DatabaseConnection.test.ts
  chat-core/src/index.ts
  chat-core/src/integrations/openai.test.ts
  chat-core/src/integrations/openai.ts
  chat-server/src/AppConfig.ts
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/conversations.ts
  chat-server/src/services/dataStreamer.test.ts
  chat-server/src/services/dataStreamer.ts
  chat-server/src/services/openAiChatLlm.test.ts
  chat-server/src/services/openAiChatLlm.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-32936): Increase single IP rate limits to be more line w firewall rate limits (#141)
  chat-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server

fix merge weirdness
  chat-core/src/DatabaseConnection.ts
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/index.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/openAiChatLlm.test.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Update chat-ui/src/Chatbot.tsx
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-32756): Implement headings in tables
  ingest/src/renderSnootyTable.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

Encode string in html
  ingest/package.json
  ingest/src/renderSnootyTable.ts
  package-lock.json
Due: test-all, staging-build-ingest-service

Move test
  ingest/src/renderSnootyTable.test.ts
  ingest/src/renderSnootyTable.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/test_data/samplePageWithListTable.json
  ingest/src/test_data/samplePageWithMultiHeaderTableAst.json
  ingest/src/test_data/sampleSnootyMultiHeaderTable.json
  ingest/src/test_data/sampleSnootyTable.json
Due: test-all, staging-build-ingest-service

latest updates checkpoint
  chat-server/src/app.ts
  chat-server/src/index.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/conversationsRouter.ts
  chat-server/src/services/ChatLlm.ts
  chat-server/src/services/conversations.ts
  chat-server/src/services/dataStreamer.test.ts
  chat-server/src/services/dataStreamer.ts
  chat-server/src/services/llm.test.ts
  chat-server/src/services/openAiChatLlm.ts
Due: test-all, staging-build-chat-server

fix: upgrade urllib from 3.17.1 to 3.17.2
  mongodb-atlas/package.json
Due: none

fix: upgrade urllib from 3.17.1 to 3.17.2
  mongodb-atlas/package-lock.json
Due: none

Update comment and remove heading from th
  ingest/src/renderSnootyTable.test.ts
  ingest/src/renderSnootyTable.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32673) [UI] Suppress focus to prevent modal reopen (#139)
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

app config refactor
  chat-server/src/AppConfig.ts
  chat-server/src/app.test.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/llmQualitativeTests/edgeCases.test.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/conversationsRouter.test.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/services/openAiChatLlm.test.ts
  chat-server/src/services/openAiChatLlm.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server

Add try/catch around page loading
  ingest/src/GitHubDataSource.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/renderSnootyTable.ts
Due: test-all, staging-build-ingest-service

add logger
  chat-server/package.json
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/index.ts
  package-lock.json
Due: test-all, staging-build-chat-server

remove index imports
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server

export lib modules
  chat-server/src/index.ts
  chat-server/src/processors/index.ts
  chat-server/src/routes/conversations/index.ts
  chat-server/src/services/index.ts
Due: test-all, staging-build-chat-server

change lib entry point
  chat-server/package.json
  chat-server/src/index.ts
  chat-server/src/lib.ts
Due: test-all, staging-build-chat-server
