Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

Initial implementation of getEnv + test
  packages/mongodb-rag-core/src/getEnv.test.ts
  packages/mongodb-rag-core/src/getEnv.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

privitize repo
  packages/datasets/package.json
Due: test-all

Release 1.1.0
  packages/datasets/package.json
Due: test-all

getEnv return type is now more specific
  packages/mongodb-rag-core/src/getEnv.test.ts
  packages/mongodb-rag-core/src/getEnv.ts
  packages/mongodb-rag-core/src/getEnv.typetest.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

getEnv return type is now as specific as we want
  packages/mongodb-rag-core/src/getEnv.test.ts
  packages/mongodb-rag-core/src/getEnv.ts
  packages/mongodb-rag-core/src/getEnv.typetest.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-d file with tsd
  package-lock.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/getEnv.test-d.ts
  packages/mongodb-rag-core/src/getEnv.test.ts
  packages/mongodb-rag-core/src/getEnv.ts
  packages/mongodb-rag-core/src/getEnv.typetest.ts
  packages/mongodb-rag-core/tsconfig.build.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

release it conf
  package-lock.json
  packages/datasets/.release-it.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release datasets v1.1.1
  package-lock.json
  packages/datasets/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

replace non-null assertion with check+throw
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

script to process url list for coachgtm, should be removed
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/chatbot-server-mongodb-public/src/eval/bin/urlCheck.ts
  packages/chatbot-server-mongodb-public/src/eval/bin/urls.ts
  packages/chatbot-server-mongodb-public/urlsToIngest.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix build errr
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseUsers.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateMongoshCode.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNaturalLanguageQueries.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateUseCases.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateUseCases.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/sampleData.ts
Due: test-all

fix test build err redux
  packages/datasets/src/treeGeneration/databaseNlQueries/sampleData.ts
Due: test-all

Release ingest-mongodb-public v0.11.1
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

modify questions
  packages/chatbot-server-mongodb-public/evalCases/uni_skills_evaluation_questions.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

minimal functionality
  packages/benchmarks/src/reporting/getBraintrustExperimentResults.test.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentResults.ts
Due: test-all

wokring reporting funcs
  packages/benchmarks/src/reporting/aggregateScoresByTag.test.ts
  packages/benchmarks/src/reporting/aggregateScoresByTag.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentResults.test.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentResults.ts
Due: test-all

modify answer - remove url from reference copy
  packages/chatbot-server-mongodb-public/evalCases/uni_skills_evaluation_questions.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

rm all references to coachGTM
  .drone.yml
  packages/ingest-mongodb-public/.env.example
  packages/ingest-mongodb-public/environments/coachGtm.staging.yml
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/PublicIngestEnvVars.ts
  packages/ingest-mongodb-public/src/coachGtm.config.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

working badge question report
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/quizQuestions/bin/annotateBraintrustQuestions.ts
  packages/benchmarks/src/quizQuestions/bin/countQuestionsByTag.ts
  packages/benchmarks/src/quizQuestions/bin/loadBadgeQuizQuestions.ts
  packages/benchmarks/src/quizQuestions/bin/makeTags.ts
  packages/benchmarks/src/quizQuestions/bin/reportMongoDbUniversityAllQuizQuestions.ts
  packages/benchmarks/src/quizQuestions/bin/reportMongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/reportMongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/reporting/aggregateExperimentScoreMean.test.ts
  packages/benchmarks/src/reporting/aggregateExperimentScoreMean.ts
  packages/benchmarks/src/reporting/aggregateScoresByTag.test.ts
  packages/benchmarks/src/reporting/aggregateScoresByTag.ts
  packages/benchmarks/src/reporting/calculateStats.test.ts
  packages/benchmarks/src/reporting/calculateStats.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

generate full reports
  packages/benchmarks/src/quizQuestions/bin/reportMongoDbUniversityAllQuizQuestions.ts
  packages/benchmarks/src/quizQuestions/bin/reportMongoDbUniversityBadgeQuestionBenchmark.ts
Due: test-all

rm data source
  packages/ingest-mongodb-public/src/sources/MongoDbDotComDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/MongoDbDotComDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

clean up imports
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

rm files related to url check
  packages/chatbot-server-mongodb-public/src/eval/bin/urlCheck.ts
  packages/chatbot-server-mongodb-public/src/eval/bin/urls.ts
  packages/chatbot-server-mongodb-public/urlsToIngest.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

set up script to be re-usable, read from and write to local file system
  packages/chatbot-server-mongodb-public/src/eval/bin/checkUrlsAgainstDB.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release chatbot-server-mongodb-public v0.15.4
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

WIP BP Review
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-863): Generate reports for university quiz benchmarks (#658)
  package-lock.json
  package.json
  packages/benchmarks/package.json
  packages/benchmarks/src/quizQuestions/bin/annotateBraintrustQuestions.ts
  packages/benchmarks/src/quizQuestions/bin/countQuestionsByTag.ts
  packages/benchmarks/src/quizQuestions/bin/loadBadgeQuizQuestions.ts
  packages/benchmarks/src/quizQuestions/bin/makeTags.ts
  packages/benchmarks/src/quizQuestions/bin/reportMongoDbUniversityAllQuizQuestions.ts
  packages/benchmarks/src/quizQuestions/bin/reportMongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/reporting/aggregateExperimentScoreMean.test.ts
  packages/benchmarks/src/reporting/aggregateExperimentScoreMean.ts
  packages/benchmarks/src/reporting/aggregateScoresByTag.test.ts
  packages/benchmarks/src/reporting/aggregateScoresByTag.ts
  packages/benchmarks/src/reporting/calculateStats.test.ts
  packages/benchmarks/src/reporting/calculateStats.ts
  packages/benchmarks/src/reporting/convertTagStatsToFlatObject.test.ts
  packages/benchmarks/src/reporting/convertTagStatsToFlatObject.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentResults.test.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentResults.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update docs
  docs/docs/server/openapi.yaml
  docs/docs/server/user-message.md
Due: none

(EAI-903) Store whether or not the user commented in scrubbed messages
  packages/scripts/src/scrubMessages.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Add tests for scrubMessages
  packages/scripts/jest.config.cjs
  packages/scripts/package.json
  packages/scripts/src/ScrubbedMessage.ts
  packages/scripts/src/scrubMessages.test.ts
  packages/scripts/src/scrubMessages.ts
  packages/scripts/src/test/README.md
  packages/scripts/src/test/constants.ts
  packages/scripts/src/test/globalSetup.ts
  packages/scripts/src/test/globalTeardown.ts
  packages/scripts/src/test/globals.ts
  packages/scripts/src/test/jestSetUp.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

mostly works!
  packages/mongodb-rag-core/src/executeCode/extractMongoDbTags.test.ts
  packages/mongodb-rag-core/src/executeCode/extractMongoDbTags.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

moved urlCheck to scripts directory
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/scripts/package.json
  packages/scripts/src/checkUrlsAgainstDB.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-903) Store whether or not the user commented in scrubbed messages (#651)
  packages/scripts/jest.config.cjs
  packages/scripts/package.json
  packages/scripts/src/ScrubbedMessage.ts
  packages/scripts/src/scrubMessages.test.ts
  packages/scripts/src/scrubMessages.ts
  packages/scripts/src/test/README.md
  packages/scripts/src/test/constants.ts
  packages/scripts/src/test/globalSetup.ts
  packages/scripts/src/test/globalTeardown.ts
  packages/scripts/src/test/globals.ts
  packages/scripts/src/test/jestSetUp.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-523) Server supports clientContext passed in requests (#649)
  docs/docs/server/openapi.yaml
  docs/docs/server/user-message.md
  packages/mongodb-chatbot-server/src/processors/GenerateUserPromptFunc.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Add metadata to queries
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseExecutionResult.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/nodeTypes.ts
  packages/mongodb-rag-core/src/executeCode/extractMongoDbQueryMetadata.test.ts
  packages/mongodb-rag-core/src/executeCode/extractMongoDbQueryMetadata.ts
  packages/mongodb-rag-core/src/executeCode/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Apply suggestions from code review: changes to copy
  packages/chatbot-server-mongodb-public/evalCases/uni_skills_evaluation_questions.yml
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

copy changes to guardrail.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

most of fuzzy match clustering
  packages/datasets/src/treeGeneration/databaseNlQueries/fuzzyClusterDatabaseExecutionResults.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/fuzzyClusterDatabaseExecutionResults.ts
  packages/mongodb-rag-core/src/executeCode/fuzzyMatchExecutionResults.test.ts
  packages/mongodb-rag-core/src/executeCode/fuzzyMatchExecutionResults.ts
  packages/mongodb-rag-core/src/executeCode/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update package-lock
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
