Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

(EAI-640) mongodbdotcom content evaluation cases (#626)
  packages/chatbot-server-mongodb-public/evalCases/dotcom_chatbot_evaluation_questions.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.test.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.ts
  packages/mongodb-rag-core/src/eval/index.ts
  packages/mongodb-rag-core/testData/sampleChatbotEvaluationQuestions.csv
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release mongodb-chatbot-ui v0.13.0
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-887) More prominent indication of verified answers in Slack
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-890) Have slack message link directly to Braintrust trace
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Source braintrust info from env instead of hardcode
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-876): Ingest architecture center (#633)
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/src/eval/experiments/architectureCenter.eval.ts
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/sources/snootySources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

it compiles...but does it run? to be continued...
  packages/datasets/src/treeGeneration/GenerationNode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseUsers.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDbCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateUseCases.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/makePromptComponents.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/nodeTypes.ts
  packages/datasets/src/treeGeneration/generateChildren.ts
  packages/datasets/src/treeGeneration/generateTree.ts
Due: test-all

Apply suggestions from code review
  packages/datasets/src/codeExampleDataset/createCodeExampleDatasetEntry.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbTransformedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

implement NL feedback
  package-lock.json
  packages/datasets/package.json
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/codeExampleDataset/classifyCodeExample.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update slack feedback message (#638)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

repo-chat sample project
  examples/repo-chat/.env.example
  examples/repo-chat/.gitignore
  examples/repo-chat/README.md
  examples/repo-chat/package-lock.json
  examples/repo-chat/package.json
  examples/repo-chat/packages/ingest/package.json
  examples/repo-chat/packages/ingest/src/ingest.config.ts
  examples/repo-chat/packages/ingest/src/loadEnvVars.ts
  examples/repo-chat/packages/ingest/src/reposDataSource.ts
  examples/repo-chat/packages/ingest/tsconfig.json
  examples/repo-chat/packages/server/.gitignore
  examples/repo-chat/packages/server/package.json
  examples/repo-chat/packages/server/src/index.ts
  examples/repo-chat/packages/server/src/loadEnvVars.ts
  examples/repo-chat/packages/server/tsconfig.json
  examples/repo-chat/packages/ui/.eslintrc.cjs
  examples/repo-chat/packages/ui/.gitignore
  examples/repo-chat/packages/ui/README.md
  examples/repo-chat/packages/ui/index.html
  examples/repo-chat/packages/ui/package-lock.json
  examples/repo-chat/packages/ui/package.json
  examples/repo-chat/packages/ui/src/App.css
  examples/repo-chat/packages/ui/src/App.tsx
  examples/repo-chat/packages/ui/src/assets/react.svg
  examples/repo-chat/packages/ui/src/index.css
  examples/repo-chat/packages/ui/src/main.tsx
  examples/repo-chat/packages/ui/src/vite-env.d.ts
  examples/repo-chat/packages/ui/tsconfig.json
  examples/repo-chat/packages/ui/tsconfig.node.json
  examples/repo-chat/packages/ui/vite.config.ts
Due: none

Update packages/benchmarks/src/models.ts
  packages/benchmarks/src/models.ts
Due: test-all

[benchmarks] Use Braintrust proxy for Azure OpenAI and AWS Bedrock (#634)
  package-lock.json
  packages/benchmarks/.env.example
  packages/benchmarks/package.json
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/openAiClients.ts
  packages/benchmarks/src/textToDriver/TextToDriverEnvVars.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Add ops manager jira-only config
  packages/release-notes-generator/src/config.ts
  packages/release-notes-generator/src/configs/opsManager.config.ts
  packages/release-notes-generator/src/generate.test.ts
  packages/release-notes-generator/src/generate.ts
Due: test-all

fix build err + remove unused azure tests
  packages/benchmarks/src/models.test.ts
Due: test-all

(EAI-881): Run multiple choice benchmark on additional models (#635)
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
Due: test-all

Apply suggestions from code review
  .drone.yml
Due: test-all

Fix lint + type error
  packages/release-notes-generator/src/configs/atlasCli.config.ts
  packages/release-notes-generator/src/configs/mongosh.config.ts
  packages/release-notes-generator/src/configs/opsManager.config.ts
  packages/release-notes-generator/src/configs/relationalMigrator.config.ts
Due: test-all

Release ingest-mongodb-public v0.11.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

log out urls in references that are not ingested
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

start on annotating db
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/extractDeterministicSampleOfDocuments.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getDatabaseMetadata.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDatabaseMetadata.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDbSchema.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDbCode.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDbCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generatedMqlCode.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/nodeTypes.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/sampleData.ts
Due: test-all

(EAI-848) Store User-Agent in metadata
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fuzzy match urls (ignore http protocol, www prefix)
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

lint
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

alphabetically sort url lists in web sources
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add urls referenced for dotcom questions to web sources
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

create experiment
  packages/chatbot-server-mongodb-public/src/eval/experiments/dotcomQuestionsTest.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update guardrail to allow architecture questions, ODL question example
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

checkpoint before merge
  package-lock.json
  packages/datasets/.env.example
  packages/datasets/package.json
  packages/datasets/src/EnvVars.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/LlmOptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/extractDeterministicSampleOfDocuments.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateAnnotatedCollectionSchema.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateAnnotatedDatabaseInfo.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateHighLevelDbDescriptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getDatabaseMetadata.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getOpenAiFunctionResponse.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/truncateDocument.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/truncateDocument.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDatabaseInfo.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDatabaseInfo.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDatabaseMetadata.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDbSchema.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDbCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/nodeTypes.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/sampleData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

push models to core
  package-lock.json
  packages/benchmarks/src/discovery/mongoDbDiscoveryBenchmark.ts
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/openAiClients.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongodbUniversityAllQuestionBenchmark.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/benchmarks/tsconfig.json
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/extractDeterministicSampleOfDocuments.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/makePromptComponents.ts
  packages/mongodb-rag-core/.env.example
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/models/index.ts
  packages/mongodb-rag-core/src/models/makeOpenAiClientFactory.ts
  packages/mongodb-rag-core/src/models/models.test.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

checkpoint functional
  packages/datasets/src/treeGeneration/databaseNlQueries/annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/extractDeterministicSampleOfDocuments.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateAnnotatedCollectionSchema.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateAnnotatedDatabaseInfo.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateHighLevelDbDescriptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getOpenAiFunctionResponse.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/prettyPrintMongoDbDocument.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/prettyPrintMongoDbDocument.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/truncateDocument.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDatabaseInfo.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDatabaseInfo.ts
  packages/mongodb-rag-core/src/models/makeOpenAiClientFactory.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

working
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/extractDeterministicSampleOfDocuments.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateHighLevelDbDescriptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getOpenAiFunctionResponse.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDatabaseInfo.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/gpt-4o_annotatedDbSchema.yaml
Due: test-all

sample outputs
  packages/datasets/src/treeGeneration/databaseNlQueries/annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDatabaseInfo.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_airbnb_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_analytics_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_geospatial_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_guides_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_mflix_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_restaurants_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_supplies_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_weatherdata_gpt-4o_annotatedDbSchema.yaml
Due: test-all

uni skills eval, scrape skills page on learn.
  packages/chatbot-server-mongodb-public/evalCases/uni_skills_evaluation_questions.yml
  packages/chatbot-server-mongodb-public/src/eval/experiments/skillsQuestionsTest.eval.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-848) Store User-Agent in metadata (#641)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

checkpoint much working
  packages/datasets/src/treeGeneration/databaseNlQueries/LlmOptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateAnnotatedCollectionSchema.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateHighLevelDbDescriptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getOpenAiFunctionResponse.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/e2e.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDatabaseInfo.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseUsers.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseUsers.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDbCode.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDbCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNaturalLanguageQueries.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateUseCases.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/sampleData.ts
  packages/datasets/src/treeGeneration/generateChildren.test.ts
  packages/datasets/src/treeGeneration/generateChildren.ts
Due: test-all

tests passing for makeGenerateChildrenWithOpenAi
  packages/datasets/src/treeGeneration/generateChildren.test.ts
  packages/datasets/src/treeGeneration/generateChildren.ts
Due: test-all

kinda works. nuff for today
  packages/datasets/src/treeGeneration/databaseNlQueries/e2e.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseExecutionResults.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseExecutionResults.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseUsers.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDbCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNaturalLanguageQueries.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/makePromptComponents.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/nl_queries.jsonl
  packages/datasets/src/treeGeneration/databaseNlQueries/nodeTypes.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/sampleData.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/text_to_mql.jsonl
  packages/datasets/src/treeGeneration/generateChildren.test.ts
Due: test-all

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
