Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npx playwright install chromium --with-deps
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chatbot-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-ingest-coach-gtm:
  steps:
  - name: publish-staging-ingest-coach-gtm
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-coach-gtm:
  steps:
  - name: deploy-staging-ingest-coach-gtm
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-coach-gtm-staging
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

stub out implementation
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.test.ts
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.ts
  packages/datasets/src/bin/generateAtlasSearchDataset.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueriesAtlasSearch.eval.ts
  packages/mongodb-rag-core/src/executeCode/DatabaseExecutionResult.ts
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.test.ts
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.test.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

WIP - move to new package
  package-lock.json
  packages/mercury-case-analysis/eslint.config.cjs
  packages/mercury-case-analysis/package.json
  packages/mercury-case-analysis/src/Case.ts
  packages/mercury-case-analysis/src/analyzeCases.test.ts
  packages/mercury-case-analysis/src/analyzeCases.ts
  packages/mercury-case-analysis/src/calculateEmbeddings.ts
  packages/mercury-case-analysis/src/generateText.ts
  packages/mercury-case-analysis/src/index.ts
  packages/mercury-case-analysis/src/rating.eval.ts
  packages/mercury-case-analysis/src/rating.ts
  packages/mercury-case-analysis/src/relevance.test.ts
  packages/mercury-case-analysis/src/relevance.ts
  packages/mercury-case-analysis/src/squareMagnitude.test.ts
  packages/mercury-case-analysis/src/squareMagnitude.ts
  packages/mercury-case-analysis/src/utils.ts
  packages/mercury-case-analysis/tsconfig.build.json
  packages/mercury-case-analysis/tsconfig.build.tsbuildinfo
  packages/mercury-case-analysis/tsconfig.json
  packages/mercury-case-analysis/vitest.config.ts
  packages/mongodb-rag-core/src/aiSdk.ts
  packages/scripts/package.json
  packages/scripts/src/Case.ts
  packages/scripts/src/assessRelevance.eval.ts
  packages/scripts/src/generateRating.eval.ts
  packages/scripts/src/generateRating.ts
  packages/scripts/src/main/assessCasesMain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

move to new package
  package-lock.json
  packages/mercury-case-analysis/package.json
  packages/mercury-case-analysis/src/analyzeCases.test.ts
  packages/mercury-case-analysis/src/analyzeCases.ts
  packages/scripts/package.json
  packages/scripts/src/main/assessCasesMain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

suggest rewrites
  packages/mercury-case-analysis/eslint.config.cjs
  packages/mercury-case-analysis/src/Case.ts
  packages/mercury-case-analysis/src/analyzeCases.ts
  packages/mercury-case-analysis/src/index.ts
  packages/mercury-case-analysis/src/rating.eval.ts
  packages/mercury-case-analysis/src/rating.test.ts
  packages/mercury-case-analysis/src/rating.ts
  packages/mercury-case-analysis/src/suggestRewrite.eval.ts
  packages/mercury-case-analysis/src/suggestRewrite.test.ts
  packages/mercury-case-analysis/src/suggestRewrite.ts
Due: test-all

case analysis release ready
  .drone.yml
  package-lock.json
  packages/mercury-case-analysis/.release-it.json
  packages/mercury-case-analysis/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

ready for publish
  package-lock.json
  packages/mercury-case-analysis/.gitignore
  packages/mercury-case-analysis/README.md
  packages/mercury-case-analysis/package.json
  packages/mercury-case-analysis/tsconfig.build.tsbuildinfo
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Executor refactor
  packages/datasets/src/bin/appendTextToMongoshAverageExecutionTime.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/bin/generateMongoshDatasetsClaude.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseExecutionResult.ts
  packages/mongodb-rag-core/src/executeCode/DatabaseExecutionResult.ts
  packages/mongodb-rag-core/src/executeCode/profileMongoshQuery.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

execute aggregation
  packages/mongodb-rag-core/src/executeCode/DatabaseExecutionResult.ts
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.test.ts
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.test.ts
  packages/mongodb-rag-core/src/executeCode/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Slight revert - instead, mock the conversation messages, and save after
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Undo line
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Undo voyage-specific changes to eval driver
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

copilot review
  packages/mercury-case-analysis/src/rating.ts
  packages/mercury-case-analysis/src/relevance.test.ts
  packages/mercury-case-analysis/src/relevance.ts
  packages/mercury-case-analysis/src/utils.ts
  packages/scripts/src/main/assessCasesMain.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Unit test for fixed issue
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1202): [bug_fix] Missing context for multiple input messages on Responses API (#878)
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

EAI-1181 Ingest VoyageAI API spec as OpenAPI yaml from Github (#879)
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
  packages/mongodb-rag-core/src/chunk/chunkOpenApiSpecYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

all works except rewrite
  packages/datasets/src/bin/generateAtlasSearchDataset.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAnnotatedDatabaseInfo.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/makePromptComponents.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/rewriteNlQuery/rewriteAtlasSearchNlQuery.ts
  packages/mongodb-rag-core/src/executeCode/DatabaseExecutionResult.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/generateAnnotatedCollectionSchema.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/generateAnnotatedDatabaseInfo.ts
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.test.ts
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Guardrail eval cases with custom prompts/tools
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Guardrail prompt for custom prompt/tools that works with gpt-4.1-mini
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

be a module, use tsup
  package-lock.json
  packages/mercury-case-analysis/package.json
  packages/mercury-case-analysis/tsconfig.json
  packages/mercury-case-analysis/tsup.config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Instructions label & few-shot for custom prompt/tools
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1221) update list of blog urls for FY26_Q3 (#866)
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

fix broken links to openapi spec
  docs/docs/server/responses-api.md
Due: none

small fix
  docs/docs/server/responses-api.md
Due: none

pipeline working e2e
  packages/datasets/src/bin/generateAtlasSearchDataset.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/DatabaseNlQueryDatasetEntry.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateHighLevelDbDescriptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getOpenAiFunctionResponse.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/rewriteNlQuery/rewriteAtlasSearchNlQuery.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

fix broken links to openapi spec (#880)
  docs/docs/server/responses-api.md
Due: none

Remove rewrite step
  packages/datasets/src/bin/generateAtlasSearchDataset.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Deploy website - based on 574a38a2f2e449afdc24408773d000d0b78e5019
  404.html
  assets/js/426b650c.c4276921.js
  assets/js/426b650c.f211fc17.js
  assets/js/47986684.054c28a0.js
  assets/js/47986684.f505c4fc.js
  assets/js/75e281e7.054bb02f.js
  assets/js/75e281e7.c399e495.js
  assets/js/99441d91.2503df50.js
  assets/js/99441d91.653c87be.js
  assets/js/ae9173d0.7763727f.js
  assets/js/ae9173d0.d6cf555a.js
  assets/js/runtime~main.a4b0217a.js
  assets/js/runtime~main.ec86f2e0.js
  contact/index.html
  data-sources/index.html
  datasets/index.html
  framework/index.html
  index.html
  reference/index.html
  reference/ui/classes/ConversationService/index.html
  reference/ui/classes/RetriableError/index.html
  reference/ui/classes/TimeoutError/index.html
  reference/ui/index.html
  reference/ui/modules/index.html
  server/openapi/index.html
  server/responses-api/index.html
  ui/index.html
Due: none

Minor prompt change & use mini
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

working pipeline
  packages/datasets/src/bin/generateAtlasSearchDataset.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

add subsequent PR eval
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueriesAtlasSearch.eval.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

fix build errs
  packages/benchmarks/src/textToDriver/generateDriverCode/annotatedDbSchemas.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodePromptCompletion.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeSimpleToolCall.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeDatabaseInfoPrompt.ts
Due: test-all

fix broken test
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Conditional guardrail system prompt formatting
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1226) Guardrail eval & refinement for custom system prompt and tools (#881)
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

EAI-1258 a bit more protection / evals on prompt injection
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

embedders -> embeddingModels
  packages/mercury-case-analysis/src/analyzeCases.ts
  packages/mercury-case-analysis/src/relevance.test.ts
  packages/mercury-case-analysis/src/relevance.ts
Due: test-all

export rag-core types
  packages/mercury-case-analysis/src/index.ts
Due: test-all

BP review
  packages/mercury-case-analysis/src/rating.ts
  packages/mercury-case-analysis/src/suggestRewrite.ts
Due: test-all

(New package) Mercury case analysis (#876)
  .drone.yml
  package-lock.json
  packages/mercury-case-analysis/.gitignore
  packages/mercury-case-analysis/.release-it.json
  packages/mercury-case-analysis/README.md
  packages/mercury-case-analysis/eslint.config.cjs
  packages/mercury-case-analysis/package.json
  packages/mercury-case-analysis/src/analyzeCases.test.ts
  packages/mercury-case-analysis/src/analyzeCases.ts
  packages/mercury-case-analysis/src/calculateEmbeddings.ts
  packages/mercury-case-analysis/src/generateText.ts
  packages/mercury-case-analysis/src/index.ts
  packages/mercury-case-analysis/src/rating.eval.ts
  packages/mercury-case-analysis/src/rating.test.ts
  packages/mercury-case-analysis/src/rating.ts
  packages/mercury-case-analysis/src/relevance.test.ts
  packages/mercury-case-analysis/src/relevance.ts
  packages/mercury-case-analysis/src/squareMagnitude.test.ts
  packages/mercury-case-analysis/src/squareMagnitude.ts
  packages/mercury-case-analysis/src/suggestRewrite.eval.ts
  packages/mercury-case-analysis/src/suggestRewrite.test.ts
  packages/mercury-case-analysis/src/suggestRewrite.ts
  packages/mercury-case-analysis/src/utils.ts
  packages/mercury-case-analysis/tsconfig.build.json
  packages/mercury-case-analysis/tsconfig.json
  packages/mercury-case-analysis/tsup.config.ts
  packages/mercury-case-analysis/vitest.config.ts
  packages/mongodb-rag-core/src/aiSdk.ts
  packages/scripts/package.json
  packages/scripts/src/Case.ts
  packages/scripts/src/assessRelevance.eval.ts
  packages/scripts/src/assessRelevance.ts
  packages/scripts/src/generateRating.eval.ts
  packages/scripts/src/generateRating.ts
  packages/scripts/src/main/assessCasesMain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Release mercury-case-analysis v0.1.0
  package-lock.json
  packages/mercury-case-analysis/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
