Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

Fix test fail
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
Due: test-all

refactor
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeMarkdownPagesForLearningPaths.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Add defaults in jsdoc
  packages/mongodb-artifact-generator/src/Config.ts
Due: test-all

fix broken core tests
  package-lock.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/ChatLlm.ts
  packages/mongodb-rag-core/src/DataStreamer.test.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
  packages/mongodb-rag-core/src/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/LangchainChatLlm.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/OpenAiChatLlm.test.ts
  packages/mongodb-rag-core/src/OpenAiChatLlm.ts
  packages/mongodb-rag-core/src/OpenAiEmbedder.test.ts
  packages/mongodb-rag-core/src/OpenAiEmbedder.ts
  packages/mongodb-rag-core/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

process higher level courses in makeUniversityPages
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.test.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeMarkdownPagesForLearningPaths.test.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeMarkdownPagesForLearningPaths.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeUniversityPages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

BP review
  packages/mongodb-artifact-generator/src/commands/generateDocsMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-metadata/examples/io.md
  packages/mongodb-artifact-generator/src/docs-metadata/examples/replication.json
  packages/mongodb-artifact-generator/src/docs-metadata/examples/tutorial_insert-documents.json
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.test.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetadata.ts
  packages/mongodb-artifact-generator/src/standardConfig.ts
  packages/mongodb-artifact-generator/src/utils.test.ts
Due: test-all

Eval WIP
  package-lock.json
  packages/mongodb-artifact-generator/package.json
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove azure/openai stuff
  examples/quick-start/packages/ingest/src/ingest.config.ts
  examples/quick-start/packages/server/package.json
  examples/quick-start/packages/server/src/index.ts
  package-lock.json
  packages/benchmarks/package.json
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/package.json
  packages/ingest-mongodb-public/src/coachGtm.config.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/mongodb-artifact-generator/package.json
  packages/mongodb-artifact-generator/src/Config.ts
  packages/mongodb-artifact-generator/src/chat/makeClassifier.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogScope.ts
  packages/mongodb-artifact-generator/src/standardConfig.ts
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
  packages/mongodb-chatbot-verified-answers/package.json
  packages/mongodb-chatbot-verified-answers/src/commands/import.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/chatLlm/OpenAiChatLlm.ts
  packages/mongodb-rag-core/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

address PR feedback: casing, comments, naming, tests
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.test.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeUniversityPages.test.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeUniversityPages.ts
  packages/mongodb-rag-ingest/testData/sampleUniversityCatalogItemCourse.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

cleanup
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeUniversityPages.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

cleanup
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Fix build err
  packages/mongodb-chatbot-evaluation/src/evaluate/checkResponseQuality.ts
Due: test-all

more build err fixes
  package-lock.json
  packages/chatbot-eval-mongodb-public/src/eval.config.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateChatCompletion.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/checkResponseQuality.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateConversationQuality.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateConversationQuality.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix test errs
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/dataSources/MdOnGithubDataSource.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix code broken
  packages/mongodb-artifact-generator/src/chat/makeClassifier.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken tests
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

suite passing
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/test/mockOpenAi.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

move makeclassifier to core
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogAudience.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogScope.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/makeClassifier.test.ts
  packages/mongodb-rag-core/src/makeClassifier.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix build err
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelog.ts
Due: test-all

cleanup, refactor param structure
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Update packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

revet Eval
  package-lock.json
  packages/mongodb-artifact-generator/package.json
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-576) [UI] Add React Testing Library + tests
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/App.module.css
  packages/mongodb-chatbot-ui/src/App.test.tsx
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/Banner.test.tsx
  packages/mongodb-chatbot-ui/src/HotkeyContext.tsx
  packages/mongodb-chatbot-ui/src/test-utils.ts
  packages/mongodb-chatbot-ui/src/useConversation.test.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/tsconfig.declarations.json
  packages/mongodb-chatbot-ui/tsconfig.json
  packages/mongodb-chatbot-ui/vitest.config.ts
  packages/mongodb-chatbot-ui/vitest.setup.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Experimental modules
  packages/mongodb-artifact-generator/package.json
Due: test-all

Update OpenAI core usage
  packages/mongodb-artifact-generator/src/chat/index.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateChatCompletion.ts
  packages/mongodb-artifact-generator/src/chat/makeGeneratePrompts.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateResponse.ts
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.ts
  packages/mongodb-artifact-generator/src/chat/utils.ts
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
  packages/mongodb-artifact-generator/src/operations.ts
  packages/mongodb-artifact-generator/src/release-notes/createChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/summarizeReleaseArtifacts.ts
Due: test-all

Fix test
  packages/mongodb-artifact-generator/src/chat/utils.test.ts
Due: test-all

fix broken tests
  packages/mongodb-chatbot-evaluation/package.json
  packages/scripts/src/materialize/materializedViewUtils.test.ts
  packages/scripts/src/materialize/scrubbed_messages_stats.test.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

update exports
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix broken mock
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.test.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.test.ts
  packages/chatbot-server-mongodb-public/src/test/mockOpenAi.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Use OpenAI from core
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetadata.ts
Due: test-all

Start on VA evals
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
  packages/mongodb-chatbot-verified-answers/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

BP review
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

asterisk begone
  packages/mongodb-chatbot-ui/src/test-utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

More OpenAI from core
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.test.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
Due: test-all

prep evals for run
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/topics.ts
  packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Apply suggestions from code review
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
Due: test-all

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
