Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

A couple more cases for factuality assessment
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

gen full benchmark
  packages/datasets/src/bin/convertNlToMqlDatasetOutToBraintrust.ts
  packages/datasets/src/bin/generateAtlasSearchDataset.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseExecutionResult.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseUsers.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCode.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.atlasSearch.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateUseCases.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/sampleData/atlasSearch.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/sampleData/mql.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

gen atlas search dataset
  packages/benchmarks/src/textToDriver/nltoAtlasSearchBenchmarkConfig.ts
Due: test-all

small updates
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/textToDriver/nltoAtlasSearchBenchmarkConfig.ts
Due: test-all

update naming
  docs/docs/server/openapi.yaml
  docs/docs/server/responses-api.md
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

PR review - importantNote shouldn't be in the systemPromptContent
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Apply suggestions from code review
  packages/datasets/src/bin/convertNlToMqlDatasetOutToBraintrust.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1274): Rate and comment endpoints based only on message id (#894)
  docs/docs/server/openapi.yaml
  docs/docs/server/responses-api.md
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

typo fix
  packages/chatbot-server-mongodb-public/evalCases/internal_tools_conversations.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1272): [docs] Context engineering guide (#893)
  docs/docs/server/context-engineering.md
  docs/docs/server/evaluation.md
  docs/sidebars.ts
Due: none

Update docs/docs/server/evaluation.md
  docs/docs/server/evaluation.md
Due: none

(EAI-1273): [docs] Evaluation guide (#896)
  docs/docs/server/evaluation.md
Due: none

Add 1 prompt adherence eval case for fallback instruction
  packages/chatbot-server-mongodb-public/evalCases/system_prompt_conversations.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

claude 4 models
  packages/benchmarks/src/benchmarkModels.ts
Due: test-all

more robust err handling
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/generateDriverCode/generateAtlasSearchCodeAgentic.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/mongoDbMcpAgent.ts
Due: test-all

Mercury pipeline updates
  package-lock.json
  packages/scripts/package.json
  packages/scripts/src/mercury/database.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/utils.ts
  packages/scripts/src/profound/getAndProcessAnswers.ts
  packages/scripts/src/profound/profoundAPI.ts
  packages/scripts/src/profound/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

dataset sampling args
  packages/benchmarks/src/cli/benchmarkCli.test.ts
  packages/benchmarks/src/cli/benchmarkCli.ts
  packages/benchmarks/src/cli/runBenchmark.test.ts
  packages/benchmarks/src/cli/runBenchmark.ts
Due: test-all

(EAI-1148) Update fetch_page eval cases with front matter changes (#899)
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/internal_tools_conversations.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP - working on this
  package-lock.json
  package.json
  packages/scripts/package.json
  packages/scripts/src/upsertMetaDirective.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

upsert works
  packages/scripts/src/upsertMetaDirective.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

generation working one at a time
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
  packages/mongodb-artifact-generator/src/withConfig.ts
  packages/scripts/package.json
  packages/scripts/src/generateMetaDescriptions.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

batch update google sheet
  packages/mongodb-artifact-generator/src/commands/generateDocsMetaDescription.ts
  packages/scripts/src/generateMetaDescriptions.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

generation works in repo groups
  packages/scripts/src/generateMetaDescriptions.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Remove top-level installs
  package-lock.json
  package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Generate meta descriptions (google sheets) (#901)
  package-lock.json
  package.json
  packages/mongodb-artifact-generator/src/commands/generateDocsMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
  packages/mongodb-artifact-generator/src/withConfig.ts
  packages/scripts/package.json
  packages/scripts/src/generateMetaDescriptions.ts
  packages/scripts/src/upsertMetaDirective.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Test run: Tool instructions in tool descriptions
  packages/chatbot-server-mongodb-public/evalCases/system_prompt_conversations.yml
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1279): dataset sampling args (#900)
  packages/benchmarks/src/cli/benchmarkCli.test.ts
  packages/benchmarks/src/cli/benchmarkCli.ts
  packages/benchmarks/src/cli/runBenchmark.test.ts
  packages/benchmarks/src/cli/runBenchmark.ts
Due: test-all

(EAI-1260) Add verified answers for chatbot PDP testing
  verified-answers.yaml
Due: none

Fix VA link
  verified-answers.yaml
Due: none

More detail in VA upload script
  packages/mongodb-chatbot-verified-answers/package.json
  packages/mongodb-chatbot-verified-answers/src/commands/import.ts
Due: test-all

first draft of prompt
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/atlasSearch.ts
  packages/benchmarks/src/textToDriver/nltoAtlasSearchBenchmarkConfig.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

support AI SDK stopWhen (loop behavior)
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1281): Support AI SDK `stopWhen` condition (loop behavior) (#902)
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Update evaluation.md
  docs/docs/server/evaluation.md
Due: none

Update evaluation.md (#903)
  docs/docs/server/evaluation.md
Due: none

Deploy website - based on d1f8fc58db4f0e88e06e479580da7c66e91494c3
  404.html
  assets/js/426b650c.79b714c0.js
  assets/js/426b650c.aada2e43.js
  assets/js/47986684.1cfd0675.js
  assets/js/47986684.ba3fe0f6.js
  assets/js/64709d66.144096bf.js
  assets/js/64709d66.fafb5afc.js
  assets/js/99441d91.69532782.js
  assets/js/99441d91.6c0dc2ae.js
  assets/js/ae9173d0.7a13a98a.js
  assets/js/ae9173d0.e54e2a32.js
  assets/js/runtime~main.685fceec.js
  assets/js/runtime~main.d8565e00.js
  contact/index.html
  data-sources/index.html
  datasets/index.html
  framework/index.html
  index.html
  reference/index.html
  reference/ui/classes/ConversationService/index.html
  reference/ui/classes/RetriableError/index.html
  reference/ui/classes/TimeoutError/index.html
  reference/ui/index.html
  reference/ui/modules/index.html
  server/context-engineering/index.html
  server/evaluation/index.html
  server/openapi/index.html
  server/responses-api/index.html
  ui/index.html
Due: none

Making progress
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public
