Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npx playwright install chromium --with-deps
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chatbot-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-ingest-coach-gtm:
  steps:
  - name: publish-staging-ingest-coach-gtm
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-coach-gtm:
  steps:
  - name: deploy-staging-ingest-coach-gtm
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-coach-gtm-staging
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

node version upgrade
  .drone.yml
  chat-server.dockerfile
  datasets.dockerfile
  ingest-service.dockerfile
  scripts-service.dockerfile
Due: test-all

Release chatbot-server-mongodb-public v0.25.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

customData tool info -> scrubbed messages
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

More precise answer query
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

better logging
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

max batches for evaluateLlms
  packages/scripts/src/mercury/evaluateLlms.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

start refactor to support aws-bedrock
  packages/mongodb-rag-core/src/aiSdk.ts
  packages/scripts/src/mercury/README.md
  packages/scripts/src/mercury/createFuzzyPrompts.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/evaluationCore.ts
  packages/scripts/src/mercury/examples/customEvaluation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add aws-bedrock for real
  package-lock.json
  packages/mongodb-rag-core/src/models/models.ts
  packages/scripts/package.json
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/evaluationCore.ts
  packages/scripts/src/mercury/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add llama4 pointing to BT, currently nonfunctional
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fix type check & dependencies
  package-lock.json
  package.json
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

run reports
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/bin/loadBadgeQuizQuestions.ts
  packages/benchmarks/src/quizQuestions/bin/makeTags.ts
  packages/benchmarks/src/quizQuestions/bin/reportMongoDbUniversityAllQuizQuestions.ts
  packages/benchmarks/src/quizQuestions/bin/reportMongoDbUniversityBadgeQuestionBenchmark.ts
Due: test-all

(EAI-1150) Improve cleanliness in generateResponseWithTools.ts (#910)
  package-lock.json
  package.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/makeScrubbedMessagesFromTracingData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add llama4 + bedrock
  packages/mongodb-rag-core/src/models/models.ts
  packages/scripts/src/mercury/createFuzzyPrompts.ts
  packages/scripts/src/mercury/database.ts
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/evaluationCore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Marketing PDP verified answers
  verified-answers.yaml
Due: none

Marketing PDP verified answers (#912)
  verified-answers.yaml
Due: none

WIP - responses custom data
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/processors/addCustomData.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Remove unnec scripts
  package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

remove override
  package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

clean up datasets
  packages/datasets/src/bin/classifyCodeExamplesForUsefulness.ts
  packages/datasets/src/bin/convertCodeExamplePromptYamlToCsvUsefulOnly.ts
  packages/datasets/src/bin/convertcodeExamplePromptYamlToCsv.ts
  packages/datasets/src/bin/countExamplesByLength.ts
  packages/datasets/src/bin/countUsableExamples.ts
  packages/datasets/src/bin/extractCodeExamples.ts
  packages/datasets/src/bin/filterCodeExamplesForExport.ts
  packages/datasets/src/bin/filterCodeExamplesForSmallExport.ts
  packages/datasets/src/bin/genAdditionalCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAllCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAtlasSearchCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genDriversCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genManualCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genRustDriverCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genSampleOfCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/generateAtlasSearchDataset.ts
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/bin/updateCodeExampleHeadings.ts
  packages/datasets/src/codeExampleDataset/AstExtractedCodeBlock.ts
  packages/datasets/src/codeExampleDataset/appendLlmMetadata.ts
  packages/datasets/src/codeExampleDataset/classifyCodeExample.ts
  packages/datasets/src/codeExampleDataset/classifyCodeExampleDocsTeam.eval.ts
  packages/datasets/src/codeExampleDataset/classifyCodeExampleDocsTeam.ts
  packages/datasets/src/codeExampleDataset/classifyIsUsefulCodeBlockForTraining.ts
  packages/datasets/src/codeExampleDataset/contextualizeCodeBlock.ts
  packages/datasets/src/codeExampleDataset/createCodeExampleDatasetEntry.ts
  packages/datasets/src/codeExampleDataset/createPromptsFromText.ts
  packages/datasets/src/codeExampleDataset/extractPageElements.ts
  packages/datasets/src/codeExampleDataset/transformPageToAnnotatedCodeExamples.ts
  packages/datasets/src/pageDataset/loadPageDataset.test.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

remove unnc env vars
  .github/workflows/test.yml
  README.md
  packages/benchmarks/.env.example
  packages/benchmarks/src/envVars.ts
  packages/datasets/.env.example
  packages/datasets/environments/production.yml
  packages/datasets/environments/staging.yml
  packages/mongodb-rag-core/.env.example
  packages/mongodb-rag-core/src/CoreEnvVars.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Remove unused env vars
  packages/datasets/.env.example
  packages/datasets/src/EnvVars.ts
  packages/datasets/src/uploadDatasetToHuggingFace.test.ts
  packages/datasets/src/uploadDatasetToHuggingFace.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

more env var removal
  .github/workflows/test.yml
  packages/mongodb-rag-core/.env.example
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/makeClassifier.test.ts
  packages/mongodb-rag-core/src/makeClassifier.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

initial code from spec doc
  package-lock.json
  package.json
  packages/chatbot-server-mongodb-public/src/middleware/classifySkill.ts
  packages/chatbot-server-mongodb-public/src/middleware/getCurrentSkills.ts
  packages/chatbot-server-mongodb-public/src/middleware/promotionMiddleware.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/processors/promotionMiddleware.ts
  packages/chatbot-server-mongodb-public/src/tracing/traceHandlers/addMessageToConversation.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
  packages/mongodb-rag-core/src/Promotions.ts
  packages/mongodb-rag-core/src/aiSdk.ts
  packages/mongodb-rag-core/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

skill promos not middleware
  packages/chatbot-server-mongodb-public/src/middleware/classifySkill.ts
  packages/chatbot-server-mongodb-public/src/middleware/getCurrentSkills.ts
  packages/chatbot-server-mongodb-public/src/middleware/promotionMiddleware.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/processors/promotionMiddleware.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Remove unused file & fix classifier prompt
  packages/chatbot-server-mongodb-public/src/middleware/promotionMiddleware.ts
  packages/chatbot-server-mongodb-public/src/processors/classifySkill.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/processors/getCurrentSkills.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Factory pattern for passing in model; fix skill classifier prompt; linting
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/classifySkill.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/mongodb-chatbot-ui/src/promotions.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Promotions as list, environment variable for classifier model
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/src/EnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

different way of settling the promise so we can easily get the result twice
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP - responses custom data is added to request
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/middleware/useSegmentIds.ts
  packages/mongodb-chatbot-server/src/processors/addCustomData.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

responses custom data is working
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/processors/addCustomData.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Fix metadata
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1292) Add origin, originCode, and userAgent for Responses API
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/middleware/useSegmentIds.ts
  packages/mongodb-chatbot-server/src/processors/addCustomData.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Fix tests, undo small type change
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/mongodb-rag-core/src/aiSdk.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

slight zod change
  packages/mongodb-chatbot-ui/src/promotions.ts
  packages/mongodb-rag-core/src/Promotions.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Background refresh for skill details
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/classifySkill.ts
  packages/chatbot-server-mongodb-public/src/processors/getCurrentSkills.ts
  packages/chatbot-server-mongodb-public/src/processors/skillRefreshManager.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Tests for skill refresh, Rename classifySkill file
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/processors/makeClassifySkill.ts
  packages/chatbot-server-mongodb-public/src/processors/skillRefreshManager.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Unit tests for skill classifier
  packages/chatbot-server-mongodb-public/src/processors/makeClassifySkill.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeClassifySkill.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Unit tests for getCurrentSkills (web scraper)
  packages/chatbot-server-mongodb-public/src/processors/getCurrentSkills.test.ts
  packages/chatbot-server-mongodb-public/src/processors/getCurrentSkills.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
