Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

working e2e
  packages/chatbot-eval-mongodb-public/src/pipelines/biasConversationQualityCheck.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/conversationQualityCheck.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/faqConversationQualityCheck.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/linkInclusionCheck.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/llmConversationQualityCheck.ts
  packages/model-eval/.env.example
  packages/model-eval/package.json
  packages/model-eval/src/pipelines/quizEval.ts
  packages/model-eval/src/quizEval.config.ts
  packages/model-eval/src/radiantModels.ts
  packages/mongodb-chatbot-evaluation/src/Pipeline.test.ts
  packages/mongodb-chatbot-evaluation/src/Pipeline.ts
  packages/mongodb-chatbot-evaluation/src/generate/GeneratedDataStore.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/GeneratedDataStore.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateConversationData.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.ts
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

lock fix
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix build errs
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateConversationQuality.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateExpectedLinks.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.test.ts
  packages/mongodb-chatbot-evaluation/src/test/mockConversationGeneratedDataFromMessages.ts
  packages/mongodb-chatbot-evaluation/src/test/mockGenerateDataFunc.ts
Due: test-all

seems to be working
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateConversationLastMessageIncludesRegex.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateConversationLastMessageIncludesRegex.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/index.ts
Due: test-all

working eval
  packages/model-eval/package.json
  packages/model-eval/src/discovery.config.ts
  packages/model-eval/src/makeChatLlmEvalCommands.ts
  packages/model-eval/src/makeChatLlmQuizEvalCommands.ts
  packages/model-eval/src/pipelines/discoveryEval.ts
  packages/model-eval/src/quizEval.config.ts
  packages/model-eval/testCases/discovery.yml
Due: test-all

support concurrency in generating LLM data and running the evals
  package-lock.json
  packages/model-eval/src/makeChatLlmEvalCommands.ts
  packages/model-eval/src/makeRadiantChatLlm.ts
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-evaluation/src/EvalConfig.ts
  packages/mongodb-chatbot-evaluation/src/commands/evaluate.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/generateEvalsAndMetadata.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Clean up
  packages/mongodb-chatbot-evaluation/src/evaluate/generateEvalsAndMetadata.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.ts
Due: test-all

better concurrency support
  package-lock.json
  packages/model-eval/src/makeChatLlmEvalCommands.ts
  packages/model-eval/src/makeRadiantChatLlm.ts
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken test
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.ts
Due: test-all

more discovery Qs
  packages/model-eval/testCases/discovery.yml
Due: test-all

Apply suggestions from code review
  packages/mongodb-chatbot-evaluation/package.json
Due: test-all

implement NL feedback
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.ts
  packages/mongodb-chatbot-evaluation/src/test/mockGenerateDataFunc.ts
Due: test-all

add missing test
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
Due: test-all

make baseConfig per NL feedback
  packages/model-eval/src/baseConfig.ts
  packages/model-eval/src/discovery.config.ts
  packages/model-eval/src/makeChatLlmEvalCommands.ts
  packages/model-eval/src/quizEval.config.ts
Due: test-all

split eval conf per NL feedback
  packages/model-eval/src/discovery.config.ts
  packages/model-eval/src/makeChatLlmConversationEvalCommands.ts
  packages/model-eval/src/makeChatLlmQuizEvalCommands.ts
  packages/model-eval/src/quizEval.config.ts
Due: test-all

(EAI-354): Discovery eval (#445)
  package-lock.json
  packages/model-eval/package.json
  packages/model-eval/src/baseConfig.ts
  packages/model-eval/src/discovery.config.ts
  packages/model-eval/src/makeChatLlmConversationEvalCommands.ts
  packages/model-eval/src/makeChatLlmQuizEvalCommands.ts
  packages/model-eval/src/pipelines/discoveryEval.ts
  packages/model-eval/src/quizEval.config.ts
  packages/model-eval/testCases/discovery.yml
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-evaluation/src/EvalConfig.ts
  packages/mongodb-chatbot-evaluation/src/commands/evaluate.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateConversationLastMessageIncludesRegex.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateConversationLastMessageIncludesRegex.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/generateEvalsAndMetadata.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/index.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Include version name in rst output
  packages/mongodb-artifact-generator/context/release-notes/atlas-cli-releaseInfo.yaml
  packages/mongodb-artifact-generator/src/commands/generateReleaseNotes.ts
  packages/mongodb-artifact-generator/src/release-notes/ReleaseInfo.ts
  packages/mongodb-artifact-generator/src/release-notes/formatChangelogsRst.ts
Due: test-all

Release chatbot-server-mongodb-public v0.5.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Add slackbot server
  package-lock.json
  packages/slack/.gitignore
  packages/slack/package.json
  packages/slack/src/config.ts
  packages/slack/src/index.ts
  packages/slack/src/slackbot.ts
  packages/slack/src/webhook-events.ts
  packages/slack/src/webhooks.ts
  packages/slack/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Add API Reference docs for mongodb-chatbot-ui (#437)
  docs/docusaurus.config.ts
  docs/sidebars.ts
Due: none

upgrade langchain version
  package-lock.json
  packages/mongodb-chatbot-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

upgrade anthropic in tests
  package-lock.json
  packages/mongodb-chatbot-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

more version upgrade
  package-lock.json
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix script paths
  packages/chatbot-eval-mongodb-public/package.json
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove failing integration test
  package-lock.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/LangChainEmbedder.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-419): Fix broken langchain wrapper (#446)
  package-lock.json
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/LangChainEmbedder.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

create patronus client
  packages/mongodb-chatbot-evaluation/src/evaluate/index.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluatorClient.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluatorClient.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/index.ts
Due: test-all

patronus client
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluatorClient.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluatorClient.ts
Due: test-all

skip tests b/c we dont want to run in CI
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluatorClient.test.ts
Due: test-all

EvaluateQualityFuncFactory
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluateFuncFactory.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluateFuncFactory.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluatorClient.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/index.ts
Due: test-all

Refactor as constructor funcs
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluateFuncFactory.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/evaluateFuncs.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/evaluateFuncs.ts
Due: test-all

add patronus RAG check
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/patronus.eval.config.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/patronusRagCheck.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/evaluateFuncs.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/evaluateFuncs.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/index.ts
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release mongodb-chatbot-ui v0.8.0
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

custom and exact evals
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluatorClient.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/PatronusEvaluatorClient.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/patronus/evaluateFuncs.ts
Due: test-all

patronus evals
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/patronus.eval.config.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/patronusDiscoveryCheck.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/patronusQuizCheck.ts
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

useTextInputTrigger base + remove classnames
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/ActionButtonTrigger.tsx
  packages/mongodb-chatbot-ui/src/FloatingActionButtonTrigger.tsx
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/useTextInputTrigger.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

cleanup
  packages/mongodb-chatbot-ui/src/InputBarTrigger.tsx
  packages/mongodb-chatbot-ui/src/useTextInputTrigger.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public
