Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

(EAI-473) Ingest OM/CM Docs - WIP
  omcm-eval.yml
  packages/ingest-mongodb-public/src/sources/snooty.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Move evals into conversations eval
  omcm-eval.yml
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

make guardrail work for corporate and edu-meta questions
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-526): Guardrail supports corporate and AI queries (#520)
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

stream static msg references
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-547): Add MongoDB University "meta" data (#516)
  mongodb-uni/certification-exams/associate-atlas-administrator.md
  mongodb-uni/certification-exams/associate-data-modeler.md
  mongodb-uni/certification-exams/associate-dba.md
  mongodb-uni/certification-exams/associate-developer.md
  mongodb-uni/certification-program-guide.md
  mongodb-uni/free-courses.md
  mongodb-uni/learning-badges.md
  mongodb-uni/learning-paths/atlas-search.md
  mongodb-uni/learning-paths/atlas-vector-search.md
  mongodb-uni/learning-paths/building-gen-ai-apps.md
  mongodb-uni/learning-paths/csharp.md
  mongodb-uni/learning-paths/data-modeling.md
  mongodb-uni/learning-paths/dba.md
  mongodb-uni/learning-paths/deploying-and-evaluating-gen-ai-apps.md
  mongodb-uni/learning-paths/java.md
  mongodb-uni/learning-paths/nodejs.md
  mongodb-uni/learning-paths/php.md
  mongodb-uni/learning-paths/python.md
  mongodb-uni/mdb-certification-program.md
  mongodb-uni/mdb-for-educators.md
  mongodb-uni/student-developer-benefits.md
  packages/ingest-mongodb-public/.env.example
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Update RAG title and link
  mongodb-uni/learning-paths/atlas-vector-search.md
Due: none

Update RAG title and link (#522)
  mongodb-uni/learning-paths/atlas-vector-search.md
Due: none

Fix: stream static msg references (#521)
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update guardrail
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

as -> satisfies
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Refine guardrail further (#523)
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-480) Site-specific sort order for related resources
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.test.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/sortReferences.test.ts
  packages/mongodb-chatbot-ui/src/sortReferences.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/utils.test.ts
  packages/mongodb-chatbot-ui/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Remove normalizedHostname + tweak isReferenceToDomain
  packages/mongodb-chatbot-ui/src/messageLinks.test.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.ts
  packages/mongodb-chatbot-ui/src/sortReferences.test.ts
  packages/mongodb-chatbot-ui/src/sortReferences.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix build errors
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-549) Don't assign a rich link badge based on mongodb-corp sourceType
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

toSorted is unsupported
  packages/mongodb-chatbot-ui/src/messageLinks.test.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-549) Don't assign a rich link badge based on mongodb-corp sourceName (#524)
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-480) Site-specific sort order for related resources (#517)
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.test.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/sortReferences.test.ts
  packages/mongodb-chatbot-ui/src/sortReferences.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/utils.test.ts
  packages/mongodb-chatbot-ui/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-155) [UI] Make serverBaseUrl required
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-155) [UI] Make serverBaseUrl required (#525)
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release mongodb-chatbot-ui v0.10.0
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

REMOVE ME
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/snooty.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Hotkey context
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/HotkeyContext.tsx
  packages/mongodb-chatbot-ui/src/HotkeyTrigger.tsx
  packages/mongodb-chatbot-ui/src/InputBar.tsx
  packages/mongodb-chatbot-ui/vite.config.component.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

returning results from PromisePool directly
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Release chatbot-server-mongodb-public v0.10.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

correct package version
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release ingest-mongodb-public v0.5.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add api version env var
  packages/ingest-mongodb-public/environments/production.yml
  packages/ingest-mongodb-public/environments/staging.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Release ingest-mongodb-public v0.5.1
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Allow learn.mongodb.com on prod
  packages/chatbot-server-mongodb-public/environments/production.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release chatbot-server-mongodb-public v0.10.1
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

HotkeyTrigger only listens when chatbot is closed
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/HotkeyTrigger.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Minimize renders with useMemo/useCallback
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove unused import
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

replace useReducer with useState
  packages/mongodb-chatbot-ui/src/ConversationProvider.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-532) [UI] Fix spacing for headings and lists
  packages/mongodb-chatbot-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Delete mongodb-uni/free-courses.md
  mongodb-uni/free-courses.md
Due: none

Update packages/chatbot-server-mongodb-public/src/mongoDbMetadata/products.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/products.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
