Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

no suspense
  packages/mongodb-chatbot-ui/src/DocsChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

wrap hook with provider
  packages/mongodb-chatbot-ui/src/useConversation.test.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update embeddings if chunk algo changes, regardless of page changes
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update mockEmbeddedContentStore to have newly added method
  packages/mongodb-rag-core/src/findContent/BoostOnAtlasSearchFilter.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

teardown in afterEach
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

chunkAlgoHash creation moved up in function chain, value passed down
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

move chunkAlgoHashes out of global scope
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

split test case into more isolated test cases
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

modified and added verified answers
  verified-answers.yaml
Due: none

add init action to ingest:pages and ingest:embed commands
  packages/ingest-mongodb-public/package.json
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

rm pageStore and embeddedContentStore inits on withConfig
  packages/mongodb-rag-ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

cleanup
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Port Release Notes Generator to Migrator
  packages/mongodb-artifact-generator/context/release-notes/migrator-releaseInfo.yaml
  packages/mongodb-artifact-generator/src/release-notes/getReleaseArtifacts.ts
  packages/mongodb-artifact-generator/src/release-notes/github.ts
  packages/mongodb-artifact-generator/src/release-notes/jira.ts
Due: test-all

Enable backwards compatibility for adapted Release Notes Generator
  packages/mongodb-artifact-generator/context/release-notes/migrator-releaseInfo.yaml
  packages/mongodb-artifact-generator/src/release-notes/getReleaseArtifacts.ts
  packages/mongodb-artifact-generator/src/release-notes/jira.ts
Due: test-all

more descriptive logging
  packages/mongodb-rag-core/src/contentStore/getChangedPages.ts
  packages/mongodb-rag-core/src/contentStore/updatePages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

cleanup
  packages/mongodb-rag-core/src/contentStore/getChangedPages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

working prototype
  package-lock.json
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/modules.d.ts
  packages/ingest-mongodb-public/src/sources/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/WebDataSource.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

more tweaks
  packages/ingest-mongodb-public/src/sources/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

change output location
  packages/ingest-mongodb-public/.gitignore
  packages/ingest-mongodb-public/src/sources/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

remove link logic
  packages/ingest-mongodb-public/src/sources/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

make a bit more generic
  packages/mongodb-artifact-generator/src/release-notes/getReleaseArtifacts.ts
  packages/mongodb-artifact-generator/src/release-notes/github.ts
Due: test-all

list some internal deps
  packages/mongodb-artifact-generator/context/release-notes/migrator-releaseInfo.yaml
Due: test-all

Remove mongodb-rag-core from UI package
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatbotView.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/createMessage.ts
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
  packages/mongodb-chatbot-ui/src/messageLinks.ts
  packages/mongodb-chatbot-ui/src/references.test.ts
  packages/mongodb-chatbot-ui/src/references.ts
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useConversation.test.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/verifiedAnswer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

re-org test blocks, rm expect within before hook
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

include sourceName in log showing deleted/created/updated counts
  packages/mongodb-rag-core/src/contentStore/updatePages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Remove mongodb-rag-core from UI package (#586)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatbotView.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/createMessage.ts
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
  packages/mongodb-chatbot-ui/src/messageLinks.ts
  packages/mongodb-chatbot-ui/src/references.test.ts
  packages/mongodb-chatbot-ui/src/references.ts
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useConversation.test.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/verifiedAnswer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Remove extraneous file
  packages/mongodb-artifact-generator/context/release-notes/migrator-releaseInfo.yaml
Due: test-all

remove vestigial rating prop
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

use zod for message data
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/MessagePrompts.tsx
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/verifiedAnswer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Add braintrust to mongodb-rag-core (#578)
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/getQuizQuestionEvalCasesFromBraintrust.ts
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/braintrust.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

target more recent version to use es2023
  tsconfig.json
Due: none

update lib to latest
  tsconfig.json
Due: none

update tracing
  packages/chatbot-server-mongodb-public/src/tracing.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

lets see
  packages/chatbot-server-mongodb-public/src/tracing.test.ts
  tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

include sourceName in logs
  packages/mongodb-rag-core/src/contentStore/getChangedPages.ts
  packages/mongodb-rag-core/src/contentStore/updatePages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

throw error if store is not defined
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

lint
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

braintrust tracing in test
  .drone.yml
  packages/chatbot-server-mongodb-public/.env.example
  packages/mongodb-rag-core/src/braintrust.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove dangling core import
  packages/mongodb-chatbot-ui/src/conversationStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

no trace in test
  .drone.yml
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/src/tracing.test.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-rag-core/src/braintrust.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
