Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

notes for alla
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add gpt 4.1 models
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fix closure on tool call
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAllVersions.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.ts
Due: test-all

use latest models
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

janky, works on first message
  packages/benchmarks/package.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackRagGenerateUserPrompt.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/mongodb-chatbot-server/src/processors/GenerateUserPromptFunc.ts
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

increase limits
  .drone.yml
  packages/ingest-mongodb-public/environments/production.yml
  packages/ingest-mongodb-public/environments/staging.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

skip tests
  .drone.yml
Due: test-all

include the authUser in slack msgs
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

a bit DRYer
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

trigger build
  packages/mongodb-rag-core/trigger.me
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

throw more compute at problem
  .drone.yml
  packages/ingest-mongodb-public/environments/staging.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

clean up pages
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Delete packages/mongodb-rag-core/trigger.me
  packages/mongodb-rag-core/trigger.me
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Apply suggestions from code review
  packages/ingest-mongodb-public/environments/production.yml
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

include the authUser in slack msgs (#675)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

implement NL feedback
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
Due: test-all

Apply suggestions from code review
  .drone.yml
Due: test-all

Up k8s ingest resources (#676)
  packages/ingest-mongodb-public/environments/production.yml
  packages/ingest-mongodb-public/environments/staging.yml
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

fix build errs
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simplePromptCompletionAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simplePromptCompletionAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallAnnotatedSchemaFewShot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeSimpleToolCall.ts
Due: test-all

nl prompt completion scaffolding
  packages/benchmarks/src/nlPromptResponse/NlQuestionAnswerEval.ts
  packages/benchmarks/src/nlPromptResponse/bin/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupportPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/uploadTechSupportPromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/metrics.ts
  packages/benchmarks/src/nlPromptResponse/nlPromptCompletionTask.ts
  packages/benchmarks/src/openAiClients.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
Due: test-all

WIP - initial server segment work
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/tracing/segment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

WIP - add tests for server segment
  packages/chatbot-server-mongodb-public/src/tracing/segment.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP - segment IDs middleware
  .metals/metals.lock.db
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/middleware/useSegmentIds.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
  packages/chatbot-server-mongodb-public/src/tracing/segment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP - integrating traces + updated call signature
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
  packages/chatbot-server-mongodb-public/src/tracing/segment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/segment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

functional TS benchmark
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/makeExperimentName.ts
  packages/benchmarks/src/nlPromptResponse/NlQuestionAnswerEval.ts
  packages/benchmarks/src/nlPromptResponse/bin/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/techSupportPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/uploadTechSupportPromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupportPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/uploadTechSupportPromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadTechSupportDataset.ts
  packages/benchmarks/src/nlPromptResponse/metrics.ts
  packages/benchmarks/src/nlPromptResponse/nlPromptCompletionTask.ts
  packages/benchmarks/src/openAiClients.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/braintrust.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

WIP - add segment write key + tweak property names
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
  packages/chatbot-server-mongodb-public/src/tracing/segment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/segment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

data tagging system
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/uploadTechSupportPromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadTechSupportDataset.ts
  packages/benchmarks/src/tagData.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/mongoDbMetadata/index.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/programmingLanguages.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/tags.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

WIP - add segment middleware test
  .metals/metals.lock.db
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/middleware/useSegmentIds.test.ts
  packages/chatbot-server-mongodb-public/src/middleware/useSegmentIds.ts
  packages/chatbot-server-mongodb-public/src/test/middlewareTestHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-949) Segment - Capture anonymousId and userId
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/segment.test.ts
  packages/mongodb-chatbot-ui/src/segment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

improve typing on getting models
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/techSupportPromptCompletionBenchmark.ts
Due: test-all

Add metadata tagging to core
  package-lock.json
  packages/benchmarks/src/nlPromptResponse/loadTechSupportDataset.ts
  packages/benchmarks/src/tagData.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/index.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

benchmark on more models
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
Due: test-all

additional models + debug
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

WIP - Tweak zod parsing
  packages/chatbot-server-mongodb-public/src/tracing/segment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/segment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP - Re-adding tests
  packages/chatbot-server-mongodb-public/src/tracing/segment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/segment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

WIP - Re-added tests
  packages/chatbot-server-mongodb-public/src/tracing/segment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/segment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

NL feedback
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
  packages/benchmarks/src/nlPromptResponse/metrics.ts
Due: test-all

(EAI-951 & EAI-952): Tech support question NL Q&A benchmark (#678)
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/makeExperimentName.ts
  packages/benchmarks/src/nlPromptResponse/NlQuestionAnswerEval.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/techSupportPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/uploadTechSupportPromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadTechSupportDataset.ts
  packages/benchmarks/src/nlPromptResponse/metrics.ts
  packages/benchmarks/src/nlPromptResponse/nlPromptCompletionTask.ts
  packages/benchmarks/src/openAiClients.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/braintrust.ts
  packages/mongodb-rag-core/src/models/models.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/index.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/programmingLanguages.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/tags.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service
