Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

(EAI-505): Add MongoDB metadata + improve TS structuring (#500)
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/index.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/products.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/programmingLanguages.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/tags.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/topics.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

readd orchestration code
  packages/benchmarks/src/radiantModels.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/nodeJs.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
Due: test-all

test eval metrics
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
Due: test-all

Code cleanup
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/nodeJs.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.test.ts
Due: test-all

Hotkeys work
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/HotkeyTrigger.tsx
  packages/mongodb-chatbot-ui/src/InputBar.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Only listen when the modal is closed
  packages/mongodb-chatbot-ui/src/HotkeyTrigger.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix broken tests
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
Due: test-all

init version
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update docs w new behavior
  docs/docs/server/openapi.yaml
Due: none

update streamer w/ convo id msg
  packages/mongodb-rag-core/src/DataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update server conf
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add implementation
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

make default behavior
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

system prompt refactor
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test mdb in memory
  package-lock.json
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

udpate tests w memdb
  packages/mongodb-chatbot-server/src/app.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/getConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update node env for fix
  .drone.yml
Due: test-all

tests for concurrency added
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

use alpine build
  .drone.yml
Due: test-all

Remove comment
  packages/mongodb-chatbot-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Add libcrpyto
  .drone.yml
Due: test-all

remove sudo
  .drone.yml
Due: test-all

try nother fix
  .drone.yml
Due: test-all

try again w/ node 18
  .drone.yml
Due: test-all

(EAI-551): No headings in LLM responses (#519)
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

test streamed response
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update system prompt for no suggested queries
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

implement NL feedback
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update to include conversationId as metadata
  docs/docs/server/openapi.yaml
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-570): Update system prompt for no suggested queries (#532)
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix ui
  packages/mongodb-chatbot-ui/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release chatbot-server-mongodb-public v0.11.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

outline retrieval eval system
  packages/chatbot-server-mongodb-public/src/evalMetrics/retrieval/averagePrecisionAtK.ts
  packages/chatbot-server-mongodb-public/src/evalMetrics/retrieval/f1Score.ts
  packages/chatbot-server-mongodb-public/src/evalMetrics/retrieval/precisionAtK.ts
  packages/chatbot-server-mongodb-public/src/evalMetrics/retrieval/recallAtK.ts
  packages/chatbot-server-mongodb-public/src/evalMetrics/retrieval/reciprocalRank.ts
  packages/chatbot-server-mongodb-public/src/retrieval.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-565) [UI] Add HotkeyContext + connect HotkeyTrigger to placeholder (#530)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/HotkeyContext.tsx
  packages/mongodb-chatbot-ui/src/HotkeyTrigger.tsx
  packages/mongodb-chatbot-ui/vite.config.component.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Metadata - zero shot works
  packages/mongodb-artifact-generator/src/chat/index.ts
  packages/mongodb-artifact-generator/src/commands/generateDocsMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-meta-descriptions/generateMetaDescription.ts
  packages/mongodb-artifact-generator/src/utils.ts
Due: test-all

clean up PR
  packages/benchmarks/.env.example
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/nodeJs.ts
Due: test-all

tweak list styles
  packages/mongodb-chatbot-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

spacing
  packages/mongodb-rag-ingest/src/Config.ts
  packages/mongodb-rag-ingest/src/embed/updateEmbeddedContent.test.ts
  packages/mongodb-rag-ingest/src/pages/updatePages.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

widen prompt for programming + add evals
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-532) [UI] Fix spacing for headings and lists (#529)
  packages/mongodb-chatbot-ui/src/Message.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
