Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npx playwright install chromium --with-deps
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chatbot-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-ingest-coach-gtm:
  steps:
  - name: publish-staging-ingest-coach-gtm
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-coach-gtm:
  steps:
  - name: deploy-staging-ingest-coach-gtm
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-coach-gtm-staging
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

wrap env var assertion
  packages/datasets/src/bin/classifyCodeExamplesForUsefulness.ts
  packages/datasets/src/bin/genAdditionalCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAllCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAtlasSearchCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genDriversCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genManualCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genRustDriverCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genSampleOfCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/generateDbSchemas.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/bin/generateMongoshDatasetsClaude.ts
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/rewriteNlToMongoshDatasetQueries.ts
  packages/datasets/src/openAi.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseUsers.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateUseCases.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/rewriteNlQuery/rewriteNlQuery.eval.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

add braintrust endpoint placeholder
  .drone.yml
Due: test-all

Start benchmark cli
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/bin/mongoDbBenchmarkCli.ts
  packages/benchmarks/src/cli/BenchmarkConfig.ts
  packages/benchmarks/src/cli/cli-spec.md
  packages/benchmarks/src/cli/index.ts
  packages/benchmarks/src/cli/runBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/NlQuestionAnswerEval.ts
  packages/benchmarks/src/nlPromptResponse/config.ts
  packages/benchmarks/src/nlPromptResponse/metrics.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/config.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongodbUniversityAllQuestionBenchmark.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

more specific typing in dataStreamer
  packages/mongodb-rag-core/src/DataStreamer.test.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

cleanup typing in createResponse
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

cleanup type
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

cleanup types in generateResponse
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add optional onTextDone stream handler for responses
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Use safely parsed req.body, handle possibly undefined dataSources
  packages/mongodb-chatbot-server/src/routes/content/searchContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1159) Implement middleware in new `contentRouter` (#816)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/findContentWithMongoDbMetadata.ts
  packages/mongodb-chatbot-server/src/middleware/requireRequestOrigin.ts
  packages/mongodb-chatbot-server/src/middleware/requireValidIpAddress.test.ts
  packages/mongodb-chatbot-server/src/middleware/requireValidIpAddress.ts
  packages/mongodb-chatbot-server/src/middleware/validateRequestSchema.ts
  packages/mongodb-chatbot-server/src/processors/addCustomData.ts
  packages/mongodb-chatbot-server/src/processors/index.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createConversation.ts
  packages/mongodb-chatbot-server/src/test/middlewareTestHelpers.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Create listDataSources route, plug into searchContent, blank file created for listDatasources test file
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.ts
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.test.ts
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/findContent/BoostOnAtlasSearchFilter.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Clean sources endpoint and data types
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.ts
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

customization logic
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
  packages/chatbot-server-mongodb-public/src/processors/makeResponesSystemPrompt.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
  packages/mongodb-chatbot-server/src/processors/GenerateResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add openapi spec documentation for new listDataSources endpoint
  docs/docs/server/openapi.yaml
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

benchmark cli working
  packages/benchmarks/README.md
  packages/benchmarks/package.json
  packages/benchmarks/src/bin/mongoDbBenchmarkCli.ts
  packages/benchmarks/src/cli/cli-spec.md
  packages/benchmarks/src/cli/index.test.ts
  packages/benchmarks/src/cli/runBenchmark.test.ts
  packages/benchmarks/src/cli/runBenchmark.ts
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/discovery/config.ts
  packages/benchmarks/src/index.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/config.ts
  packages/benchmarks/src/textToDriver/natural-language-to-mongosh-report.huggingFace.md
Due: test-all

fix build err
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

endpoint not secret
  packages/scripts/environments/production.yml
  packages/scripts/environments/staging.yml
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

update script to save dataset info to llm_answers records
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

better support for reasoning models
  packages/benchmarks/src/cli/BenchmarkConfig.ts
  packages/benchmarks/src/cli/runBenchmark.ts
  packages/benchmarks/src/discovery/config.ts
  packages/benchmarks/src/nlPromptResponse/config.ts
  packages/benchmarks/src/quizQuestions/config.ts
  packages/benchmarks/src/textToDriver/config.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix test for new API
  packages/benchmarks/src/cli/runBenchmark.test.ts
Due: test-all

additional secrets required for dependency (benchmarks) build (#817)
  packages/scripts/environments/production.yml
  packages/scripts/environments/staging.yml
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

standardize around using ai sdk, remove unnec code
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/discovery/config.ts
  packages/benchmarks/src/discovery/mongoDbDiscoveryBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/NlQuestionAnswerEval.ts
  packages/benchmarks/src/nlPromptResponse/bin/docs100/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/docs100/docs100PromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/docs100/uploadDocs100PromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/globalConfig.ts
  packages/benchmarks/src/nlPromptResponse/bin/marketing/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/marketing/marketingPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/marketing/uploadMarketingDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/productKnowledgePromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/productKnowledge/uploadProductKnowledgeDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/techSupportPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/techSupport/uploadTechSupportPromptCompletionDataset.ts
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/config.ts
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/topQuestionPromptCompletionBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/topQuestions/uploadTopQuestionDataset.ts
  packages/benchmarks/src/nlPromptResponse/config.ts
  packages/benchmarks/src/nlPromptResponse/loadDocs100Dataset.ts
  packages/benchmarks/src/nlPromptResponse/loadMarketingDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadProductKnowledgeDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadTechSupportDataset.ts
  packages/benchmarks/src/nlPromptResponse/loadWebMarketingDataset.ts
  packages/benchmarks/src/nlPromptResponse/nlPromptCompletionTask.ts
  packages/benchmarks/src/nlPromptResponse/runNlPromptResponseBenchmark.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/config.ts
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongodbUniversityAllQuestionBenchmark.ts
Due: test-all

listDataSources test file
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

implement HS feedback
  packages/benchmarks/src/nlPromptResponse/metrics.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateAnnotatedCollectionSchema.ts
  packages/datasets/src/treeGeneration/generateChildren.test.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

fix ci err
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/cli/index.test.ts
  packages/benchmarks/src/test/makeSampleLlmOptions.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

update cli output + default dataset behavior
  packages/benchmarks/src/cli/index.test.ts
  packages/benchmarks/src/cli/index.ts
  packages/benchmarks/src/test/makeSampleLlmOptions.ts
Due: test-all

(EAI-1155) Required CORS headers missing for cloud.mongodb.com (#824)
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update messageLinks test
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update messageLinks test 2
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

forEach to get index instead of for with let
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

stream full text on done
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update generate response test util for createResponse
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

implement generateResponse call in createResponse
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

empty description handled w/ empty string
  packages/benchmarks/src/cli/index.ts
Due: test-all

other nl prompt response datasets
  packages/benchmarks/src/nlPromptResponse/config.ts
Due: test-all

update script name + package.json + readme
  packages/benchmarks/README.md
  packages/benchmarks/package.json
  packages/benchmarks/src/cli/index.ts
Due: test-all

(EAI-1086) [UI] Add client handler for reference link click (#827)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
  packages/mongodb-chatbot-ui/src/messageLinks.ts
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix yargs version module resolution
  package-lock.json
  packages/benchmarks/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix broken test
  packages/benchmarks/src/cli/index.test.ts
Due: test-all

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
