Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

Add rate limiting to responses api (#792)
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

remove extra comment
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update error message
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

abstract error strings for tests
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Improve responses api errors (#789)
  package-lock.json
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/errors.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

cleaanup err msg constants
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add failing tests to rag-core for message_id helper
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add findByMessageId to conversation service
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

remove extra types from conversation service
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Const vars
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Address magic strings
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

New search index on URL
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

claude gen to BT
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/claudeGenerated/config.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/claudeGenerated/promptCompletionAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

PR review fixes on formatUserMessageForGeneration
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.test.ts
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix tests unnecessarily using atlas
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

simplify db name
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1145): Fix ConversationsService tests unnecessarily using Atlas (#793)
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add claude 4 models from anthropic
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/claudeGenerated/config.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

System prompt enhancements
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Return references as list
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

properly execute explain queries
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.test.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

profile tests pass
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/mongodb-rag-core/src/executeCode/index.ts
  packages/mongodb-rag-core/src/executeCode/profileMongoshQuery.test.ts
  packages/mongodb-rag-core/src/executeCode/profileMongoshQuery.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix local only tests
  packages/mongodb-rag-core/src/executeCode/profileMongoshQuery.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add classifyCategories function for llm scorecard
  packages/scripts/package.json
  packages/scripts/src/llm-scorecard/classifyCategories.ts
  packages/scripts/src/llm-scorecard/examples/categories.csv
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

zod schema validation on customData origin/code
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.test.ts
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add indexes to conversationsDb
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add test for new getByMessageId service
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

remove duplicate export
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add logic for getting conversation to createResponse
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update configs for createResponse -- includes some cleanup
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

fix test for successful previous_message_id input
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

cleanup test variables
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

even cleaner tests
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add logic to catch bad object ids
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add more tests
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

more tests
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

last test
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Create contentRouter, searchContent, and test files for search content routes
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-chatbot-server/src/middleware/requireRequestOrigin.ts
  packages/mongodb-chatbot-server/src/middleware/requireValidIpAddress.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.test.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbSearchResultsStore.ts
  packages/mongodb-rag-core/src/contentStore/index.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-ingest/src/Config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service
