Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

wip: test puppeteer in cron - dockerfile changes: change docker image to puppetteer
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

playwrite based implementation
  .drone.yml
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix build issue
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

update script
  .drone.yml
  ingest-service.dockerfile
Due: test-all

try for docker in k8s
  .drone.yml
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

use apt instead of apk for debian img
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

clean up project
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

more clean up
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

more clean up + build fix
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Stop pushing builds from this branch to k8s
  .drone.yml
Due: test-all

callback concision
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

EAI-639: Working scraping with playwright (#620)
  .drone.yml
  ingest-service.dockerfile
  package-lock.json
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test for WebDataSource, mocking makeBrowser
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Add logger + start runtime validation with zod
  packages/release-notes-generator/.gitignore
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/logger.ts
Due: test-all

Add scripts + format modules as library
  packages/release-notes-generator/package.json
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/github/index.ts
  packages/release-notes-generator/src/index.ts
  packages/release-notes-generator/src/jira/index.ts
  packages/release-notes-generator/src/main.ts
Due: test-all

tweak file & function naming
  packages/release-notes-generator/src/Artifact.ts
  packages/release-notes-generator/src/Change.ts
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/github copy/artifacts.ts
  packages/release-notes-generator/src/github/artifacts.ts
  packages/release-notes-generator/src/index.ts
  packages/release-notes-generator/src/main.ts
Due: test-all

Fix summarizer code
  packages/release-notes-generator/src/llm/summarizeReleaseArtifacts.ts
Due: test-all

fix jira impl, clean up tests
  packages/release-notes-generator/src/github/github-api.test.ts
  packages/release-notes-generator/src/github/splitDiff.ts
  packages/release-notes-generator/src/jira/jira-api.test.ts
  packages/release-notes-generator/src/jira/jira-api.ts
  packages/release-notes-generator/src/main.test.ts
Due: test-all

New release-notes-generator package works with mocks
  package-lock.json
  package.json
  packages/release-notes-generator/package.json
  packages/release-notes-generator/src/Artifact.ts
  packages/release-notes-generator/src/Change.ts
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/github/artifacts.ts
  packages/release-notes-generator/src/jira/artifacts.ts
  packages/release-notes-generator/src/main.ts
  packages/release-notes-generator/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Move API & LLM code
  package-lock.json
  package.json
  packages/release-notes-generator/.gitignore
  packages/release-notes-generator/package.json
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/github copy/artifacts.ts
  packages/release-notes-generator/src/github/artifacts.ts
  packages/release-notes-generator/src/github/github-api.test.ts
  packages/release-notes-generator/src/github/github-api.ts
  packages/release-notes-generator/src/github/splitDiff.test.ts
  packages/release-notes-generator/src/github/splitDiff.ts
  packages/release-notes-generator/src/index.ts
  packages/release-notes-generator/src/jira/artifacts.ts
  packages/release-notes-generator/src/jira/jira-api.test.ts
  packages/release-notes-generator/src/jira/jira-api.ts
  packages/release-notes-generator/src/llm/classifyChangelog.ts
  packages/release-notes-generator/src/llm/classifyChangelogAudience.ts
  packages/release-notes-generator/src/llm/classifyChangelogScope.ts
  packages/release-notes-generator/src/llm/createChangelogEntry.ts
  packages/release-notes-generator/src/llm/makeClassifierWithLogging.ts
  packages/release-notes-generator/src/llm/summarizeReleaseArtifacts.ts
  packages/release-notes-generator/src/main.test.ts
  packages/release-notes-generator/src/main.ts
  packages/release-notes-generator/src/openai-api.ts
  packages/release-notes-generator/src/utils.test.ts
  packages/release-notes-generator/src/utils.ts
  packages/release-notes-generator/tsconfig.json
  packages/release-notes-generator/tsup.config.ts
  packages/release-notes-generator/vitest.config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

projectName -> project info
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/generate.ts
Due: test-all

More zod
  packages/release-notes-generator/src/Artifact.ts
  packages/release-notes-generator/src/Change.ts
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/github/artifacts.ts
  packages/release-notes-generator/src/logger.ts
Due: test-all

Rewrite from classes to functional
  packages/release-notes-generator/src/Artifact.ts
  packages/release-notes-generator/src/Change.ts
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/github/artifacts.ts
Due: test-all

Port over generateChatCompletion
  packages/release-notes-generator/src/llm/createChangelogEntry.ts
  packages/release-notes-generator/src/openai-api.ts
Due: test-all

Scaffold real config + add eslint
  package-lock.json
  packages/release-notes-generator/eslint.config.cjs
  packages/release-notes-generator/package.json
  packages/release-notes-generator/src/Change.ts
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/llm/classifyChangelog.ts
  packages/release-notes-generator/src/llm/createChangelogEntry.ts
  packages/release-notes-generator/src/utils.test.ts
  packages/release-notes-generator/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix lint errors
  packages/release-notes-generator/eslint.config.cjs
  packages/release-notes-generator/src/Change.ts
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/github/artifacts.ts
  packages/release-notes-generator/src/github/github-api.test.ts
  packages/release-notes-generator/src/github/github-api.ts
  packages/release-notes-generator/src/jira/artifacts.ts
  packages/release-notes-generator/src/jira/jira-api.ts
  packages/release-notes-generator/src/llm/classifyChangelog.ts
  packages/release-notes-generator/src/llm/classifyChangelogAudience.ts
  packages/release-notes-generator/src/llm/classifyChangelogScope.ts
  packages/release-notes-generator/src/llm/createChangelogEntry.ts
  packages/release-notes-generator/src/llm/summarizeReleaseArtifacts.ts
  packages/release-notes-generator/src/logger.ts
  packages/release-notes-generator/src/main.test.ts
  packages/release-notes-generator/src/openai-api.ts
  packages/release-notes-generator/src/utils.ts
Due: test-all

Tweak config + define real Atlas CLI config
  packages/release-notes-generator/src/Artifact.ts
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/github/github-api.ts
  packages/release-notes-generator/src/jira/artifacts.ts
  packages/release-notes-generator/src/jira/jira-api.ts
  packages/release-notes-generator/src/llm/classifyChangelog.ts
  packages/release-notes-generator/src/llm/classifyChangelogAudience.ts
  packages/release-notes-generator/src/llm/classifyChangelogScope.ts
  packages/release-notes-generator/src/llm/createChangelogEntry.ts
  packages/release-notes-generator/src/llm/makeClassifierWithLogging.ts
  packages/release-notes-generator/src/llm/summarizeReleaseArtifacts.ts
  packages/release-notes-generator/src/main.test.ts
Due: test-all

Automatic lint fix
  packages/release-notes-generator/package.json
  packages/release-notes-generator/src/Change.ts
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/github/github-api.test.ts
  packages/release-notes-generator/src/github/github-api.ts
  packages/release-notes-generator/src/jira/jira-api.test.ts
  packages/release-notes-generator/src/jira/jira-api.ts
  packages/release-notes-generator/src/llm/classifyChangelog.ts
  packages/release-notes-generator/src/llm/classifyChangelogAudience.ts
  packages/release-notes-generator/src/llm/classifyChangelogScope.ts
  packages/release-notes-generator/src/llm/createChangelogEntry.ts
  packages/release-notes-generator/src/llm/makeClassifierWithLogging.ts
  packages/release-notes-generator/src/llm/summarizeReleaseArtifacts.ts
Due: test-all

Install missing deps
  package-lock.json
  packages/release-notes-generator/package.json
  packages/release-notes-generator/src/main.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Add concurrency
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/generate.ts
Due: test-all

Format project
  packages/release-notes-generator/.prettierignore
  packages/release-notes-generator/.prettierrc.cjs
  packages/release-notes-generator/src/Artifact.ts
  packages/release-notes-generator/src/Change.ts
  packages/release-notes-generator/src/Config.ts
  packages/release-notes-generator/src/configs/helpers.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/github/artifacts.ts
  packages/release-notes-generator/src/github/github-api.test.ts
  packages/release-notes-generator/src/github/github-api.ts
  packages/release-notes-generator/src/github/splitDiff.test.ts
  packages/release-notes-generator/src/jira/artifacts.ts
  packages/release-notes-generator/src/jira/jira-api.ts
  packages/release-notes-generator/src/llm/openai-api.ts
  packages/release-notes-generator/src/llm/summarizeReleaseArtifact.ts
  packages/release-notes-generator/src/logger.ts
  packages/release-notes-generator/src/utils.test.ts
  packages/release-notes-generator/src/utils.ts
Due: test-all

Clean up logging & exports + add prettier
  package-lock.json
  packages/release-notes-generator/.prettierrc.cjs
  packages/release-notes-generator/package.json
  packages/release-notes-generator/src/configs/atlas-cli.config.ts
  packages/release-notes-generator/src/configs/helpers.ts
  packages/release-notes-generator/src/configs/index.ts
  packages/release-notes-generator/src/index.ts
  packages/release-notes-generator/src/jira/jira-api.ts
  packages/release-notes-generator/src/llm/classifyChangelog.ts
  packages/release-notes-generator/src/llm/classifyChangelogAudience.ts
  packages/release-notes-generator/src/llm/classifyChangelogScope.ts
  packages/release-notes-generator/src/llm/createChangelogEntry.ts
  packages/release-notes-generator/src/llm/makeClassifierWithLogging.ts
  packages/release-notes-generator/src/llm/summarizeReleaseArtifact.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update exports
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/index.ts
  packages/release-notes-generator/src/llm/createChangelogEntry.ts
  packages/release-notes-generator/src/llm/index.ts
  packages/release-notes-generator/src/llm/openai-api.ts
  packages/release-notes-generator/src/llm/summarizeReleaseArtifact.ts
Due: test-all

dist -> build
  packages/release-notes-generator/eslint.config.cjs
  packages/release-notes-generator/package.json
  packages/release-notes-generator/tsconfig.json
  packages/release-notes-generator/tsup.config.ts
Due: test-all

add README
  packages/release-notes-generator/README.md
Due: test-all

Extract reusable config methods + start to clean up logging
  package-lock.json
  packages/release-notes-generator/package.json
  packages/release-notes-generator/src/atlas-cli.config.ts
  packages/release-notes-generator/src/configHelper.ts
  packages/release-notes-generator/src/configs/atlas-cli.config.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/llm/classifyChangelog.ts
  packages/release-notes-generator/src/llm/createChangelogEntry.ts
  packages/release-notes-generator/src/logger.ts
  packages/release-notes-generator/src/main.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Add CJS output to build
  packages/release-notes-generator/package.json
  packages/release-notes-generator/tsup.config.ts
Due: test-all

Skip RNG test on real config
  packages/release-notes-generator/src/main.test.ts
Due: test-all

Fix package-lock error & fix failures from updated sub-dependencies
  package-lock.json
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/scripts/package.json
  packages/scripts/src/main/verifiedAnswersCsvToYamlMain.ts
  packages/scripts/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

removeme
  packages/release-notes-generator/removeme.ts
Due: test-all
