Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

better issue input
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
Due: test-all

Combine redundant messageLinks tests (#538)
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
  packages/mongodb-chatbot-ui/src/messageLinks.test.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add env var
  .drone.yml
Due: test-all

Ensure unique keys, more config/args, less env
  .drone.yml
  packages/mongodb-artifact-generator/src/ArtifactGeneratorEnvVars.ts
  packages/mongodb-artifact-generator/src/Config.ts
  packages/mongodb-artifact-generator/src/chat/makeGeneratePrompts.ts
  packages/mongodb-artifact-generator/src/chat/utils.ts
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
Due: test-all

Add back some runtime logging
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
Due: test-all

Release ingest-mongodb-public v0.7.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release ingest-mongodb-public v0.7.0 (#541)
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

works
  packages/mongodb-artifact-generator/src/chat/index.ts
  packages/mongodb-artifact-generator/src/commands/generateDocsMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-meta-descriptions/examples/io.md
  packages/mongodb-artifact-generator/src/docs-meta-descriptions/examples/replication.json
  packages/mongodb-artifact-generator/src/docs-meta-descriptions/examples/tutorial_insert-one.json
  packages/mongodb-artifact-generator/src/docs-meta-descriptions/generateMetaDescription.ts
Due: test-all

csv experiment overview
  packages/benchmarks/package.json
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/.gitignore
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/experiments.txt
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/extract_db_documents.ipynb
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/extract_db_metadata.ipynb
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/extract_eval_cases.ipynb
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/get_experiments.py
Due: test-all

better examples
  packages/mongodb-artifact-generator/src/commands/generateDocsMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-meta-descriptions/examples/replication.json
  packages/mongodb-artifact-generator/src/docs-meta-descriptions/examples/tutorial_insert-documents.json
  packages/mongodb-artifact-generator/src/docs-meta-descriptions/examples/tutorial_insert-one.json
  packages/mongodb-artifact-generator/src/docs-meta-descriptions/generateMetaDescription.ts
Due: test-all

update experiment metadata
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/experiments.txt
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/get_experiments.py
Due: test-all

capture prompt names correctly
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/get_experiments.py
Due: test-all

Release chatbot-server-mongodb-public v0.12.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

move test data
  packages/ingest-mongodb-public/jest.config.cjs
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.test.ts
  packages/ingest-mongodb-public/src/test/jestSetup.ts
  packages/ingest-mongodb-public/testData/localOpenApiSpecPage.json
  packages/ingest-mongodb-public/testData/remoteOpenApiSpecPage.json
  packages/ingest-mongodb-public/testData/sampleCompoundTitlePageAst.json
  packages/ingest-mongodb-public/testData/sampleDevCenterPage.json
  packages/ingest-mongodb-public/testData/sampleDevCenterPageWithDivAndImg.md
  packages/ingest-mongodb-public/testData/sampleDevCenterPageWithYouTube.md
  packages/ingest-mongodb-public/testData/samplePage.json
  packages/ingest-mongodb-public/testData/samplePageWithCodeExamples.json
  packages/ingest-mongodb-public/testData/samplePageWithCodeExamples.rst
  packages/ingest-mongodb-public/testData/samplePageWithCommentAst.json
  packages/ingest-mongodb-public/testData/samplePageWithOrderedList.json
  packages/ingest-mongodb-public/testData/samplePageWithTabs.json
  packages/ingest-mongodb-public/testData/samplePageWithTabsDrivers.json
  packages/ingest-mongodb-public/testData/sampleSnootyMultiHeaderTable.json
  packages/ingest-mongodb-public/testData/sampleSnootyTable.json
  packages/ingest-mongodb-public/testData/sampleUniversityCatalog.json
  packages/ingest-mongodb-public/testData/sampleUniversityVideoTranscript.srt
  packages/ingest-mongodb-public/testData/sampleUniversityVideoTranscript.txt
  packages/ingest-mongodb-public/testData/sampleUniversityVideos.json
  packages/ingest-mongodb-public/testData/snootySampleData.jsonl
  packages/ingest-mongodb-public/testData/snootySampleDataWithDeleted.jsonl
  packages/ingest-mongodb-public/testData/snootySampleMetadata.json
  packages/mongodb-rag-ingest/src/embed/chunkOpenApiSpecYaml.test.ts
  packages/mongodb-rag-ingest/testData/openApiSpec.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Remove files that shouldn't be present
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/.ipynb_checkpoints/extract_db_documents-checkpoint.ipynb
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/.ipynb_checkpoints/extract_db_metadata-checkpoint.ipynb
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/.ipynb_checkpoints/extract_eval_cases-checkpoint.ipynb
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/data_out/collections_metadata.json
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/data_out/database_data.json
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/data_out/database_metadata.json
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/data_out/eval_cases.json
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/data_out/ex_conf.jsonc
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/data_out/experiments.csv
  packages/benchmarks/src/textToDriver/notebooks-and-scripts/data_out/md.json
Due: test-all

remove for naming
  packages/ingest-mongodb-public/src/test/jestSetup.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

rename
  packages/ingest-mongodb-public/src/test/jestSetUp.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

master --> main
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

master --> main more
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

clean up imports
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: creating markdown file from LP and associated content
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeMarkdownPagesForLearningPaths.test.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeMarkdownPagesForLearningPaths.ts
  packages/mongodb-rag-ingest/testData/sampleUniversityLearningPathAndContent.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

script modified to process nested data
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeMarkdownPagesForLearningPaths.test.ts
  packages/mongodb-rag-ingest/src/sources/mongodb-university/makeMarkdownPagesForLearningPaths.ts
  packages/mongodb-rag-ingest/testData/sampleUniversityCourseWithNestedContent.json
  packages/mongodb-rag-ingest/testData/sampleUniversityLearningPathAndContent.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add typedoc descriptions
  packages/mongodb-rag-ingest/src/sources/mongodb-university/MongoDbUniversityDataApiClient.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Add deps + excise typechat
  package-lock.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/test/MockPageStore.ts
  packages/mongodb-rag-core/src/test/jestSetUp.ts
  packages/scripts/package.json
  packages/scripts/src/TypeChatJsonTranslateFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove unused deps
  package-lock.json
  packages/mongodb-rag-ingest/package.json
  packages/mongodb-rag-ingest/src/Config.ts
  packages/mongodb-rag-ingest/src/commands/all.test.ts
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
  packages/mongodb-rag-ingest/src/embed/index.ts
  packages/mongodb-rag-ingest/src/index.ts
  packages/mongodb-rag-ingest/src/pages/index.ts
  packages/mongodb-rag-ingest/src/test/MockPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update import paths
  docs/docs/ingest/configure.md
  docs/docs/ingest/data-sources.md
  docs/docs/ingest/optimize.md
  docs/docusaurus.config.ts
  examples/quick-start/packages/ingest/src/ingest.config.ts
  examples/quick-start/packages/ingest/src/mongodbChatbotFrameworkDataSource.ts
  packages/ingest-mongodb-public/src/coachGtm.config.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/MongoDbDotComDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/practicalAggregations.ts
  packages/ingest-mongodb-public/src/sources/prisma.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/pageStore/updatePages.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

refactor to use correct imports
  docs/docs/ingest/configure.md
  docs/docs/ingest/data-sources.md
  docs/docs/ingest/optimize.md
  examples/quick-start/packages/ingest/src/ingest.config.ts
  examples/quick-start/packages/ingest/src/mongodbChatbotFrameworkDataSource.ts
  packages/ingest-mongodb-public/src/coachGtm.config.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/MongoDbDotComDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDeveloperCodeRepos.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/practicalAggregations.ts
  packages/ingest-mongodb-public/src/sources/prisma.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.ts
  packages/mongodb-rag-ingest/package.json
  packages/scripts/src/analyzeMessages.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

exports as main
  packages/mongodb-rag-ingest/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

remove core b/c not re-exporting
  packages/mongodb-rag-ingest/src/core.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

export
  package-lock.json
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add missing dev deps
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Dep check
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update compiler options for fetch
  packages/ingest-mongodb-public/tsconfig.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix build err
  packages/ingest-mongodb-public/src/sources/snooty/SnootyProjectsInfo.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

change test run to use experimental modules
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

node-fetch@2
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

use commonly exported langchain
  package-lock.json
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.test.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/langchain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval
