Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

code execution nodes
  packages/datasets/src/treeGeneration/databaseNlQueries/e2e.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseExecutionResult.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseExecutionResult.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseExecutionResults.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseExecutionResults.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateMongoshCode.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateMongoshCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateUseCases.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/nodeTypes.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/executeCode/DatabaseExecutionResult.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.test.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.ts
  packages/mongodb-rag-core/src/executeCode/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

ingesting skills pages, alter guardrail and stepback to consider ed programs like skills
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/products.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

modify questions and expected links
  packages/chatbot-server-mongodb-public/evalCases/uni_skills_evaluation_questions.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Minor metadata prompt tweak + console logging
  packages/mongodb-artifact-generator/src/commands/generateDocsMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
Due: test-all

(EAI-523) Server supports clientContext passed in requests
  packages/mongodb-chatbot-server/src/processors/GenerateUserPromptFunc.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix fuzzy match for case where one of the urls has no path
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.test.ts
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

scripts to list (non-functional) and delete slack messages
  package-lock.json
  package.json
  packages/scripts/package.json
  packages/scripts/src/main/listSlackMessagesMain.ts
  packages/scripts/src/main/removeSlackMessageMain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-903) Store whether or not the user commented in scrubbed messages
  packages/scripts/src/scrubMessages.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

use flatMap, use pageStore
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-901) check that reference urls are ingested (#642)
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

copy fixes - comment, test case wording
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.test.ts
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-911) fix bug causeing BinaryNdcgAt5 errors (#648)
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.test.ts
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

clean up PR code
  packages/datasets/.gitignore
  packages/datasets/package.json
  packages/datasets/src/bin/generateDbSchemas.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/datasetDatabases.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateAnnotatedDatabaseInfo.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseExecutionResult.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateDatabaseUsers.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateMongoshCode.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateNaturalLanguageQueries.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generateUseCases.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/generatedMqlCode.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_airbnb_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_analytics_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_geospatial_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_guides_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_mflix_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_restaurants_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_supplies_gpt-4o_annotatedDbSchema.yaml
  packages/datasets/src/treeGeneration/databaseNlQueries/sample_weatherdata_gpt-4o_annotatedDbSchema.yaml
Due: test-all

Apply suggestions from code review
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

chore: update dependencies
  examples/quick-start/package-lock.json
  examples/quick-start/package.json
Due: none

repo-chat sample project (#640)
  examples/repo-chat/.env.example
  examples/repo-chat/.gitignore
  examples/repo-chat/README.md
  examples/repo-chat/package-lock.json
  examples/repo-chat/package.json
  examples/repo-chat/packages/ingest/package.json
  examples/repo-chat/packages/ingest/src/ingest.config.ts
  examples/repo-chat/packages/ingest/src/loadEnvVars.ts
  examples/repo-chat/packages/ingest/src/reposDataSource.ts
  examples/repo-chat/packages/ingest/tsconfig.json
  examples/repo-chat/packages/server/.gitignore
  examples/repo-chat/packages/server/package.json
  examples/repo-chat/packages/server/src/index.ts
  examples/repo-chat/packages/server/src/loadEnvVars.ts
  examples/repo-chat/packages/server/tsconfig.json
  examples/repo-chat/packages/ui/.eslintrc.cjs
  examples/repo-chat/packages/ui/.gitignore
  examples/repo-chat/packages/ui/README.md
  examples/repo-chat/packages/ui/index.html
  examples/repo-chat/packages/ui/package-lock.json
  examples/repo-chat/packages/ui/package.json
  examples/repo-chat/packages/ui/src/App.css
  examples/repo-chat/packages/ui/src/App.tsx
  examples/repo-chat/packages/ui/src/assets/react.svg
  examples/repo-chat/packages/ui/src/index.css
  examples/repo-chat/packages/ui/src/main.tsx
  examples/repo-chat/packages/ui/src/vite-env.d.ts
  examples/repo-chat/packages/ui/tsconfig.json
  examples/repo-chat/packages/ui/tsconfig.node.json
  examples/repo-chat/packages/ui/vite.config.ts
Due: none

works
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-641) optimize dotcom content in chatbot (#643)
  packages/chatbot-server-mongodb-public/src/eval/experiments/dotcomQuestionsTest.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

update gen script
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/mongodb-rag-core/src/executeCode/DatabaseExecutionResult.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.test.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

skip tests in CI
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Minor metadata prompt tweak + console logging (#647)
  packages/mongodb-artifact-generator/src/commands/generateDocsMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
Due: test-all

load data + get agg scores
  packages/benchmarks/src/aggregateScoresByTag.test.ts
  packages/benchmarks/src/aggregateScoresByTag.ts
  packages/benchmarks/src/getBraintrustExperimentAndScores.ts
Due: test-all

add reporting
  packages/benchmarks/src/getBraintrustExperimentAndScores.ts
  packages/benchmarks/src/reporting/aggregateScoresByTag.test.ts
  packages/benchmarks/src/reporting/aggregateScoresByTag.ts
  packages/benchmarks/src/reporting/convertTagStatsToFlatObject.test.ts
  packages/benchmarks/src/reporting/convertTagStatsToFlatObject.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentResults.ts
Due: test-all

checkpoint
  package-lock.json
  package.json
  packages/benchmarks/src/quizQuestions/reportMongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/reporting/aggregateScoresByTag.test.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentResults.test.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentResults.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

implement NL feedback
  .drone.yml
  packages/datasets/src/EnvVars.ts
Due: test-all

Fix lint for mongodb-chatbot-server
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.test.ts
  packages/mongodb-chatbot-server/src/test/globalSetup.ts
  packages/mongodb-chatbot-server/src/test/globalTeardown.ts
  packages/mongodb-chatbot-server/src/test/globals.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-871): Cronjobs to programmatically update datasets (#631)
  .drone.yml
  datasets.dockerfile
  packages/datasets/environments/production.yml
  packages/datasets/environments/staging.yml
  packages/datasets/src/EnvVars.ts
  packages/datasets/src/README.md
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/codeExampleDataset/classifyCodeExample.ts
Due: test-all

Fix lint for mongodb-rag-core
  packages/mongodb-rag-core/src/DataStreamer.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbTransformedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/TransformedContent.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/updatePages.ts
  packages/mongodb-rag-core/src/contentStore/updateTransformedContent.test.ts
  packages/mongodb-rag-core/src/llm/OpenAiChatLlm.test.ts
  packages/mongodb-rag-core/src/test/globalSetup.ts
  packages/mongodb-rag-core/src/test/globalTeardown.ts
  packages/mongodb-rag-core/src/test/globals.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix lint for chatbot-server-mongodb-public
  packages/chatbot-server-mongodb-public/src/EnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/dotcomQuestionsTest.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix lint for mongodb-artifact-generator
  packages/mongodb-artifact-generator/src/chat/makeSummarizer.test.ts
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
  packages/mongodb-artifact-generator/src/release-notes/github.ts
  packages/mongodb-artifact-generator/src/runId.test.ts
Due: test-all

Fix lint for mongodb-rag-ingest
  packages/mongodb-rag-ingest/src/test/globalSetup.ts
  packages/mongodb-rag-ingest/src/test/globalTeardown.ts
  packages/mongodb-rag-ingest/src/test/globals.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Fix lint for datasets
  packages/datasets/src/codeExampleDataset/transformPageToAnnotatedCodeExamples.ts
  packages/datasets/src/test/globalSetup.ts
  packages/datasets/src/test/globalTeardown.ts
  packages/datasets/src/test/globals.ts
Due: test-all

Fix lint for ingest-mongodb-public
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataApiClient.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Fix lint for benchmarks
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/test/globalSetup.ts
  packages/benchmarks/src/test/globalTeardown.ts
  packages/benchmarks/src/test/globals.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.test.ts
  packages/benchmarks/src/textToDriver/fuzzyMatch.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
Due: test-all

Release chatbot-server-mongodb-public v0.15.3
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Scripts to list (non-functional) and delete slack messages (#650)
  package-lock.json
  package.json
  packages/scripts/package.json
  packages/scripts/src/main/listSlackMessagesMain.ts
  packages/scripts/src/main/removeSlackMessageMain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix optional env vars
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/postCommentToSlack.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
