Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

wip: test playwright in cron
  .drone.yml
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test playwright in cron
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test playwright in cron
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test playwright in cron
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test playwright in cron
  .drone.yml
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test playwright in cron
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test playwright in cron
  ingest-service.dockerfile
Due: none

wip: test puppeteer in cron
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test puppeteer in cron
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Release chatbot-server-mongodb-public v0.15.2
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

wip: test puppeteer in cron
  .drone.yml
  packages/mongodb-rag-ingest/src/commands/all.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test playwright in cron - log out executable path
  .drone.yml
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

implement NL feedback
  packages/datasets/src/EnvVars.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/classifyCodeExample.ts
  packages/datasets/src/classifyIsUsefulCodeBlockForTraining.ts
  packages/datasets/src/createPromptsFromText.ts
  packages/datasets/src/loadPageDataset.test.ts
  packages/datasets/src/loadPageDataset.ts
  packages/datasets/src/uploadDatasetToHuggingFace.test.ts
  packages/datasets/src/uploadDatasetToHuggingFace.ts
Due: test-all

wip: test playwright in cron - adjust k8s limits
  ingest-service.dockerfile
  packages/ingest-mongodb-public/environments/staging.yml
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test playwright in cron - revert dockerfile to version on main
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-868 & EAI-869): HuggingFace uploader & upload the docs dataset to HuggingFace (#616)
  package-lock.json
  packages/datasets/.env.example
  packages/datasets/jest.config.cjs
  packages/datasets/package.json
  packages/datasets/src/EnvVars.ts
  packages/datasets/src/PersistedPage.ts
  packages/datasets/src/appendLlmMetadata.ts
  packages/datasets/src/bin/extractCodeExamples.ts
  packages/datasets/src/bin/filterCodeExamplesForExport.ts
  packages/datasets/src/bin/filterCodeExamplesForSmallExport.ts
  packages/datasets/src/bin/genAdditionalCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAllCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAtlasSearchCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genDriversCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genManualCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genRustDriverCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genSampleOfCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/huggingFace/uploadContentDatasetToHuggingFace.ts
  packages/datasets/src/classifyCodeExample.ts
  packages/datasets/src/classifyIsUsefulCodeBlockForTraining.ts
  packages/datasets/src/contextualizeCodeBlock.ts
  packages/datasets/src/createPromptsFromText.ts
  packages/datasets/src/extractPageElements.ts
  packages/datasets/src/loadPageDataset.test.ts
  packages/datasets/src/loadPageDataset.ts
  packages/datasets/src/mongoDbDatasetConstants.ts
  packages/datasets/src/test/constants.ts
  packages/datasets/src/test/globalSetup.ts
  packages/datasets/src/test/globalTeardown.ts
  packages/datasets/src/uploadDatasetToHuggingFace.test.ts
  packages/datasets/src/uploadDatasetToHuggingFace.ts
  packages/datasets/tsconfig.json
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

wip: test playwright in cron - skip testing step
  .drone.yml
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test puppeteer in cron - dockerfile reverted to when browser loaded, but page did not
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test puppeteer in cron - dockerfile changes: rm nodejs, yarn, puppeteer packages
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

wip: test puppeteer in cron - dockerfile changes: change flavor from alpine to bullseye
  ingest-service.dockerfile
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
