Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

more mercury case analysis exports from ai sdk
  packages/mercury-case-analysis/src/index.ts
Due: test-all

Release mercury-case-analysis v0.1.1
  package-lock.json
  packages/mercury-case-analysis/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Release mongodb-rag-core v0.7.1
  package-lock.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Release mercury-case-analysis v0.1.2
  package-lock.json
  packages/mercury-case-analysis/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Agent improvements on sample data
  packages/benchmarks/src/textToDriver/generateDriverCode/generateAtlasSearchCodeAgentic.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/atlasSearch.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/mongoDbMcpAgent.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/tools/submitFinalSolution.ts
  packages/benchmarks/src/textToDriver/nltoAtlasSearchBenchmarkConfig.ts
Due: test-all

checkpoint w/ ai sdk update
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

checkpoint w/ ai sdk update
  package-lock.json
  packages/benchmarks/src/textToDriver/TextToDriverEnvVars.ts
  packages/benchmarks/src/textToDriver/debug.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/atlasSearch.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/mongoDbMcpAgent.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/tools/think.ts
  packages/benchmarks/src/textToDriver/nltoAtlasSearchBenchmarkConfig.ts
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.test.ts
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.ts
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Capture parallel tool calls + results as individual messages
  packages/chatbot-server-mongodb-public/evalCases/internal_tools_conversations.yml
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

upgrade sdk
  package-lock.json
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
  packages/mercury-case-analysis/src/analyzeCases.ts
  packages/mercury-case-analysis/src/relevance.ts
  packages/mongodb-rag-core/package.json
  packages/scripts/src/main/assessCasesMain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

mercury QA rewrites pt 1
  packages/scripts/package.json
  packages/scripts/src/mercuryRewritesQA.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

didn't need to rename this variable
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Update eval case & add period
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Upgrade Vercel AI SDK to v5 (#882)
  package-lock.json
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
  packages/mercury-case-analysis/src/analyzeCases.ts
  packages/mercury-case-analysis/src/relevance.ts
  packages/mongodb-rag-core/package.json
  packages/scripts/src/main/assessCasesMain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Unit test parallel tool call message formatting change
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

validate model name
  packages/benchmarks/src/cli/benchmarkCli.test.ts
  packages/benchmarks/src/cli/benchmarkCli.ts
Due: test-all

handle google gemini tool calling
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/aiSdk.ts
  packages/mongodb-rag-core/src/braintrust.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

improve scorers
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.test.ts
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.ts
Due: test-all

prompt tweaks
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/atlasSearch.ts
Due: test-all

tool tweaks and tracing
  package-lock.json
  packages/benchmarks/src/textToDriver/debug.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/mongoDbMcpAgent.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/tools/getAtlasSearchIndexes.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/tools/think.ts
  packages/benchmarks/src/textToDriver/nltoAtlasSearchBenchmarkConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Minor fixes / linting
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Couple more cases & minor guardrail prompt tweak
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

EAI-1258 Guardrail prompt/eval on prompt injection (#884)
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

mercury QA rewrites pt 2
  packages/scripts/src/mercuryRewritesQA.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Fix tests
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.test.ts
Due: test-all

Update packages/benchmarks/src/textToDriver/generateDriverCode/mongoDbMcpAgent.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/mongoDbMcpAgent.ts
Due: test-all

(EAI-1251) Capture parallel tool calls + results as individual messages (#883)
  packages/chatbot-server-mongodb-public/evalCases/internal_tools_conversations.yml
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Normalize URL in user msg formatting
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.test.ts
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update model list
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add antipattern notes
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

sloppy checkpoint
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.atlasSearch.eval.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

HS feedback
  packages/benchmarks/src/textToDriver/generateDriverCode/mongoDbMcpAgent.ts
Due: test-all

process answer options through F, handle multiple correct
  packages/benchmarks/src/quizQuestions/bin/loadBadgeQuizQuestions.ts
Due: test-all

seemingly working config
  packages/datasets/src/treeGeneration/databaseNlQueries/TreeGenerationConfig.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Mercury analysis
  packages/scripts/package.json
  packages/scripts/src/mercuryAnalysis.ts
  packages/scripts/src/mercuryRewritesQA.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Update LLMs list (2025-18-08) (#886)
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Wait for guardrail to finish before streaming
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

HS feedback
  packages/datasets/src/bin/generateAtlasSearchDataset.ts
  packages/datasets/src/bin/generateDbSchemas.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/bin/generateMongoshDatasetsClaude.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAnnotatedDatabaseInfoNode.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1232): NL2AS pipeline (#877)
  packages/benchmarks/src/textToDriver/generateDriverCode/annotatedDbSchemas.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodePromptCompletion.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeSimpleToolCall.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeDatabaseInfoPrompt.ts
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.test.ts
  packages/benchmarks/src/textToDriver/scorers/atlasSearch.ts
  packages/datasets/src/bin/appendTextToMongoshAverageExecutionTime.ts
  packages/datasets/src/bin/generateAtlasSearchDataset.ts
  packages/datasets/src/bin/generateDbSchemas.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/DatabaseNlQueryDatasetEntry.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateHighLevelDbDescriptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getOpenAiFunctionResponse.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAnnotatedDatabaseInfoNode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseExecutionResult.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueriesAtlasSearch.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/makePromptComponents.ts
  packages/mongodb-rag-core/src/executeCode/DatabaseExecutionResult.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/generateAnnotatedCollectionSchema.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/generateAnnotatedDatabaseInfo.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/generateHighLevelDbDescriptions.ts
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.test.ts
  packages/mongodb-rag-core/src/executeCode/executeEjsonAggregation.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.test.ts
  packages/mongodb-rag-core/src/executeCode/executeMongoshQuery.ts
  packages/mongodb-rag-core/src/executeCode/index.ts
  packages/mongodb-rag-core/src/executeCode/profileMongoshQuery.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

latest ai sdk
  package-lock.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/aiSdk.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service
