Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

Add Locals types to middleware invocations
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/middleware/requireValidIpAddress.test.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Ingest ILT schedule
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Optionally remove q params & hash fragment
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.test.ts
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Update normalization function use everywhere
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/practicalAggregations.ts
  packages/ingest-mongodb-public/src/sources/prisma.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.ts
  packages/scripts/src/checkUrlsAgainstDB.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service

handle edge case
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.test.ts
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add extra braintrust tracing to searchContent route
  packages/chatbot-server-mongodb-public/src/processors/findContentWithMongoDbMetadata.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Update README.md
  README.md
Due: none

Lint, fix trace name, remove unnecessary import
  packages/chatbot-server-mongodb-public/src/processors/findContentWithMongoDbMetadata.ts
  packages/mongodb-chatbot-server/src/processors/addCustomData.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1138) Ingest ILT schedule (#820)
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Release ingest-mongodb-public v0.16.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

cleanup
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add "required" as an option for tool_choice
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

cleanup datastreamer test globals
  packages/mongodb-rag-core/src/DataStreamer.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add test to dataStreamer for streamResponses
  packages/mongodb-rag-core/src/DataStreamer.test.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

handle data streaming for new responses API (#807)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/errors.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/DataStreamer.test.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add searchContent pieces to openapi spec
  docs/docs/server/openapi.yaml
Due: none

Preserve q str in skills urls
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

(EAI-1155) Required CORS headers missing for cloud.mongodb.com
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

rewrite
  packages/datasets/src/bin/rewriteNlToMongoshDatasetQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/rewriteNlQuery/rewriteNlQuery.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/rewriteNlQuery/rewriteNlQuery.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-972) Add extra braintrust tracing to searchContent route (#822)
  packages/mongodb-chatbot-server/src/routes/content/searchContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Actually call with url normalization params
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

comment phrasing
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

EAI-1168 Remove query string, hash fragment in normalizeUrl (#821)
  packages/chatbot-server-mongodb-public/src/eval/fuzzyLinkMatch.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
  packages/ingest-mongodb-public/src/sources/DevCenterDataSource.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodb-university/makeUniversityPages.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
  packages/ingest-mongodb-public/src/sources/mongoose.ts
  packages/ingest-mongodb-public/src/sources/practicalAggregations.ts
  packages/ingest-mongodb-public/src/sources/prisma.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/wiredTiger.ts
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.test.ts
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.ts
  packages/scripts/src/checkUrlsAgainstDB.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

bt loop
  .prompts/braintrut-loop.md
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

PR review - One input to exported fxn
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.test.ts
  packages/chatbot-server-mongodb-public/src/processors/formatUserMessageForGeneration.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

PR review - camelCase
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Braintrust Loop prompt (#826)
  .prompts/braintrut-loop.md
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix build err
  packages/benchmarks/src/nlPromptResponse/metrics.ts
  packages/benchmarks/src/nlPromptResponse/nlPromptCompletionTask.ts
  packages/benchmarks/src/nlPromptResponse/runNlPromptResponseBenchmark.ts
  packages/benchmarks/src/test/makeSampleLlmOptions.ts
Due: test-all

fix other build err
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1086) [UI] Add client handler for reference link click
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.ts
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

update config to pass the proper stream when setting up public chatbot server
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

configure responsesAPIStream handler
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

cleanup variable
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix header type errors for openai 4->5 upgrade
  package-lock.json
  packages/mongodb-chatbot-server/src/routes/responses/errors.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix type name for annotation
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

start of test fixes
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update tests for streaming mode
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

better mock testing
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

PR feedback
  docs/docs/server/openapi.yaml
Due: none

(EAI-971) Add `searchContent` to openapi spec documentation (#823)
  docs/docs/server/openapi.yaml
Due: none
