Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*

Run npm audit fix
  chat-server/package.json
  chat-ui/package.json
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

[DOCSP-32954] Add Rating, Character Count, Initial, Disclaimer (#176)
  chat-ui/package.json
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/DevCenterChatbot.tsx
  chat-ui/src/UserProvider.tsx
  chat-ui/src/useUser.ts
  package-lock.json
Due: test-all, staging-build-chat-server

Add pymongo metadata
  ingest/src/RstOnGitHubDataSource.test.ts
  ingest/src/RstOnGitHubDataSource.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

Run npm audit fix (#178)
  chat-server/package.json
  chat-ui/package.json
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Update release-it pre-hooks
  chat-server/.release-it.json
Due: test-all, staging-build-chat-server

Release 0.1.1
  chat-server/package-lock.json
  chat-server/package.json
Due: test-all, staging-build-chat-server

Update package-lock in monorepo for release
  package-lock.json
Due: none

Update release-it git add config to add monorepo stuff
  chat-server/.release-it.json
Due: test-all, staging-build-chat-server

(DOCSP-32930): Add pymongo metadata (#179)
  ingest/src/RstOnGitHubDataSource.test.ts
  ingest/src/RstOnGitHubDataSource.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

De-flake SnootyProjectsInfo test
  ingest/src/SnootyProjectsInfo.test.ts
  ingest/src/SnootyProjectsInfo.ts
Due: test-all, staging-build-ingest-service

De-flake SnootyProjectsInfo test (#181)
  ingest/src/SnootyProjectsInfo.test.ts
  ingest/src/SnootyProjectsInfo.ts
Due: test-all, staging-build-ingest-service

Refactor to make typechat json available to all
  chat-core/src/TypeChatJsonTranslateFunc.ts
  chat-core/src/index.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Add message analysis
  chat-core/src/TypeChatJsonTranslateFunc.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  scripts/package.json
  scripts/src/MessageAnalysis.d.ts
  scripts/src/ScrubbedMessage.ts
  scripts/src/addTopics.ts
  scripts/src/analyzeMessages.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Fix test
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
Due: test-all, staging-build-chat-server

Tweak typechat model
  scripts/src/MessageAnalysis.d.ts
  scripts/src/analyzeMessages.ts
Due: none

WIP
  scripts/package.json
  scripts/src/ScrubbedMessage.ts
  scripts/src/addTopics.ts
  scripts/src/scrubMessages.ts
Due: none

[DOCSP-32954] feat(devcenter-chatbot): Add React-Transition-Group
  chat-ui/package.json
  chat-ui/src/DevCenterChatbot.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

[DOCSP-32954] feat(devcenter-chatbot): Add ErrorBanner
  chat-ui/src/DevCenterChatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-33273) Open Source Licensing
  LICENSE
  THIRD_PARTY_NOTICES
Due: none

Add license to package.json files
  README.md
  chat-core/package.json
  chat-server/package.json
  ingest/package.json
  mongodb-atlas/package.json
  package.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Add scrubbing to drone
  .drone.yml
Due: none

Add scrub cron
  chat-server/environments/production.yml
  chat-server/environments/staging.yml
  ingest/environments/production.yml
  ingest/environments/staging.yml
  scripts/environments/production.yml
  scripts/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-33273) Open Source Licensing (#183)
  LICENSE
  README.md
  THIRD_PARTY_NOTICES
  chat-core/package.json
  chat-server/package.json
  ingest/package.json
  mongodb-atlas/package.json
  package.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Update and add dockerfile
  .drone.yml
  scripts-service.dockerfile
Due: none

(DOCSP-33291) [UI] Add tck tracking to links
  chat-ui/README.md
  chat-ui/src/Chatbot.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server

Cron scrub (#184)
  .drone.yml
  chat-server/environments/production.yml
  chat-server/environments/staging.yml
  ingest/environments/production.yml
  ingest/environments/staging.yml
  scripts-service.dockerfile
  scripts/environments/production.yml
  scripts/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Fix drone scripts
  .drone.yml
  CONTRIBUTING.md
  package-lock.json
Due: none

Fix drone scripts (#186)
  .drone.yml
  CONTRIBUTING.md
  package-lock.json
Due: none

Trigger drone run for scripts service
  scripts/trigger.me
Due: none

Add release-it to scripts
  package-lock.json
  scripts/.release-it.json
  scripts/package.json
Due: none

Release 0.1.0
  scripts/package.json
Due: none

Fix typo in scripts build
  .drone.yml
  package-lock.json
  scripts-service.dockerfile
Due: none

Release 0.1.1
  scripts/package.json
Due: none

Update README.md
  README.md
Due: none

Use shorthand initializers & consistent tck name
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-33291) [UI] Add tck tracking to links (#185)
  chat-ui/README.md
  chat-ui/src/Chatbot.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server

Update for comments and also copy rating from response messages
  scripts/src/ScrubbedMessage.ts
  scripts/src/analyzeMessages.ts
Due: none

Update scripts/src/analyzeMessages.ts
  scripts/src/analyzeMessages.ts
Due: none
