Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    settings:
      dockerfile: chat-server.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-chat-server
      tags:
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    settings:
      dockerfile: ingest-service.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-ingest-service
      tags:
  ...

fix: mongodb-atlas/package.json & mongodb-atlas/package-lock.json to reduce vulnerabilities
  mongodb-atlas/package-lock.json
Due: none

[Snyk] Security upgrade mongodb from 5.7.0 to 5.8.0 (#121)
  mongodb-atlas/package-lock.json
  mongodb-atlas/package.json
Due: none

add pm2 runtime to containers
  chat-server.dockerfile
Due: none

Trigger test staging build
  .drone.yml
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

install pm2 locally
  chat-server.dockerfile
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

clean up testing
  .drone.yml
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

remove accidental whitespace
  chat-server.dockerfile
Due: none

(DOCSP-32807): Add pm2 for running server (#122)
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

(DOCSP-31108): Add prod index scripts (#120)
  mongodb-atlas/.env.example
  mongodb-atlas/add-content-indexes.ts
  mongodb-atlas/package.json
Due: none

(DOCSP-32604) More helpful max messages error message
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

(DOCSP-32759) [UI] Use text instead of a banner for "validate answers"
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

add k8s prod readiness config
  chat-server/environments/staging.yml
  ingest/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-build-ingest-service

add health endpoint for k8s
  chat-server/src/app.ts
Due: test-all, staging-build-chat-server

update drone to test new config
  .drone.yml
Due: none

trigger staging
  chat-server/trigger.me
  ingest/trigger.me
Due: test-all, staging-build-chat-server, staging-build-ingest-service

apply changes to prod
  chat-server/environments/production.yml
  ingest/environments/production.yml
Due: test-all, staging-build-chat-server, staging-build-ingest-service

revert drone file to orig state
  .drone.yml
Due: none

remove trigger files
  chat-server/trigger.me
  ingest/trigger.me
Due: test-all, staging-build-chat-server, staging-build-ingest-service

fix readiness config indentation
  chat-server/environments/production.yml
  chat-server/environments/staging.yml
Due: test-all, staging-build-chat-server

wip
  mongodb-corp/README.md
  mongodb-corp/dotcom/company.md
  mongodb-corp/dotcom/contact.md
  mongodb-corp/dotcom/leadership.md
  mongodb-corp/dotcom/legal/acceptable-use-policy.md
  mongodb-corp/dotcom/legal/privacy-policy.md
  mongodb-corp/dotcom/legal/terms-of-use.md
  mongodb-corp/dotcom/legal/trademark-usage-guidelines.md
  mongodb-corp/dotcom/why-use-mongodb.md
Due: none

fix test
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
Due: test-all, staging-build-chat-server

remove unnec `undefined` type option
  ingest/src/SnootyProjectsInfo.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32657): Remove same IP address validation on conversations (#112)
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

(DOCSP-32254): Include information about latest product versions + minor prompt engineering (#116)
  chat-server/src/config.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  ingest/src/ProjectBase.d.ts
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/SnootyProjectsInfo.test.ts
  ingest/src/SnootyProjectsInfo.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-32248) [INGEST] "meta" content about the chatbot
  mongodb-corp/synthetic/chatbot-meta.md
Due: none

(DOCSP-32604) More helpful max messages error message (#123)
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

(DOCSP-32759) [UI] Use text instead of a banner for "validate answers" (#124)
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

(DOCSP-32856) Add a toggle for streamed vs awaited responses to the demo
  chat-ui/README.md
  chat-ui/package.json
  chat-ui/src/App.module.css
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/useConversation.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

Upgrade azure openai
  chat-core/package.json
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-32694) [UI] Add darkMode prop
  chat-ui/src/App.module.css
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

Upgrade azure openai (#128)
  chat-core/package.json
  chat-server/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-32694) [UI] Add darkMode prop - fix conditional hook error in test
  chat-ui/src/App.tsx
Due: test-all, staging-build-chat-server

only boost 2 results + order results by score
  chat-server/src/config.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.test.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.ts
Due: test-all, staging-build-chat-server

(DOCSP-32808): k8s production readiness (#125)
  chat-server/environments/production.yml
  chat-server/environments/staging.yml
  chat-server/src/app.ts
  ingest/environments/production.yml
  ingest/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-build-ingest-service

move SSE check to utils
  chat-ui/src/App.tsx
  chat-ui/src/useConversation.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server

(DOCSP-32856) Add a toggle for streamed vs awaited responses to the demo (#126)
  chat-ui/README.md
  chat-ui/package.json
  chat-ui/src/App.module.css
  chat-ui/src/App.tsx
  chat-ui/src/Chatbot.tsx
  chat-ui/src/useConversation.tsx
  chat-ui/src/utils.ts
  package-lock.json
Due: test-all, staging-build-chat-server

sort before slice
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.test.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.ts
Due: test-all, staging-build-chat-server

(DOCSP-32868): only boost 2 results + order results by score (#130)
  chat-server/src/config.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.test.ts
  chat-server/src/processors/makeBoostOnAtlasSearchFilter.ts
Due: test-all, staging-build-chat-server

update QA DB name
  chat-server/environments/qa.yml
Due: test-all, staging-build-chat-server

(DOCSP-32694) [UI] Add darkMode prop - add missing darkMode props
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
