Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

lock fix
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

working w/ node>=20.x
  packages/benchmarks/jest.config.cjs
  packages/benchmarks/package.json
  packages/benchmarks/src/radiantModels.test.ts
  packages/benchmarks/tsconfig.json
Due: test-all

skip for CI
  packages/benchmarks/src/radiantModels.test.ts
Due: test-all

(EAI-469): Autoblocks assessment (#457)
  package-lock.json
  package.json
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/autoblocks/evaluateRagConversationsData.ts
  packages/chatbot-eval-mongodb-public/src/autoblocks/evaluateRagConversationsReferenceFree.ts
  packages/chatbot-eval-mongodb-public/src/autoblocks/sample.ts
  packages/chatbot-eval-mongodb-public/src/braintrust/evaluateRagConversationsReferenceFree.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

rag convos notebook
  galileo/.gitignore
  galileo/README.md
  galileo/rag_conversations.ipynb
Due: none

Add analytics views on scrubbed_messages
  packages/scripts/package.json
  packages/scripts/src/createView/scrubbed_messages_stats/daily.ts
  packages/scripts/src/createView/scrubbed_messages_stats/index.ts
  packages/scripts/src/createView/scrubbed_messages_stats/monthly.ts
  packages/scripts/src/createView/scrubbed_messages_stats/weekly.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-470) [UI] Fix dark mode sparkle color on ChatTrigger
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

discovery + quiz evals
  galileo/discovery_conversations.ipynb
  galileo/quiz_questions.ipynb
Due: none

unify interface
  packages/scripts/package.json
  packages/scripts/src/createView/scrubbed_messages_stats.ts
  packages/scripts/src/createView/scrubbed_messages_stats/daily.ts
  packages/scripts/src/createView/scrubbed_messages_stats/index.ts
  packages/scripts/src/createView/scrubbed_messages_stats/monthly.ts
  packages/scripts/src/createView/scrubbed_messages_stats/weekly.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-453): Galileo Assessment (#462)
  galileo/.gitignore
  galileo/README.md
  galileo/discovery_conversations.ipynb
  galileo/quiz_questions.ipynb
  galileo/rag_conversations.ipynb
Due: none

Update packages/benchmarks/tsconfig.json
  packages/benchmarks/tsconfig.json
Due: test-all

(EAI-379): Add more radiant models (#461)
  package-lock.json
  packages/benchmarks/.env.example
  packages/benchmarks/.eslintrc.cjs
  packages/benchmarks/.gitignore
  packages/benchmarks/.prettierrc.cjs
  packages/benchmarks/.release-it.json
  packages/benchmarks/README.md
  packages/benchmarks/datasets/discovery.yml
  packages/benchmarks/jest.config.cjs
  packages/benchmarks/package.json
  packages/benchmarks/src/baseConfig.ts
  packages/benchmarks/src/discovery.config.ts
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeChatLlmConversationEvalCommands.ts
  packages/benchmarks/src/makeChatLlmQuizEvalCommands.ts
  packages/benchmarks/src/makeRadiantChatLlm.ts
  packages/benchmarks/src/pipelines/discoveryEval.ts
  packages/benchmarks/src/pipelines/quizEval.ts
  packages/benchmarks/src/quizEval.config.ts
  packages/benchmarks/src/radiantModels.test.ts
  packages/benchmarks/src/radiantModels.ts
  packages/benchmarks/tsconfig.build.json
  packages/benchmarks/tsconfig.json
  packages/model-eval/src/radiantModels.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update core eval package
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.ts
  packages/mongodb-chatbot-evaluation/src/generate/GeneratedDataStore.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.ts
Due: test-all

update data generation
  packages/benchmarks/src/pipelines/quizEval.ts
  packages/benchmarks/src/quizEval.config.ts
Due: test-all

(EAI-470) [UI] Fix dark mode sparkle color on ChatTrigger (#464)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Evals to braintrust
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/braintrust/evaluateQuizQuestions.ts
  packages/benchmarks/src/braintrust/evaluateRegexMatch.ts
  packages/benchmarks/src/braintrust/utils.ts
  packages/benchmarks/src/pipelines/discoveryEvalToBraintrust.ts
  packages/benchmarks/src/pipelines/quizEvalToBraintrust.ts
  packages/benchmarks/src/radiantModels.ts
  packages/mongodb-chatbot-evaluation/src/Pipeline.test.ts
  packages/mongodb-chatbot-evaluation/src/Pipeline.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

WIP - jira250
  packages/mongodb-artifact-generator/src/commands/generateJiraPromptResponse.ts
  packages/mongodb-artifact-generator/src/jira250/generatePrompts.ts
  packages/mongodb-artifact-generator/src/jira250/generateResponse.ts
  packages/mongodb-artifact-generator/src/jira250/summarizeJiraIssue.ts
Due: test-all

Release mongodb-chatbot-ui v0.8.1
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

langfuse test
  package-lock.json
  packages/chatbot-eval-mongodb-public/.env.example
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/langfuse/evaluateLlmDiscoveryData.ts
  packages/chatbot-eval-mongodb-public/src/langfuse/evaluateRegexMatch.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-477): Langfuse assessment (#467)
  package-lock.json
  packages/chatbot-eval-mongodb-public/.env.example
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/langfuse/evaluateLlmDiscoveryData.ts
  packages/chatbot-eval-mongodb-public/src/langfuse/evaluateRegexMatch.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix
  packages/benchmarks/src/radiantModels.test.ts
Due: test-all

script to get meta docs
  packages/ingest-mongodb-public/.env.example
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/meta.config.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

call radiant thru openai proxy endpoint
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/makeRadiantChatLlm.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

env var skip fix (#468)
  packages/benchmarks/src/radiantModels.test.ts
Due: test-all

tweaks
  packages/benchmarks/src/discovery.config.ts
  packages/benchmarks/src/makeRadiantChatLlm.ts
  packages/benchmarks/src/quizEval.config.ts
Due: test-all

Config + script to get MongoDB meta docs (#469)
  packages/ingest-mongodb-public/.env.example
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/meta.config.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Add materialized view util tests
  packages/scripts/src/materialize/materialized-view-utils.test.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

analyze code-example-prompts dataset
  package-lock.json
  packages/scripts/package.json
  packages/scripts/src/analyzeCodeExamplePromptsDataset.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken test
  packages/mongodb-rag-core/src/LangchainChatLlm.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add metadata title to page
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.test.ts
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix broken test
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix broken test
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmConversationData.test.ts
Due: test-all

(EAI-481) Clean up env vars
  packages/chatbot-server-mongodb-public/environments/dev-rel.yml
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/qa.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/index.ts
  packages/ingest-mongodb-public/.env.example
  packages/ingest-mongodb-public/environments/production.yml
  packages/ingest-mongodb-public/environments/staging.yml
  packages/ingest-mongodb-public/src/PublicIngestEnvVars.ts
  packages/ingest-mongodb-public/src/coachGtm.config.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/mongodb-artifact-generator/src/ReleaseNotesEnvVars.ts
  packages/mongodb-artifact-generator/src/chat/makeClassifier.test.ts
  packages/mongodb-artifact-generator/src/chat/makeClassifier.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateChatCompletion.ts
  packages/mongodb-artifact-generator/src/standardConfig.ts
  packages/mongodb-chatbot-server/README.md
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-verified-answers/.env.example
  packages/mongodb-chatbot-verified-answers/src/commands/import.ts
  packages/mongodb-chatbot-verified-answers/src/importVerifiedAnswers.test.ts
  packages/mongodb-chatbot-verified-answers/src/importVerifiedAnswers.ts
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/LangchainChatLlm.test.ts
  packages/mongodb-rag-ingest/.env.example
  packages/mongodb-rag-ingest/src/IngestEnvVars.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

BP review
  packages/scripts/environments/production.yml
  packages/scripts/src/createView/scrubbed_messages_stats.ts
  packages/scripts/src/main/materializeScrubbedMessagesStats.ts
  packages/scripts/src/materialize/materializedViewUtils.test.ts
  packages/scripts/src/materialize/materializedViewUtils.ts
  packages/scripts/src/materialize/scrubbed_messages_stats.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

add metadata title to page
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

tests for adding metadata title to page
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Apply suggestions from code review
  packages/benchmarks/src/pipelines/discoveryEvalToBraintrust.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.ts
Due: test-all

implement NL feedback
  packages/benchmarks/src/makeRadiantChatLlm.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.ts
Due: test-all

fix linting issues
  packages/mongodb-rag-ingest/src/sources/snooty/SnootyDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
