Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

checkpoint w/ vaToConvo
  packages/chatbot-server-mongodb-public/evalCases/included_links_conversations.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/vaToConvo.ts
  verified-answers-conversations.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

only VAs in existing retrieval eval cases
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/eval/loadVerifiedAnswersAsConversations.test.ts
  packages/chatbot-server-mongodb-public/src/eval/loadVerifiedAnswersAsConversations.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/vaToConvo.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove unused
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  verified-answers-conversations.yaml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

assertEnvVars uses fromEnvironment
  codemods/src/replace-assertEnvVars.ts
  packages/mongodb-rag-core/src/assertEnvVars.ts
  packages/mongodb-rag-core/src/environment/environment.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release ingest-mongodb-public v0.8.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-604): Fix NDCG metric (#555)
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.test.ts
  packages/chatbot-server-mongodb-public/src/eval/scorers/binaryNdcgAtK.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-601): Add retrieval evals from verified answers (#554)
  packages/chatbot-server-mongodb-public/evalCases/included_links_conversations.yml
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

stub out ticket work
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add delete pages
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release chatbot-server-mongodb-public v0.12.1
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

style guide tweaks
  packages/mongodb-artifact-generator/src/commands/generateDocsMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-metadata/examples/atlas_push-logs.json
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
Due: test-all

(EAI-576) [UI] Add React Testing Library + tests
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/Banner.test.tsx
  packages/mongodb-chatbot-ui/src/HotkeyContext.tsx
  packages/mongodb-chatbot-ui/src/test-utils.ts
  packages/mongodb-chatbot-ui/src/useConversation.test.tsx
  packages/mongodb-chatbot-ui/tsconfig.build.json
  packages/mongodb-chatbot-ui/tsconfig.declarations.json
  packages/mongodb-chatbot-ui/vitest.config.ts
  packages/mongodb-chatbot-ui/vitest.setup.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-576) [UI] Add React Testing Library + tests (#557)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/Banner.test.tsx
  packages/mongodb-chatbot-ui/src/HotkeyContext.tsx
  packages/mongodb-chatbot-ui/src/test-utils.ts
  packages/mongodb-chatbot-ui/src/useConversation.test.tsx
  packages/mongodb-chatbot-ui/tsconfig.build.json
  packages/mongodb-chatbot-ui/tsconfig.declarations.json
  packages/mongodb-chatbot-ui/vitest.config.ts
  packages/mongodb-chatbot-ui/vitest.setup.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-524) Create docs meta description generator (#534)
  packages/mongodb-artifact-generator/src/commands/generateDocsMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-metadata/examples/atlas_push-logs.json
  packages/mongodb-artifact-generator/src/docs-metadata/examples/io.md
  packages/mongodb-artifact-generator/src/docs-metadata/examples/replication.json
  packages/mongodb-artifact-generator/src/docs-metadata/examples/tutorial_insert-documents.json
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.test.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetadata.ts
  packages/mongodb-artifact-generator/src/utils.test.ts
  packages/mongodb-artifact-generator/src/utils.ts
Due: test-all

ingest snooty docs facets and meta
  packages/ingest-mongodb-public/src/sources/snooty/SnootyDataSource.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
  packages/ingest-mongodb-public/testData/samplePageWithMetadata.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

page prefix on keys
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.test.ts
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

remove trailing/leading whitespace
  packages/ingest-mongodb-public/src/sources/snooty/snootyAstToMd.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Support concurrent embedding
  examples/quick-start/packages/ingest/src/ingest.config.ts
Due: none

init refactor
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/mongodb-artifact-generator/src/standardConfig.ts
  packages/mongodb-artifact-generator/src/vectorSearch.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.ts
  packages/mongodb-rag-core/src/VectorStore.ts
  packages/mongodb-rag-core/src/chunk/chunkPage.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken tests
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/coachGtm.config.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/mongodb-artifact-generator/src/docs-metadata/generateMetaDescription.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

refactor pages command to handle update and delete
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-core/src/test/MockPageStore.ts
  packages/mongodb-rag-ingest/src/commands/all.test.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

chatbot improvements and eval fix
  packages/chatbot-server-mongodb-public/evalCases/included_links_conversations.yml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/mongodb-rag-core/src/DatabaseConnection.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
  packages/mongodb-rag-ingest/src/withConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix retrieval eval paths
  packages/chatbot-server-mongodb-public/evalCases/included_links_conversations.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix build err
  packages/mongodb-rag-ingest/src/withConfig.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

fix build errs
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/coachGtm.config.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/mongodb-artifact-generator/src/standardConfig.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix retrieval eval paths (#560)
  packages/chatbot-server-mongodb-public/evalCases/included_links_conversations.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

refactor embed command to handle update and delete
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-ingest/src/commands/embed.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

tests
  packages/ingest-mongodb-public/src/config.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-ingest/src/withConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

workign example
  packages/mongodb-rag-core/src/llm/LangchainChatLlm.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

PR feedback: comment copy
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-ingest/src/commands/embed.ts
  packages/mongodb-rag-ingest/src/commands/pages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

tests w/ retry
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

upgrade mongodb-memory-server
  package-lock.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

embedded content test pass
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken tests
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove coll name var b/c using default
  .drone.yml
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix test fails
  packages/mongodb-rag-core/src/findContent/BoostOnAtlasSearchFilter.test.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update env vars
  .drone.yml
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/environments/dev-rel.yml
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/qa.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/index.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
  packages/ingest-mongodb-public/.env.example
  packages/ingest-mongodb-public/environments/production.yml
  packages/ingest-mongodb-public/environments/staging.yml
  packages/ingest-mongodb-public/src/PublicIngestEnvVars.ts
  packages/ingest-mongodb-public/src/coachGtm.config.ts
  packages/ingest-mongodb-public/src/config.ts
  packages/ingest-mongodb-public/src/meta.config.ts
  packages/mongodb-artifact-generator/.env.example
  packages/mongodb-artifact-generator/src/standardConfig.ts
  packages/mongodb-chatbot-server/.env.example
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-verified-answers/.env.example
  packages/mongodb-chatbot-verified-answers/src/commands/import.ts
  packages/mongodb-rag-core/.env.example
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/embed/OpenAiEmbedder.test.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.test.ts
  packages/scripts/environments/production.yml
  packages/scripts/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix broken integration tests
  packages/mongodb-rag-core/src/CoreEnvVars.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix broken tests
  packages/mongodb-rag-ingest/src/commands/all.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

remove test log
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public
