Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: 2023-03-15-preview
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chat-server
    image: plugins/kaniko-ecr
    settings:
      dockerfile: chat-server.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-chat-server
      tags:
  ...

staging-build-ingest-service:
  steps:
  - name: publish-staging-ingest-service
    image: plugins/kaniko-ecr
    settings:
      dockerfile: ingest-service.dockerfile
      create_repository: true
      registry: 795250896452.dkr.ecr.us-east-1.amazonaws.com
      repo: docs/${DRONE_REPO_NAME}-ingest-service
      tags:
  ...

add test using framework
  chat-server/src/jestSetUp.ts
  chat-server/src/llmQualitativeTests/security.test.ts
Due: test-all, staging-build-chat-server

comment out skipped tests to appease linter
  chat-server/src/llmQualitativeTests/security.test.ts
Due: test-all, staging-build-chat-server

(DOCSP-32070): LLM preprocessing on user queries (#72)
  chat-core/package.json
  chat-core/src/index.ts
  chat-core/src/updateFrontMatter.test.ts
  chat-core/src/updateFrontMatter.ts
  chat-server/package.json
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/index.ts
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.ts
  chat-server/src/processors/QueryPreprocessorFunc.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/index.ts
  chat-server/src/services/conversations.ts
  chat-server/src/testHelpers.ts
  chat-server/src/utils.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/commands/embed.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

fix readme
  README.md
Due: none

refactor conversation service as make func
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/index.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/routes/conversations/index.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/routes/conversations/rateMessage.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server

Refactor `ConversationService` class as `makeConversationService` func (#76)
  chat-server/src/app.test.ts
  chat-server/src/app.ts
  chat-server/src/index.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/createConversation.ts
  chat-server/src/routes/conversations/index.ts
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/routes/conversations/rateMessage.ts
  chat-server/src/services/conversations.test.ts
  chat-server/src/services/conversations.ts
  chat-server/src/testHelpers.ts
Due: test-all, staging-build-chat-server

(DOCSP-31111) [UI] publish react component to npm (#73)
  .drone.yml
  README.md
Due: none

(DOCSP-31575): LLM qualitative testing framework (#74)
  chat-server/global.d.ts
  chat-server/jest.config.json
  chat-server/jest.config.llmQualitative.js
  chat-server/package.json
  chat-server/src/jestEnvSetUp.ts
  chat-server/src/jestSetUp.ts
  chat-server/src/llmQualitativeTests/CheckQualityCheckResult.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.test.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.ts
  chat-server/src/llmQualitativeTests/meetsChatQualityStandardsJestExtension.test.ts
  chat-server/src/llmQualitativeTests/meetsChatQualityStandardsJestExtension.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/llmQualitativeTests/stringifyConversation.ts
  chat-server/tsconfig.json
  package-lock.json
Due: test-all, staging-build-chat-server

rename iife
  mongodb-atlas/add-content-indexes.ts
Due: none

move experimental badge inside input bar
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

Add yaml tests
  chat-server/package.json
  chat-server/src/llmQualitativeTests/CheckQualityCheckResult.ts
  chat-server/src/llmQualitativeTests/CheckQualityResult.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.test.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/llmQualitativeTests/securityTests.yaml
  package-lock.json
Due: test-all, staging-build-chat-server

can tab through suggested prompts - need t&c still
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputMenu.tsx
  chat-ui/src/index.tsx
Due: test-all, staging-build-chat-server

change rating text
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

hypothesis -> name
  chat-server/src/llmQualitativeTests/generateChatTranscript.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/llmQualitativeTests/securityTests.yaml
Due: test-all, staging-build-chat-server

correct path to yaml file
  chat-server/src/llmQualitativeTests/security.test.ts
Due: test-all, staging-build-chat-server

create scripts project
  lerna.json
  scripts/package.json
Due: none

script to create test YAML files
  package-lock.json
  package.json
  scripts/.env.example
  scripts/assets/qaTests/general.csv
  scripts/assets/qaTests/general.yaml
  scripts/build/createQualityTestsYaml.d.ts
  scripts/build/createQualityTestsYaml.d.ts.map
  scripts/build/createQualityTestsYaml.js
  scripts/package.json
  scripts/src/createQualityTestsYaml.ts
  scripts/tsconfig.json
Due: none

Add database index creation scripts (#75)
  mongodb-atlas/.env.example
  mongodb-atlas/add-content-indexes.ts
  mongodb-atlas/add-conversations-ttl-index.ts
  mongodb-atlas/add-search-index.ts
  mongodb-atlas/package-lock.json
  mongodb-atlas/package.json
  mongodb-atlas/utils.ts
Due: none

tabbing works
  chat-ui/package.json
  chat-ui/src/*.d.ts
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputMenu.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

Update all LG to latest
  chat-ui/package.json
  package-lock.json
Due: test-all, staging-build-chat-server

add max context tokens per message
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/index.ts
  ingest/package.json
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Trigger
  chat-server/trigger
Due: test-all, staging-build-chat-server

trigger
  chat-server/trigger
Due: test-all, staging-build-chat-server

strip frontmatter before sending docs to LLM
  chat-core/src/index.ts
  chat-core/src/removeFrontMatter.test.ts
  chat-core/src/removeFrontMatter.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

remove build dir
  scripts/.gitignore
  scripts/build/createQualityTestsYaml.d.ts
  scripts/build/createQualityTestsYaml.d.ts.map
  scripts/build/createQualityTestsYaml.js
Due: none

(DOCSP-32183 & DOCSP-32226): Automate test creation based on YAML file (#77)
  chat-server/package.json
  chat-server/src/llmQualitativeTests/CheckQualityCheckResult.ts
  chat-server/src/llmQualitativeTests/CheckQualityResult.ts
  chat-server/src/llmQualitativeTests/checkResponseQuality.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.test.ts
  chat-server/src/llmQualitativeTests/generateChatTranscript.ts
  chat-server/src/llmQualitativeTests/security.test.ts
  chat-server/src/llmQualitativeTests/securityTests.yaml
  lerna.json
  package-lock.json
  package.json
  scripts/.env.example
  scripts/.gitignore
  scripts/assets/qaTests/general.csv
  scripts/assets/qaTests/general.yaml
  scripts/package.json
  scripts/src/createQualityTestsYaml.ts
  scripts/tsconfig.json
Due: test-all, staging-build-chat-server

refactor removeFrontMatter to use package
  chat-core/src/removeFrontMatter.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Refactor includeChunksForMaxTokensPossible() per CB feedback to use findIndex
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

(DOCSP-32217): Change chunker to chunk based on number of tokens + add max context tokens per message (#79)
  chat-core/src/index.ts
  chat-core/src/removeFrontMatter.test.ts
  chat-core/src/removeFrontMatter.ts
  chat-server/src/AppConfig.ts
  chat-server/src/app.ts
  chat-server/src/config.ts
  chat-server/src/routes/conversations/addMessageToConversation.test.ts
  chat-server/src/routes/conversations/addMessageToConversation.ts
  chat-server/src/routes/conversations/index.ts
  ingest/package.json
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Rebuild services
  .drone.yml
  ingest/environments/staging.yml
Due: test-all, staging-build-ingest-service

Trigger staging deploy
  .drone.yml
Due: none

Trigger ingest build
  ingest/trigger
Due: test-all, staging-build-ingest-service

(DOCSP-31440): Add tags to chunk metadata
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32075): Replace 'tags' with 'metadata' in embedded content document
  chat-core/src/EmbeddedContent.ts
  chat-core/src/updateFrontMatter.ts
  ingest/src/SnootyProjectsInfo.test.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Fix seed-data for new format
  seed-content/src/transformSample.ts
Due: none

fix build err
  chat-server/package.json
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.d.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/tsconfig.json
Due: test-all, staging-build-chat-server

clean up drone file + PR
  .drone.yml
  ingest/trigger
Due: test-all, staging-build-ingest-service

cleanup + remove unneeded dep
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputMenu.tsx
Due: test-all, staging-build-chat-server

Update
  chat-core/src/EmbeddedContent.ts
  ingest/src/chunkPage.test.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

fix build errors
  chat-ui/package.json
  chat-ui/src/*.d.ts
  chat-ui/src/Chatbot.tsx
  chat-ui/src/index.tsx
  package-lock.json
Due: test-all, staging-build-chat-server

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*
