Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

update CORS error handling
  packages/mongodb-chatbot-server/src/app.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1175) Add slot to messages below message rating (#840)
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/ChatbotView.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/MessageRating.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update CORS error handling (#846)
  packages/mongodb-chatbot-server/src/app.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

more robust CORS error handling
  packages/mongodb-chatbot-server/src/app.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

LLM as judge
  packages/scripts/package.json
  packages/scripts/src/Case.ts
  packages/scripts/src/assessCases.ts
  packages/scripts/src/main/assessCasesMain.ts
  packages/scripts/src/main/llmJudgmentMain.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

handle cleaning customData and metadata based on `store` setting
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

use "make" pattern
  packages/mongodb-chatbot-server/src/app.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

more robust CORS error handling (#847)
  packages/mongodb-chatbot-server/src/app.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

allow input content to be an array with an object as well as a string
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add tests for createResponse service
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add test for new input_text object type to chatbot-server-public
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

PR cleanup
  packages/chatbot-server-mongodb-public/src/eval/experiments/allScorersTest.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/architectureCenter.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/customSystemPrompt.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/dotcomQuestionsTest.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbAssistantSystemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update zod schema refine checks
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update check for userMessage to be more robust
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

type cleanup
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

cleanup responses test
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Responses api - allow input_text objects in input (#849)
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

support custom instructions
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/processors/GenerateResponse.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/aiSdk.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

remove unused deps
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix build err
  packages/datasets/src/treeGeneration/databaseNlQueries/rewriteNlQuery/rewriteNlQuery.eval.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Fix imports
  packages/benchmarks/src/cli/BenchmarkConfig.ts
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/nlPromptResponse/NlQuestionAnswerEval.ts
  packages/benchmarks/src/nlPromptResponse/config.ts
  packages/benchmarks/src/nlPromptResponse/nlPromptCompletionTask.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/config.ts
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/agentic.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/claudeGenerated/promptCompletionAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAllVersions.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionLazy.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionLazyPromptInterpretedSchemaCot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAllVersions.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchemaFewShot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/config.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodePromptCompletion.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeSimpleToolCall.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.ts
Due: test-all

Delete packages/chatbot-server-mongodb-public/curl.sh
  packages/chatbot-server-mongodb-public/curl.sh
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix imports
  package-lock.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.ts
  packages/mongodb-rag-core/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix AS nit
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1182): Custom system prompt (#836)
  package-lock.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/allScorersTest.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/architectureCenter.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/customSystemPrompt.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/dotcomQuestionsTest.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/analyzeMessage.eval.ts
  packages/mongodb-chatbot-server/src/processors/GenerateResponse.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

clean up PR
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchemaCoT.ts
  packages/chatbot-server-mongodb-public/curl.sh
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

cleanup response router config types
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

allow config of alwaysAllowedMetadataKeys
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add new config to tests
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

clearer and improved testing for alwaysAllowedMetadataKeys
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

improve logic for converting input to db messages
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

improved and added tests for tool message logic
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Responses api - ensure proper storage of tool messages (#851)
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update comment
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

handle cleaning customData and metadata based on `store` setting (#848)
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

use new braintrust middleware for language model v2
  docs/docs/server/openapi.yaml
  packages/benchmarks/src/discovery/config.ts
  packages/benchmarks/src/nlPromptResponse/config.ts
  packages/benchmarks/src/quizQuestions/config.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/agentic.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/claudeGenerated/promptCompletionAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAllVersions.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionLazy.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionLazyPromptInterpretedSchemaCot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAllVersions.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchemaFewShot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/config.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.test.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/datasets/src/bin/rewriteNlToMongoshDatasetQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/rewriteNlQuery/rewriteNlQuery.eval.ts
  packages/mongodb-chatbot-server/src/processors/GenerateResponse.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/classifyMetadata.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add new test
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix broken test
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

skip test dependent on real openai integration
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public
