Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

working hybrid search experiments
  packages/chatbot-server-mongodb-public/src/eval/evaluationSuites/retrieval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/retrieval/evalCasePath.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/retrieval/rsf.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/retrieval/textSearch.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/mongodb-rag-core/src/findContent/index.ts
  synonyms.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release chatbot-server-mongodb-public v0.13.1
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Split user/assistant messages
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/MessageRating.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
  packages/mongodb-chatbot-ui/src/createMessage.ts
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
  packages/mongodb-chatbot-ui/src/messageLinks.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

refactor tests to use mongodb-memory-server, add tests for delete in ingest:all command
  package-lock.json
  packages/mongodb-rag-ingest/package.json
  packages/mongodb-rag-ingest/src/commands/all.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

lint
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/contentStore/Page.ts
  packages/mongodb-rag-ingest/src/commands/all.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-583) [Ingest] Add MongoDB IntelliJ Plugin docs
  packages/ingest-mongodb-public/src/sources/snootySources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

working docs search hybrid search
  packages/chatbot-server-mongodb-public/src/eval/experiments/retrieval/hybridDocsSearch.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/retrieval/rerank.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/retrieval/rrf.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/augmentSearchWithDocsRrf.ts
  packages/chatbot-server-mongodb-public/src/processors/searchMongoDbDocs.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/searchMongoDbDocs.test.ts
  packages/chatbot-server-mongodb-public/src/processors/searchMongoDbDocs.ts
  packages/chatbot-server-mongodb-public/src/processors/withRrfScore.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/findContent/TextSearchFindContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

clean up
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/ftsSearchIndex.jsonc
  packages/mongodb-rag-core/src/contentStore/synpnyms.jsonc
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

merge relevant changes from EAI-606 experiments
  packages/chatbot-server-mongodb-public/src/eval/evaluationSuites/retrieval.ts
  packages/chatbot-server-mongodb-public/src/processors/augmentSearchWithDocsRrf.ts
  packages/chatbot-server-mongodb-public/src/processors/searchMongoDbDocs.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/searchMongoDbDocs.test.ts
  packages/chatbot-server-mongodb-public/src/processors/searchMongoDbDocs.ts
  packages/chatbot-server-mongodb-public/src/processors/withRrfScore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-598) [UI] Investigate further code splitting (#563)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/ChatbotView.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/MessageContent.tsx
  packages/mongodb-chatbot-ui/src/MessagePrompts.tsx
  packages/mongodb-chatbot-ui/src/MessageRating.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/vite.config.component.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-619) [UI] Make invalid stream event types a no-op
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

checkpoint while braintrust failing
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/evaluationSuites/retrieval.ts
  packages/chatbot-server-mongodb-public/src/processors/augmentSearchWithDocsRrf.ts
  packages/chatbot-server-mongodb-public/src/processors/augmentSearchWithRrf.test.ts
  packages/chatbot-server-mongodb-public/src/processors/fuzzyLinkMatch.test.ts
  packages/chatbot-server-mongodb-public/src/processors/fuzzyLinkMatch.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.ts
  packages/chatbot-server-mongodb-public/src/processors/searchMongoDbDocs.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/searchMongoDbDocs.ts
  packages/chatbot-server-mongodb-public/src/processors/withRrfScore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Release mongodb-chatbot-ui v0.10.2
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

checkpoint before merge
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/TestCase.ts
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/discovery/mongoDbDiscoveryBenchmark.ts
  packages/benchmarks/src/getConversationsTestCasesFromYaml.test.ts
  packages/benchmarks/src/getConversationsTestCasesFromYaml.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

working discovery benchmark
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/discovery/getDiscoveryConversationEvalDataFromYamlFile.ts
  packages/benchmarks/src/discovery/mongoDbDiscoveryBenchmark.ts
  packages/benchmarks/src/getConversationsTestCasesFromYaml.test.ts
  packages/benchmarks/src/getConversationsTestCasesFromYaml.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromYaml.ts
  packages/mongodb-rag-core/src/eval/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update discovery
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/discovery/getDiscoveryConversationEvalDataFromYamlFile.ts
  packages/benchmarks/src/discovery/mongoDbDiscoveryBenchmark.ts
Due: test-all

(EAI-583) [Ingest] Add MongoDB IntelliJ Plugin docs (#565)
  packages/ingest-mongodb-public/src/sources/snootySources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

working benchmarks and remove old stuff
  packages/benchmarks/package.json
  packages/benchmarks/src/TestCase.ts
  packages/benchmarks/src/baseConfig.ts
  packages/benchmarks/src/braintrust/evaluateQuizQuestions.ts
  packages/benchmarks/src/braintrust/evaluateRegexMatch.ts
  packages/benchmarks/src/braintrust/utils.ts
  packages/benchmarks/src/discovery.config.ts
  packages/benchmarks/src/discovery/mongoDbDiscoveryBenchmark.ts
  packages/benchmarks/src/makeChatLlmConversationEvalCommands.ts
  packages/benchmarks/src/makeChatLlmQuizEvalCommands.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/makeRadiantChatLlm.ts
  packages/benchmarks/src/pipelines/discoveryEval.ts
  packages/benchmarks/src/pipelines/discoveryEvalToBraintrust.ts
  packages/benchmarks/src/pipelines/quizEval.ts
  packages/benchmarks/src/pipelines/quizEvalToBraintrust.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionData.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/getQuizQuestionEvalCasesFromBraintrust.ts
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.test.ts
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.ts
  packages/benchmarks/src/quizQuestions/mongoDbQuizQuestionExamples.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
Due: test-all

fix indent issue
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.ts
Due: test-all

support vertex ai models
  packages/benchmarks/.env.example
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
Due: test-all

update google model list
  packages/benchmarks/src/models.ts
Due: test-all

support more vertex AI models
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
Due: test-all

checkpoint: working w/ anthropic bedrock client
  package-lock.json
  packages/benchmarks/.env.example
  packages/benchmarks/package.json
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Support vertex ai models in benchmarks (#569)
  packages/benchmarks/.env.example
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
Due: test-all

add aws models
  packages/benchmarks/.env.example
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
Due: test-all

clean up PR
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/mongodb-rag-core/src/llm/LangchainChatLlm.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
Due: test-all

benchmark on more models
  package-lock.json
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Apply suggestions from code review
  packages/benchmarks/src/discovery/mongoDbDiscoveryBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
Due: test-all

separate out openai client constructor
  packages/benchmarks/src/discovery/mongoDbDiscoveryBenchmark.ts
  packages/benchmarks/src/openAiClients.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
Due: test-all

remove mongo memory server CI hack
  .drone.yml
Due: test-all

Fix import
  packages/mongodb-chatbot-server/src/routes/conversations/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix version on mongo memory serveR
  package-lock.json
  packages/mongodb-chatbot-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix mysterious bug
  packages/scripts/src/findFaq.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Fix mysterious bug
  packages/scripts/src/main/upgradeFaqEntriesMain.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-566): Support creating new conversation when add message when conversationId = "null" (#531)
  docs/docs/server/openapi.yaml
  package-lock.json
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/app.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/getConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/utils.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
  packages/scripts/src/findFaq.ts
  packages/scripts/src/main/upgradeFaqEntriesMain.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Support AWS bedrock models in `benchmarks` package (#570)
  package-lock.json
  packages/benchmarks/.env.example
  packages/benchmarks/package.json
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/makeOpenAiClientFactory.ts
  packages/benchmarks/src/models.test.ts
  packages/benchmarks/src/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update release notes POC description of Atlas CLI
  packages/mongodb-artifact-generator/context/release-notes/atlas-cli-releaseInfo.yaml
Due: test-all

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
