Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

Remove filter datasets
  packages/datasets/src/treeGeneration/filterDataset.test.ts
  packages/datasets/src/treeGeneration/filterDataset.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Release ingest-mongodb-public v0.12.0
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

rm guides data source
  packages/ingest-mongodb-public/src/sources/snootySources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

EAI-937 rm guides data source (#668)
  packages/ingest-mongodb-public/src/sources/snootySources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

Release ingest-mongodb-public v0.12.1
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

working agentic task
  package-lock.json
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Release ingest-mongodb-public v0.12.1 (#669)
  package-lock.json
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-904) Store the embedding model alongside the vector (#662)
  packages/mongodb-artifact-generator/src/vectorSearch.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.test.ts
  packages/mongodb-chatbot-server/src/processors/makeRagGenerateUserPrompt.ts
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
  packages/mongodb-rag-core/src/embed/Embedder.ts
  packages/mongodb-rag-core/src/embed/OpenAiEmbedder.test.ts
  packages/mongodb-rag-core/src/embed/OpenAiEmbedder.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
  packages/scripts/src/ScrubbedMessage.ts
  packages/scripts/src/scrubMessages.test.ts
  packages/scripts/src/scrubMessages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add UI docs
  docs/docs/ui.md
Due: none

(EAI-926) UI supports clientContext (#666)
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add is reasonable check
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/TextToDriverEval.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmark.ts
  packages/benchmarks/src/textToDriver/bin/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.test.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
  packages/benchmarks/src/textToDriver/runTextToNodeJsDriverEval.ts
  packages/mongodb-rag-core/src/executeCode/index.ts
  packages/mongodb-rag-core/src/executeCode/isReasonableResult.test.ts
  packages/mongodb-rag-core/src/executeCode/isReasonableResult.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

working better yet!
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/makePromptComponents.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/nodeTypes.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/sampleData.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Add simplified document schema helper
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/getVerySimplifiedSchema.test.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/getVerySimplifiedSchema.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/index.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add simplified document schema helper
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/getVerySimplifiedSchema.test.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/getVerySimplifiedSchema.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Remove console log
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/getVerySimplifiedSchema.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

move mongoDbMetadata to core
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/skillsQuestionsTest.eval.ts
  packages/chatbot-server-mongodb-public/src/lib.ts
  packages/chatbot-server-mongodb-public/src/mongoDbMetadata/tags.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMongoDbMetadataFromUserMessage.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.ts
  packages/chatbot-server-mongodb-public/src/processors/retrieveRelevantContent.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.ts
  packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/index.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/programmingLanguages.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/tags.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/topics.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

lint
  packages/mongodb-rag-core/src/mongoDbMetadata/products.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/tags.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

rm unused chunk algo hash caching
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

filter down dataset
  packages/datasets/src/bin/filterTextToMongoshDatasetBasedOnExecution.ts
  packages/datasets/src/bin/generateFullDataset.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/bin/uploadNlToMongoshDatasetToBraintrust.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

most things mostly work
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/agentic.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeSimpleToolCall.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/mongosh.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeDatabaseInfoPrompt.ts
  packages/mongodb-rag-core/src/executeCode/isReasonableResult.test.ts
  packages/mongodb-rag-core/src/executeCode/isReasonableResult.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Option to prevent overwriting existing meta description
  packages/scripts/src/meta2rst.test.ts
  packages/scripts/src/meta2rst.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

upload curr dataset to braintrust
  packages/datasets/src/bin/filterTextToMongoshDatasetBasedOnExecution.ts
  packages/datasets/src/bin/uploadNlToMongoshDatasetToBraintrust.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

concurrent experiment execution
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/TextToDriverEval.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/agentic.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeSimpleToolCall.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeDatabaseInfoPrompt.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeDatabaseInfoPrompt.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

daze work
  packages/benchmarks/src/textToDriver/TextToDriverEval.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simplePromptCompletionAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simplePromptCompletionAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallAnnotatedSchemaFewShot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodePromptCompletion.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeSimpleToolCall.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/mongosh.ts
  packages/datasets/src/bin/appendTextToMongoshAverageExecutionTime.ts
  packages/datasets/src/bin/filterTextToMongoshDatasetBasedOnExecution.ts
  packages/mongodb-rag-core/src/executeCode/computeNormalizedLogisticalExecutionTime.test.ts
  packages/mongodb-rag-core/src/executeCode/computeNormalizedLogisticalExecutionTime.ts
  packages/mongodb-rag-core/src/executeCode/index.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

upload filtered
  packages/datasets/src/bin/uploadNlToMongoshDatasetToBraintrust.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

Update stats materialized view script (#661)
  package-lock.json
  packages/scripts/package.json
  packages/scripts/src/main/materializeScrubbedMessagesStats.ts
  packages/scripts/src/materialize/materializedViewUtils.test.ts
  packages/scripts/src/materialize/materializedViewUtils.ts
  packages/scripts/src/materialize/scrubbed_messages_stats.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

support gemini in benchmark
  package-lock.json
  packages/benchmarks/src/textToDriver/TextToDriverEval.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/agentic.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simplePromptCompletionAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simplePromptCompletionAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallAnnotatedSchemaFewShot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/simpleToolCallInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/models/getOpenAiEndpointAndApiKey.test.ts
  packages/mongodb-rag-core/src/models/getOpenAiEndpointAndApiKey.ts
  packages/mongodb-rag-core/src/models/index.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fix build errs
  packages/mongodb-rag-core/src/executeCode/prettyPrintMongoDbDocument.test.ts
  packages/mongodb-rag-core/src/executeCode/truncateDbOperationOutputForLlm.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix build err in test
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.test.ts
Due: test-all

fix build err again
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.test.ts
Due: test-all

agentic edits
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeAgentic.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/mongosh.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/promptFlow.md
Due: test-all

Update script to take in CSV vs individual args
  packages/scripts/src/meta2rst.test.ts
  packages/scripts/src/meta2rst.ts
  packages/scripts/src/upsertMetaDirective.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

more prompt maxxing
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAllVersions.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionInterpretedSchemaCot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionLazy.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchemaFewShot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodePromptCompletion.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeSimpleToolCall.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/listExamplesInPrompt.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/listExamplesInPrompt.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/mongosh.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeDatabaseInfoPrompt.ts
Due: test-all

modularize experiments
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/agentic.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionLazy.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionLazyPromptInterpretedSchemaCot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAllVersions.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchema.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchemaCoT.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAnnotatedSchemaFewShot.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallInterpretedSchema.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodePromptCompletion.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/PromptStrategies.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeDatabaseInfoPrompt.ts
  packages/benchmarks/src/textToDriver/makeExperimentName.ts
Due: test-all

prep official benchmark
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/agentic.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/promptCompletionAllVersions.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAllVersions.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/promptFlow.md
Due: test-all

Skip unused tests that timeout
  packages/mongodb-artifact-generator/src/release-notes/getReleaseArtifacts.test.ts
  packages/mongodb-artifact-generator/src/release-notes/github.test.ts
  packages/mongodb-artifact-generator/src/release-notes/jira.test.ts
Due: test-all

meta2rst - tweaks, use csv instead of CLI args (#672)
  packages/mongodb-artifact-generator/src/release-notes/getReleaseArtifacts.test.ts
  packages/mongodb-artifact-generator/src/release-notes/github.test.ts
  packages/mongodb-artifact-generator/src/release-notes/jira.test.ts
  packages/scripts/src/meta2rst.test.ts
  packages/scripts/src/meta2rst.ts
  packages/scripts/src/upsertMetaDirective.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

latest
  packages/benchmarks/src/quizQuestions/mongodbUniversityAllQuestionBenchmark.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentSummary.test.ts
  packages/benchmarks/src/reporting/getBraintrustExperimentSummary.ts
  packages/benchmarks/src/reporting/listBraintrustExperiments.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/agentic.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/toolCallAllVersions.ts
  packages/mongodb-rag-core/src/models/models.test.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service
