Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json

tracing tests
  packages/chatbot-server-mongodb-public/src/tracing.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

make sourceName arg optional
  packages/mongodb-rag-core/src/contentStore/getChangedPages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

up timeout on flaky test
  packages/mongodb-chatbot-server/src/routes/conversations/getConversation.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-629) [UI] Switch state management to Zustand (#581)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/ChatMessageFeed.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/ChatbotProvider.tsx
  packages/mongodb-chatbot-ui/src/ConversationProvider.tsx
  packages/mongodb-chatbot-ui/src/ConversationStateProvider.tsx
  packages/mongodb-chatbot-ui/src/DevCenterChatbot.tsx
  packages/mongodb-chatbot-ui/src/DocsChatbot.tsx
  packages/mongodb-chatbot-ui/src/ModalView.tsx
  packages/mongodb-chatbot-ui/src/conversationStore.ts
  packages/mongodb-chatbot-ui/src/createMessage.ts
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useConversation.test.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/useConversationContext.tsx
  packages/mongodb-chatbot-ui/src/useConversationStateContext.tsx
  packages/mongodb-chatbot-ui/vite.config.component.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

rm changes unrelated to University team
  verified-answers.yaml
Due: none

chatbot staging
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Remove eval service from CI
  .drone.yml
  eval-service.dockerfile
Due: test-all

Remove eval service from CI (#589)
  .drone.yml
  eval-service.dockerfile
Due: test-all

Release chatbot-server-mongodb-public v0.14.0
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Apply suggestions from code review
  verified-answers.yaml
Due: none

(EAI-158): more descriptive logging for update pages command (#584)
  packages/mongodb-rag-core/src/contentStore/getChangedPages.ts
  packages/mongodb-rag-core/src/contentStore/updatePages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-563) add verified answers provided by the uni team (#588)
  verified-answers.yaml
Due: none

add basic LLM as a judge tracing
  package-lock.json
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/tracing.test.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add missing references and author emails to verified answers
  verified-answers.yaml
Due: none

upload verified answers command, readme and env vars updates
  packages/mongodb-chatbot-verified-answers/.env.example
  packages/mongodb-chatbot-verified-answers/README.md
  packages/mongodb-chatbot-verified-answers/package.json
Due: test-all

add lang to code snippet
  packages/mongodb-chatbot-verified-answers/README.md
Due: test-all

(EAI-563) fixes and upload command (#590)
  packages/mongodb-chatbot-verified-answers/.env.example
  packages/mongodb-chatbot-verified-answers/README.md
  packages/mongodb-chatbot-verified-answers/package.json
  verified-answers.yaml
Due: test-all

add datasets hack code
  packages/datasets/.env.example
  packages/datasets/.eslintrc.cjs
  packages/datasets/.prettierrc.cjs
  packages/datasets/jest.config.cjs
  packages/datasets/package.json
  packages/datasets/src/AstExtractedCodeBlock.ts
  packages/datasets/src/PersistedPage.ts
  packages/datasets/src/appendLlmMetadata.ts
  packages/datasets/src/bin/classifyCodeExamplesForUsefulness.ts
  packages/datasets/src/bin/convertCodeExamplePromptYamlToCsvUsefulOnly.ts
  packages/datasets/src/bin/convertcodeExamplePromptYamlToCsv.ts
  packages/datasets/src/bin/countExamplesByLength.ts
  packages/datasets/src/bin/countUsableExamples.ts
  packages/datasets/src/bin/extractCodeExamples.ts
  packages/datasets/src/bin/filterCodeExamplesForExport.ts
  packages/datasets/src/bin/filterCodeExamplesForSmallExport.ts
  packages/datasets/src/bin/genAdditionalCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAllCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAtlasSearchCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genDriversCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genManualCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genRustDriverCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genSampleOfCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/updateCodeExampleHeadings.ts
  packages/datasets/src/classifyCodeExample.ts
  packages/datasets/src/classifyIsUsefulCodeBlockForTraining.ts
  packages/datasets/src/contextualizeCodeBlock.ts
  packages/datasets/src/createPromptsFromText.ts
  packages/datasets/src/extractPageElements.ts
  packages/datasets/tsconfig.build.json
  packages/datasets/tsconfig.json
Due: test-all

update lock file
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Fix data streamer
  packages/mongodb-chatbot-server/src/utils.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-611) chatbot server 500 errs
  package-lock.json
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

clean up data streamer
  packages/mongodb-rag-core/src/DataStreamer.test.ts
  packages/mongodb-rag-core/src/DataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

fix scripts
  packages/ingest-mongodb-public/package.json
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

tracing w/ LLM as a judge
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/environments/production.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/EnvVars.ts
  packages/chatbot-server-mongodb-public/src/EvalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/tracing.test.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add judge vars to drone
  .drone.yml
Due: test-all

standardize custom tracing
  packages/chatbot-server-mongodb-public/src/tracing.test.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
  packages/mongodb-chatbot-server/src/routes/conversations/UpdateTraceFunc.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

additional clean up
  packages/chatbot-server-mongodb-public/src/tracing.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove unused import
  packages/chatbot-server-mongodb-public/src/tracing.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

clean up
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

refactor tracing across multiple files
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

stubbed out llm as a judge
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.eval.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.ts
  packages/mongodb-chatbot-server/src/routes/conversations/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

change implementation - query for data sources that use an old chunk algo hash
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
  packages/mongodb-rag-core/src/findContent/BoostOnAtlasSearchFilter.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

cleanup and lint
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Checkpoint debug
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/getLlmAsAJudgeScores.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.ts
  packages/chatbot-server-mongodb-public/src/tracing/routesUpdateTraceHandlers.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-622 & EAI-623): Add braintrust tracing to server (#579)
  .drone.yml
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tracing.test.ts
  packages/chatbot-server-mongodb-public/src/tracing.ts
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/conversations/commentMessage.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/getConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/rateMessage.ts
  packages/mongodb-chatbot-server/src/utils.ts
  packages/mongodb-rag-core/src/braintrust.ts
  packages/mongodb-rag-core/src/conversations/ConversationsService.ts
  packages/mongodb-rag-core/src/conversations/MongoDbConversations.ts
  tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-648): Add datasets starter code after port from repo (#591)
  package-lock.json
  packages/datasets/.env.example
  packages/datasets/.eslintrc.cjs
  packages/datasets/.prettierrc.cjs
  packages/datasets/jest.config.cjs
  packages/datasets/package.json
  packages/datasets/src/AstExtractedCodeBlock.ts
  packages/datasets/src/PersistedPage.ts
  packages/datasets/src/appendLlmMetadata.ts
  packages/datasets/src/bin/classifyCodeExamplesForUsefulness.ts
  packages/datasets/src/bin/convertCodeExamplePromptYamlToCsvUsefulOnly.ts
  packages/datasets/src/bin/convertcodeExamplePromptYamlToCsv.ts
  packages/datasets/src/bin/countExamplesByLength.ts
  packages/datasets/src/bin/countUsableExamples.ts
  packages/datasets/src/bin/extractCodeExamples.ts
  packages/datasets/src/bin/filterCodeExamplesForExport.ts
  packages/datasets/src/bin/filterCodeExamplesForSmallExport.ts
  packages/datasets/src/bin/genAdditionalCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAllCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genAtlasSearchCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genDriversCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genManualCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genRustDriverCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/genSampleOfCodeExamplesWithPrompts.ts
  packages/datasets/src/bin/updateCodeExampleHeadings.ts
  packages/datasets/src/classifyCodeExample.ts
  packages/datasets/src/classifyIsUsefulCodeBlockForTraining.ts
  packages/datasets/src/contextualizeCodeBlock.ts
  packages/datasets/src/createPromptsFromText.ts
  packages/datasets/src/extractPageElements.ts
  packages/datasets/tsconfig.build.json
  packages/datasets/tsconfig.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

implement NL feedback
  packages/chatbot-server-mongodb-public/src/tracing.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

better on close message
  packages/mongodb-rag-core/src/DataStreamer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

migrate classifier to core
  packages/mongodb-artifact-generator/src/chat/makeClassifierWithLogger.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogAudience.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogScope.ts
  packages/mongodb-rag-core/src/index.ts
  packages/mongodb-rag-core/src/makeClassifier.test.ts
  packages/mongodb-rag-core/src/makeClassifier.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

start creating docs team classifier
  packages/datasets/src/classifyCodeExampleDocsTeam.ts
Due: test-all
