Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

WIP upgrades
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/RadiantClients.test.ts
  packages/chatbot-server-mongodb-public/src/RadiantClients.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Release mongodb-chatbot-server v0.9.1
  package-lock.json
  packages/mongodb-chatbot-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Review + tmp fix for lg bug
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/mongodbReferenceType.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/utils.test.ts
  packages/mongodb-chatbot-ui/src/utils.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/MongoDbVerifiedAnswerStore.ts
  packages/mongodb-rag-core/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-349) [UI] Disable setext headings in LGMarkdown (#423)
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/markdownHeadingStyle.test.ts
  packages/mongodb-chatbot-ui/src/markdownHeadingStyle.ts
  packages/mongodb-chatbot-ui/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

marketing mongodb discoverability eval
  packages/chatbot-eval-mongodb-public/package.json
  packages/chatbot-eval-mongodb-public/src/eval.config.ts
  packages/chatbot-eval-mongodb-public/src/marketing.eval.config.ts
  packages/chatbot-eval-mongodb-public/src/pipelines/llmDiscoveryCheck.ts
  packages/chatbot-eval-mongodb-public/testCases/marketing_discovery_conversations.yml
  packages/chatbot-eval-mongodb-public/testCases/marketing_favorability_conversations.yml
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateConversationLastMessageIncludesRegex.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateConversationLastMessageIncludesRegex.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/index.ts
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update lock w/ latest version
  examples/quick-start/package-lock.json
Due: none

Update quickstart lock (#431)
  examples/quick-start/package-lock.json
Due: none

framing how to use framework
  README.md
  docs/docs/index.md
Due: none

Apply suggestions from code review
  README.md
  docs/docs/index.md
Due: none

Framing how to use framework (#432)
  README.md
  docs/docs/index.md
Due: none

reciprocal rank fusion search
  packages/mongodb-rag-core/src/reciprocalRankFusionSearch.test.ts
  packages/mongodb-rag-core/src/reciprocalRankFusionSearch.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Add blog post & video links to README
  README.md
Due: none

Add blog post & video links to README (#433)
  README.md
Due: none

(EAI-350) POC - Synthesize a Changelog (#434)
  packages/mongodb-artifact-generator/context/release-notes/atlas-cli-releaseInfo.yaml
  packages/mongodb-artifact-generator/src/ArtifactGeneratorEnvVars.ts
  packages/mongodb-artifact-generator/src/Config.ts
  packages/mongodb-artifact-generator/src/chat/index.ts
  packages/mongodb-artifact-generator/src/chat/makeClassifier.test.ts
  packages/mongodb-artifact-generator/src/chat/makeClassifier.ts
  packages/mongodb-artifact-generator/src/chat/makeGenerateChatCompletion.ts
  packages/mongodb-artifact-generator/src/commands/generateReleaseNotes.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogAudience.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogScope.ts
  packages/mongodb-artifact-generator/src/release-notes/createChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/jira.ts
  packages/mongodb-artifact-generator/src/release-notes/projects.ts
  packages/mongodb-artifact-generator/src/release-notes/summarizeReleaseArtifacts.ts
  packages/mongodb-artifact-generator/src/release-notes/utils.ts
  packages/mongodb-artifact-generator/src/standardConfig.ts
  packages/mongodb-artifact-generator/src/utils.ts
  packages/mongodb-artifact-generator/tsconfig.json
Due: test-all

typesafe checkpoint
  packages/chatbot-server-mongodb-public/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

append header in dev
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/src/RadiantClients.test.ts
  packages/chatbot-server-mongodb-public/src/RadiantClients.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Link jira & github WIP
  packages/mongodb-artifact-generator/src/release-notes/jira.ts
  packages/mongodb-artifact-generator/src/release-notes/projects.ts
Due: test-all

Remove unnec code
  packages/chatbot-server-mongodb-public/package.json
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove unnec changes
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add headers to tests
  package-lock.json
  packages/chatbot-server-mongodb-public/src/addHeadersToHttpRequests.test.ts
  packages/chatbot-server-mongodb-public/src/addHeadersToHttpRequests.ts
  packages/chatbot-server-mongodb-public/src/index.ts
  packages/chatbot-server-mongodb-public/src/jestSetUp.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMetadataFromUserMessage.test.ts
  packages/chatbot-server-mongodb-public/src/processors/extractMetadataFromUserMessage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

formatReferences is external fn + fix rich link variant bug
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/mongodbReferenceType.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

update docs
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/mongodbReferenceType.test.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

allow insecure for k8s
  .drone.yml
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix test
  packages/mongodb-artifact-generator/src/chat/makeClassifier.test.ts
Due: test-all

allow insecure in staging
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

istio again
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update branch
  .drone.yml
Due: test-all

istio fix?
  .drone.yml
  packages/chatbot-server-mongodb-public/environments/staging.yml
  packages/chatbot-server-mongodb-public/src/addHeadersToHttpRequests.test.ts
  packages/chatbot-server-mongodb-public/src/addHeadersToHttpRequests.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/index.ts
  packages/chatbot-server-mongodb-public/src/jestSetUp.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Fix makeClassifier test
  packages/mongodb-artifact-generator/src/chat/makeClassifier.test.ts
Due: test-all

Fix makeClassifier test (#436)
  packages/mongodb-artifact-generator/src/chat/makeClassifier.test.ts
Due: test-all

(EAI-263) Document verified answers
  docs/docs/ingest/configuration-reference.md
  docs/docs/mongodb.md
  docs/docs/server/find-faqs.md
  docs/docs/server/verified-answers.md
  docs/sidebars.ts
  packages/mongodb-rag-core/src/VerifiedAnswer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update README.md
  packages/chatbot-server-mongodb-public/README.md
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

cleaner append header
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

rich links on server WIP
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.tsx
  packages/mongodb-chatbot-ui/src/mongodbReferenceType.test.tsx
  packages/mongodb-chatbot-ui/src/mongodbReferenceType.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-rag-core/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Rich links on server
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.ts
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Remove docs for old prop
  docs/docs/ui.md
Due: none

Add API Reference docs for mongodb-chatbot-ui
  docs/docusaurus.config.ts
  docs/sidebars.ts
Due: none

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
