Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*

fix build errors 2
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

fix build errors 3
  chat-ui/src/index.tsx
Due: test-all, staging-build-chat-server

fix build errors 4
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

Define engines to remove EBADENGINE warning
  chat-core/package.json
  chat-server/package.json
  chat-ui/package.json
  ingest/package.json
  package-lock.json
  seed-content/package.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Remove explicit fetch import
  ingest/src/SnootyProjectsInfo.test.ts
Due: test-all, staging-build-ingest-service

(DOCSP-31440, DOCSP-32075): Add tags to chunk metadata (#78)
  chat-core/src/EmbeddedContent.ts
  chat-core/src/updateFrontMatter.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  seed-content/src/transformSample.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Define engines to remove EBADENGINE warning (#82)
  chat-core/package.json
  chat-server/package.json
  chat-ui/package.json
  ingest/package.json
  package-lock.json
  seed-content/package.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-32206): Strip comments from rst -> md
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithCommentAst.json
  ingest/src/test_data/samplePageWithMultiHeaderTableAst.json
Due: test-all, staging-build-ingest-service

(DOCSP-32194): Fix drone and k8s for ingest/chat-server staging (#80)
  .drone.yml
  chat-server/package.json
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.d.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.ts
  chat-server/tsconfig.json
  ingest/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Rebuild services
  .drone.yml
Due: none

clean up drone file + PR
  .drone.yml
  ingest/trigger
Due: test-all, staging-build-ingest-service

Trigger staging deploy
  .drone.yml
Due: none

Trigger ingest build
  ingest/trigger
Due: test-all, staging-build-ingest-service

refactor with Page.metadata
  chat-core/src/DatabaseConnection.test.ts
  chat-core/src/Page.ts
  ingest/src/DevCenterDataSource.ts
  ingest/src/ProjectBase.d.ts
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/getChangedPages.test.ts
  ingest/src/getChangedPages.ts
  ingest/src/projectSources.ts
  ingest/src/updateEmbeddedContent.test.ts
  ingest/src/updatePages.test.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

remove absolute positioning hacks
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

add test for arbitrary metadata
  ingest/src/chunkPage.test.ts
Due: test-all, staging-build-ingest-service

update EmbeddedContent description
  chat-core/src/EmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

update MongoDbUserQueryPreprocessorResponse for greater semantic meaning
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.d.ts
Due: test-all, staging-build-chat-server

update pre-processor tests
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
Due: test-all, staging-build-chat-server

(DOCSP-32206): Strip comments from rst -> md (#84)
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithCommentAst.json
  ingest/src/test_data/samplePageWithMultiHeaderTableAst.json
Due: test-all, staging-build-ingest-service

checkpoint
  chat-core/src/Page.ts
  ingest/package.json
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/snootyAstToOpenApiSpec.test.ts
  ingest/src/snootyAstToOpenApiSpec.ts
  ingest/src/test_data/localOpenApiSpecPage.json
  ingest/src/test_data/remoteOpenApiSpecPage.json
  package-lock.json
  spec.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

(DOCSP-32363) [UI] handle cases where the LLM stops mid code example
  chat-ui/src/useConversation.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server

Add ingest system diagram
  design_docs/ingest.mermaid
Due: none

integrate changes w project
  chat-core/src/Page.ts
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  spec.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Move diagram to README and add some info
  design_docs/ingest.mermaid
  ingest/README.md
Due: test-all, staging-build-ingest-service

(DOCSP-32434) [UI] Add error text for non-modal input
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

clean up + add todo
  ingest/src/chunkPage.ts
  ingest/src/snootyAstToOpenApiSpec.ts
Due: test-all, staging-build-ingest-service

implement review feedback
  chat-core/src/EmbeddedContent.ts
  chat-core/src/Page.ts
  ingest/src/chunkPage.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Draft atlas spec handling
  ingest/src/snootyAstToOpenApiSpec.test.ts
  ingest/src/snootyAstToOpenApiSpec.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32434) [UI] Add error text for non-modal input (#87)
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

make func async for network call
  ingest/src/snootyAstToOpenApiSpec.test.ts
  ingest/src/snootyAstToOpenApiSpec.ts
Due: test-all, staging-build-ingest-service

finish tests
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkPage.test.ts
Due: test-all, staging-build-ingest-service

fix broken tests
  ingest/src/SnootyDataSource.test.ts
  ingest/src/snootyAstToOpenApiSpec.test.ts
  ingest/src/snootyAstToOpenApiSpec.ts
Due: test-all, staging-build-ingest-service

fix broken tests
  ingest/src/chunkPage.test.ts
Due: test-all, staging-build-ingest-service

Fix lint err
  ingest/src/chunkPage.test.ts
Due: test-all, staging-build-ingest-service

(DOCSP-32253): Add more semantically relevant product names to metadata (#83)
  chat-core/src/DatabaseConnection.test.ts
  chat-core/src/EmbeddedContent.ts
  chat-core/src/Page.ts
  chat-server/src/processors/MongoDbUserQueryPreprocessorResponse.d.ts
  chat-server/src/processors/makePreprocessMongoDbUserQuery.test.ts
  ingest/src/DevCenterDataSource.ts
  ingest/src/ProjectBase.d.ts
  ingest/src/SnootyDataSource.test.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/getChangedPages.test.ts
  ingest/src/getChangedPages.ts
  ingest/src/projectSources.ts
  ingest/src/updateEmbeddedContent.test.ts
  ingest/src/updatePages.test.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

improve request logging
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

(DOCSP-32362): Improve conversation request logging (#89)
  chat-server/src/routes/conversations/addMessageToConversation.ts
Due: test-all, staging-build-chat-server

(DOCSP-31343): Add system diagram and info for ingest (#86)
  ingest/README.md
Due: test-all, staging-build-ingest-service

(DOCSP-32490) [UI] Link to current commit on GitHub
  chat-ui/package.json
  chat-ui/src/App.module.css
  chat-ui/src/App.tsx
Due: test-all, staging-build-chat-server
