Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

initial converters
  package-lock.json
  package.json
  src/convertMaapToChatbotFramework.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add to server
  examples/partnerproduct/src/index.ts
  examples/partnerproduct/src/loadEnvVars.ts
  src/convertMaapToChatbotFramework.ts
  src/index.ts
Due: none

clean up
  src/convertMaapToChatbotFramework.ts
Due: none

async init llm
  examples/partnerproduct/src/index.ts
  src/convertMaapToChatbotFramework.ts
Due: none

UI Fixes
  examples/partnerproduct/src/index.ts
  examples/partnerproduct/src/test.yaml
  src/models/anyscale-model.ts
  src/yaml_parser/src/LoadYaml.ts
Due: none

UI Fix streaming
  examples/partnerproduct/ui/src/App.js
Due: none

add reranker, query preprocessor, and convertBaseLoaderToDataSource
  examples/partnerproduct/src/index.ts
  src/PreProcessQuery.ts
  src/Rerank.ts
  src/convertMaapToChatbotFramework.ts
  src/index.ts
Due: none

add dummy examples
  examples/partnerproduct/src/index.ts
Due: none

quiz question data generator and evaluator
  package-lock.json
  packages/mongodb-chatbot-evaluation/package.json
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.test.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/evaluateQuizQuestionAnswerCorrectness.ts
  packages/mongodb-chatbot-evaluation/src/evaluate/index.ts
  packages/mongodb-chatbot-evaluation/src/generate/GeneratedDataStore.ts
  packages/mongodb-chatbot-evaluation/src/generate/TestCase.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.test.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.ts
  packages/mongodb-chatbot-evaluation/src/generate/index.ts
  packages/mongodb-chatbot-evaluation/src/test/mockGenerateDataFunc.ts
  packages/mongodb-chatbot-evaluation/tsconfig.build.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Apply suggestions from code review
  docs/docs/server/verified-answers.md
Due: none

Tweaks
  docs/docs/server/find-faqs.md
  docs/docs/server/verified-answers.md
Due: none

(EAI-263) Document verified answers (#435)
  docs/docs/ingest/configuration-reference.md
  docs/docs/mongodb.md
  docs/docs/server/find-faqs.md
  docs/docs/server/verified-answers.md
  docs/sidebars.ts
  packages/mongodb-rag-core/src/VerifiedAnswer.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-409) [UI] Chatbot isExperimental prop isn't hooked up
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-409) [UI] Chatbot isExperimental prop isn't hooked up (#438)
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-403) make collection name configurable for the EmbeddedContentStore and PagesStore
  packages/mongodb-rag-core/src/EmbeddedContent.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/Page.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

metadata.pageTitle is a string
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.ts
  packages/mongodb-rag-core/src/EmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

review tweaks
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.ts
  packages/mongodb-chatbot-ui/src/ChatWindow.tsx
  packages/mongodb-chatbot-ui/src/utils.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

format metadata
  packages/mongodb-rag-core/src/EmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

WIP - test issues
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

WIP - categorize server processors
  packages/mongodb-chatbot-server/src/processors/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

WIP - categorize server services
  packages/mongodb-chatbot-server/src/services/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

start implementation
  packages/chatbot-eval-mongodb-public/src/makeChatLlmQuizEvalCommands.ts
  packages/chatbot-eval-mongodb-public/src/makeRadiantChatLlm.ts
  packages/chatbot-eval-mongodb-public/src/quizEval.config.ts
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Link jira & github WIP
  packages/mongodb-artifact-generator/context/release-notes/atlas-cli-releaseInfo.yaml
  packages/mongodb-artifact-generator/src/release-notes/jira.ts
Due: test-all

Fix makeClassifier test (#436)
  packages/mongodb-artifact-generator/src/chat/makeClassifier.test.ts
Due: test-all

Update README.md
  packages/chatbot-server-mongodb-public/README.md
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

format rst WIP
  packages/mongodb-artifact-generator/src/release-notes/formatChangelogsRst.ts
Due: test-all

don't drop the database
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/MongoDbPageStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

indent
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

remove unused imports
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/MongoDbPageStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-403) configurable collection name for EmbeddedContentStore & PageStore (#439)
  packages/mongodb-rag-core/src/EmbeddedContent.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.ts
  packages/mongodb-rag-core/src/MongoDbPageStore.test.ts
  packages/mongodb-rag-core/src/MongoDbPageStore.ts
  packages/mongodb-rag-core/src/Page.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

jira-github link works
  packages/mongodb-artifact-generator/src/release-notes/jira.ts
Due: test-all

fix test
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-317) [UI] Rich Links in Chatbot (#399)
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.test.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateUserPrompt.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/createMessage.ts
  packages/mongodb-chatbot-ui/src/messageLinks.tsx
  packages/mongodb-chatbot-ui/src/services/conversations.test.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/useChatbot.tsx
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/utils.test.ts
  packages/mongodb-chatbot-ui/src/utils.ts
  packages/mongodb-rag-core/src/EmbeddedContent.ts
  packages/mongodb-rag-core/src/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/services/conversations.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Dedupe phase
  package-lock.json
  packages/mongodb-artifact-generator/context/release-notes/atlas-cli-releaseInfo.yaml
  packages/mongodb-artifact-generator/package.json
  packages/mongodb-artifact-generator/src/chat/makeClassifier.test.ts
  packages/mongodb-artifact-generator/src/chat/makeClassifier.ts
  packages/mongodb-artifact-generator/src/commands/generateReleaseNotes.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogAudience.ts
  packages/mongodb-artifact-generator/src/release-notes/classifyChangelogScope.ts
  packages/mongodb-artifact-generator/src/release-notes/createChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/deduplicateChangelogs.ts
  packages/mongodb-artifact-generator/src/release-notes/formatChangelogsRst.ts
  packages/mongodb-artifact-generator/src/release-notes/getReleaseArtifacts.ts
  packages/mongodb-artifact-generator/src/release-notes/projects.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Style Guide
  packages/mongodb-artifact-generator/context/release-notes/atlas-cli-releaseInfo.yaml
  packages/mongodb-artifact-generator/src/commands/generateReleaseNotes.ts
  packages/mongodb-artifact-generator/src/release-notes/ReleaseInfo.ts
  packages/mongodb-artifact-generator/src/release-notes/StyleGuide.ts
  packages/mongodb-artifact-generator/src/release-notes/createChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/jira.ts
  packages/mongodb-artifact-generator/src/release-notes/printableChangelog.ts
  packages/mongodb-artifact-generator/src/release-notes/projects.ts
  packages/mongodb-artifact-generator/src/release-notes/summarizeReleaseArtifacts.ts
Due: test-all

make separate model eval pkg
  packages/chatbot-eval-mongodb-public/src/makeRadiantChatLlm.ts
  packages/model-eval/.env.example
  packages/model-eval/.eslintrc.cjs
  packages/model-eval/.gitignore
  packages/model-eval/.prettierrc.cjs
  packages/model-eval/.release-it.json
  packages/model-eval/README.md
  packages/model-eval/jest.config.cjs
  packages/model-eval/package.json
  packages/model-eval/src/envVars.ts
  packages/model-eval/src/makeChatLlmQuizEvalCommands.ts
  packages/model-eval/src/makeRadiantChatLlm.ts
  packages/model-eval/src/quizEval.config.ts
  packages/model-eval/tsconfig.build.json
  packages/model-eval/tsconfig.json
Due: test-all, staging-build-mongodb-eval, staging-deploy-mongodb-eval

stub out e2e
  packages/model-eval/package.json
  packages/model-eval/src/makeRadiantChatLlm.ts
  packages/model-eval/src/pipelines/quizEval.ts
  packages/model-eval/src/quizEval.config.ts
  packages/model-eval/src/radiantModels.ts
  packages/mongodb-chatbot-evaluation/src/generate/TestCase.ts
  packages/mongodb-chatbot-evaluation/src/generate/generateLlmQuizQuestionAnswer.ts
Due: test-all

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
