Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json

Models to shared folder
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/models.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Split evaluateLlm core
  packages/scripts/src/mercury/README.md
  packages/scripts/src/mercury/evaluateLlms.ts
  packages/scripts/src/mercury/evaluationCore.integration.test.ts
  packages/scripts/src/mercury/evaluationCore.test.ts
  packages/scripts/src/mercury/evaluationCore.ts
  packages/scripts/src/mercury/examples/customEvaluation.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Add missing file
  packages/mongodb-rag-core/src/dataSources/index.ts
  packages/mongodb-rag-core/src/dataSources/makeMarkdownLists.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

No matching URL fallback case only
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Minor but impactful wording change
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix analyzer model bug
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

split mercury eval core, add tests, make fuzzy prompt
  packages/scripts/package.json
  packages/scripts/src/mercury/createFuzzyPrompts.ts
  packages/scripts/src/mercury/evaluationCore.integration.test.ts
  packages/scripts/src/mercury/evaluationCore.ts
  packages/scripts/src/mercury/examples/customEvaluation.ts
  packages/scripts/src/mercury/models.ts
  packages/scripts/src/profound/getAndProcessAnswers.ts
  packages/scripts/src/test/README.md
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Add headers & fix minor syntax errors in Responses API docs examples
  docs/docs/server/responses-api.md
Due: none

Preface instructions & run all conversation evals
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Clarify fetch_page vs. search_content confusion
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

implement HS feedback
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.atlasSearch.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/sampleData/atlasSearch.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

PR review: string interpolation of tool names
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Tweak OpenAPI
  docs/docs/server/openapi.yaml
Due: none

custom prompt guideance + custom tool instructions
  docs/docs/server/responses-api.md
Due: none

Custom tool description on context engineering guide
  docs/docs/server/context-engineering.md
  docs/docs/server/responses-api.md
Due: none

update tool use docs
  docs/docs/server/context-engineering.md
Due: none

(EAI-1187) Instruct chatbot on handling fetch_page fallback (#897)
  packages/chatbot-server-mongodb-public/evalCases/system_prompt_conversations.yml
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
  packages/chatbot-server-mongodb-public/src/tools/search.ts
  packages/mongodb-rag-core/src/dataSources/index.ts
  packages/mongodb-rag-core/src/dataSources/makeMarkdownLists.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1231): Generate NL2AS dataset (#898)
  packages/benchmarks/package.json
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateAtlasSearchCodeAgentic.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/mongoDbMcpAgent.ts
  packages/benchmarks/src/textToDriver/nltoAtlasSearchBenchmarkConfig.ts
  packages/datasets/src/bin/convertNlToMqlDatasetOutToBraintrust.ts
  packages/datasets/src/bin/generateAtlasSearchDataset.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAtlasSearchCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseExecutionResult.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseUsers.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCode.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.atlasSearch.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateUseCases.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/sampleData/atlasSearch.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/sampleData/mql.ts
  packages/mongodb-rag-core/src/aiSdk.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add headers & fix minor syntax errors in Responses API docs examples (#905)
  docs/docs/server/openapi.yaml
  docs/docs/server/responses-api.md
Due: none

test resiliency
  package-lock.json
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.ts
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/extractDeterministicSampleOfDocuments.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/extractDeterministicSampleOfDocuments.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getDatabaseMetadata.ts
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/sources/snootySources.test.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/extractDeterministicSampleOfDocuments.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fix broken tests
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.ts
Due: test-all

fix broken tests + types
  packages/benchmarks/src/textToDriver/bin/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.ts
Due: test-all

(EAI-1285): [docs] Custom prompt guidance + custom tool instructions update (#906)
  docs/docs/server/context-engineering.md
  docs/docs/server/responses-api.md
Due: none

Deploy website - based on 30d378a7f5a0ca8504e0b32c3662f83285be5f9b
  404.html
  assets/js/426b650c.79b714c0.js
  assets/js/426b650c.ae1bfe60.js
  assets/js/47986684.1c989e1e.js
  assets/js/47986684.ba3fe0f6.js
  assets/js/75e281e7.2da3facf.js
  assets/js/75e281e7.c809bdc6.js
  assets/js/8e875b0a.a271ebf3.js
  assets/js/8e875b0a.ba9a1fbc.js
  assets/js/99441d91.6c0dc2ae.js
  assets/js/99441d91.d31dec5a.js
  assets/js/ae9173d0.7a13a98a.js
  assets/js/ae9173d0.c1b712fa.js
  assets/js/ffc5b857.9a6fb483.js
  assets/js/ffc5b857.a236bf47.js
  assets/js/main.28fcd65d.js
  assets/js/main.28fcd65d.js.LICENSE.txt
  assets/js/main.76366839.js
  assets/js/runtime~main.685fceec.js
  assets/js/runtime~main.e6b859f5.js
  contact/index.html
  data-sources/index.html
  datasets/index.html
  framework/index.html
  index.html
  redocusaurus/plugin-redoc-0.yaml
  reference/index.html
  reference/ui/classes/ConversationService/index.html
  reference/ui/classes/RetriableError/index.html
  reference/ui/classes/TimeoutError/index.html
  reference/ui/index.html
  reference/ui/modules/index.html
  server/context-engineering/index.html
  server/evaluation/index.html
  server/openapi/index.html
  server/responses-api/index.html
  ui/index.html
Due: none

Decrease test flakiness (#907)
  package-lock.json
  packages/benchmarks/src/textToDriver/bin/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.ts
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/extractDeterministicSampleOfDocuments.test.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/extractDeterministicSampleOfDocuments.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getDatabaseMetadata.ts
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/sources/snootySources.test.ts
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/extractDeterministicSampleOfDocuments.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1284): Fix analytics Azure OpenAI calls (#904)
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-1263) add models (#891)
  packages/benchmarks/src/benchmarkModels.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

prompt tweaks
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/atlasSearch.ts
  packages/benchmarks/src/textToDriver/nltoAtlasSearchBenchmarkConfig.ts
Due: test-all

fix atlas search prompt
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/atlasSearch.ts
Due: test-all

all building locally
  package-lock.json
  packages/benchmarks/src/cli/BenchmarkConfig.ts
  packages/benchmarks/src/textToDriver/TextToDriverEval.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
  packages/benchmarks/src/textToDriver/runTextToNodeJsDriverEval.ts
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/middleware/redactConnectionUri.test.ts
  packages/chatbot-server-mongodb-public/src/middleware/useSegmentIds.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/processors/mongoDbInputGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.test.ts
  packages/chatbot-server-mongodb-public/src/tracing/extractTracingData.ts
  packages/chatbot-server-mongodb-public/src/tracing/mongoDbChatbotCommentSentiment.ts
  packages/chatbot-server-mongodb-public/src/verifiedAnswers.eval.ts
  packages/datasets/src/treeGeneration/generateChildren.ts
  packages/mercury-case-analysis/package.json
  packages/mercury-case-analysis/src/rating.ts
  packages/mercury-case-analysis/src/suggestRewrite.ts
  packages/mongodb-artifact-generator/src/withConfig.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/tsconfig.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/chunk/chunkOpenApiSpecYaml.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/getOpenAiFunctionResponse.ts
  packages/mongodb-rag-core/src/makeClassifier.ts
  packages/mongodb-rag-ingest/src/withConfig.ts
  packages/release-notes-generator/package.json
  packages/scripts/src/generateMetaDescriptions.ts
  packages/scripts/src/upsertMetaDirective.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Tool call handling outside of generation loop; handle metadata/customDAta in result processing
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add sharp
  package-lock.json
  packages/datasets/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

wip
  packages/benchmarks/src/quizQuestions/bin/loadBadgeQuizQuestions.ts
Due: test-all

try again
  package-lock.json
  packages/datasets/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

remove unused llamaindex
  package-lock.json
  packages/datasets/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

lock fix hopefulyy
  package-lock.json
  packages/datasets/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

new lock
  package-lock.json
  packages/datasets/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

update mongo memory serv
  package-lock.json
  packages/benchmarks/package.json
  packages/chatbot-server-mongodb-public/package.json
  packages/datasets/package.json
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/dataSources/AcquitRequireMdOnGithubDataSource.test.ts
  packages/mongodb-rag-core/src/dataSources/AcquitRequireMdOnGithubDataSource.ts
  packages/mongodb-rag-core/src/dataSources/GitDataSource.ts
  packages/mongodb-rag-core/src/dataSources/GitHubDataSource.ts
  packages/mongodb-rag-ingest/package.json
  packages/scripts/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add tool call customData after generation, in response handler
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

core lint fix
  package-lock.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/updateEmbeddedContent.ts
  packages/mongodb-rag-core/src/dataSources/GitDataSource.ts
  packages/mongodb-rag-core/src/mongoDbMetadata/tags.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service
