Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-build-ingest-service

Path conditions:
  test-all: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*, ingest/**/*
  staging-build-chat-server: any of: chat-server/**/*, chat-core/**/*, chat-ui/**/*
  staging-build-ingest-service: any of: ingest/**/*, chat-core/**/*

clarify ingest readme
  ingest-service.dockerfile
  ingest/README.md
Due: test-all, staging-build-ingest-service

filter out small chunks
  ingest/src/chunkMd.ts
Due: test-all, staging-build-ingest-service

Dashboard WIP
  dashboard/.eslintrc.js
  dashboard/README.md
  dashboard/dist/assets/index-a5ab6ccd.js
  dashboard/dist/favicon.ico
  dashboard/dist/index.html
  dashboard/dist/manifest.json
  dashboard/index.html
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/prettier.config.js
  dashboard/public/favicon.ico
  dashboard/public/manifest.json
  dashboard/src/App.tsx
  dashboard/src/ChatbotDataProvider.ts
  dashboard/src/index.tsx
  dashboard/src/vite-env.d.ts
  dashboard/tsconfig.json
  dashboard/vite.config.ts
Due: none

Implement numbered list
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithOrderedList.json
Due: test-all, staging-build-ingest-service

Refactor snooty rendering
  ingest/src/renderSnootyTable.ts
  ingest/src/snootyAstToMd.ts
Due: test-all, staging-build-ingest-service

Fix table render bug
  ingest/src/renderSnootyTable.ts
Due: test-all, staging-build-ingest-service

Add more logging for render table issue
  ingest/src/GitHubDataSource.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/getChangedPages.ts
  ingest/src/renderSnootyTable.ts
Due: test-all, staging-build-ingest-service

Fix test
  ingest/src/rstToSnootyAst.ts
Due: test-all, staging-build-ingest-service

Fix test
  ingest/src/renderSnootyTable.test.ts
Due: test-all, staging-build-ingest-service

(DOCSP-31928): Implement numbered lists (#154)
  ingest/src/GitHubDataSource.ts
  ingest/src/SnootyDataSource.ts
  ingest/src/getChangedPages.ts
  ingest/src/renderSnootyTable.test.ts
  ingest/src/renderSnootyTable.ts
  ingest/src/rstToSnootyAst.ts
  ingest/src/snootyAstToMd.test.ts
  ingest/src/snootyAstToMd.ts
  ingest/src/test_data/samplePageWithOrderedList.json
Due: test-all, staging-build-ingest-service

(INGEST-0): Refactor data source config to new file
  ingest/src/ingest.config.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

fix failing tests
  ingest/src/chunkPage.test.ts
  ingest/src/updateEmbeddedContent.test.ts
Due: test-all, staging-build-ingest-service

updates
  CONTRIBUTING.md
  ingest/README.md
Due: test-all, staging-build-ingest-service

add git workflow
  CONTRIBUTING.md
Due: none

Fix failing tests
  ingest/src/chunkPage.test.ts
Due: test-all, staging-build-ingest-service

make min token count configurable
  ingest/src/chunkMd.ts
  ingest/src/chunkOpenApiSpecYaml.test.ts
  ingest/src/chunkOpenApiSpecYaml.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
Due: test-all, staging-build-ingest-service

Update ingest/src/chunkMd.ts
  ingest/src/chunkMd.ts
Due: test-all, staging-build-ingest-service

filter out very small chunks (#160)
  ingest/src/chunkMd.ts
  ingest/src/chunkOpenApiSpecYaml.test.ts
  ingest/src/chunkOpenApiSpecYaml.ts
  ingest/src/chunkPage.test.ts
  ingest/src/chunkPage.ts
  ingest/src/updateEmbeddedContent.test.ts
Due: test-all, staging-build-ingest-service

Expand Contributing Guide and `ingest` README (#161)
  CONTRIBUTING.md
  ingest/README.md
Due: test-all, staging-build-ingest-service

Release 0.0.6-1
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-ingest-service

Release 0.0.10-1
  chat-server/package-lock.json
  chat-server/package.json
Due: test-all, staging-build-chat-server

update lock file
  package-lock.json
Due: none

Launch pre releases (#162)
  chat-server/package-lock.json
  chat-server/package.json
  ingest/package.json
  package-lock.json
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Update README.md
  README.md
Due: none

update repo name in code
  .drone.yml
  CONTRIBUTING.md
  chat-ui/src/App.tsx
  ingest/src/projectSources.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Trigger build
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

Update relevant repo paths
  .drone.yml
  CONTRIBUTING.md
  chat-ui/src/App.tsx
  ingest/src/projectSources.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

update repo name in code (#163)
  .drone.yml
  CONTRIBUTING.md
  chat-server/trigger.me
  chat-ui/src/App.tsx
  ingest/src/projectSources.ts
Due: test-all, staging-build-chat-server, staging-build-ingest-service

Delete chat-server/trigger.me
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

Delete chat-server/trigger.me (#165)
  chat-server/trigger.me
Due: test-all, staging-build-chat-server

modal z-index 100
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

clean up spec + remove ip address validation from rate msg
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/routes/conversations/rateMessage.ts
  design-docs/openapi.yml
Due: test-all, staging-build-chat-server

remove test set up block for removed test
  chat-server/src/routes/conversations/rateMessage.test.ts
Due: test-all, staging-build-chat-server

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Remove newline
  chat-ui/src/Chatbot.tsx
Due: test-all, staging-build-chat-server

UI Tweaks (#159)
  chat-ui/src/App.module.css
  chat-ui/src/Chatbot.tsx
  chat-ui/src/InputBar.tsx
  chat-ui/src/utils.ts
Due: test-all, staging-build-chat-server

(INGEST-0): Fix typescript issues
  ingest/src/ingest.config.ts
  ingest/src/projectSources.ts
Due: test-all, staging-build-ingest-service

clean up spec + remove ip address validation from rate msg (#166)
  chat-server/src/routes/conversations/rateMessage.test.ts
  chat-server/src/routes/conversations/rateMessage.ts
  design-docs/openapi.yml
Due: test-all, staging-build-chat-server
