Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

fix mocking, injecting makeBrowser
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

rename rawWebSources to initialWebSources
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

add tests back in drone
  .drone.yml
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

cleanup drone file, comment code back in, lint
  .drone.yml
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/mongodb-rag-ingest/src/commands/all.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

rm deploy trigger for branch
  .drone.yml
Due: test-all

fix web-misc url list
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

working e2e
  packages/datasets/src/bin/huggingFace/uploadCodeExampleDatasetToHuggingFace.ts
  packages/datasets/src/codeExampleDataset/createCodeExampleDatasetEntry.ts
  packages/datasets/src/codeExampleDataset/extractAndAnnotateCodeBlocks.ts
  packages/datasets/src/codeExampleDataset/extractPageElements.ts
  packages/datasets/src/codeExampleDataset/transformPageToAnnotatedCodeExamples.ts
  packages/datasets/src/pageDataset/loadPageDataset.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbTransformedContentStore.test.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbTransformedContentStore.ts
  packages/mongodb-rag-core/src/contentStore/TransformedContent.ts
  packages/mongodb-rag-core/src/contentStore/updateTransformedContent.test.ts
  packages/mongodb-rag-core/src/contentStore/updateTransformedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

explain method
  packages/benchmarks/src/quizQuestions/scripts/annotateBraintrustQuestions.ts
Due: test-all

(EAI-861): Benchmark badge questions (#618)
  package-lock.json
  packages/benchmarks/.gitignore
  packages/benchmarks/package.json
  packages/benchmarks/src/models.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionData.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/getQuizQuestionEvalCasesFromBraintrust.ts
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.test.ts
  packages/benchmarks/src/quizQuestions/makeHelmQuizQuestionPrompt.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongodbUniversityAllQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/scripts/annotateBraintrustQuestions.ts
  packages/benchmarks/src/quizQuestions/scripts/countQuestionsByTag.ts
  packages/benchmarks/src/quizQuestions/scripts/loadBadgeQuizQuestions.ts
  packages/benchmarks/src/quizQuestions/scripts/makeTags.ts
  packages/chatbot-server-mongodb-public/src/lib.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Update README
  packages/release-notes-generator/README.md
Due: test-all

Add additional configs
  packages/release-notes-generator/src/configs/mongosh.config.ts
  packages/release-notes-generator/src/configs/relational-migrator.config.ts
  packages/release-notes-generator/src/jira/jira-api.ts
  packages/release-notes-generator/src/main.test.ts
Due: test-all

(EAI-853) Refactor RNG into a standalone package
  package-lock.json
  packages/release-notes-generator/.gitignore
  packages/release-notes-generator/.prettierignore
  packages/release-notes-generator/.prettierrc.cjs
  packages/release-notes-generator/README.md
  packages/release-notes-generator/eslint.config.cjs
  packages/release-notes-generator/package.json
  packages/release-notes-generator/src/artifact.ts
  packages/release-notes-generator/src/change.ts
  packages/release-notes-generator/src/config.ts
  packages/release-notes-generator/src/configs/atlas-cli.config.ts
  packages/release-notes-generator/src/configs/helpers.ts
  packages/release-notes-generator/src/configs/index.ts
  packages/release-notes-generator/src/generate.ts
  packages/release-notes-generator/src/github/artifacts.ts
  packages/release-notes-generator/src/github/github-api.test.ts
  packages/release-notes-generator/src/github/github-api.ts
  packages/release-notes-generator/src/github/index.ts
  packages/release-notes-generator/src/github/splitDiff.test.ts
  packages/release-notes-generator/src/github/splitDiff.ts
  packages/release-notes-generator/src/index.ts
  packages/release-notes-generator/src/jira/artifacts.ts
  packages/release-notes-generator/src/jira/index.ts
  packages/release-notes-generator/src/jira/jira-api.test.ts
  packages/release-notes-generator/src/jira/jira-api.ts
  packages/release-notes-generator/src/llm/classifyChangelog.ts
  packages/release-notes-generator/src/llm/classifyChangelogAudience.ts
  packages/release-notes-generator/src/llm/classifyChangelogScope.ts
  packages/release-notes-generator/src/llm/createChangelogEntry.ts
  packages/release-notes-generator/src/llm/index.ts
  packages/release-notes-generator/src/llm/openai-api.ts
  packages/release-notes-generator/src/llm/summarizeReleaseArtifact.ts
  packages/release-notes-generator/src/logger.ts
  packages/release-notes-generator/src/main.test.ts
  packages/release-notes-generator/src/utils.test.ts
  packages/release-notes-generator/src/utils.ts
  packages/release-notes-generator/tsconfig.json
  packages/release-notes-generator/tsup.config.ts
  packages/release-notes-generator/vitest.config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

script to process csv file to eval cases
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.test.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.ts
  packages/mongodb-rag-core/testData/sampleChatbotEvaluationQuestions.csv
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add dotcom eval cases to mongodb-chatbot-conversations
  packages/chatbot-server-mongodb-public/evalCases/dotcom_chatbot_evaluation_questions.csv
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/mongodb-rag-core/src/eval/index.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Clean up artifact definitions
  packages/release-notes-generator/src/artifact.ts
  packages/release-notes-generator/src/github/artifacts.ts
  packages/release-notes-generator/src/jira/artifacts.ts
Due: test-all

Remove unused metadata field + add artifact tests
  packages/release-notes-generator/src/artifact.test.ts
  packages/release-notes-generator/src/artifact.ts
  packages/release-notes-generator/src/generate.ts
Due: test-all

Rename main.test.ts to generate.test.ts
  packages/release-notes-generator/src/generate.test.ts
Due: test-all

init draft
  packages/datasets/src/treeGeneration/generateTree.ts
Due: test-all

add db node
  packages/datasets/src/treeGeneration/generateTree.ts
Due: test-all

Add tests for GitHub & Jira artifacts
  packages/release-notes-generator/src/github/artifacts.test.ts
  packages/release-notes-generator/src/jira/artifacts.test.ts
Due: test-all

(EAI-877) Ingest docs for Atlas k8s Operator, Kotlin Sync, Django
  packages/ingest-mongodb-public/src/sources/snootySources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

use reference field instead of expectation field for idealAnswer
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.test.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

programmatically make yaml file from csv
  packages/chatbot-server-mongodb-public/evalCases/dotcom_chatbot_evaluation_questions.yml
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/bin/dotcomChatbotEvaluationQuestions.csv
  packages/chatbot-server-mongodb-public/src/eval/bin/makeWebDataSourceEvalsYmlFile.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-877) Ingest docs for Atlas k8s Operator, Kotlin Sync, Django (#627)
  packages/ingest-mongodb-public/src/sources/snootySources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

make script reusable, accept csv and yaml file names
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/chatbot-server-mongodb-public/src/eval/bin/makeWebDataSourceEvalsYmlFile.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

working except factuality
  packages/chatbot-server-mongodb-public/evalCases/full_package.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/fullPackage.eval.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

parts work
  packages/scripts/src/meta2rst.test.ts
  packages/scripts/src/meta2rst.ts
  packages/scripts/testData/meta2rst/no-meta-no-description.rst
  packages/scripts/testData/meta2rst/yes-meta-no-description.rst
  packages/scripts/testData/meta2rst/yes-meta-yes-description.rst
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

mostly works except last test
  packages/scripts/src/meta2rst.test.ts
  packages/scripts/src/meta2rst.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

getConversationEvalCasesFromCSV takes optional transform function
  packages/chatbot-server-mongodb-public/evalCases/dotcom_chatbot_evaluation_questions.yml
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.test.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

working all scorers w/ non-azure openai
  package-lock.json
  packages/chatbot-server-mongodb-public/evalCases/all_scorers.yml
  packages/chatbot-server-mongodb-public/evalCases/full_package.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/allScorersTest.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

documentation
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

works - issue was a missing newline at the end of the content
  packages/scripts/src/meta2rst.test.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

add filesystem based tests
  packages/scripts/src/meta2rst.test.ts
  packages/scripts/src/meta2rst.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Add CLI for meta2rst
  packages/scripts/package.json
  packages/scripts/src/upsertMetaDirective.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

fix spacing issue with link lists in csv
  packages/chatbot-server-mongodb-public/evalCases/dotcom_chatbot_evaluation_questions.yml
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

lint
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromCSV.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

rm csv file
  packages/chatbot-server-mongodb-public/src/eval/bin/dotcomChatbotEvaluationQuestions.csv
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Handle frontmatter field lists
  packages/scripts/src/meta2rst.test.ts
  packages/scripts/src/meta2rst.ts
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

script accepts abosulte path for csv file
  packages/chatbot-server-mongodb-public/src/eval/bin/generateEvalCasesYamlFromCSV.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

test scrapePage, cleanup
  packages/ingest-mongodb-public/package.json
  packages/ingest-mongodb-public/src/sources/mongodb-university/MongoDbUniversityDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.test.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/WebDataSource.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
