Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npx playwright install chromium --with-deps
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chatbot-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-ingest-coach-gtm:
  steps:
  - name: publish-staging-ingest-coach-gtm
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-coach-gtm:
  steps:
  - name: deploy-staging-ingest-coach-gtm
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-coach-gtm-staging
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

spec out API
  docs/docs/server/openapi.yaml
Due: none

add Responses API to spec
  docs/docs/server/openapi.yaml
Due: none

Initial PDF to markdown data source
  package-lock.json
  package.json
  packages/mongodb-rag-core/src/dataSources/PdfToMdDataSource.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

PR feedback and add isCurrent
  docs/docs/server/openapi.yaml
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.test.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Clean yaml
  docs/docs/server/openapi.yaml
Due: none

working
  packages/chatbot-server-mongodb-public/curl.sh
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/errors.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

remove unused config
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

update llm not working and refusal streams
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

remove request from generate response args
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
  packages/mongodb-chatbot-server/src/processors/GenerateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Rename version -> versions
  docs/docs/server/openapi.yaml
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.test.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

cleanup
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

dont spread errors
  packages/mongodb-chatbot-server/src/routes/responses/errors.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

fix reference link url protocol issue
  packages/mongodb-chatbot-server/src/processors/makeDefaultReferenceLinks.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

inject custom system prompt
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/eval/ConversationEval.ts
  packages/chatbot-server-mongodb-public/src/eval/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/allScorersTest.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/architectureCenter.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/customSystemPrompt.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/dotcomQuestionsTest.eval.ts
  packages/chatbot-server-mongodb-public/src/eval/experiments/skillsQuestionsTest.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbAssistantSystemPrompt.ts
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
  packages/chatbot-server-mongodb-public/src/tracing/scrubbedMessages/analyzeMessage.eval.ts
  packages/mongodb-chatbot-server/src/processors/GenerateResponse.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.test.ts
  packages/mongodb-chatbot-server/src/processors/makeVerifiedAnswerGenerateResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-rag-core/src/eval/getConversationEvalCasesFromYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Add tests
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/dataSources/PdfToMdDataSource.test.ts
  packages/mongodb-rag-core/src/dataSources/PdfToMdDataSource.ts
  packages/mongodb-rag-core/testData/MongoDB_Operations_Training_Program_Datasheet_pages1_3_5.pdf
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Update docs/docs/server/openapi.yaml
  docs/docs/server/openapi.yaml
Due: none

(EAI-1184): Document Responses API (#834)
  docs/docs/server/openapi.yaml
Due: none

(EAI-1152): Benchmark CLI (#829)
  package-lock.json
  packages/benchmarks/README.md
  packages/benchmarks/package.json
  packages/benchmarks/src/bin/mongoDbBenchmarkCli.ts
  packages/benchmarks/src/cli/BenchmarkConfig.ts
  packages/benchmarks/src/cli/index.test.ts
  packages/benchmarks/src/cli/index.ts
  packages/benchmarks/src/cli/runBenchmark.test.ts
  packages/benchmarks/src/cli/runBenchmark.ts
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/discovery/config.ts
  packages/benchmarks/src/index.ts
  packages/benchmarks/src/nlPromptResponse/NlQuestionAnswerEval.ts
  packages/benchmarks/src/nlPromptResponse/config.ts
  packages/benchmarks/src/nlPromptResponse/metrics.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/config.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongodbUniversityAllQuestionBenchmark.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/config.ts
  packages/benchmarks/src/textToDriver/natural-language-to-mongosh-report.huggingFace.md
  packages/scripts/src/profound/getAndProcessAnswers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

getPdfBuffer should be async
  packages/mongodb-rag-core/src/dataSources/PdfToMdDataSource.test.ts
  packages/mongodb-rag-core/src/dataSources/PdfToMdDataSource.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Undo unnecessary changes
  package.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Undo unnecessary changes
  packages/mongodb-rag-core/testData/MongoDB_Operations_Training_Program_Datasheet_pages1_3_5.pdf
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

fix create response call to generateResponse
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add supertest to chatbot-server-public
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add test suite for responsesAPI to chatbot-server-public
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

fix merge issues
  packages/benchmarks/src/cli/index.test.ts
  packages/benchmarks/src/discovery/DiscoveryEval.ts
  packages/benchmarks/src/discovery/config.ts
  packages/benchmarks/src/nlPromptResponse/NlQuestionAnswerEval.ts
  packages/benchmarks/src/nlPromptResponse/config.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/config.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongodbUniversityAllQuestionBenchmark.ts
  packages/benchmarks/src/textToDriver/config.ts
Due: test-all

bit of progress
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

uhh, merge funkies
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fix build issue
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

PR feedback
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.test.ts
  packages/mongodb-chatbot-server/src/routes/content/listDataSources.ts
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

use memory server + failure case tests work
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

fix previous_response_id err
  packages/chatbot-server-mongodb-public/src/responsesApi.test.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Change embedding search index
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

PR review: remove comment
  packages/mongodb-rag-core/src/dataSources/PdfToMdDataSource.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Use plain memory server
  packages/mongodb-rag-core/src/contentStore/MongoDbEmbeddedContentStore.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

(EAI-1171) PDF to markdown data source (#837)
  package-lock.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/dataSources/PdfToMdDataSource.test.ts
  packages/mongodb-rag-core/src/dataSources/PdfToMdDataSource.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Ingest Voyage openAPI spec from github
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/ingest-mongodb-public/src/sources/mongodbDotCom/webSources.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm

fix broken tests
  packages/benchmarks/src/cli/index.test.ts
Due: test-all

better file naming
  packages/benchmarks/src/bin/mongoDbBenchmarkCli.ts
  packages/benchmarks/src/cli/benchmarkCli.test.ts
  packages/benchmarks/src/cli/benchmarkCli.ts
Due: test-all

Fix regex & productName in frontmatter for openAPI spec chunks
  packages/ingest-mongodb-public/src/sources/index.ts
  packages/mongodb-rag-core/src/chunk/chunkOpenApiSpecYaml.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
