Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
      MONGODB_DATABASE_NAME: docs-chatbot-test
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chat-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

staging-deploy-scripts-service:
  steps:
  - name: deploy-staging-scripts-service
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: scripts-service
  ...

staging-build-mongodb-eval:
  steps:
  - name: publish-staging-eval-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: eval-service.dockerfile
      create_repository: true
  ...

Add DevCenter URL to staging allowed origins
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Increase server chat response timeout to 60 seconds (#499)
  packages/chatbot-server-mongodb-public/src/config.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Scaffold eval run
  packages/benchmarks/src/radiantModels.ts
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
  packages/benchmarks/src/textToDriver/textToNodeJsDriver.eval.ts
Due: test-all

fix prompts obj
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/nodeJs.ts
Due: test-all

readd verified answer metadata
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-533): Create text to node driver datasets (#503)
  packages/benchmarks/src/textToDriver/notebooks/.gitignore
  packages/benchmarks/src/textToDriver/notebooks/extract_db_documents.ipynb
  packages/benchmarks/src/textToDriver/notebooks/extract_db_metadata.ipynb
  packages/benchmarks/src/textToDriver/notebooks/extract_eval_cases.ipynb
Due: test-all

(EAI-535): Code to generate query from prompt (#507)
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/DatabaseMetadata.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/FewShotExample.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/index.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/nodeJs.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeTextToDriverPrompt.test.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeTextToDriverPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Add DevCenter URL to staging allowed origins (#510)
  packages/chatbot-server-mongodb-public/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Update packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
Due: test-all

run code in sandbox
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
Due: test-all

(EAI-543) [UI] Create HotkeyTrigger
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/HotkeyTrigger.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

(EAI-497) DevCenter reference links should be labelled Article
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.ts
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

move logic to messageLinks
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Apply suggestions from code review
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-506 redux): Refactor full response generation as a stateless function (#498)
  package-lock.json
  packages/chatbot-server-mongodb-public/.env.example
  packages/chatbot-server-mongodb-public/evalCases/bias_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/faq_conversations.yml
  packages/chatbot-server-mongodb-public/evalCases/included_links_conversations.yml
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/EvalEnvVars.ts
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/conversations.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/makeStepBackUserQuery.eval.ts
  packages/chatbot-server-mongodb-public/src/processors/userMessageMongoDbGuardrail.eval.ts
  packages/chatbot-server-mongodb-public/src/test/evalHelpers.ts
  packages/chatbot-server-mongodb-public/src/test/getConversationEvalCasesFromYaml.ts
  packages/mongodb-chatbot-server/.env.example
  packages/mongodb-chatbot-server/package.json
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/addMessageToConversation.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/generateResponse.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
  packages/mongodb-chatbot-server/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/MongoDbUserQueryPreprocessorResponse.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/makePreprocessMongoDbUserQuery.ts
  packages/mongodb-rag-core/.env.example
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/CoreEnvVars.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

more scaffolding
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/index.ts
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
Due: test-all

fix + update failing test
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

add test for messageLinks
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
  packages/mongodb-chatbot-ui/src/messageLinks.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Apply suggestions from code review
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
Due: test-all

(EAI-537): Execute generated Node.js driver code from string (#508)
  package-lock.json
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.test.ts
  packages/benchmarks/src/textToDriver/executeGeneratedDriverCode.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add types
  packages/benchmarks/src/textToDriver/evalTypes.ts
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
Due: test-all

add schemas
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/makeDatabases/index.ts
  packages/benchmarks/src/textToDriver/makeDatabases/loadBraintrustDatasets.test.ts
  packages/benchmarks/src/textToDriver/makeDatabases/loadBraintrustDatasets.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-497) DevCenter reference links should be labeled Article (#513)
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.test.ts
  packages/chatbot-server-mongodb-public/src/processors/makeMongoDbReferences.ts
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/Message.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.test.ts
  packages/mongodb-chatbot-ui/src/messageLinks.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

add docs
  docs/docs/ui.md
Due: none

skip tests
  packages/benchmarks/src/textToDriver/makeDatabases/loadBraintrustDatasets.test.ts
Due: test-all

(EAI-534): Script to load benchmark sample data (#505)
  .drone.yml
  package-lock.json
  packages/benchmarks/.env.example
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/TextToDriverEnvVars.ts
  packages/benchmarks/src/textToDriver/makeDatabases/applyCollectionIndexes.ts
  packages/benchmarks/src/textToDriver/makeDatabases/index.ts
  packages/benchmarks/src/textToDriver/makeDatabases/insertCollectionDocuments.ts
  packages/benchmarks/src/textToDriver/makeDatabases/loadBraintrustDatasets.test.ts
  packages/benchmarks/src/textToDriver/makeDatabases/loadBraintrustDatasets.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

more orchestration
  package-lock.json
  packages/benchmarks/package.json
  packages/benchmarks/src/textToDriver/evalTypes.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/makeGenerateDriverCode.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.test.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
  packages/benchmarks/src/textToDriver/makeDatabases/index.ts
  packages/benchmarks/src/textToDriver/notebooks/extract_eval_cases.ipynb
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

(EAI-543) [UI] Create HotkeyTrigger (#512)
  docs/docs/ui.md
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/HotkeyTrigger.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

checkpoint work
  package-lock.json
  packages/benchmarks/.env.example
  packages/benchmarks/package.json
  packages/benchmarks/src/envVars.ts
  packages/benchmarks/src/radiantModels.ts
  packages/benchmarks/src/textToDriver/evalTypes.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.test.ts
  packages/benchmarks/src/textToDriver/evaluationMetrics.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/extractDeterministicSampleOfDocuments.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/languagePrompts/nodeJs.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.test.ts
  packages/benchmarks/src/textToDriver/loadBraintrustDatasets.ts
  packages/benchmarks/src/textToDriver/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/runTextToDriverEval.ts
  packages/benchmarks/src/textToDriver/textToNodeJsDriver.eval.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Add two new VAs
  verified-answers.yaml
Due: none

add uni data source
  mongodb-uni/certification-exams/associate-atlas-administrator.md
  mongodb-uni/certification-exams/associate-data-modeler.md
  mongodb-uni/certification-exams/associate-dba.md
  mongodb-uni/certification-exams/associate-developer.md
  mongodb-uni/certification-program-guide.md
  mongodb-uni/learning-paths/atlas-search.md
  mongodb-uni/learning-paths/atlas-vector-search.md
  mongodb-uni/learning-paths/csharp.md
  mongodb-uni/learning-paths/data-modeling.md
  mongodb-uni/learning-paths/java.md
  mongodb-uni/learning-paths/nodejs.md
  mongodb-uni/learning-paths/python.md
  mongodb-uni/mdb-certification-program.md
  mongodb-uni/mdb-for-educators.md
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

update branch
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

running ingest
  packages/ingest-mongodb-public/.env.example
  packages/ingest-mongodb-public/src/sources/index.ts
Due: test-all, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public

(EAI-548):Add initial MDBU VAs (#515)
  verified-answers.yaml
Due: none

Add more content
  mongodb-uni/free-courses.md
  mongodb-uni/learning-badges.md
  mongodb-uni/learning-paths/atlas-search.md
  mongodb-uni/learning-paths/atlas-vector-search.md
  mongodb-uni/learning-paths/building-gen-ai-apps.md
  mongodb-uni/learning-paths/csharp.md
  mongodb-uni/learning-paths/dba.md
  mongodb-uni/learning-paths/deploying-and-evaluating-gen-ai-apps.md
  mongodb-uni/learning-paths/java.md
  mongodb-uni/learning-paths/php.md
  mongodb-uni/learning-paths/python.md
  mongodb-uni/student-developer-benefits.md
Due: none

(EAI-480) Site-specific sort order for related resources
  docs/docs/ui.md
  package-lock.json
  packages/mongodb-chatbot-ui/package.json
  packages/mongodb-chatbot-ui/src/App.tsx
  packages/mongodb-chatbot-ui/src/Chatbot.tsx
  packages/mongodb-chatbot-ui/src/index.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.test.tsx
  packages/mongodb-chatbot-ui/src/messageLinks.ts
  packages/mongodb-chatbot-ui/src/services/conversations.ts
  packages/mongodb-chatbot-ui/src/sortReferences.test.ts
  packages/mongodb-chatbot-ui/src/sortReferences.ts
  packages/mongodb-chatbot-ui/src/useConversation.tsx
  packages/mongodb-chatbot-ui/src/utils.test.ts
  packages/mongodb-chatbot-ui/src/utils.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

Remove typechat WIP
  package-lock.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/Analyzer.test.ts
  packages/mongodb-rag-core/src/Analyzer.ts
  packages/mongodb-rag-core/src/OpenAiChatLlm.ts
  packages/mongodb-rag-core/src/index.ts
  packages/scripts/.env.example
  packages/scripts/environments/production.yml
  packages/scripts/environments/staging.yml
  packages/scripts/package.json
  packages/scripts/src/MessageAnalysis.d.ts
  packages/scripts/src/MessageAnalysis.ts
  packages/scripts/src/analyzeMessages.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

WIP - switch to function call
  package-lock.json
  packages/mongodb-rag-core/package.json
  packages/mongodb-rag-core/src/FunctionCallJsonTranslateFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

WIP - 2
  packages/mongodb-chatbot-server/src/test/testPreProcessor/MongoDbUserQueryPreprocessorResponse.ts
  packages/mongodb-chatbot-server/src/test/testPreProcessor/makePreprocessMongoDbUserQuery.ts
  packages/mongodb-rag-core/src/ChatLlm.ts
  packages/mongodb-rag-core/src/FunctionCallJsonTranslateFunc.ts
  packages/mongodb-rag-core/src/OpenAiChatLlm.ts
  packages/scripts/environments/production.yml
  packages/scripts/environments/staging.yml
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-mongodb-eval, staging-deploy-mongodb-eval

no headers in responses
  packages/chatbot-server-mongodb-public/src/systemPrompt.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
  staging-deploy-mongodb-eval: any of: packages/chatbot-eval-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, packages/mongodb-chatbot-eval/**/*, package-lock.json, package.json
