Repository mongodb/chatbot: changes, and which Drone steps are due for each by the changed paths.
All: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

test-all:
  steps:
  - name: test
    image: node:18
    commands:
    - npm ci
    - npx playwright install chromium --with-deps
    - npm run build
    - npm run lint
    - npm run test
    environment:
      PORT: 3000
      OPENAI_EMBEDDING_MODEL: text-embedding-ada-002
      OPENAI_EMBEDDING_MODEL_VERSION: '2023-05-15'
  ...

staging-build-chat-server:
  steps:
  - name: publish-staging-chatbot-server-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: chat-server.dockerfile
  ...

staging-deploy-chatbot-server-mongodb-public:
  steps:
  - name: deploy-staging-chatbot-server
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/web-app
      chart_version: 4.12.3
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: chat-server-staging
  ...

staging-build-ingest-mongodb-public:
  steps:
  - name: publish-staging-ingest-mongodb-public
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-mongodb-public:
  steps:
  - name: deploy-staging-ingest-mongodb-public
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-service
  ...

staging-build-ingest-coach-gtm:
  steps:
  - name: publish-staging-ingest-coach-gtm
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: ingest-service.dockerfile
  ...

staging-deploy-ingest-coach-gtm:
  steps:
  - name: deploy-staging-ingest-coach-gtm
    image: quay.io/mongodb/drone-helm:v3
    settings:
      chart: mongodb/cronjobs
      chart_version: 1.10.0
      add_repos:
      - mongodb=https://10gen.github.io/helm-charts
      namespace: docs
      release: ingest-coach-gtm-staging
  ...

staging-build-scripts-service:
  steps:
  - name: publish-staging-scripts-service
    image: plugins/kaniko-ecr
    environment:
      LG_ARTIFACTORY_TOKEN:
        from_secret: lg_artifactory_token
      LG_ARTIFACTORY_EMAIL:
        from_secret: lg_artifactory_email
    settings:
      dockerfile: scripts-service.dockerfile
  ...

Most recent gemini models (as of 6/18)
  packages/benchmarks/src/benchmarkModels.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Remove unused model
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fixing new script deploy
  packages/scripts/environments/production.yml
  packages/scripts/environments/staging.yml
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

(EAI-1053) Fixing new script deploy (#784)
  packages/scripts/environments/production.yml
  packages/scripts/environments/staging.yml
Due: test-all, staging-build-scripts-service, staging-deploy-scripts-service

Release chatbot-server-mongodb-public v0.21.2
  package-lock.json
  packages/chatbot-server-mongodb-public/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

create schema for responses API
  packages/mongodb-chatbot-server/src/routes/conversations/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add skeleton route to conversations router
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add some basic tests
  packages/mongodb-chatbot-server/src/routes/conversations/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

put package back
  package-lock.json
  packages/mongodb-rag-core/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

put package lock back
  package-lock.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

add case for message array input
  packages/mongodb-chatbot-server/src/routes/conversations/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

feat: complete create response test suite
  packages/mongodb-chatbot-server/src/routes/conversations/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add minimum to max_output_tokens
  packages/mongodb-chatbot-server/src/routes/conversations/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add more test cases
  packages/mongodb-chatbot-server/src/routes/conversations/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

add test case
  packages/mongodb-chatbot-server/src/routes/conversations/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Fix Gemini tool call schema error in benchmark (holy flib i got it to work)
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.ts
Due: test-all

claude dataset gen
  packages/datasets/src/bin/generateMongoshDatasetsClaude.ts
Due: test-all, staging-build-datasets-service, staging-deploy-datasets-service

stub searchContent route
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/content/contentRouter.ts
  packages/mongodb-chatbot-server/src/routes/content/index.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.test.ts
  packages/mongodb-chatbot-server/src/routes/content/searchContent.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.test.ts
  packages/mongodb-rag-core/src/findContent/DefaultFindContent.ts
  packages/mongodb-rag-core/src/findContent/FindContentFunc.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Cleanup & README
  packages/benchmarks/README.md
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.ts
Due: test-all

set zod version to 3.25 for v4 support
  package-lock.json
  packages/mongodb-chatbot-server/package.json
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

start of pr feedback
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createResponse.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

adjust schema and tests to not allow empty message strings/arrays
  packages/mongodb-chatbot-server/src/routes/conversations/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

move create responses
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

create new (very basic) router for responses API
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/test/testHelpers.ts
  packages/mongodb-chatbot-server/src/app.ts
  packages/mongodb-chatbot-server/src/routes/index.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/index.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

basic test for responses router, will be expanded once middleware is added
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update test
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update func name
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

create route for responses API -- ensure certain options are set via config
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

modularize rate limiting+slow down
  packages/mongodb-chatbot-server/src/middleware/index.ts
  packages/mongodb-chatbot-server/src/middleware/ipAddressKeyGenerator.test.ts
  packages/mongodb-chatbot-server/src/middleware/ipAddressKeyGenerator.ts
  packages/mongodb-chatbot-server/src/middleware/rateLimit.test.ts
  packages/mongodb-chatbot-server/src/middleware/rateLimit.ts
  packages/mongodb-chatbot-server/src/middleware/slowDown.test.ts
  packages/mongodb-chatbot-server/src/middleware/slowDown.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/conversations/conversationsRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Cleanup
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.ts
Due: test-all

explanatory comments
  packages/mongodb-chatbot-server/src/middleware/slowDown.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Cleanup
  packages/benchmarks/src/nlPromptResponse/nlPromptCompletionTask.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
Due: test-all

(EAI-1087) Misc benchmark fixes (#788)
  packages/benchmarks/README.md
  packages/benchmarks/package.json
  packages/benchmarks/src/benchmarkModels.ts
  packages/benchmarks/src/discovery/mongoDbDiscoveryBenchmark.ts
  packages/benchmarks/src/nlPromptResponse/bin/globalConfig.ts
  packages/benchmarks/src/nlPromptResponse/runNlPromptResponseBenchmark.ts
  packages/benchmarks/src/quizQuestions/QuizQuestionEval.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityBadgeQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongoDbUniversityQuizQuestionBenchmark.ts
  packages/benchmarks/src/quizQuestions/mongodbUniversityAllQuestionBenchmark.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/agentic.ts
  packages/benchmarks/src/textToDriver/bin/mongoshBenchmarks/config.ts
  packages/benchmarks/src/textToDriver/bin/nodeJsDriverBenchmark.ts
  packages/benchmarks/src/textToDriver/generateDriverCode/generateMongoshCodeToolCall.ts
  packages/mongodb-rag-core/src/models/models.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Fetch_page tool
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithSearchTool.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
  packages/mongodb-rag-core/src/contentStore/EmbeddedContent.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

Rename generateResponseWithSearchTool, pass loadPage instead of pagestore
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.test.ts
  packages/chatbot-server-mongodb-public/src/processors/generateResponseWithTools.ts
  packages/chatbot-server-mongodb-public/src/tools/fetchPage.ts
  packages/mongodb-rag-core/src/dataSources/index.ts
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.test.ts
  packages/mongodb-rag-core/src/dataSources/normalizeUrl.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

clean up tests by moving MONGO_CHAT_MODEL string to test config
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

works w tracing + prompt eng
  packages/datasets/src/bin/generateDbSchemas.ts
  packages/datasets/src/bin/generateMongoshDatasets.ts
  packages/datasets/src/bin/generateMongoshDatasetsClaude.ts
  packages/datasets/src/openAi.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateAnnotatedCollectionSchema.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/generateHighLevelDbDescriptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseMetadata/getOpenAiFunctionResponse.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/LlmOptions.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateAnnotatedDatabaseInfo.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseExecutionResult.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateDatabaseUsers.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateMongoshCode.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.eval.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateNaturalLanguageQueries.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/generateUseCases.ts
  packages/datasets/src/treeGeneration/databaseNlQueries/databaseNodes/sampleData.ts
  packages/datasets/src/treeGeneration/generateChildren.test.ts
  packages/datasets/src/treeGeneration/generateChildren.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/LlmOptions.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/generateAnnotatedCollectionSchema.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/generateAnnotatedDatabaseInfo.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/generateHighLevelDbDescriptions.ts
  packages/mongodb-rag-core/src/executeCode/databaseMetadata/getOpenAiFunctionResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-ingest-mongodb-public, staging-deploy-ingest-mongodb-public, staging-build-ingest-coach-gtm, staging-deploy-ingest-coach-gtm, staging-build-scripts-service, staging-deploy-scripts-service, staging-build-datasets-service, staging-deploy-datasets-service

use GenerateResponse type
  packages/chatbot-server-mongodb-public/src/config.ts
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.test.ts
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
  packages/mongodb-chatbot-server/src/test/testConfig.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update comments in router
  packages/mongodb-chatbot-server/src/routes/responses/responsesRouter.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

update reqId stuff
  packages/mongodb-chatbot-server/src/routes/responses/createResponse.ts
Due: test-all, staging-build-chat-server, staging-deploy-chatbot-server-mongodb-public, staging-build-scripts-service, staging-deploy-scripts-service

Path conditions:
  test-all: any of: .drone.yml, packages/**/*, package-lock.json, package.json
  staging-build-chat-server: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-deploy-chatbot-server-mongodb-public: any of: packages/mongodb-chatbot-server/**/*, packages/chatbot-server-mongodb-public/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-ui/**/*, package-lock.json, package.json
  staging-build-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-mongodb-public: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-ingest-coach-gtm: any of: packages/mongodb-rag-ingest/**/*, packages/ingest-mongodb-public/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-build-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-deploy-scripts-service: any of: packages/scripts/**/*, packages/mongodb-rag-core/**/*, packages/mongodb-chatbot-server/**/*, package-lock.json, package.json
  staging-build-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
  staging-deploy-datasets-service: any of: packages/datasets/**/*, packages/mongodb-rag-core/**/*, package-lock.json, package.json
